<div class="notfoundheader">
<h1 class="text-center">Sorry, this page is not available.</h1>
<p  class="text-center">
  For one reason or another, this page is no longer here. However, we do have a few new arrivals that you might love!
</p>
</div>




<style>
  .notfoundheader {
    padding: 100px 0 100px 0;
  }
</style>

<div class="grid-uniform grid-link__container">  
  <ul class="collection-infinite secondary-grid">

    
    
    {% assign feedSource = settings.404_feed_source | default: 'new-arrivals' %}
    
{% for product in collections[feedSource].products %}
    {% include 'autohide-item-filter' with product: product %}
      

    {% assign sortedProductsIndex = paginate.current_offset | plus: forloop.index0 %}

    {% assign productTags = product.tags | join:',' %}
		{% if productTags contains 'coming-soon' %}
    
    {% else %}
    
  	  <li class="product-infinite {% cycle 'one-fade', 'two-fade', 'three-fade', 'four-fade', 'five-fade' %}" id="product-{{ forloop.index | plus:paginate.current_offset }}">
          {% include 'product-grid-item-two-three' %}
      </li>
    {% else %}

      {% if shop.products_count == 0 %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        <div class="grid__item">
          <div class="helper-section">
            <div class="helper-note">
              <span class="helper-icon"></span>
              <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
              <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
              <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
            </div>

            <div class="grid-uniform helper-content">
              {% assign index = 1 %}
              {% for i in (1..8) %}
                {% case i %}
                  {% when 7 %}
                    {% assign index = 1 %}
                  {% when 8 %}
                    {% assign index = 2 %}
                {% endcase %}
                <div class="grid__item one-half post-large--one-quarter">
                  <a href="/admin/products" class="grid-link">
                    <span class="grid-link__image grid-link__image--product">
                      <span class="grid-link__image-centered">
                        {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                        {{ imageUrl | img_tag }}
                      </span>
                    </span>
                    <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                    <p class="grid-link__meta">
                      <strong>$19.99</strong>
                    </p>
                  </a>
                </div>
                {% assign index = index | plus: 1 %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="grid__item">
          <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
        </div>
      {% endif %}
    
    
    
    {% endif %}
    {% endfor %}
    
    
    
    
    
    {% if settings.infinite_collection_enable %}
      {% if paginate.next %}
       <li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li>     
      {% endif %}
    {% else %}
      {% if paginate.pages > 1 %}
        <hr class="hr--clear">
        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
      {% endif %}
    {% endif %}    
    </ul>
</div>  
<script>
  window.feed_source = {{ feedSource | json }};
</script>

  {{ 'product-404-feed.js' | asset_url | script_tag }}
{% render 'nosto-element', id:'notfound-nosto-1' %}

{% render 'nosto-element', id:'notfound-nosto-2' %}

{% render 'nosto-element', id:'notfound-nosto-3' %}
