{% assign number_of_comments = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

{% paginate article.comments by 5 %}
{% comment %}   
{% if settings.enable_breadcrumbs %}
{% include 'breadcrumb' %}
{% endif %}
{% endcomment %}

<div class="grid">

  <article class="grid__item {% if settings.blog_sidebar_enable %}post-large--four-fifths{% else %}post-large--one-whole{% endif %}" itemscope itemtype="http://schema.org/Article">
        <header class="section-header">
          <h1 class="section-header__title">
              {{ blog.title | link_to: blog.url }}
          </h1>
        </header>  
    <div class="grid">
      <div class="grid__item post-large--three-quarters push--post-large--one-eighth {{ settings.main_blog_align }}">
        <div class="wrapper">
        <header class="section-header text-center">        
          {% if settings.blog_date_enable %}
          <span class="blog-date">
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: settings.blog_date_format }}</time>
          </span>
          {% endif %}

          <h3 class="section-header__title">{{ article.title }}</h3>
      
          {% if settings.blog_author_enable %}
         <span class="blog-author"><span class="author">{{ article.author }}</span></span>
          {% endif %}
          {% if article.tags.size > 100000 %}
            <span class="meta-sep">&#8226;</span>
            {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} <span class="meta-sep">&#8226;</span> {% endunless %}
            {% endfor %}
          {% endif %}
        </header>  
          {% assign articlebody = article.content | split: '<!-- split -->' %}
        <div class="rte first" itemprop="articleBody">
          {{ article.content | split: '<!-- split -->' | first }}
        </div>

        <div class="clear clearfix blopost-carousel">
          {% assign articleHandle = article.handle | split: '/' %}
          {% assign articleHandle = articleHandle[1] %}

          {% for collection in collections %}
          {% if collection.handle == articleHandle and collection.all_products_count > 0 %}
          <h3>Shop the Story</h3>
          <div class="grid productCarousel">
            {% for product in collection.products limit: 8 %}
            {% include 'product-grid-item' %}
            {% endfor %}  
          </div>
          {% endif %}    
          {% endfor %}
        </div>
          
        {% if settings.social_sharing_blog %}
          <hr class="hr--clear hr--small">
          {% include 'social-sharing' %}
        {% endif %}

        </div>
        {% assign articlebody = article.content | split: '<!-- split -->' %}
        <div class="rte second wrapper main-copy" itemprop="articleBody">
          {{ articlebody[1] }}
        </div>   


                
        {% comment %}
          Show Product Feed from the collection whose handle matches with blog post handle
        {% endcomment %}


      </div>
    </div>
    	{% if articlebody[2] %}
        <div class="gallery grid text-center">
			<div class="wrapper">
              {{ articlebody[2] }}
            </div>
        </div>
    	{% endif %}
    
    {% if blog.handle == "journal" %}
        {% if blog.next_article or blog.previous_article %}
          <hr class="hr--clear hr--small">
          <p class="clearfix wrapper text-center blog-pagination">
            {% if blog.previous_article %}
            <a href="{{ blog.previous_article }}">
              <span class="previous">
               {{ 'blogs.article.older_post' | t }}
              </span>
            </a>
            {% endif %}
            {% if blog.next_article %}
            <a href="{{ blog.next_article }}">
              <span class="next">
                {{ 'blogs.article.newer_post' | t }}
              </span>
            </a>
            {% endif %}
          </p>
        {% endif %} 
    
    
    
        {% endif %} 
    
    
    
        {% if blog.comments_enabled? %}
          <hr class="hr--clear hr--small">

          {% comment %}
            Just like blog.liquid page, define how many comments should be on each page.
          {% endcomment %}

            {% comment %}
              #Comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="Comments">

              {% if comment and comment.created_at %}
                <p class="note form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              {% if number_of_comments > 0 %}
                <ul>
                  {% comment %}
                    If a comment was just submitted with no blank field, show it.
                  {% endcomment %}
                  {% if comment and comment.created_at %}
                    <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                      {% include 'comment' %}
                    </li>
                  {% endif %}

                  {% comment %}
                    Showing the rest of the comments.
                  {% endcomment %}
                  {% for comment in article.comments %}
                    <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                      {% include 'comment' %}
                    </li>
                  {% endfor %}
                </ul>

                {% if paginate.pages > 1 %}
                  <hr class="--clear hr--small">
                  <div class="text-center">
                    {% include 'pagination-custom' %}
                  </div>
                {% endif %}

                <hr class="hr--clear hr--small">

              {% endif %}

              {% comment %}
                Comment submission form
              {% endcomment %}
              {% form 'new_comment', article %}

                {% comment %}
                  #AddCommentTitle is used simply as an anchor link
                {% endcomment %}
                <h4 id="add-comment-title">{{ 'blogs.comments.title' | t }}</h4>

                {{ form.errors | default_errors }}

                <div class="grid">

                  <div class="grid__item post-large--one-half">
                    <label for="CommentAuthor" class="label--hidden">{{ 'blogs.comments.name' | t }}</label>
                    <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">

                    <label for="CommentEmail" class="label--hidden">{{ 'blogs.comments.email' | t }}</label>
                    <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </div>

                  <div class="grid__item">
                    <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
                    <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="CommentBody" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                  </div>

                </div>

                {% if blog.moderated? %}
                  <p><small>{{ 'blogs.comments.moderated' | t }}</small></p>
                {% endif %}

                <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">

                {% if form.errors %}
                  <script>
                    window.location.hash = '#AddCommentTitle';
                  </script> 
                {% endif %}

                {% if form.posted_successfully? %}
                  <script>
                    window.location.hash = '#Comments';
                  </script>
                {% endif %}

              {% endform %}

            </div>
    
        {% endif %}    
  </article>
{% if settings.blog_sidebar_enable %}
  <aside class="sidebar grid__item post-large--one-fifth">
    {% include 'blog-sidebar' %}
  </aside>
{% endif %}  
</div>

{% endpaginate %}


{{ 'slick.js' | asset_url | script_tag }} 
{{ 'slick.css' | asset_url | stylesheet_tag }}