{% paginate blog.articles by settings.blog_max_posts %}

<div class="grid">
  
  <div class="grid__item {% if settings.blog_sidebar_enable %}post-large--four-fifths{% else %}post-large--one-whole{% endif %}">
    
    <div class="grid">
      <div class="grid__item post-large--one-whole">
{% comment %}        
{% if settings.enable_breadcrumbs %}
        {% include 'breadcrumb' %}
{% endif %}        
{% endcomment %}        
        <header class="section-header">
          <h1 class="section-header__title">
            {% if current_tags %}
              {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
            {% else %}
              {{ blog.title }}
            {% endif %}
          </h1>
        </header>
		<ul class="list-blog collection-infinite">
        {% for article in blog.articles %}
        {% if settings.infinite_blog_enable %}  
        <li class="blog-{{ forloop.index }} blog-post product-infinite" id="article-{{ article.id }}">
        {% else %}
        <div class="blog-post">
        {% endif %}
			{% assign my_image_url=article.excerpt | escape %}
			{% if my_image_url contains '&lt;img' %}
			{% assign my_image_url = my_image_url | split: 'src=&quot;' %}
			{% assign my_image_url = my_image_url[1] | split: '&quot;' %}
			{% assign my_image_url = my_image_url[0] %}
			{% assign my_image_url = my_image_url | remove: 'http:http://'; %}
			{% assign my_image_url = my_image_url | remove: 'https:' %}
            <a href="{{ article.url }}" data-product-id="{{ article.id }}" data-page="{{ paginate.current_page }}"><img src="{{ my_image_url }}" /></a>
			{% endif %}   
        <div class="{{ settings.main_blog_align }}"> 
          {% if settings.blog_date_enable %}
          <span class="blog-date">
            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: settings.blog_date_format }}</time>
           </span> 
          {% endif %}
            {% if article.tags.size > 100000 %}
              <span class="meta-sep">&#8226;</span>
              {% for tag in article.tags %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} <span class="meta-sep">&#8226;</span> {% endunless %}
              {% endfor %}
            {% endif %}         
			<h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
            {% if settings.blog_author_enable %}
          <span class="blog-author"><span class="author">{{ article.author }}</span></span>
            {% endif %}          
          {% comment %}
            Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
            Since this is just a listing page, you can either use the excerpt or truncate the full article.
          {% endcomment %}
          <div class="rte first">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt | strip_html | truncatewords: 100 }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
            {% endif %}
          </div>
		{% if settings.blog_readmore_enable %}
          <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>
        {% endif %}
        </div>
          {% if settings.blog_divider_line_enable %}{% unless forloop.last %}<hr>{% endunless %}{% endif %}
        {% if settings.infinite_blog_enable %}    
        </li>
        {% else %}
        </div>
        {% endif %}
        {% endfor %}          
        
{% if settings.infinite_blog_enable %}   
     {% if paginate.next %} 
        <li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li> 
      {% endif %}
{% else %}
        {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
        {% endif %}
{% endif %}
        </ul>
      
      {% if settings.infinite_collection_enable %}
      <div id="product-list-foot">
        <div class="inf-collection-loading">{% include 'loading-spinner' %}</div>
      </div>
      {% endif %}
      
      </div>
    </div>        
  </div>
{% if settings.blog_sidebar_enable %}
  <aside class="sidebar grid__item post-large--one-fifth">
    {% include 'blog-sidebar' %}
  </aside>
{% endif %}  
</div>
{% endpaginate %}