{% layout none %}
[{%- for item in cart.items -%}
    {
      "tags": {{ item.product.tags | join: ',' | split: ',' | json }},
      "variant_id" : {{ item.variant_id | json }},
      "full_item": {{ item | json }},
      "variants": {{ item.product.variants | json }},
      "variant_options": {{ item.object.variant_options | json }},
      "variant_title": {{ item.object.variant_title | json }},
      "in_cart_quantity": {{ item.quantity | json }},
      "key": {{ item.key | json }},
      "line": {{ forloop.index0 }},
      "full_product": {% include 'product-json-full' with product: item.product,  noScript: true %}
    }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
]