{% comment %}
<!-- spurit_po-added -->
{% include 'spurit_po-cart-snippet' %}
<!-- /spurit_po-added -->
{% endcomment %} {% comment %} This is your /cart template. {% endcomment %} {% if cart.item_count > 0 %}

<form action="/cart" method="post" novalidate class="cart" id="checkout-form">
    <div class="wrapper">
        <h1 class="cstm-h1">My bag</h1>
      
      
      
      
      
      {% unless settings.cart_message == blank %}
      <!-- in browser edit by michael on sept 16  -->
      <p style="text-align:center;    border-bottom: solid silver 1px;padding-bottom:20px;">
        {{ settings.cart_message }}
      </p>      
      <!-- in browser edit by michael on sept 16  -->
      {% endunless %}
      
      
      
      
      
      
      
      
        {% if settings.cart_headings_enable %}
        <div class="cart__row medium-down--hide cart__header-labels">
            <div class="grid--full">
                <div class="grid__item post-large--one-whole">
                    <div class="grid--full">
                        <div class="grid__item three-sixths medium-down--three-sixths">
                            <span class="h4">Item</span>
                        </div>
                        <div class="grid__item one-sixth medium-down--one-sixth text-center">
                            <span class="h4">{{ 'cart.label.price' | t }}</span>
                        </div>
                        <div class="grid__item one-sixth medium-down--one-sixth text-center">
                            <span class="h4">{{ 'cart.label.quantity' | t }}</span>
                        </div>
                        <div class="grid__item one-sixth medium-down--one-sixth text-right">
                            <span class="h4">{{ 'cart.label.total' | t }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!--product row-->
        {% comment %} Loop through products in the cart {% endcomment %}
        {% for item in cart.items %} 
            {% include 'CART-row-new' %}
        {% endfor %}
        <!-- end product row-->
        <!--promocode row-->
        <div class="cstm-promo-row" style="font-size: 8px; font-weight: 400;">promo code can be applied on the next page</div>
        <!--endpromocode row-->
        <!--subtotal row-->
        <div class="cstm-subtotal-row">
            <span class="">subtotal ({{ cart.item_count }})</span>
            <span class="">{{ cart.total_price | money }}</span>
        </div>
        <!--end subtotal row-->

        <!--gift row-->
        <div class="cstm-gift-row">
            <h3 class="cart-h3">Packaging</h3>            
            <p>In an effort to reduce our environmental impact, all orders will now be sent using our "eco-friendly" option for shipping. We have transitioned away from shipping orders with our muslin bags and postcards. Thank you for your understanding as we collectively work towards our environmental goals.</p>
                
            <div class="cstm-gift-checkbox">

                <label class="checkbox-container" style="margin-bottom: 0;"><small>While supplies last, check this box if you’d like to receive your order with a muslin bag.</small></span>
                    <input id="eco-friendly-packaging"  {% if cart.attributes['Muslin Bag'] == 'Yes' %}checked{% endif %} type="checkbox" name="attributes[Muslin Bag]" value="Yes" class="text-link cart__mulsin-bag">
                    <span class="checkmark"></span>
                </label>
            </div>  
        </div>
        <!--end gift row-->
    </div>
    <!--checkout button-->
    <div class="cstm-submit-row wrapper">
        {% if customer and customer.tags contains '60-off-eligible' %}
        {% unless customer.tags contains 'discount-used' %}
        <input id="discount-eligible-customer" type="hidden" name="attributes[60 Off Discount]" value="Eligible">
        {% endunless %}
        {% endif %}
        <input type="submit" name="checkout" class="cstm-submit-input" value="{{ 'cart.general.checkout' | t }}">
    </div>
    <!--end checkout button-->
    <!--cart update button-->
    <input id="cstm-sub-submit" type="submit" name="update" class="btn--secondary update-cart"
        value="{{ 'cart.general.update' | t }}">
    <!--end cart update button-->
</form>
<!--donation button-->
<!--button id="donation">donation -</button-->
<!--end donation button-->
{% else %} {% comment %} The cart is empty {% endcomment %}
<div class="wrapper"   style=' text-align:center'>
    <h2 style='font-family: "BlairMdITC", sans-serif;'>{{ 'cart.general.title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
</div>
{% endif %}



<script type="text" id="cart-data">
    {{ cart | json }}
</script>

<script type="text" id="gift-box">
    {{ all_products['custom-gift-box'] | json }}
</script>

{% render 'nosto-element', id:'cartpage-nosto-1' %}

{% render 'nosto-element', id:'cartpage-nosto-2' %}

{% render 'nosto-element', id:'cartpage-nosto-3' %}
