{% comment %}

  This is your /cart template.
  
{% endcomment %}
{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart">

    <div class="section-header{% if settings.cart_title_background_enable %} bgc{% endif %}">
      <div class="wrapper">
        <h4 class="section-header__title">{{ 'cart.general.title' | t }} {% if settings.title_cart_count_enable %}<span class="count">{{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}</span>{% endif %}</h4>
      </div> 
   </div>
    <div class="wrapper">
	{% if settings.cart_headings_enable %}
    <div class="cart__row medium-down--hide cart__header-labels">
      <div class="grid--full">
        <div class="grid__item post-large--one-whole">
          <div class="grid--full">
            <div class="grid__item three-sixths medium-down--three-sixths">
              <span class="h4">Item</span>
            </div>            
            <div class="grid__item one-sixth medium-down--one-sixth text-center">
              <span class="h4">{{ 'cart.label.price' | t }}</span>
            </div>
            <div class="grid__item one-sixth medium-down--one-sixth text-center">
              <span class="h4">{{ 'cart.label.quantity' | t }}</span>
            </div>
            <div class="grid__item one-sixth medium-down--one-sixth text-right">
              <span class="h4">{{ 'cart.label.total' | t }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
	{% endif %}
    
    {% comment %}
      Loop through products in the cart
    {% endcomment %}
    {% for item in cart.items %}
      <div class="cart__row item">
        <div class="grid--full cart__row--table-large">

          <div class="grid__item post-large--one-third">
            <div class="grid">

              <div class="grid__item two-thirds">
                <a href="{{ item.url }}" class="h5">
                  {{ item.product.title | split: '-' | first }} <br>
                  {{ item.variant.option2 }}                  
                </a>
                {% if settings.cart_variant_enable %}
                {% unless item.variant.title contains 'Default' %}
                  <br>
                  <small>{{ item.variant.title }}</small>
                {% endunless %}
				{% endif %}
                {% if settings.cart_vendor_enable %}
                  <p>{{ item.vendor }}</p>
                {% endif %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {% if item.properties.size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {{ p.first }}:

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      <br>
                    {% endunless %}
                  {% endfor %}
                {% endif %}
                
              </div>
              <div class="grid__item one-third">
                <a href="{{ item.url | within: collections.all }}" class="cart__image">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>

            </div>
          </div>

          <div class="grid__item post-large--two-thirds">
            <div class="grid--full cart__row--table-large">

              <div class="grid__item one-quarter text-center">
                <span class="cart__mini-labels">Size:</span>
                <span>{{ item.variant.option1 }}</span>
              </div>

              <div class="grid__item one-quarter text-center">
                <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}:</span>
                <input type="number" class="cart__quantity-selector" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
              </div>

              <div class="grid__item one-quarter text-center">
                <span class="cart__mini-labels">{{ 'cart.label.price' | t }}:</span>
                <span class="price">{{ item.line_price | money }}</span>
              </div>
              
              <div class="grid__item one-quarter text-right">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                  {{ 'cart.general.remove' | t }}
                </a>
              </div>              

            </div>
          </div>

        </div>
      </div>
    {% endfor %}
    <div class="cart__row" style="border-top:0;">
        <div class="grid__item post-large--one-whole">
          <div class="grid--full">
            <div class="grid__item post-large--one-half">
              <span class="h4">{{ 'cart.general.subtotal' | t }}</span>
              <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
            </div>            
            <div class="grid__item post-large--one-quarter text-right">
              <span class="h4">{{ cart.total_price | money }}</span>
            </div>
            <div class="grid__item post-large--one-quarter text-right">
              <span class="h4"><input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}"></span>
            </div>
          </div>
        </div>
    </div>
    <div class="note-row">
      <div class="grid text-center">
        {% comment %}
          Optional, add a textarea for special notes
            - Your theme settings can turn this on or off. Default is on.
            - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          {% assign noteSize = cart.note | size %}
          <div class="grid__item post-large--one-whole">
            <input type="checkbox" class="text-link cart__note-add">
              {{ 'cart.label.add_note' | t }}
            <div class="cart__note is-active">
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="note-row">
      {% include 'gift-wrapping' %}
    </div>      
    </div>
        <div class="wrapper text-center">        
          <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">          
        </div>  
  </form>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
<div class="wrapper">
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
</div>
{% endif %}
