{% layout none %}
{% paginate collection.products by 30 %}
{
  "products": [{% for product in collection.products %}
                {% include 'product-json' with product %}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
{% endpaginate %}