{% paginate collection.products by settings.collections_max_products %}
<div class="wrapper">
 
{% if settings.enable_breadcrumbs %}
<div class="section-header section-header--breadcrumb">
  {% include 'breadcrumb' %}
</div>
{% endif %}
    {% if collection.image %}
	<div class="featuredimage">
    <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
    {% if settings.collections_title_enable %}  
	<div class="header-box"><h1>{{ collection.title }}</h1></div>
    {% endif %}  
	</div>
    {% endif %}
{% if settings.collections_title_enable or settings.collections_tags_enable or settings.collections_sort_enable %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}

{% if collection.description != blank %}
  <div class="rte rte--header">
    {{ collection.description }}
  </div>
  <hr class="hr--clear hr--small">
{% endif %}
</div>  
{% if collection.handle == 'all' %}
<div class="lookbook-wrapper">
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    <a href="{{ settings.slider2_url }}">{{ settings.slider2_title }}</a>
  </h2>
</div>  
<div class="wrapper">
<div class="post-large--three-quarters" style="margin:0 auto;">    
<div class="flexslider">
  <ul class="slides">
    {% for i in (1..6) %}
      {% capture slide2 %}slide2_{{ i }}{% endcapture %}
      {% capture slide2_link %}slide2_{{ i }}_link{% endcapture %}
      {% capture slide2_img %}slide2_{{ i }}.jpg{% endcapture %}
      {% capture slide2_alt %}slide2_{{ i }}_alt{% endcapture %}
      {% capture slide2_heading %}slide2_{{ i }}_heading{% endcapture %}
      {% capture slide2_text %}slide2_{{ i }}_text{% endcapture %}
      {% capture slide2_text_color %}slide2_{{ i }}_text_color{% endcapture %}
      {% if settings[slide2] %}
        <li>
          <a href="{{ settings[slide2_link] }}" class="slide-link">
            {{ slide2_img | asset_url | img_tag: settings[slide2_alt] }}
            <div class="slide-text" style="color:{{ settings[slide2_text_color] }};">
              <div class="heading"><h1>{{ settings[slide2_heading] }}</h1></div>
          		<div class="text">{{ settings[slide2_text] }}</div>      
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>  
</div>  
</div>  
{% endif %}
<div class="wrapper">
<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }} medium-down--hide collection-sidebar">
    		    {% if settings.collections_sidebar_sort_enable %}
      			{% include 'collection-sorting' %}
    			{% endif %}
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }} medium-down--one-whole">{% endif %}
  <ul class="collection-infinite">
  {% for product in collection.products %}
    {% if settings.infinite_collection_enable %}
	<li id="product-{{ forloop.index | plus:paginate.current_offset }}">
    {% endif %}  
    {% include 'product-grid-item-two-three' %}
    {% if settings.infinite_collection_enable %}
    </li>
    {% endif %}
  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half post-large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}
  {% endfor %}
    </ul>
  {% if settings.infinite_collection_enable %}<div id="product-list-foot"></div>{% endif %}
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
</div>
</div>
{% if settings.infinite_collection_enable %}
</div>
</div>
</main>
 {% comment %}<li class="top"><a href="#collectionpage">Back to Top</a> &uarr;</li>{% endcomment %}        
 {% if paginate.next %}
  <a href="{{ paginate.next.url }}"><li class="more-products message-bar">{{ settings.infinite_collection_text }}</li></a>       
 {% endif %}
{% else %}
{% if paginate.pages > 1 %}
  <hr class="hr--clear">
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}
{% endif %}
{% endpaginate %}
<script>
$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $(".product-info").removeClass("inside");
  }
  if($(window).width() > 768)
  {
    $(".product-info").addClass("inside");
  }  
};    
</script>