<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->
{% paginate collection.products by settings.collections_max_products %}
{% if settings.enable_breadcrumbs %}
<div class="wrapper">
<div class="section-header section-header--breadcrumb">
  {% include 'breadcrumb' %}
</div>
</div>
{% endif %}
    {% if collection.image %}
	<div class="featuredimage">
    <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
    {% if settings.collections_title_enable %}  
	<div class="header-box"><h1>{{ collection.title }}</h1></div>
    {% endif %}  
	</div>
    {% endif %}
{% if settings.collections_title_enable or settings.collections_tags_enable or settings.collections_sort_enable %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}

{% if collection.description != blank %}
  <div class="wrapper">
  <div class="rte rte--header">
    {{ collection.description }}   
  </div>
  </div>
{% endif %}

{% if collection.handle contains 'lookbook' %}
<div class="lookbook-wrapper">
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    {{ collection.title }}
  </h2>
</div>
  <div class="wrapper">
  	<div class="post-large--three-quarters" style="margin:0 auto;">  
  	  {% include 'lookbooks-app' %}
{% comment %}  
<div class="flexslider lookbook">
  <ul class="slides">

    
    
    
    <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/the-caravan-dress-cream-cream" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/Fall_82db13b6-649a-4274-bc2d-173789f2eae8.jpg?9792339564480822660" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/tuku-hoodie-dune" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/Fall1_2e210116-9716-4609-a573-721c83c866d0.jpg?6528972225046209854" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/lulu-sweater-black" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall2_55caad2f-0e97-4bde-b5b6-c52bc8099add.jpg?14292651255297425859" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/lulu-sweater-dune" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall3_d7b024bf-c30e-48ce-a3a5-5f54e17519bd.jpg?16020992235541853471" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/the-mystic-top-salt-salt" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall4_93b986c6-13c7-4a18-b8e3-7e4cde9a2c3d.jpg?17872499626567622264" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/the-mystic-top-black-combo" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall5_ae6f4cc8-31b4-4a30-b183-33d80a0a1167.jpg?15196178563169866348" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/the-mystic-top-cream-toffee" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall6_e3d04e54-aa79-4fa3-b095-7399c225df2a.jpg?17044043256048777949" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/anka-dress-black" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/Fall7_047c169b-4da4-491f-b319-646d594dbfca.jpg?9230786987913670354" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/anka-dress-creme" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/Fall8_b96daf8a-f3f3-47d5-ba56-ae210578a391.jpg?11177118585460459247" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall9_b99b1647-9df9-47d6-af8e-f93ea23db227.jpg?6214855583105396447" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/uma-sweater-olive" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall10_a8e06c06-3530-417b-9dfa-1efef84dd2e6.jpg?9252523667441693254" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/uma-sweater-creme" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall11_83bab448-2ba4-473c-836b-77207b0df7b4.jpg?6470925242387223022" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/the-caravan-dress-black-combo" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall12_a0039bec-a8e3-4e3b-bdef-d83e4b798cf1.jpg?16535492571315403675" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/the-caravan-dress-cream-cream" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall13_50d84bc2-2f0f-45c9-92ea-e5f8afb2cd0e.jpg?726568389844006387" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/atlas-bag-natural" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall14_69335842-5ff4-4165-b8d2-d5e8554f09e1.jpg?1338366211858396331" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/okeeffe-top-moss" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall15_c06d9d0b-7480-4b53-b944-2f3be4092ca2.jpg?17069203529073112148" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/okeeffe-top-spice" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall16_26536efc-963e-4c13-8bf4-469d5f577d8e.jpg?14675992300933030396" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/okeeffe-top-salt" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall17_104f0d12-9bc6-48a9-b1af-e44e838b84cb.jpg?16987715345863022759" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/lille-top-salt" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall18_78e1a371-3bca-4f99-98fc-80a1e127ff91.jpg?3415018611142526528" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/serena-sand" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall19_3717d814-87af-453d-b2ac-dddfca25833b.jpg?476494773445687943" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/pacha-duster-black" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall20_558d4dd3-a721-4be1-a094-7e9894b0fbd8.jpg?3753977503934114093" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/products/pacha-duster-dune" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall21_c953e38d-eb5d-466f-938b-b3fcaa39842f.jpg?16589306397401403464" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall22_5c8060a5-3897-4c41-aff1-53b616fcbc23.jpg?18378529808953202352" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                                    <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall23_25871aa0-666d-439a-ae32-2b23b0fe89b5.jpg?16101376667085321891" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                                    <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall24_8109a0bd-5719-42df-8e12-63d6d1de9582.jpg?1473250202007810480" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
    
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall25_fa27f62f-f3d6-402a-a027-4eb56e34e85f.jpg?13006386063876282276" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall26_ce453862-de5d-4e3a-bbe9-29374d41cb07.jpg?1244667180396960428" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall27_166f473f-a244-41dc-974d-5df2234f8066.jpg?15871752782461392163" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall28_a29bb7f9-5a23-46e4-86b7-e0f6d76f5614.jpg?14410075766306517197" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall29_9870b85a-e6e4-4651-a0c6-bd825ab463d8.jpg?16105754103632371971" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall30_5c04e4c2-96ef-4b5b-8401-c90bffbd7d98.jpg?13809411248508517000" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall31_fddc2b87-8d53-4131-8298-580a0061d821.jpg?18435525470913727537" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall32_7634ab3d-96a4-4d04-91af-f42c12fb6454.jpg?14361705975433370004" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall33_61217fd2-e2fd-497f-8c8f-1bdb8f7ac73b.jpg?17842251264418387276" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall34_b606a59b-942f-4390-aa6b-f3c49ba99b9d.jpg?5642871951988574096" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall35_c8b9d1dd-330d-42ac-ad23-8cc6f7a5ff9f.jpg?4337308817055115261" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall36_68aed205-ee2e-41b9-a6d9-d70d26148ff1.jpg?3163019440393206707" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/fall37_69c08eb0-3ff4-4a6f-9c2f-df228ffe5603.jpg?3239204441081164999" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
  </ul>
</div>
      {% endcomment %} 
</div>
  </div>
</div>  
{% endif %}
<div style="clear:both;"></div>
<div class="wrapper">
<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }} medium-down--hide collection-sidebar">
    		    {% if settings.collections_sidebar_sort_enable %}
      			{% include 'collection-sorting' %}
    			{% endif %}
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }} medium-down--one-whole">{% endif %}
  <ul class="collection-infinite">
  {% for product in collection.products %}
    {% if settings.infinite_collection_enable %}
	<li class="product-infinite" id="product-{{ forloop.index | plus:paginate.current_offset }}">
    {% endif %}  
    {% include 'product-grid-item-two-three' %}
    {% if settings.infinite_collection_enable %}
    </li>
    {% endif %}
  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half post-large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}
  {% endfor %}
{% if settings.infinite_collection_enable %}
 {% if paginate.next %}
<li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li>     
 {% endif %}
{% else %}
{% if paginate.pages > 1 %}
  <hr class="hr--clear">
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}
{% endif %}    
    </ul>
  
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
{% if settings.infinite_collection_enable %}<div id="product-list-foot"></div>{% endif %}  
</div>
</div>

{% endpaginate %}
<script>
$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $(".product-info").removeClass("inside");
  }
  if($(window).width() > 768)
  {
    $(".product-info").addClass("inside");
  }  
};    
</script>