{% paginate collection.products by settings.collections_max_products %}

{% if settings.enable_breadcrumbs %}
<div class="section-header section-header--breadcrumb">
  {% include 'breadcrumb' %}

</div>
{% endif %}
    {% if collection.image %}
	<div class="featuredimage">
    <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
    {% if settings.collections_title_enable %}  
	<div class="header-box"><h1>{{ collection.title }}</h1></div>
    {% endif %}  
	</div>
    {% endif %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>

{% if collection.description != blank %}
  <div class="rte rte--header">
    {{ collection.description }}
  </div>
  <hr class="hr--clear hr--small">
{% endif %}

<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }}">
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }}">{% endif %}
  <ul class="collection-infinite">
  {% for product in collection.products %}
    {% if settings.infinite_collection_enable %}
	<li id="product-{{ forloop.index | plus:paginate.current_offset }}">
    {% endif %} 
    {% include 'product-grid-item' %}
    {% if settings.infinite_collection_enable %}
    </li>
    {% endif %}
  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half post-large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}

  {% endfor %}
  </ul>
  {% if settings.infinite_collection_enable %}<div id="product-list-foot"></div>{% endif %}
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
</div>

{% if settings.infinite_collection_enable %}

{% else %}
{% if paginate.pages > 1 %}
  <hr class="hr--clear">
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}
{% endif %}

{% endpaginate %}
