<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->
{% paginate collection.products by settings.collections_max_products %}

{% if settings.enable_breadcrumbs %}
<div class="wrapper">
<div class="section-header section-header--breadcrumb">
  {% include 'breadcrumb' %}
</div>
</div>
{% endif %}
    {% if collection.image %}
	<div class="featuredimage">
    <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
    {% if settings.collections_title_enable %}  
	<div class="header-box"><h1>{{ collection.title }}</h1></div>
    {% endif %}  
	</div>
    {% endif %}
{% if settings.collections_title_enable or settings.collections_tags_enable or settings.collections_sort_enable %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}

{% if collection.description != blank %}
  <div class="wrapper">
  <div class="rte rte--header">
    {{ collection.description }}   
  </div>
  </div>
{% endif %}

{% if collection.handle contains 'lookbook' %}
<div class="lookbook-wrapper">
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    {{ collection.title }}
  </h2>
</div>
  <div class="wrapper">
  	<div class="post-large--three-quarters" style="margin:0 auto;">  
  	  {% comment %}{% include 'lookbooks-app' %}
      {% include 'lookbook-temp' %}{% endcomment %}   
<div class="flexslider lookbook">
  <ul class="slides">
<li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/7a43TXiWR7GopLcte9xc_lookbook22.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/YeIeAuoMSBS5iM0RRhXr_lookbook18.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/qWtR7MlAR8CDsHWiEVpX_lookbook4.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/Z4fscosSSi53kgdC2KGg_lookbook1.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/C34fQU0ySnqNAXC5KHJO_lookbook19.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/ZjAqaKSRsOniDscQi0Jw_lookbook11.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/ti5uEVMS0uz2n740MNJp_lookbook6.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/x6Sd21y7ShCXm8N20ZMd_lookbook7.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/BGEGan3RzSlSAMoxRfJp_lookbook3.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/mvZj0xGSTxmDavoC1TfA_lookbook5.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/Eg3tJV9SsamjZWQ7agMu_lookbook2.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/mTqPR21QiO2kAiLzVcfn_lookbook15.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/Tb1frH1NQwFc15T3DE6g_lookbook21.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/rTJoeuDwS4GBCkLL2KEP_lookbook.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/Y9Oy1sK7SZG24Y3SY8lI_lookbook8.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/LaWbf4VTA2QMzODwTtEw_lookbook13.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/MY4mclyvTGDP3fZqHjAv_lookbook14.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;"></div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/FAEGRr6QMW9MtgcwfU4Q_lookbook9.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/8ldiU5u5REuhtTosttmm_lookbook12.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/pfbbkN8GQH6yf4R9ZVto_lookbook16.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/G0mxIvZRp6bVehMomCE9_lookbook20.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="https://shopifyapps.s3.amazonaws.com/PiDpKMi5TVWi0hROKTwR_lookbook17.jpg" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
  </ul>
</div>
</div>
  </div>
</div>  
{% endif %}
<div style="clear:both;"></div>
<div class="wrapper">
<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }} medium-down--hide collection-sidebar">
    		    {% if settings.collections_sidebar_sort_enable %}
      			{% include 'collection-sorting' %}
    			{% endif %}
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }} medium-down--one-whole">{% endif %}
  <ul class="collection-infinite">
  {% for product in collection.products %}
    {% if settings.infinite_collection_enable %}
	<li class="product-infinite" id="product-{{ forloop.index | plus:paginate.current_offset }}">
    {% endif %}  
    {% include 'product-grid-item-two-three' %}
    {% if settings.infinite_collection_enable %}
    </li>
    {% endif %}
  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half post-large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}
  {% endfor %}
{% if settings.infinite_collection_enable %}
 {% if paginate.next %}
<li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li>     
 {% endif %}
{% else %}
{% if paginate.pages > 1 %}
  <hr class="hr--clear">
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}
{% endif %}    
    </ul>
  
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
{% if settings.infinite_collection_enable %}<div id="product-list-foot"></div>{% endif %}  
</div>
</div>

{% endpaginate %}
<script>
$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $(".product-info").removeClass("inside");
  }
  if($(window).width() > 768)
  {
    $(".product-info").addClass("inside");
  }  
};    
</script>