<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->
{% paginate collection.products by settings.collections_max_products %}
{% if settings.enable_breadcrumbs %}
<div class="wrapper">
  
<div class="section-header section-header--breadcrumb">
  {% include 'breadcrumb' %}
</div>
</div>
{% endif %}
    {% if collection.image %}
	<div class="featuredimage">
    <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
    {% if settings.collections_title_enable %}  
	<div class="header-box"><h1>{{ collection.title }}</h1></div>
    {% endif %}  
	</div>
    {% endif %}
{% if settings.collections_title_enable or settings.collections_tags_enable or settings.collections_sort_enable %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}

{% if collection.description != blank %}
  <div class="wrapper">
  <div class="rte rte--header">
    {{ collection.description }}   
  </div>
  </div>
{% endif %}

{% if collection.handle contains 'lookbook' %}
<div class="lookbook-wrapper">
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    {{ collection.title }}
  </h2>
</div>
  <div class="wrapper">
  	<div class="post-large--three-quarters" style="margin:0 auto;">  
  	 {% comment %}  {% include 'lookbooks-app' %}      {% endcomment %} 
 
<div class="flexslider lookbook">
  <ul class="slides">

    
    
    
    <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/faye-dress-seasalt" class="slide-link" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/1_9585a377-b44a-47a6-8d5e-f5a110c6d521.jpg?10434624624911055178" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/2_46ae6404-6257-4bf0-ad7b-5133b162ef57.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/3_c34356c0-2607-4cdc-96a6-d53f8f5d31ec.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/4_1.jpg?6402876198944377457" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/faye-dress-seasalt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/5_409891ea-dc23-4924-a8a4-78625d72d498.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/sage-dress-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/6.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/mary-jane-slipper-champagne-velvet" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/8.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/wildeve-dress-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/7.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/remy-top-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/9.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/remy-top-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/10_07466899-549c-49fb-9960-cd4f6e480c0f.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/provencal-dress-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/11.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/buchanan-dress-seasalt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/12.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/austen-top-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/13.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/mary-jane-slipper-black-velvet" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/14.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/tops/products/isle-top-golden" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/15_f12857d0-a127-49f0-81d5-a2085bc40e61.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/sage-dress-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/16.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/noisette-dress-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/17.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/bronte-dress-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/18_94faa5b0-22dc-4ffa-8360-968dca21c87c.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/austen-top-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/19.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/thyme-top-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/20_2104107c-96fd-47b1-90ce-3144004a8936.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/thyme-top-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/21.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/bronte-dress-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/22.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li> 
        
                                    <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/noisette-dress-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/23.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
                                    <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/juniper-top-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/24_923657e1-2846-47d5-a018-7508e1f3d4a8.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
    
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/juniper-top-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/25_be3c1194-5528-477d-9863-d8aca6272216.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/ballerina-slipper-black-velvet" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/26.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/marguerite-dress-dusty-pink" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/27.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/marguerite-dress-rust" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/28.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/pansy-dress-rust" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/29.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/rosemary-dress-rust" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/30_5d9c1369-7514-4c68-8068-deb017f8aafd.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/rosemary-dress-dusty-pink" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/31.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/antibes-top-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/32.jpg?2662738313987667832" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/sienna-dress-cream-multi" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/33_879acab1-a12e-46dc-95c4-820c2156c910.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/camellia-top-cream-multi" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/34.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/assam-dress-cream-multi" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/35_936e5bc1-6829-4b03-86b6-f6a813112552.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/adarsha-dress-cream-multi" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/36.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        
      <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/the-slipper-stain-suede" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/37.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
          <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/pansy-dress-dusty-pink" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/38.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/argan-dress-golden" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/61.jpg?14463540886238375334" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
           <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/cornflower-sweater-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/39_798857cd-15ea-4c07-8f15-2fff9263bff0.jpg?7706339243102787645" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
             <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/cornflower-sweater-indigo" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/40_813097c5-1c4e-469c-b0aa-a02e32121e13.jpg?1459906596439953802" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
               <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/wildeve-dress-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/41_5b6219a7-e073-43b1-818d-f2eab1f446b2.jpg?12901043734189919787" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
        <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/sorell-dress-indigo" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/42_0ee7129c-8d47-44c5-9f3c-72261d34afe0.jpg?12901043734189919787" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
            <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/basil-dress-golden" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/43_15432106-9a4d-416a-b05c-786423a7a647.jpg?12901043734189919787" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/provencal-dress-salt" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/45.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
               <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/pom-pom-lulu-sweater-macaroon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/46.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
    
                   <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/pom-pom-lulu-sweater-citron" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/47.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/ballerina-slipper-champagne-velvet" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/48.jpg?2799580261321750269" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
                <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/antibes-top-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/49.jpg?222775051939733337" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>  
    
               <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/55.jpg?16288177968486650795" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>  
    
               <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/lille-top-chartreuse" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/56.jpg?4771541143592299129" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li> 
    
               <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/buchanan-dress-black" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/50.jpg?15295116165492727490" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>  
    
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/balti-top-indigo" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/58.jpg?498584563931307577" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>  
    
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/the-jane-blouse-indigo" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/52.jpg?8724699422254766906" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>    
    
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/sorell-dress-golden" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/54.jpg?8291165323388095343" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>    
    
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/isle-top-indigo" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/53.jpg?5739832932765408342" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>    
    
              <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/the-jane-blouse-golden" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/60.jpg?12835267787875181308" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>    
    
             <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/basil-dress-indigo" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/57.jpg?1883636584956071160" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li> 
    
             <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/59.jpg?1968708820367696241" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li> 
    
             <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="/pages/coming-soon" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/63.jpg?1629208957921358653" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>  
    
             <li class="flex-active-slide" style="width: 930px; float: left; display: block;">
          <a href="https://shopdoen.com/collections/all/products/chai-dress-golden" class="slide-link"  target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/62.jpg?1719002747645073511" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>      
    
  </ul>
</div>

</div>
  </div>
</div>  
{% endif %}
<div style="clear:both;"></div>
<div class="wrapper">
<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }} medium-down--hide collection-sidebar">
    		    {% if settings.collections_sidebar_sort_enable %}
      			{% include 'collection-sorting' %}
    			{% endif %}
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }} medium-down--one-whole">{% endif %}
  <ul class="collection-infinite">
  {% for product in collection.products %}
    {% if settings.infinite_collection_enable %}
	<li class="product-infinite" id="product-{{ forloop.index | plus:paginate.current_offset }}">
    {% endif %}  
    {% include 'product-grid-item-two-three' %}
    {% if settings.infinite_collection_enable %}
    </li>
    {% endif %}
  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half post-large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}
  {% endfor %}
{% if settings.infinite_collection_enable %}
 {% if paginate.next %}
<li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li>     
 {% endif %}
{% else %}
{% if paginate.pages > 1 %}
  <hr class="hr--clear">
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}
{% endif %}    
    </ul>
  
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
{% if settings.infinite_collection_enable %}<div id="product-list-foot"></div>{% endif %}  
</div>
</div>

{% endpaginate %}
<script>
$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $(".product-info").removeClass("inside");
  }
  if($(window).width() > 768)
  {
    $(".product-info").addClass("inside");
  }  
};    
</script>