{% layout none %}
{% paginate collection.products by 75 %}
[
{%- for product in collection.products -%}
  {% assign sizePosition = product.options_by_name['Size'].position %}
  {% assign sizeOptionKey = 'option' | append: sizePosition | strip %}

   {
       "collections": {{ product.collections | map: 'handle' | json }},
       "sizes": {{ product.options_by_name['Size'].values | json }},
       "variants": {
           {%- for size in product.options_by_name['Size'].values -%}
             {% assign variant = product.variants | where: sizeOptionKey, size %}
             {{ size | json }} : {{ variant[0].available | json }}
             {% unless forloop.last %},{% endunless %}
           {%- endfor -%}
       },
       "tags": {{ product.tags | json }},
       "title": {{ product.title | json }}
   }{% unless forloop.last %},{% endunless %}
{%- endfor -%}
]
{% endpaginate %}