{% comment %}
<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->{% endcomment %}

<script>
  Shopify = window.Shopify || {};
  Shopify.Doen = Shopify.Doen || {};
  Shopify.Doen.products = Shopify.Doen.products || [];
</script>

{% paginate collection.products by settings.collections_max_products %}
{% if settings.enable_breadcrumbs %}
<div class="wrapper">
  <div class="section-header section-header--breadcrumb" style="padding-top:1px;">
    <div class="grid--full">    
      <div class="grid__item one-half text-left" style="padding-top:4px;">
        {% include 'breadcrumb' %}   
      </div>   
      
      <div class="grid__item one-half text-right collection-currency-wrapper">    
            {% include 'currency-picker' %}      
      </div>    
    </div>      

    <div class="header-box" style="display: none;"><h1>{{ collection.title }}</h1></div>
  </div>
</div>
{% endif %}

{% if collection.image %}
<div class="featuredimage">
   <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
  {% if settings.collections_title_enable %}  
	 <div class="header-box"><h1>{{ collection.title }}</h1></div>
  {% endif %}  
</div>
{% endif %}

{% if settings.collections_title_enable or settings.collections_tags_enable or settings.collections_sort_enable %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}


{% if collection.handle contains 'lookbook' %}
<div class="lookbook-wrapper">
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    {{ collection.title }}
  </h2>
</div>
  <div class="wrapper">
  	<div class="post-large--three-quarters" style="margin:0 auto;">
      {% include 'lookbook-temp' %}
    </div>
  </div>
</div>  
{% endif %}
<div style="clear:both;"></div>

{% unless collection.handle == 'all' %}
<div class="grid">
	
	<div class="grid__item collection-header-wrapper">
		
		<div class="grid">
          
   
			
			<div class="post-large--three-quarters" style="margin:0 auto;">

                <div class="section-header collection-header" style="text-align: center;">
                  <h1 class="section-header--title" style="padding-left: 22px; line-height: 1.5; margin-bottom: 20px; color:black;">{{ collection.title }}</h1>
                  {%if collection.description != '' %}
                  <div class="rte rte--header small--hide medium--hide" style="padding-left: 22px; ">{{ collection.description }}</div>
                  {%endif%} 
                </div>
				
				<div class="rte">
                  {% assign handle = collection.handle %}
                  {% case handle %}
                    {% when 'spring-19' %}
                      {% section 'spring-19' %}
                    
                    {% when 'fall-18' %}
                      {% section 'fall-18' %}
                                        
                    {% when 'holiday-18' %}
                      {% section 'holiday-18' %}

                    {% when 'summer-19' %}
                      {% section 'summer-19' %}
                  
                    {% when 'fall-19' %}
                      {% section 'Fall-19' %}

                    {% when 'victoriana-19' %}
                      {% section 'victoriana-19' %}

                    {% when 'spring-20' %}
                      {% section 'Spring-1-20' %}
                    

                    {% when 'summer-2020' %}
                      {% section 'Summer-1-20' %}
                  
                  
                  {% when 'fall-2020' %}
                  	{% section 'fall-20' %}
					
                      
                  {% endcase %}
				</div>

			</div>


		</div>

	</div>

</div>
{% endunless %}







<div class="wrapper collection-wrapper">
	{% include 'wip-collection-filters' %}
  
<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }} medium-down--hide collection-sidebar">
    		    {% if settings.collections_sidebar_sort_enable %}
      			{% include 'collection-sorting' %}
    			{% endif %}
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }} medium-down--one-whole">{% endif %}
 
  
  
  <ul class="collection-infinite">
  
    {% for product in collection.products %}
    	{% if collection.handle == 'all' and product.tags contains 'hide-all-collection' %}
          {% continue %}
        {% endif %}    
    	{% include 'autohide-item-filter' with product: product %}
      
        <li data-skip="{{ skipThisProduct }}" data-inventories="{{ productInventory }}" data-old="{{ diffDays }}" class="{% if settings.infinite_collection_enable %}product-infinite{% endif %} {% cycle 'one-fade', 'two-fade', 'three-fade', 'four-fade', 'five-fade' %}">
          {% include 'product-grid-item-two-three' %}
          
      {% if settings.infinite_collection_enable %}
      </li>
      {% endif %}
    {% else %}

      {% if shop.products_count == 0 %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        <div class="grid__item">
          <div class="helper-section">
            <div class="helper-note">
              <span class="helper-icon"></span>
              <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
              <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
              <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
            </div>

            <div class="grid-uniform helper-content">
              {% assign index = 1 %}
              {% for i in (1..8) %}
                {% case i %}
                  {% when 7 %}
                    {% assign index = 1 %}
                  {% when 8 %}
                    {% assign index = 2 %}
                {% endcase %}
                <div class="grid__item one-half post-large--one-quarter">
                  <a href="/admin/products" class="grid-link">
                    <span class="grid-link__image grid-link__image--product">
                      <span class="grid-link__image-centered">
                        {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                        {{ imageUrl | img_tag }}
                      </span>
                    </span>
                    <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                    <p class="grid-link__meta">
                      <strong>$19.99</strong>
                    </p>
                  </a>
                </div>
                {% assign index = index | plus: 1 %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="grid__item">
          <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
        </div>
      {% endif %}

    {% endfor %}
    
    
    
    
    
    {% if settings.infinite_collection_enable %}
      {% if paginate.next %}
       <li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li>     
      {% endif %}
    {% else %}
      {% if paginate.pages > 1 %}
        <hr class="hr--clear">
        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
      {% endif %}
    {% endif %}    
    </ul>
  
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
  </div>

{% if settings.infinite_collection_enable %}
<div id="product-list-foot">
  <div class="inf-collection-loading">{% include 'loading-spinner' %}</div>
</div>
{% endif %}  


</div>

<script>
{% for product in collection.products %}
        {% include 'autohide-item-filter' with product: product %}
          {% include 'product-json-formatter' %}
{% endfor %}
</script>


{% endpaginate %}
<script>
$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $(".product-info").removeClass("inside");
  }
  if($(window).width() > 768)
  {
    $(".product-info").addClass("inside");
  }  
};    
</script>

<script>
$('.grid-link__image img').hover(
       function(){ $(this).addClass('full-color') }
)

</script>


<script>
  $(function() {
    var header = $('header');
    var menu = $('#menu');
    if($(".grid-link__image-centered").length === 0){
      	return false;
    }
    var hieghtThreshold = $(".grid-link__image-centered").offset().top;
    var hieghtThreshold_end  = $(".grid-link__image-centered").offset().top +$(".grid-link__image-centered").height() ;
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= hieghtThreshold && scroll <=  hieghtThreshold_end ) {
            header.addClass('dark');
            menu.addClass('dark');
        } else {
            header.removeClass('dark');
            menu.removeClass('dark');
        }
    });
})
</script>