{% layout none %}
{% assign firstLoop = true %}

{
    "source": {% if collectionSwatches %}{{ swatchHandle | json }}{% else %}"linklist"{% endif %},
    "main": {{ product.handle | json }},
    "data":
        [{%- for item in collection.products -%}{% include 'autohide-item-filter' with product: item %}
            {% unless firstLoop %},{% endunless %}{
                "url": {{ item.url | json }},
                "title": {{ item.title | json }},
                "handle": {{ item.handle | json }},
                "titleSplit": {{ item.title | split: '--' | json }},
                "color": {{ item.title | split: '--' | last | handleize | json }},
                "yHandle": {{ item.title | split: '--' | last | handle | json }},
                "image": {{ item.title | split: '--' | last | handleize | append: '.png' | asset_url | json }},
                "name": {%- if item.title contains '--' -%}{{ item.title | split: '--' | last | json }}{%- else -%}{{ item.variants[0].option2 | json }}{%- endif -%}
            }
        {% assign firstLoop = false %}{%- endfor -%}]
}