
{% render 'nosto-element', id:'categorypage-nosto-1' %}
{% comment %}
<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->{% endcomment %}

{% section  'filter-definitions' %}
{% section 'dynamic-collection-filters' %}

<script>
  Shopify = window.Shopify || {};
  Shopify.Doen = Shopify.Doen || {};
  Shopify.Doen.products = Shopify.Doen.products || [];
</script>

{% paginate collection.products by settings.collections_max_products %}
{% if settings.enable_breadcrumbs %}
<div class="wrapper">
  <div class="section-header section-header--breadcrumb" style="padding-top:1px;">
    <div class="grid--full">    
      <div class="grid__item one-half text-left" style="padding-top:4px;">
        {% include 'breadcrumb' %}   
      </div>   
      
      <div class="grid__item one-half text-right collection-currency-wrapper">    
            {% include 'currency-picker' %}      
      </div>    
    </div>      

    <div class="header-box" style="display: none;"><h1>{{ collection.title }}</h1></div>
  </div>
</div>
{% endif %}

{% if collection.image %}
<div class="featuredimage">
   <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}" />
  {% if settings.collections_title_enable %}  
	 <div class="header-box"><h1>{{ collection.title }}</h1></div>
  {% endif %}  
</div>
{% endif %}

{% if settings.collections_title_enable or settings.collections_tags_enable or settings.collections_sort_enable %}
<header class="section-header section-header--large" id="collectionpage">
  {% if settings.collections_title_enable %}
  {% if collection.image %}
  {% else %}
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
  {% endif %}
  {% endif %}
  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}


{% if collection.handle contains 'lookbook' %}
<div class="lookbook-wrapper">
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    {{ collection.title }}
  </h2>
</div>
  <div class="wrapper">
  	<div class="post-large--three-quarters" style="margin:0 auto;">
      {% include 'lookbook-temp' %}
    </div>
  </div>
</div>  
{% endif %}
<div style="clear:both;"></div>

{% unless collection.handle == 'all' %}
<div class="grid">
	
	<div class="grid__item collection-header-wrapper">
		
		<div class="grid">
          
   
			
			<div class="post-large--three-quarters" style="margin:0 auto;">

                <div class="section-header collection-header" style="text-align: center;">
                  <h1 class="section-header--title" style="padding-left: 22px; line-height: 1.5; margin-bottom: 20px; color:black;">{{ collection.title }}</h1>
                  {%if collection.description != '' %}
                  <div class="rte rte--header small--hide medium--hide" style="padding-left: 22px; ">{{ collection.description }}</div>
                  {%endif%} 
                </div>
				
				<div class="rte">
                  {% assign handle = collection.handle %}
                  {% case handle %}
                    {% when 'spring-19' %}
                      {% section 'spring-19' %}
                    
                    {% when 'fall-18' %}
                      {% section 'fall-18' %}
                                        
                    {% when 'holiday-18' %}
                      {% section 'holiday-18' %}

                    {% when 'summer-19' %}
                      {% section 'summer-19' %}
                  
                    {% when 'fall-19' %}
                      {% section 'Fall-19' %}

                    {% when 'victoriana-19' %}
                      {% section 'victoriana-19' %}

                    {% when 'spring-20' %}
                      {% section 'Spring-1-20' %}
                    

                    {% when 'summer-2020' %}
                      {% section 'Summer-1-20' %}
                  
                  
                  {% when 'fall-2020' %}
                  	{% section 'fall-20' %}
                  
                  
                  {% when 'spring-1-21' %}
                  	{% section 'Spring-1-21' %}
                  
                  {% when 'spring-2-21' %}
                    {% section 'Spring-2-21' %}
                  
                  {% when 'spring-3-21' %}
                    {% section 'Spring-3-21' %}
                  
                  {% when 'first-dip-capsule' %}
                    {% section 'Summer-1-21' %} 
                  
                  {% when 'summer-1-21' %}
                    {% section 'Summer-2-21' %} 
                  
                  {% when 'golden-hour-21' %}
                    {% section 'GoldenHour-21' %}
                  
                  {% when 'fall-1-21' %}
                    {% section 'Fall-1-21' %}
                  
                    {% when 'holiday-21' %}
                      {% section 'Holiday-21' %}
                  
                  
                    {% when 'winter-21' %}
                      {% section 'Winter-21' %}
                  
                    {% when 'spring-1-2022' %}
					  {% section 'Spring-1-22' %}
                      
                  {% endcase %}
				</div>

			</div>


		</div>

	</div>

</div>
{% endunless %}







<div class="wrapper collection-wrapper" id="main-collection-body">
  <div :class="filtersOpen ? 'open-filters': ''" id="collection-filters">
    <h2 class="small--hide">FILTER BY</h2>
    <div id="filters-container">
      <sort @sort-toggle="toggleOpenFilters" @filter-update="updateFilters"></sort>
      <div class="main-filters-wrapper">
        <button type="button" @click="toggleOpenFilters" class="mobile-filter-toggle">FILTER</button>
        <filter-option @filter-update="updateFilters"  label="SIZE" :standard="standard" option="size"></filter-option>
        {% unless collection.handle == 'new-arrivals' or collection.handle == 'all' %}
        <tag-filter @filter-update="updateFilters" label="STYLE" identifier="style-" v-if="filtersOpen"></tag-filter>
        {% endunless %}
        <tag-filter @filter-update="updateFilters" label="COLOR" identifier="color-" v-if="filtersOpen"></tag-filter>
        <button @click="clearAllFilters" id="clear-filters" v-if="filtersOpen">CLEAR ALL</button>
      </div>    
    </div>
  </div>
	{% comment %} {% include 'wip-collection-filters' %} {% endcomment %}
  
<div class="grid-uniform grid-link__container">
  
  {% if settings.collections_sidebar_enable %}
  <div class="grid__item post-large--{{ settings.sidebar_size }} medium-down--hide collection-sidebar">
    		    {% if settings.collections_sidebar_sort_enable %}
      			{% include 'collection-sorting' %}
    			{% endif %}
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist1].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist1].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>              
            </div>  
            <div class="menu-holder">
               <h5>{{ linklists[settings.collections_sidebar_linklist2].title }}</h5>
            <ul class="site-sidebar__links">
              {% for link in linklists[settings.collections_sidebar_linklist2].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            </div>        
  </div>  
  {% endif %}

  {% if settings.collections_sidebar_enable %}<div class="grid__item post-large--{{ settings.grid_size }} medium-down--one-whole">{% endif %}
 
  <div class="previous-pages-wrapper" v-if="pagination.initialPage !== 1 && !filtersActive()">
    <button type="button" @click="resetInitialPage" class="previous-page-loader">Load Previous Pages</button>
  </div>
  <ul class="collection-infinite vue-grid">
    <li class="loading-products-msg" v-if="items.length === 0 && !gatherFinished"><div class="inf-collection-loading">{% include 'loading-spinner' %}</div></li>
    <li class="empty-products-msg" v-else-if="items.length === 0 && gatherFinished">Sorry, we couldn't find any products!</li>
    <p class="preview-message " v-if="previewLoading">Please wait while we load your preview</p>
    <grid-item v-for="(product, index) in items" :currency="currency" :product="product" :index="index" :page="pagination.currentPage" v-else/>
  </ul>
  
    <div v-autoclick class="autoclick-wrapper">
      <button class="infinite-clicker" @click="infiniteClick" :disabled="pagination.currentPage === pagination.maxPages">Next Page</button>
    </div>
    
    
  {% if settings.collections_sidebar_enable %}</div>{% endif %}
  </div>

{% if settings.infinite_collection_enable %}
<div id="product-list-foot">
  {% comment %} <div class="inf-collection-loading">{% include 'loading-spinner' %}</div> {% endcomment %}
</div>
{% endif %}   


</div>

<script>
{% for product in collection.products %}
        {% include 'autohide-item-filter' with product: product %}
          {% include 'product-json-formatter' %}
{% endfor %}
</script>

  {% include 'collection-data' with collection: collection, pagination: paginate %}
{% endpaginate %}
<script>
$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $(".product-info").removeClass("inside");
  }
  if($(window).width() > 768)
  {
    $(".product-info").addClass("inside");
  }  
};    
</script>

<script>
$('.grid-link__image img').hover(
       function(){ $(this).addClass('full-color') }
)

</script>


<script>
  $(function() {
    var header = $('header');
    var menu = $('#menu');
    if($(".grid-link__image-centered").length === 0){
      	return false;
    }
    var hieghtThreshold = $(".grid-link__image-centered").offset().top;
    var hieghtThreshold_end  = $(".grid-link__image-centered").offset().top +$(".grid-link__image-centered").height() ;
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= hieghtThreshold && scroll <=  hieghtThreshold_end ) {
            header.addClass('dark');
            menu.addClass('dark');
        } else {
            header.removeClass('dark');
            menu.removeClass('dark');
        }
    });
})
</script>

{% render 'nosto-element', id:'categorypage-nosto-2' %}
