{% if settings.home_section_1 != blank %}
	{% unless settings.home_section_1 == 'Split Section 1'  %}
  		{% include settings.home_section_1 %}
	{% endunless %}
{% endif %}

{% if settings.home_section_2 != blank %}
	<hr class="hr--clear hr--small">
	{% if settings.home_show_borders %}
	<div class="section-border"></div>
	{% endif %}
	{% unless settings.home_section_2 == 'Split Section 1'  %}  		
  	{% include settings.home_section_2 %}
	{% endunless %}
{% endif %}

{% if settings.home_section_3 != blank %}
	<hr class="hr--clear hr--small">
	{% if settings.home_show_borders %}
	<div class="section-border"></div>
	{% endif %}
	{% unless settings.home_section_3 == 'Split Section 1'  %} 		
  		{% include settings.home_section_3 %}
	{% endunless %}
{% endif %}

{% if settings.home_section_4 != blank %}
	<hr class="hr--clear hr--small">
	{% if settings.home_show_borders %}
	<div class="section-border"></div>
	{% endif %}
	{% unless settings.home_section_4 == 'Split Section 1'  %}
  		{% include settings.home_section_4 %}
	{% endunless %}
{% endif %}

{% if settings.home_section_5 != blank %}
	<hr class="hr--clear hr--small">
	{% if settings.home_show_borders %}
	<div class="section-border"></div>
	{% endif %}
	{% unless settings.home_section_5 == 'Split Section 1'  %}
  		{% include settings.home_section_5 %}
	{% endunless %}
{% endif %}

{% if settings.home_section_6 != blank %}
	<hr class="hr--clear hr--small">
	{% if settings.home_show_borders %}
	<div class="section-border"></div>
	{% endif %}
	{% unless settings.home_section_6 == 'Split Section 1'  %}
  		{% include settings.home_section_6 %}
	{% endunless %}
{% endif %}