
{% if settings.home_wrapper_enable %}
<div class="wrapper">
  {% endif %}
  {% if settings.home_section_1 != blank %}
  {% if settings.hide_tabletdown_section_1 %} 
  <div class="medium-down--hide">
    {% endif %}   
    {% if settings.wrapper_section_1_enable %}
    <div class="wrapper{% if settings.hide_tabletdown_section_1 %} medium-down--hide{% endif %}">
      {% endif %}   
      {% unless settings.home_section_1 contains 'Split Section'  %}
      {% include settings.home_section_1 %}
      {% endunless %}
      {% if settings.wrapper_section_1_enable %}
    </div>  
    {% endif %} 
    {% if settings.hide_tabletdown_section_1 %}   
  </div> 
  {% endif %}  
  {% endif %}






  <div class="grid blog-section" id="blog-section">

    <div class="section-header section-header--small" style="padding-left:20px;padding-bottom:0;">
      <h2 class="section-header__title">
        <a href="https://shopdoen.com/blogs/journal">JOURNAL</a>
      </h2>
      <p class="text-center"><a href="https://shopdoen.com/blogs/journal"><i class="fa fa-caret-right"></i> SEE ALL STORIES</a></p>
    </div>




    {% assign doenblog = "journal" %}
    {% for article in blogs[doenblog].articles limit: 3 %}

 







    <div class="grid__item one-third small--one-whole text-center">

      <a href="{{ article.url }}">
        <img data-src="{{ article.image.src | img_url: 'x500' }}" class="lazy-img">
      </a>

      <div class="clearfix"></div>

      <h3>

        <a href="{{ article.url }}" style="color:black;">{{ article.title }}</a></h3>


      <div class="mobile-cta"><a href="{{ article.url }}" class="">
        <i class="fa fa-caret-right"></i>
        
             {% if article.tags contains "view-collection-cta" %}
        View Collection
        {% else %}
        View Full Story
        
        {% endif %}
        
        
        
        </a></div>

    </div> 


    {% endfor %}
  </div>




  <div class="clearfix"></div>



          {% section 'home__video' %}


          

  {% section 'lookbook-homepage-slider'%}




  {% if settings.home_section_2 != blank %}
  {% if settings.hide_tabletdown_section_2 %} 
  <div class="medium-down--hide">
    {% endif %}   
    {% if settings.wrapper_section_2_enable %}
    <div class="wrapper{% if settings.hide_tabletdown_section_2 %} medium-down--hide{% endif %}">
      {% endif %}    
      <hr class="hr--clear{% if settings.hr_small_enable %} hr--small{% endif %}">
      {% if settings.home_show_borders %}
      <div class="section-border"></div>
      {% endif %}
      {% unless settings.home_section_2 contains 'Split Section'  %}  		
        {% if settings.home_section_2 == 'video' %}
          {% section 'home__video' %}
        {% else %}
          {% include settings.home_section_2 %}
        {% endif %}
      {% endunless %}
      {% if settings.wrapper_section_2_enable %}
    </div>  
    {% endif %}  
    {% if settings.hide_tabletdown_section_2 %}   
  </div> 
  {% endif %}   
  {% endif %}


  {% if settings.home_section_3 != blank %}
  {% if settings.hide_tabletdown_section_3 %} 
  <div class="medium-down--hide">
    {% endif %}  
    {% if settings.wrapper_section_3_enable %}
    <div class="wrapper">
      {% endif %}     
      <hr class="hr--clear{% if settings.hr_small_enable %} hr--small{% endif %}">
      {% if settings.home_show_borders %}
      <div class="section-border"></div>
      {% endif %}
      {% unless settings.home_section_3 contains 'Split Section'  %} 		
        {% if settings.home_section_3 == 'video' %}
          {% section 'home__video' %}
        {% else %}
          {% include settings.home_section_3 %}
        {% endif %} 
      {% endunless %}
      {% if settings.wrapper_section_3_enable %}
    </div>  
    {% endif %}
    {% if settings.hide_tabletdown_section_3 %}   
  </div> 
  {% endif %}   
  {% endif %}
  

  {% if settings.home_section_4 != blank %}
  {% if settings.hide_tabletdown_section_4 %} 
  <div class="instagramwrapper">
    {% endif %}
    {% if settings.wrapper_section_4_enable %}
    <div class="wrapper">
      {% endif %}    
      {% comment %} <hr class="hr--clear{% if settings.hr_small_enable %} hr--small{% endif %}"> {% endcomment %}
      {% if settings.home_show_borders %}
      <div class="section-border"></div>
      {% endif %}
      {% unless settings.home_section_4 contains 'Split Section'  %}
        {% if settings.home_section_4 == 'video' %}
          {% section 'home__video' %}
        {% else %}
          {% include settings.home_section_4 %}
        {% endif %}
      {% endunless %}
      {% if settings.wrapper_section_4_enable %}
    </div>  
    {% endif %}
    {% if settings.hide_tabletdown_section_4 %}   
  </div> 
  {% endif %}  
  {% endif %}

  {% if settings.home_section_5 != blank %}
  {% if settings.hide_tabletdown_section_5 %} 
  <div class="medium-down--hide">
    {% endif %}  
    {% if settings.wrapper_section_5_enable %}
    <div class="wrapper{% if settings.hide_tabletdown_section_5 %} medium-down--hide{% endif %}">
      {% endif %}     
      <hr class="hr--clear{% if settings.hr_small_enable %} hr--small{% endif %}">
      {% if settings.home_show_borders %}
      <div class="section-border"></div>
      {% endif %}
      {% unless settings.home_section_5 contains 'Split Section'  %}
        {% if settings.home_section_5 == 'video' %}
          {% section 'home__video' %}
        {% else %}
          {% include settings.home_section_5 %}
        {% endif %}
      {% endunless %}
      {% if settings.wrapper_section_5_enable %}
    </div>  
    {% endif %}  
    {% if settings.hide_tabletdown_section_5 %}   
  </div> 
  {% endif %}   
  {% endif %}
  
  {% if settings.home_section_6 != blank %}
  {% if settings.hide_tabletdown_section_6 %}  
  <div class="medium-down--hide">
    {% endif %}    
    {% if settings.wrapper_section_6_enable %}
    <div class="wrapper{% if settings.hide_tabletdown_section_6 %} medium-down--hide{% endif %}">
      {% endif %}   
      <hr class="hr--clear{% if settings.hr_small_enable %} hr--small{% endif %}">
      {% if settings.home_show_borders %}
      <div class="section-border"></div>
      {% endif %}
      {% unless settings.home_section_6 contains 'Split Section'  %}
      {% include settings.home_section_6 %}
      {% endunless %}
      {% if settings.wrapper_section_6_enable %}
    </div>  
    {% endif %} 
    {% if settings.hide_tabletdown_section_6 %}   
  </div> 
  {% endif %}   
  {% endif %}

  {% if settings.home_wrapper_enable %}
</div>
{% endif %}

{% render 'nosto-element', id:'frontpage-nosto-1' %}

{% render 'nosto-element', id:'frontpage-nosto-2' %}

{% render 'nosto-element', id:'frontpage-nosto-3' %}

{% render 'nosto-element', id:'frontpage-nosto-4' %}
