{% layout none %}
<!DOCTYPE html>
<html>
<head>
<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}
{{ 'nyla_contact.css' | asset_url | stylesheet_tag }}
</head>
<body>
  <div class="contact-form-container">

    <img src="{{ 'border-layout-06.png' | asset_url }}" class="frame">
    {% capture contactForm %}
      {% form 'contact' %}

      <div class="d-none" data-alert="status"></div>
    
      {% if form.posted_successfully? %}
        <p class="success-msg">Thanks for contacting us! We'll get back to you as soon as possible.</p>
      {% endif %}

      {% if form.errors %}
      <p class="error-msg">
        <div class="error-list" style="color:#E0360F">
        {% for field in form.errors %}
          {% if field == 'body' %}
          <div>Your message cannot be blank.</div>
          {% endif %}
          {% if field == 'email' %}
          <div>Please enter a valid email address.</div>
          {% endif %}        
        {% endfor %}
        </div>
      </p>
      {% endif %}
      
      <div class="contact-form-wrapper">
        <div class="clearfix type-text full-width">
          <input required type="text" id="name" name="contact[name]" placeholder="NAME*" />
          {% include 'icon-nyla-line' %}
        </div> 
        <div class="clearfix type-text full-width-with-half">
          <div class="half-width">
            <input type="text" id="order_number" name="contact[order_number]" placeholder="ORDER NUMBER" />
            <div class="show-desktop-only">
              {% include 'icon-nyla-line-small' %}
            </div>
            <div class="show-mobile-only">
              {% include 'icon-nyla-line' %}
            </div>
          </div> 
          <div class="half-width">
            <input type="text" id="name" name="contact[phone]" placeholder="PHONE NUMBER" />
            <div class="show-desktop-only">
              {% include 'icon-nyla-line-small' %}
            </div>
            <div class="show-mobile-only">
              {% include 'icon-nyla-line' %}
            </div>
          </div> 
        </div>
        <div class="clearfix type-text full-width {% if form.errors contains 'email' %} has-error{% endif %}">
          <input required type="email" id="email" class="email" name="contact[email]" placeholder="EMAIL*" />
          {% include 'icon-nyla-line' %}
        </div> 
        <div class="clearfix type-text full-width">
          <input required type="text" id="subject" name="contact[subject]" placeholder="SUBJECT*" />
          {% include 'icon-nyla-line' %}
        </div> 
        <div class="clearfix full-width type-textarea{% if form.errors contains 'body' %} has-error{% endif %}">
          <textarea required id="message" name="contact[body]" placeholder="MESSAGE*"></textarea>
        </div>
        <div class="clearfix type-submit">
          <button type="submit" class="submit btn">
            {% include 'icon-nyla-button' %}
          </button>

          <p>REQUIRED*</p>
        </div>
        <div class="checkbox captcha"><input type="text" class="honeypot" autocomplete="off" style="display:none;"></div>
      </div>
    {% endform %}
  {% endcapture %}

  {{ contactForm | replace: 'action=', 'data-action=' | replace: 'id=', 'data-id=' }}
  

  </div>
 
  
  <script type="text/javascript">
    function formToJSON(elements) {
  return [].reduce.call(elements, function (data, element) {
    data[element.name] = element.value;
    return data;
  }, {});
}

function getUrlString(data) {
  var urlParameters = Object.entries(data).map(function (e) {
    return e.join('=');
  }).join('&');

  return urlParameters;
}

function initForm(selector) {
  selector = selector || '.contact-form';

  document.querySelectorAll(selector).forEach(function(form) {
    var action = form.getAttribute("data-action"),
      alert = form.querySelector('[data-alert="status"]'),
      inputs = form.querySelectorAll("[name]"),
      btn = form.querySelector('[type="button"]');

    // Submit data via Fetch
    form.addEventListener('submit', function(e){
      e.preventDefault();

      fetch(action, {
        method: 'POST',
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          "Accept": "application/json"
        },
        body: getUrlString(formToJSON(inputs))
      }).then(function(response) {
        console.log(response);
        console.log("Response Status: " + response.status);
        alert.className = "alert alert-success";
        alert.innerHTML = "Thank you for contacting us. We will be in touch.";
      }).catch(function(error) {
        console.log(error);
        console.log("Response Status: " + response.status);
        alert.className = "alert alert-danger";
        alert.innerHTML = "We had an issue receiving your form. Please try again later.";
      });
    });
  });
}

initForm();
  </script>
</body>
</html>
