<div class="grid">

	<div class="grid__item">
		
		<div class="grid">
			
			<div class="post-large--three-quarters" style="margin:0 auto;">
				
				<div class="section-header" style="text-align: center;">
					<h1 class="section-header--title" style="padding-left:20px;">{{ page.title }}</h1>
				</div>
				
				<div class="rte">
                  {% assign handle = page.handle %}
                  {% case handle %}
                  
                    {% when 'fall-16' %}
                  	{% section 'Fall-16' %}
                  
                    {% when 'summer-16' %}
                    {% section 'Summer-16' %}
                  
                    {% when 'spring-17' %}
                    {% section 'Spring-17' %}
                  
                    {% when 'spring-16' %}
                    {% section 'Spring-16' %}
                  
                  
                  {% endcase %}
				</div>

			</div>


		</div>

	</div>

</div>

<script>
    var starter = 0;
  $(document).ready(function(){

    for(var i = 0; i < 5; i++) {
    	$('.base-image').eq(i).fadeIn(400);
    }
  });

  var length = $('.base-image').length;
  var loading= false;
var spot = $('.shopify-section').find('.new');
  
  $(window).load(function(){
var divs = $(".shopify-section > .base-image");
for(var i = 0; i < length; i+=5) {
  divs.slice(i, i+5).wrapAll("<div class='new'></div>");
}
    
 // Code above wraps the photos in groups of 5
    });



$(window).scroll(function() {
    if (!loading && ($(window).scrollTop() >  $(document).height() - $(window).height() - 300)) {
        loading= true;
		
      	 $('.new').eq(starter).find('.base-image').fadeIn(400);
      starter += 1;
        // your content loading call goes here.

        loading = false; // reset value of loading once content loaded
    }
});
</script>

<style>
  .base-image{
   display: none; 
  }
  
  
</style>