{% if page.handle == 'resolutions' %}
  {{ 'tailwind-limited.css' | asset_url | stylesheet_tag }}
  {{ 'resolutions.css' | asset_url | stylesheet_tag }}
  {{ 'resolutions-michael.css' | asset_url | stylesheet_tag }}
  {% section 'Resolutions' %}
  <script src="{{ 'resolutions.js' | asset_url }}" defer></script>


{% elsif page.handle == 'impact-update' %}
  {{ 'tailwind-limited.css' | asset_url | stylesheet_tag }}
  {{ 'resolutions.css' | asset_url | stylesheet_tag }}
  {{ 'resolutions-michael.css' | asset_url | stylesheet_tag }}
  {% section 'Resolutions-22' %}
  <script src="{{ 'resolutions.js' | asset_url }}" defer></script>




  
{% elsif page.handle == 'faq' %} 
  {% section 'faq' %}
  {{ 'faq.css' | asset_url | stylesheet_tag }}
{% elsif page.handle == 'anti-racism' %}
  {{ 'tailwind-limited.css' | asset_url | stylesheet_tag }}
  {{ 'resolutions.css' | asset_url | stylesheet_tag }}
  {{ 'resolutions-michael.css' | asset_url | stylesheet_tag }}
  {% section 'anti-racism' %}
  <script src="{{ 'resolutions.js' | asset_url }}" defer></script>
{% elsif page.handle ==  'pdp-preview' %}
  {% section 'product' %}
  {% section 'product-swatches' %}
  {% section 'product-swatches-2' %}
{% section 'product-swatches-3' %}

  
{% assign feedSource = settings.404_feed_source | default: 'new-arrivals' %}
<script>
  window.feed_source = {{ feedSource | json }};
</script>
{% assign product = collections['new-arrivals'].products[0] %}
<script type="text" data-handle="{{ product.handle }}" data-product-source>{% include 'product-json' with product %}</script>
{% include 'vue-swatches' %} 
{% include 'vue-linked-swatches-template' %}
{% include 'vue-product-grid-item-related' %}
{% include 'vue-product-404-feed-item' %} 

{% comment %} Final Sale Settings to Window Object for Use {% endcomment %}

{% assign final_sale_qualification = ''  %}

{%- if settings.final_sale_by_price and settings.final_sale_by_tag -%}
  {% assign final_sale_qualification = 'price-or-tag' %}
{%- elsif settings.final_sale_by_price -%}
  {% assign final_sale_qualification = 'price' %}
{%- elsif settings.final_sale_by_tag -%}
  {% assign final_sale_qualification = 'tag' %}
{%- endif -%}

<script>
(function(){
  
  console.log('Testing', {{ settings.final_sale_by_tag | json }}, {{ settings.final_sale_by_price | json }} );
  window.PDPSettings = window.PDPSettings || {};

  window.PDPSettings.enabled = {{ settings.enable_final_sale | json }};
  window.PDPSettings.qualification = {{ final_sale_qualification | json }};
  window.PDPSettings.final_sale_tags = {{ settings.final_sale_tags | split: ',' | json }};
  
})();
</script>
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script type="text/javascript">
      window.PixleeAsyncInit = function() {
          Pixlee.init({apiKey:'sFQhdv9r5i3YtEhYw5tx'});
          
          {% comment %} Pixlee.addProductWidget(
            {accountId:1396,
              widgetId:1274442,
              ecomm_platform: "shopify",
              containerId:"pix1"
            }); {% endcomment %}
          
          {% comment %} Pixlee.addProductWidget(
            {accountId:1396,
              widgetId:1274442,
              ecomm_platform: "shopify",
              containerId:"pix2"
            }); {% endcomment %}
      };
</script>
<script type="text/javascript">
  function pixleeLoaded(event){
    if(event.data){
      try{
        var message = JSON.parse(event.data);
      } catch( error ){
        return;
      }
    } else {
      return;
    }

    if(message.name == "pixlee:widget:num:photos"){
      let photoCount = message.data.photoCount;
      console.warn('Pixlee Count', photoCount);
      if(photoCount > 0){
        $('.pixlee-header').removeClass('hide');
        $('#pix1, #pix2').parent().removeClass('invis');
      } else {
        $('#pix1, #pix2').parent().addCass('invis');
      }
    }
  }window.addEventListener("message", pixleeLoaded, false);
  
</script>
<script src="//assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script> 

<style>
  .related-products .grid__item {
    display:none;
  }
  
  .related-products .grid__item:first-child {
    display:inline-block !important;
  }
  
  .related-products .grid__item:nth-child(2) {
    display:inline-block !important;
  }
  
  .related-products .grid__item:nth-child(3) {
    display:inline-block !important;
  }
</style>

{% include 'klaviyo-bis' %} 
{% include 'product-swatches-json' with product %}
{% include 'add-to-wishlistJS' %}





{% else %}
<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth text-center">

    <div class="section-header">
      <h1 class="section-header--title" style="text-align: center;">{{ page.title }}</h1>
    </div>
    
    {%- if page.handle == 'search-results' -%}
    <div class="search-input extra-search">
        {% include 'search-bar' %}
    </div>
    {%- endif -%}

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
{% endif %}