<div class="grid">
	
	<div class="grid__item">
		
		<div class="grid">
			
			<div class="post-large--three-quarters" style="margin:0 auto;">
				
				<div class="section-header" style="text-align: center;">
					<h1 class="section-header--title" style="padding-left:20px;">{{ page.title }}</h1>
				</div>
				
				<div class="rte">
 
                  {% assign handle = page.handle %}
                  {% case handle %}
                  	
                  	{% when 'collections' %}
                  		{{ page.content }}
                  	
                    {% when 'fall-16' %}
                  	{% section 'Fall-16' %}
                  
                    {% when 'summer-16' %}
                    {% section 'Summer-16' %}
                  
                    {% when 'spring-17' %}
                    {% section 'Spring-17' %}
                  
                    {% when 'spring-16' %}
                    {% section 'Spring-16' %}
                  
                  	{% when 'summer-17' %}
                  	{% section 'summer-17' %}
                  
                  
                  	{% when 'fall-17' %}
                  	{% section 'fall-17' %}
                  
                  
                   	{% when 'spring-18' %}
                  	{% section 'spring-18' %}
                  
                  	{% when 'summer-18' %}
                  	{% section 'summer-18' %}
                  
                  {% when 'fall-18' %}
                  	{% section 'fall-18' %}
                  
                  
                  {% when 'spring-19' %}
                  	{% section 'spring-19' %}

                    
                  {% when 'summer-19' %}
                  	{% section 'summer-19' %} 

                  {% when 'fall-19' %}
                    {% section 'Fall-19' %}

                  {% when 'victoriana-19' %}
                    {% section 'victoriana-19' %}
                  
                  {% when 'spring-1-20' %}
                    {% section 'Spring-1-20' %}

                                 
                  {% when 'summer-2020' %}
                    {% section 'Summer-1-20' %}
                  
                  
                  {% when 'fall-2020' %}
                  	{% section 'fall-20' %}
                  
                  {% when 'spring-1-21' %}
                    {% section 'Spring-2-21' %}
                  
                  {% when 'spring-2021' %}
                    {% section 'Spring-2-21' %} 
                  
                  {% when 'first-dip-capsule' %}
                    {% section 'Summer-1-21' %} 
                  
                  {% when 'summer-1-21' %}
                    {% section 'Summer-2-21' %} 
                  
                  
                  
                  
                  {% endcase %}
				</div>

			</div>


		</div>

	</div>

</div>

<script>
    var loading= false;
    var starter = 0;
  $(document).ready(function(){
  var length = $('.base-image').length;

var spot = $('.shopify-section').find('.new');
    var divs = $(".shopify-section > .base-image");
for(var i = 0; i < length; i+=5) {
  divs.slice(i, i+5).wrapAll("<div class='new'></div>");
}
    
 // Code above wraps the photos in groups of 5
    
    
    for(var i = 0; i < 5; i++) {
    	$('.base-image').eq(i).fadeIn(400);
    }
  });


$(window).scroll(function() {
    if (!loading && ($(window).scrollTop() >  $(document).height() - $(window).height() - 600)) {
        loading= true;
		
      	 $('.new').eq(starter).find('.base-image').fadeIn(400);
      starter += 1;
        // your content loading call goes here.

        loading = false; // reset value of loading once content loaded
    }
});
</script>

<style>
  .base-image{
   display: none; 
  }
  
  
</style>