
<div class="yj6qo ajU">
  <div id=":10u9" class="ajR" role="button" data-tooltip="Show trimmed content" aria-label="Show trimmed content" aria-expanded="false" tabindex="0"><img class="ajT" src="https://ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif" />
  </div>
</div>


<div class="grid">

<div class="instagram-fullbleed">
  <div class="instagram-signup">
    <h1 class="i-signup-header"> Join Our Mailing List </h1>
    <span class="i-signup-subhead"> sign up to stay connected with seasonal musings, upcoming launch dates, and other event news!  </span>
    <div class="instagram-newsletter-wrapper">
      <div class="klaviyo-form-VTBnKH"></div>
    </div>
    {% comment %}

    <form id="email_signup_instagram" class="klaviyo_bare_embed_HcW4Md" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="HcW4Md">
  <input type="hidden" name="$fields" value="source"/>
  <div class="klaviyo_field_group instagram">
    <label for="klaviyo_form_favorite_color" style="display: none"></label>
	<input id="klaviyo_form_source" type="text" name="source" value="instagram" style="display: none;" />
    <label for="k_id_email" style="display: none">Newsletter Sign Up</label>
    <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions instagram">
    <button type="submit" class="klaviyo_submit_button">JOIN</button>
  </div>
</form>
<style type="text/css">
.klaviyo_styling.klaviyo_condensed_embed_HcW4Md,
.klaviyo_condensed_styling.klaviyo_condensed_embed_HcW4Md {
  font-family: "Helvetica Neue", Arial;
}.klaviyo_styling.klaviyo_condensed_embed_HcW4Md label,
.klaviyo_condensed_styling.klaviyo_condensed_embed_HcW4Md label {
  color:#222;
}.klaviyo_styling.klaviyo_condensed_embed_HcW4Md input[type=text],
.klaviyo_styling.klaviyo_condensed_embed_HcW4Md input[type=email],
.klaviyo_condensed_styling.klaviyo_condensed_embed_HcW4Md input[type=text],
.klaviyo_condensed_styling.klaviyo_condensed_embed_HcW4Md input[type=email] {
  border-radius: 2px;
}.klaviyo_styling.klaviyo_condensed_embed_HcW4Md .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_condensed_embed_HcW4Md .klaviyo_submit_button {
  background-color:#0064cd;
  border-radius: 2px;
}.klaviyo_styling.klaviyo_condensed_embed_HcW4Md .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_condensed_embed_HcW4Md .klaviyo_submit_button:hover {
  background-color:#0064cd;
}
</style>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup_instagram', {
    hide_form_on_success: true
  });
</script>
{% endcomment %}

	
    <a href="/">Visit Our Website</a>
    
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  </div>
</div>

<script>
(function(){
  // Adapt form

  function start() {
    const $wrapper = document.querySelector('.instagram-newsletter-wrapper');

    const $form = $wrapper.querySelector('form');

    if(!$form) {
      return setTimeout(start, 500);
    } 

    const $btn = $form.querySelector('button');
    const $contentWrapper = $form.querySelector('div[data-testid="form-row"]');
    const $email = $form.querySelector('input[type="email"][name="email"]')

    // Button adjustments
    $btn.id = 'instagram-form__submit';
    $btn.parentElement.id = 'instagram-form-btn__wrapper';


    // Input Adjustments
    $email.id = 'instagram-form__email';

    $contentWrapper.id = 'instagram-form__content-wrapper';

    console.log('got Form', $form, $btn, $email);
  }

  start();
})();
</script>

</div>
