   <div class="full-bleed-landing-page">
  
  <div class="header-blm">
    <img src="https://cdn.shopify.com/s/files/1/0950/9820/t/332/assets/logo.png?v=17347829978817660643" class="blm-logo">
  </div>
  
</div>

<style>

  .full-bleed-landing-page {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#000;
    z-index:999999999999999999;
    background:url(https://cdn.shopify.com/s/files/1/0950/9820/files/HOME7.jpg?v=1591066668) #000;
    background-size:cover;
    background-position:bottom;
    background-repeat:no-repeat;
    
  }
  
  header {
    display:none;
  }
  
  .blm-logo {
   
    width:150px;
    margin:auto;
    display:block;
    filter:invert(0);
    margin-top:4vh;
  }
  
  @media screen and (max-width:760px) {
    
    
  .full-bleed-landing-page {
     background-size:contain;
background-position:center;
    background-repeat:repeat;
  }
    
  
  .blm-logo {
   filter:invert(1); 
    margin:0;
    display:block;
  }
    
    .header-blm {
      background:linear-gradient(180deg, #000000bd, transparent);;
      padding:15px 0;
      height:40vh;
      
      display:flex;
      justify-content:center;
      align-items:flex-start;
      
    }
  
  }
</style>
