<div class="grid" style="margin-top: 50px;">
	{% include 'breadcrumb' %}
	<div class="grid__item">
		
		<div class="grid">
			
			<div class="post-large--three-quarters" style="margin:0 auto;">
				
				<div class="section-header" style="text-align: center;">
					<h1 class="section-header--title">{{ page.title }}</h1>
				</div>
				
				<div class="rte">
                  
                  {% assign handle = page.handle %}
                  {% case handle %}
                  
                  {% when 'fall-2016-lookbook' %}
                  	{% section 'Fall-16' %}
                  
                  {% when 'summer-2016-lookbook' %}
                  	{% section 'Summer-16' %}
                  
                  {% when 'lookbook-test' %}
                  	{% section 'Spring-17' %}
                  
                  {% when 'spring-2017-lookbook' %}
                  	{% section 'Spring-16' %}
                  
                  {% endcase %}
              </div>

			</div>


		</div>

	</div>

</div>

<script>
    var starter = 0;
  $(document).ready(function(){

    for(var i = 0; i < 5; i++) {
    	$('.ms-ca').eq(i).fadeIn(400);
      	starter = i;
    }
    	starter += 1;
  });

  var length = $('.ms-ca').length;
  var loading= false;
var spot = $('.ms-c').find('.new');
  
  $(window).load(function(){
var divs = $(".ms-c > .ms-ca");

    
 // Code above wraps the photos in groups of 5
    });



$(window).scroll(function() {
    if (!loading && ($(window).scrollTop() >  $(document).height() - $(window).height() - 300)) {
        loading= true;
      	console.log(starter);
      	$('.spinner').fadeIn();
      	var endPointer = starter + 5;
		console.log('triggered');
      for(var j = starter; j < endPointer; j++){
        	$('.ms-ca').eq(j).fadeIn(400);
      }
      starter += 5;
        // your content loading call goes here.
		$('.spinner').fadeOut(10);
        loading = false; // reset value of loading once content loaded
      
      if (starter >= $('.ms-ca').length){
        loading = true; 
      }
    }
  
});
</script>


<script>
  $(window).load(function(){
    $('.single-item').slick({
  arrows: true,
      dots: false,
        accessibility: false,
  adaptiveHeight: false,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  
    });
  
  $('.single-item').on('init', function(slick){
    console.log(slick);
  	$('.shopify-section').css('opacity','1');
});
</script>
<style>
.shopify-section{
 opacity: 0; 
}
</style>
