{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon_enable %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {% include 'google-fonts' %}

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  </head>

  <body class="template-password" style="background:#FAF8F0;">
    
    
    <div class="pw-header">
      
      <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/DOEN-LOGO-LRG-thin_WMQcVMsTNwo_7e70ab5a-709b-4eba-b57b-a3af686fe070.png?v=1629977409" class="pw-logo">
      
    </div>
    <div class="pw-image-container">
      
      <div class="pw-image-text-overlay" style="display:none;"><h1>CATCHING UP. BE BACK SOON.<br>READ MORE BELOW</h1></div>
      
      
      <img src="{{ settings.password_bg | img_url: 'master' }}" class="pw-image desktop">
      
      
      <img src="{{ settings.password_bg_mobile | default: settings.password_bg | img_url: 'master' }}" class="pw-image mobile">
    </div>
    
 
    
    

    
    
    
    <script>
      $('.open-sesame-letter').click( function() {
    $(".pw-letter").toggleClass("open");
} );
    </script>
    
    
    
    <script>
      $('.close-btn').click( function() {
    $(".pw-letter").toggleClass("open");
} );
    </script>
    
    
    <script>
      $('.open-sesame-letter-2').click( function() {
    $(".pw-letter-2").toggleClass("open");
} );
    </script>
    
    
    
    <script>
      $('.close-btn-2').click( function() {
    $(".pw-letter-2").toggleClass("open");
} );
    </script>
    
    <style type="text/css">
      div#zonos {
        display:none !important;
        opacity:0 !important;
      }
      
      body,
      html {
        background:#FAF8F0;
        
      }
      
    </style>
    
    {{ content_for_layout }}
  
    {% comment %} Gladly Widget  {% endcomment %}
    <script>
      !function(c,n,r,t){if(!c[r]){var i,d,p=[];d="PROD"!==t&&t?"STAGING"===t?"https://cdn.gladly.qa/gladly/chat-sdk/widget.js":t:"https://cdn.gladly.com/chat-sdk/widget.js",c[r]={init:function(){i=arguments;var e={then:function(t){return p.push({type:"t",next:t}),e},catch:function(t){return p.push({type:"c",next:t}),e}};return e}},c.__onHelpAppHostReady__=function(t){if(delete c.__onHelpAppHostReady__,(c[r]=t).loaderCdn=d,i)for(var e=t.init.apply(t,i),n=0;n<p.length;n++){var a=p[n];e="t"===a.type?e.then(a.next):e.catch(a.next)}},function(){try{var t=n.getElementsByTagName("script")[0],e=n.createElement("script");e.async=!0,e.src=d+"?q="+(new Date).getTime(),t.parentNode.insertBefore(e,t)}catch(t){}}()}}
      (window,document,'Gladly','PROD')
    </script>
    <script>
      window.gladlyConfig = {
        appId: 'shopdoen.com'
      };
    </script>
    {% comment %} End Gladly {% endcomment %}

  </body>
</html>
