{% capture product_data %}
{% for tag in product.tags %}{% assign down = tag | downcase %}{% unless down contains 'ship:'%}{% if down contains 'preorder' %}{% assign striped = down | replace: ' /', '/' | replace: ' / ', '/'%}{% assign striped = striped | remove: 'preorder' | remove: 'size:' | remove: 'limit:' | strip %}{% assign striped = striped | replace: ' ', '-' | replace: '/', ' /' %}{% assign striped = striped | append: ',' %}{{ striped }}{% endif %}{% endunless %}{% endfor %}
{% endcapture %}
{% assign datas = product_data | remove: ', ' %}
{% assign datas = datas | split: ',' %}


{% assign variantCount = product.variants | size %} 
{% assign tagExlusions = settings.store_autohide_tags | split: ',' %}

{% comment %} Auto Hide Block {% endcomment %}
{% assign skipper = false %}
{% assign productTags = product | map: 'tags' | join: ',' %}
{% for exclusion in tagExlusions %}
{% if productTags contains exclusion %}{% assign skipper = true %}{% endif %}      
{% endfor %}
{% comment %} End of Auto Hide Block {% endcomment %}


<script>
  window.Shopify = window.Shopify || {};
  window.Shopify.Doen = window.Shopify.Doen || {};
  window.Shopify.Doen.preorders = window.Shopify.Doen.preorders || [];

  $(document).on("ready",function(){
    {% if variantCount > 1 %}
    {% comment %}
    $('#AddToCartForm #AddToCartText').text('Select Amount');
    $('#AddToCartForm #AddToCartText').parent().prop('disabled', true);    
    {% endcomment %}
    {% endif %}
  });

  $(document).on("click", "input#Quantity", function(){
    $(".swatch-inputs:checked").trigger("change");
  });

  $(document).on("keyup", "input#Quantity", function(){
    $(".swatch-inputs:checked").trigger("change");
  });

</script>

{% assign DigitalGiftCard = all_products['digital-gift-card'] %}
{% assign physicalGiftCard = all_products['physical-gift-card'] %}


{% comment %}
<script>
  var SPOCustom = {};
  SPOCustom.customVariantSelectors = true;
</script>
<!-- spurit_po-added -->
{% include 'spurit_po-product-snippet' %}
<!-- /spurit_po-added -->

{% endcomment %}

<div class="gift-card" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% if settings.enable_breadcrumbs %}
  <div class="section-header section-header--breadcrumb medium-down--hide">
    {% include 'breadcrumb' %}
  </div>
  {% endif %}

  <div class="product-single{% if settings.product_center_description %} text-center{% endif %}">
    <div class="grid product-single__hero stickem-container">
      <div class="grid__item post-large--{{ settings.image_side_large_size }}">
        {% if settings.product_images == 'allimages_sticky' %} 
        <div class="medium-down--hide">
          {% for image in product.images %}
          {% if settings.product_image_zoom_type == 'zoom-in' %}<div class="product-single__photos" id="ProductPhoto">{% endif %}
          <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" {% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '2048x2048' }}"{% endif %}>
          {% if settings.product_image_zoom_type == 'zoom-in' %}</div>{% endif %}
          {% endfor %}  
        </div>
        {% elsif settings.product_images == 'product_slider' %} 
        <div class="medium-down--hide">
          <div class="flex-container">
            <div class="flexslider">
              <div class="slides" style="display: flex;">
                {% for image in product.images %}                        
                <li class="slide" data-thumb="{{ image | img_url: 'small' }}">                   
                  <img src="{{ image | img_url: '1024x1024' }}" data-zoom-image="{{ image | img_url: '2048x2048' }}" {% if forloop.first == true %}alt="{{ image.alt | escape }}"{% endif %} class="zoom" />
                </li>
                {% endfor %}
              </div>
            </div>
          </div>
          
          
          
          
          <div class="pixle-greater-container" style="display: block; margin-top: 70px; width:100%; padding: 0 9px;">
            <div  class="pixlee-header hide" style="width: calc(100% - 100px);margin:0 auto 25px auto;">OUR COMMUNITY IN THE {{product.title | split: '--' | first }} <strong>#doencollective</strong></div>
            <div id="pix1"></div>
          </div>
        </div> <!-- .medium-down--hide -->
        {% else %}  
        <div class="medium-down--hide">
          {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}                
          <div class="product-single__photos" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>

          {% if product.images.size > 1 %}
          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
            {% for image in product.images %}
            <li class="grid__item wide--one-quarter large--one-third medium-down--one-third">
              <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
            {% endfor %}
          </ul>

          {% endif %}

          {% else %}

          <div class="grid">
            <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            </div>

            <div class="grid__item one-fifth">

              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {% for image in product.images %}
                <li class="grid__item">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>         
          {% endif %}
        </div>
        {% if settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
          {% endfor %}
        </ul>
        {% endif %} 
        {% endif %}
        <div class="post-large--hide">
          <div class="flexslider" id="physical-mobile" style="display: none">
            <ul class="slides" style="display: flex;">
              {% for image in product.images%}
                {% if image.alt contains 'physical' %}    
                  <li class="slide" data-thumb="{{ image | img_url: 'small' }}">                   
                    <img src="{{ image | img_url: '1024x1024' }}" data-zoom-image="{{ image | img_url: '2048x2048' }}" {% if forloop.first == true %}alt="{{ image.alt | escape }}"{% endif %} class="" />
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>       
          

          <div class="flexslider" id="digital-mobile" style="display: none">
            <ul class="slides" style="display: flex;">
              {% for image in product.images%}
                {% if image.alt contains 'digital' %}    
                  <li class="slide" data-thumb="{{ image | img_url: 'small' }}">                   
                    <img src="{{ image | img_url: '1024x1024' }}" data-zoom-image="{{ image | img_url: '2048x2048' }}" {% if forloop.first == true %}alt="{{ image.alt | escape }}"{% endif %} class="" />
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>          

        </div>
      </div>
      <div class="grid__item right-side post-large--{{ settings.description_side_large_size }}{% if settings.product_images == 'allimages_sticky' %} stickem{% endif %}">
        {% if settings.product_vendor_enable %}
        <h3>{{ product.vendor }}</h3>
        {% endif %}
        <h1 itemprop="name" style="margin-bottom: 0;">{{ product.title | split: '--' | first }}</h1>
        <div class="type" style="margin: 0 0 20px;display:none;">{{ product.type | link_to_type }}</div>

        {% assign productTagsxxx = product.tags | join:',' %}

        {% if productTagsxxx contains 'limited edition' %}
        <div class="type" style="margin: 0 0 20px;display:block;">LIMITED EDITION</div>
        {% endif %}


        {% comment %}
        {% if product.title contains '--' %}
        <h5>{{ product.title | split: '--' | last }}</h5>
        {% endif %}
        {% endcomment %}
        {% if settings.product_variant_enable %}
        <span class="variant">
          {{ product.variants.first.option1 }}
        </span>
        {% endif %}
        {% if settings.product_sku_enable %}
        <span class="variant-sku"></span>
        {% endif %}
        <div class="product-form-wrapper" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">          

          <div class="product-single__prices">
            <span id="ProductPrice" class="product-single__price" itemprop="price">
              {{ product.price | money | remove: '.00' }}
            </span>

            {% if product.compare_at_price > product.price %}
            <span id="ComparePrice" class="product-single__sale-price">
              {{ product.compare_at_price_max | money | remove: '.00' }}
            </span>
            {% endif %}
          </div>

          {% if settings.description_location == 'above' %}
          {% if settings.product_description_type == 'tabs' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
            <ul class="tabs">
              <li><a href="#tab-1">{{ settings.description_label_one }}</a></li>
              <li><a href="#tab-2">{{ settings.description_label_two }}</a></li>
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
              <li><a href="#tab-3">{{ settings.description_label_three }}</a></li>
              {% endif %}
              {% if settings.description_modules == '4' %}
              <li><a href="#tab-4">{{ settings.description_label_four }}</a></li>
              {% endif %}
              {% if settings.size_guide_module %}
              <li><a href="#tab-5">{{ settings.size_guide_label }}</a></li>
              {% endif %}              
            </ul>
            <div id="tab-1">
              {% if product.description contains '<!-- split -->' %}
              {{ description[0] }}
              {% else %}
              {{ product.description }}
              {% endif %}
            </div>
            <div id="tab-2">
              {% if product.description contains '<!-- split -->' %}
              {{ description[1] }}
              {% endif %}  			   
            </div>
            {% if settings.description_modules == '3' or settings.description_modules == '4' %}
            <div id="tab-3">
              {% if product.description contains '<!-- split -->' %}
              {{ description[2] }}
              {% endif %}  			   
            </div>   
            {% endif %}
            {% if settings.description_modules == '4' %}
            <div id="tab-4">
              {% if product.description contains '<!-- split -->' %}
              {{ description.last }}
              {% endif %}   				
            </div> 
            {% endif %}
            {% if settings.size_guide_module %}
            <div id="tab-5">
              <img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide"> 
            </div> 
            {% endif %}                       
          </div>  
          {% elsif settings.product_description_type == 'accordion' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
            <section class="ac-container">
              <div>
                <input id="ac-1" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-1">{{ settings.description_label_one }}</label>
                <article class="ac-large">
                  <p> {% if product.description contains '<!-- split -->' %}
                    {{ description[0] }}
                    {% else %}
                    {{ product.description }}
                    {% endif %}
                  </p>
                </article>
              </div>
              <div>
                <input id="ac-2" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-2">{{ settings.description_label_two }}</label>
                <article class="ac-large">
                  <p>
                    {% if product.description contains '<!-- split -->' %}
                    {{ description[1] }}
                    {% endif %} 
                  </p>
                </article>
              </div> 
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
              <div>
                <input id="ac-3" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-3">{{ settings.description_label_three }}</label>
                <article class="ac-large">
                  <p>
                    {% if product.description contains '<!-- split -->' %}
                    {{ description[2] }}
                    {% endif %}                   
                  </p>
                </article>
              </div> 
              {% endif %}
              {% if settings.description_modules == '4' %}
              <div>
                <input id="ac-4" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-4">{{ settings.description_label_four }}</label>
                <article class="ac-large">
                  <p>
                    {% if product.description contains '<!-- split -->' %}
                    {{ description.last }}
                    {% endif %}                     
                  </p>
                </article>
              </div> 
              {% endif %}
              {% if settings.size_guide_module %}
              <div>
                <input id="ac-5" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-5">{{ settings.size_guide_label }}</label>
                <article class="ac-large">
                  <p>
                    <img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide">                   
                  </p>
                </article>
              </div> 
              {% endif %}                  
            </section>
          </div>            
          {% else %}
          <div class="product-description rte{% if settings.product_center_description %} text-center{% endif %}" itemprop="description">
            {% if settings.description_label.size > 0 %}<h4>{{ settings.description_label }}</h4>{% endif %}
            {{ product.description }}
          </div>
          {% endif %}
          {% endif %}

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="purchase-section">
            {% if settings.product_swatches_enable %}
            <style>
              .selector-wrapper{
                display: none; 
              }

              #productSelect{
                display: none; 
              }
            </style>
            {% for option in product.options %}
            {% include 'swatchgifts' with option %}
            {% endfor %}         
            {% endif %}
            
            <style>
              .gift-card-link {
               	height: 40px;
                padding: 15px 10px;
              }
              
              .gift-card-link.selected-card {
                background-color: #FAF8F0;
                border-right: 1px solid #000;
                border-left: 1px solid #000;
              }
            </style>

            <div class="swatch swatch-4 clearfix {{ swatch | handleize }}" data-option-index="">
              <div class="header">{{ swatch }}</div>
              <div data-value="" class="swatch-element available">
                <a href="{{ physicalGiftCard.url }}" class="gift-card-link {% if product.id == physicalGiftCard.id%}selected-card{% endif %}">Physical</a>
                <a href="{{ DigitalGiftCard.url }}" class="gift-card-link {% if product.id == DigitalGiftCard.id %}selected-card{% endif %}">Digital</a>

              </div>
            </div>


            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}
              {% endfor %}
              {% for variant in DigitalGiftCard.variants %}
                {% if variant.available %}
                <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}
              {% endfor %}
              {% for variant in physicalGiftCard.variants %}
                {% if variant.available %}
                <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}                
              {% endfor %}
            </select>


            {% unless settings.product_swatches_enable %}

            {% if settings.size_guide_enable %}

            <a href="{{ 'size_guide_image.jpg' | asset_url }}" class="size-chart-link html5lightbox">{{ settings.size_guide_link_text }}</a>


            {% endif %}{% endunless %}

            {% comment %} Below is the block for the Swatches on the Product Page that link to the same product in various prints/colors. {% endcomment %}
            {% if settings.other_colored_products_enable %}      
            {% if product.title contains '--' %}
            {% include 'product-linked-swatches' %}
            {% endif %}        
            {% endif %}             

            <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
              <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
              {% if settings.product_quantity_selector == 'counter' %}
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              {% elsif settings.product_quantity_selector == 'dropdown' %}
              <select id="Quantity" name="quantity" class="quantity-drop">
                {% for i in (1..10) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>    
              {% endif %}
            </div> 




            {% assign productTagsxxx = product.tags | join:',' %}
            {% if productTagsxxx contains 'limited edition' %}  
            <span id="" style="margin-bottom:0px;display:block;">
              limited edition
            </span>
            {% endif %}

            <span id="lowStock" style="display: none;">Less than 5 left!</span><br>








            {% if how_many_in_stock <= 0 %}
            {% unless product.available %}
            THIS PRODUCT IS NOT AVAILABLE
            {% endunless %}

            {% endif %}
            {% if product.compare_at_price_max > product.price %}
            <label for="Finalsale" style="display: none;">This item is: </label>
            <input type="text" id="Finalsale" name="properties[This item is]"  style="display:none;" value="FINAL SALE">
            {% endif %}
            {% if product.metafields.c_f.release_date %}
            <div class="btn disabled">
              <span id="">IN-STOCK {{ product.metafields.c_f.release_date }}</span>
            </div>
            {% else %}
            <button type="submit" style="margin-bottom: 5px;" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            {% endif %}







            {% for tag in product.tags %}{% assign lowercase = tag | downcase %}
            {% if lowercase contains 'ship:' %}
            {% assign date = lowercase | split: ':' | last %}
            {% endif %}
            {% endfor %}
            <p id="ship-date" style="display: none">Expected Ship Date {{ date }}.</p>
            <p class="limit-reached" style="display: none;"> Pre-Orders for this item have been closed. Sign up to be notified when this product drops! </p>

            {% include 'add-to-wishlist' %}


          </form>
          {% if settings.description_location == 'below' %}
          {% if settings.product_description_type == 'tabs' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
            <ul class="tabs">
              <li><a href="#tab-1">{{ settings.description_label_one }}</a></li>
              <li><a href="#tab-2">{{ settings.description_label_two }}</a></li>
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
              <li><a href="#tab-3">{{ settings.description_label_three }}</a></li>
              {% endif %}
              {% if settings.description_modules == '4' %}
              <li><a href="#tab-4">{{ settings.description_label_four }}</a></li>
              {% endif %}
              {% if settings.size_guide_module %}
              <li><a href="#tab-5">{{ settings.size_guide_label }}</a></li>
              {% endif %}              
            </ul>
            <div id="tab-1">
              {% if product.description contains '<!-- split -->' %}
              {{ description[0] }}
              {% else %}
              {{ product.description }}
              {% endif %}
            </div>
            <div id="tab-2">
              {% if product.description contains '<!-- split -->' %}
              {{ description[1] }}
              {% endif %}  			   
            </div>
            {% if settings.description_modules == '3' or settings.description_modules == '4' %}
            <div id="tab-3">
              {% if product.description contains '<!-- split -->' %}
              {{ description[2] }}
              {% endif %}  			   
            </div>   
            {% endif %}
            {% if settings.description_modules == '4' %}
            <div id="tab-4">
              {% if product.description contains '<!-- split -->' %}
              {{ description.last }}
              {% endif %}   				
            </div> 
            {% endif %}
            {% if settings.size_guide_module %}
            <div id="tab-5">
              <img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide"> 
            </div> 
            {% endif %}                       
          </div>  
          {% elsif settings.product_description_type == 'accordion' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
            <section class="ac-container">
              <div>
                <input id="ac-1" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-1">{{ settings.description_label_one }}</label>
                <article class="ac-large">
                  <p> {% if product.description contains '<!-- split -->' %}
                    {{ description[0] }}
                    {% else %}
                    {{ product.description }}
                    {% endif %}
                  </p>
                </article>
              </div>
              <div>
                <input id="ac-2" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-2">{{ settings.description_label_two }}</label>
                <article class="ac-large">
                  <p>
                    {% if product.description contains '<!-- split -->' %}
                    {{ description[1] }}
                    {% endif %} 
                  </p>
                </article>
              </div> 
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
              <div>
                <input id="ac-3" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-3">{{ settings.description_label_three }}</label>
                <article class="ac-large">
                  <p>
                    {% if product.description contains '<!-- split -->' %}
                    {{ description[2] }}
                    {% endif %}                   
                  </p>
                </article>
              </div> 
              {% endif %}
              {% if settings.description_modules == '4' %}
              <div>
                <input id="ac-4" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-4">{{ settings.description_label_four }}</label>
                <article class="ac-large">
                  <p>
                    {% if product.description contains '<!-- split -->' %}
                    {{ description.last }}
                    {% endif %}                     
                  </p>
                </article>
              </div> 
              {% endif %}
              {% if settings.size_guide_module %}
              <div>
                <input id="ac-5" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
                <label for="ac-5">{{ settings.size_guide_label }}</label>
                <article class="ac-large">
                  <p>
                    <img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide">                   
                  </p>
                </article>
              </div> 
              {% endif %}                  
            </section>
          </div>            
          {% else %}
          <div class="product-description rte{% if settings.product_center_description %} text-center{% endif %}" itemprop="description">
            {% if settings.description_label.size > 0 %}<h4>{{ settings.description_label }}</h4>{% endif %}
            {{ product.description }}
          </div>
          {% endif %}
          {% endif %}

          {% if settings.social_sharing_products %}
          <hr class="hr--clear hr--small">
          <h4>{{ 'products.general.share_title' | t }}</h4>
          
          {% include 'social-sharing' %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  <div id="pdp-pixlee-container" class="ugc-mobile pixle-greater-container" style="margin-top: 70px; width:100%;    padding: 0 9px;">

    <div class="pixlee-header hide" style="
                                           width: calc(100% - 100px);margin:0 auto 25px auto;">


      OUR COMMUNITY IN THE {{product.title | split: '--' | first }} <strong>#doencollective</strong>

    </div>

    <div id="pixlee_container"></div>
    <script type="text/javascript">
      function pixleeLoaded(event){
        if(event.data){
          try{
            var message = JSON.parse(event.data);
          } catch( error ){
            return;
          }
        } else {
          return;
        }

        if(message.name == "pixlee:widget:num:photos"){
          let photoCount = message.data.photoCount;
          console.warn('Pixlee Count', photoCount);
          if(photoCount > 3){
            $('.pixlee-header').removeClass('hide');
          }
        }
      }
      window.addEventListener("message", pixleeLoaded, false);
    </script>



    <div id="pix2"></div>
  </div>

</div>

{% assign DigitalImage = '' %}
{% assign PhysicalImage = '' %}

{% for image in product.images  %}

	{% if image.alt contains 'physical' %}
		{% assign PhysicalImage = forloop.index %}
	{% endif %}

	{% if image.alt contains 'digital' %}
		{% assign DigitalImage = forloop.index %}
	{% endif %}

	
{% endfor %}

<script type="text" id="digital-card-json">{{ DigitalGiftCard | json }}</script>
<script type="text" id="physical-card-json">{{ physicalGiftCard | json }}</script>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  const digitalGiftCard = JSON.parse(document.getElementById('digital-card-json').innerHTML);
  const physicalGiftCard = JSON.parse(document.getElementById('physical-card-json').innerHTML);

  console.warn('Digitl Gift Card', digitalGiftCard);

  var selectCallback = function(variant, selector) {
    console.log('test');
    
    
    // BEGIN SWATCHES
    if (variant) {
      console.log('Select Callback', variant, digitalGiftCard, /rise ai gift card/i.test(variant.name));
      
      {% if PhysicalImage != blank %}
      if(variant.option2 == "Physical"){
        console.log('Physical Gift Card',physicalGiftCard);
        const matchingDigitalVariant = physicalGiftCard.variants.find((digitlVariant) => digitlVariant.option1 === variant.option1);
        const selectOption = document.getElementById('productSelect');

        selectOption.value = matchingDigitalVariant.id; 
        $(".flex-control-nav a:contains({{PhysicalImage}})").trigger('click');
        $("#physical-desc").show(0);
        $("#digital-desc").hide(0);
        $("#physical").show(0);
        $("#digital").hide(0);
        $("#physical-mobile").show(0);
        $("#digital-mobile").hide(0);
	  }
      {% endif %}
      
      {% if DigitalImage != blank %}
      if(variant.option2 == 'Digital') {
        const matchingDigitalVariant = digitalGiftCard.variants.find((digitlVariant) => digitlVariant.option1 === variant.option1);
        const selectOption = document.getElementById('productSelect');

        selectOption.value = matchingDigitalVariant.id;
        console.warn('Matching Digital Variant', matchingDigitalVariant);
        $(".flex-control-nav a:contains({{DigitalImage}})").trigger('click');  
        $("#physical-desc").hide(0);
        $("#digital-desc").show(0);
        $("#physical").hide(0);
        $("#digital").show(0);
        $("#physical-mobile").hide(0);
        $("#digital-mobile").show(0);
      }
      {% endif %}


      
      {% comment %}
      // Enable button when both Options selected
      if(jQuery('input[name=option-0]').is(':checked') && jQuery('input[name=option-1]').not(':checked')){
        $('#AddToCartForm #AddToCartText').text('Select Type');
      }
      
      if(jQuery('input[name=option-1]').is(':checked') && jQuery('input[name=option-0]').not(':checked')){
        $('#AddToCartForm #AddToCartText').text('Select Amount');
      }
      
      if(jQuery('input[name=option-0]').is(':checked') && jQuery('input[name=option-1]').is(':checked')){
        $('#AddToCartForm #AddToCartText').text('Add to Bag');
        $('#AddToCartForm #AddToCartText').parent().prop('disabled', false);    

      }    
      {% endcomment %}

      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          //radioButton.get(0).checked = true;
        }
      }

      const inventoryCheck = function(){
        if(variant.inventory_quantity < 5 && variant.inventory_quantity >= 0 && variant.available){
          let $warning = $('span#lowStock');
          // $warning.show();
        }else{
          let $warning = $('span#lowStock');
          $warning.hide();     
        }
      };

      if(window.Shopify.Doen.preorders.indexOf(variant.option1) === -1 ){
        console.warn('Invneotry Check');
        inventoryCheck();
      }
    }
    // END SWATCHES  
    if (variant) {
      $('.variant-sku').text(variant.sku);
    }
    else {
      $('.variant-sku').empty();
    }

    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });

  };

  new Shopify.OptionSelectors('productSelect', {
    product: {{ product | json }},
    onVariantSelected: selectCallback,
    enableHistoryState: true
  });

  jQuery(function($) {

    {% comment %}

    /*    
	new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    */
    {% endcomment %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                         {% endif %}

                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    {% endif %}
  });

  {% if settings.sticky_header_enable %}  
  $(window).load(function() {
    $(".stickem").stick_in_parent({offset_top:{{ settings.sticky_header_height }}});
                                  });
    {% else %}
    $(window).load(function() {
      $(".stickem").stick_in_parent({offset_top:20});
    });  
    {% endif %}

    $(document).ready(function() {
      $('ul.tabs').each(function(){
        var active, content, links = $(this).find('a');
        active = links.first().addClass('active');
        content = $(active.attr('href'));
        links.not(':first').each(function () {
          $($(this).attr('href')).hide();
        });
        $(this).find('a').click(function(e){
          active.removeClass('active');
          content.hide();
          active = $(this);
          content = $($(this).attr('href'));
          active.addClass('active');
          content.show();
          return false;
        });
      });
    });
</script>
{% if product.variants.size > 1 %}
<script>
  (function($) {
    var variantImages = {},
        thumbnails,
        variant,
        variantImage,
        variantImage_count = 0;
    //produce mapping between variant image and options
    {% for variant in product.variants %}
    variant = {{ variant | json }};
    if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
      variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
      variantImages[variantImage] = variantImages[variantImage] || {};
      {% for option in product.options %}
      {% assign option_value = variant.options[forloop.index0] %}
      {% assign option_key = 'option-' | append: forloop.index0 %}
      if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
        variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
      }
      else {
        var oldValue = variantImages[variantImage][{{ option_key | json }}];
        if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
            variantImages[variantImage][{{ option_key | json }}] = null;
            }
            }
            {% endfor %}
            variantImage_count++;
            }
            {% endfor %}

            $(function() {

          if (variantImage_count > 0) {
            $('select.single-option-selector').change(function() {
              var selected_color = $(this).val();
              thumbnails = $('.flex-control-thumbs img').each(function(index, el) {
                var image = $(el).attr('src').split('?')[0].replace(/(_thumb\.)|(_small\.)|(_compact\.)|(_medium\.)|(_large\.)|(_grande\.)/,'.');
                if (typeof variantImages[image] !== 'undefined') {
                  if(selected_color == variantImages[image]['option-0'] || selected_color == variantImages[image]['option-1'] || selected_color == variantImages[image]['option-2']) {
                    $('.flexslider').flexslider(index);
                  }
                }
              });
            });
          }

        });
      })(jQuery);
</script>
{% endif %}
{% if settings.product_image_zoom_type == 'zoom-in' %}
{{ 'jquery.elevatezoom.js' | asset_url | script_tag }}  
<script> 

  $(document).ready(function(){
    $('.flexslider').flexslider({
      animation: "fade",
      video: true, 
      start: function(){
        console.log('flexslider starting');
              $('.flexslider').addClass('active-slider');
      },// Fires when the slider loads the first slide
      before: function(){
        var activeSlide = $('.slide.flex-active-slide');
        console.log('before function' + activeSlide.index() );
        if( activeSlide.is(':last-child' )){
          console.log('last child is active');
          var video = activeSlide.find('video');
          ( (video.length > 0 ) ? video.get(0).pause() : null);
        }
      },// Fires asynchronously with each slider animation
      after: function(){
        var activeSlide = $('.slide.flex-active-slide');

        console.log('after function' + activeSlide.index() );
        let $video = activeSlide.find('video');

        if($video.length > 0){
          $video.get(0).play();
        }

        // if( activeSlide.is(':last-child' )){
        //  	console.log(activeSlide);
        //  	console.log('last child is active');
        //  	var video = activeSlide.find('video');
        //  ( (video.length > 0 ) ? video.get(0).play() : null);
        // }
      },// Fires after each slider animation completes
      slideshow: false 
    });
  });

  $(window).load(function(){
    $('.zoom').elevateZoom({
      cursor: "crosshair",
      easing : true,
      // scrollZoom : true,
      zoomWindowFadeIn: 5,
      zoomWindowFadeOut: 10
    }); 
  }); 
</script>
{% endif %}
<div class="modal-box bis" id="bis-pop" style="position:fixed; top: 145px;">  
  <header class="header">
    <a href="#" class="js-modal-close close">×</a>
    <h5>Notify me when this product is available</h5>
  </header>
  <div class="modal-body">
    <div class="side-left">
      <img src="{{ product.images[0] | product_img_url: 'large' }}" />
      <h5>{{ product.title }}</h5>
    </div>
    <div class="side-right">
      <label>Email</label>
      <input type="email" id="notify_email" style="margin-right: 15px;">	





      <p style="font-size:7px; display: flex; align-items: center;"><input type="checkbox" id="accepts_marketing" value="true" checked> We'll email you when this product is available. <br> By checking this box you agree to accept email marketing.</p>


      <select id="notify_select" name="variants">
        {% for variant in product.variants %}
        {% unless variant.inventory_quantity > 0%}
        <option value="{{ variant.id }}" >{{ variant.title }}</option>
        {% endunless %}
        {% endfor %}
      </select>
      <button id="notify_button">SUBMIT</button>
    </div>
    <div class="cf"></div>
  </div>
</div>



<script>
  $(function(){

    var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

    $('a[data-modal-id]').click(function(e) {
      e.preventDefault();
      $("body").append(appendthis);
      $(".modal-overlay").fadeTo(500, 0.7);
      //$(".js-modalbox").fadeIn(500);
      var modalBox = $(this).attr('data-modal-id');
      $('#'+modalBox).fadeIn($(this).data());
      $('.mini_cart').hide();
    });


    $(".js-modal-close, .modal-overlay").click(function() {
      $(".modal-box, .modal-overlay").fadeOut(500, function() {
        $(".modal-overlay").remove();
      });
    });

    $('.js-open-modal').click(function(){

      $(".modal-box").css({
        top: '145px',
        left: ($(window).width() - $(".modal-box").outerWidth()) / 2
      });
      return false;
    });  


    $(window).resize(function() {
      // go modal box
      $(".modal-box").css({
        top: '145px',
        left: ($(window).width() - $(".modal-box").outerWidth()) / 2
      });
    });

    $(window).resize();

  }); 
  $( ".swatch.size input" ).on( "click", function() { 
    var varx = $( this ).data("variant");
    
    $("select[name=variants] option").removeAttr("selected");
    $("select[name=variants] option[value=" + varx + "]").attr('selected', 'selected');
  });
</script>

<script text="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);

  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>


<script>
  $(document).on('ready', function(){
    var variantCount = {{ product.variants.size }};
    if(variantCount == 1){
      var $input = $('.swatch-element input.swatch-inputs');
      $input.prop('checked', true).trigger('change');
    }
  });
  console.log('variant count', {{ product.variants.size }});
</script>




{{ 'pinch-zoom.js' | asset_url | script_tag }}
<script>
  document.addEventListener('DOMContentLoaded', function(){
    if( window.mobileAndTabletcheck() ){
      var $slides = document.getElementsByClassName('zoom');
      for(var _s = 0; _s < $slides.length; _s++){
        let $slide = $slides[_s];
        let zoomOptions = {};
        let pz = new PinchZoom($slide, { draggableUnzoomed: false });
        pz.enable();
      }
      console.log('Dom Content Loaded', $slides);
    }
  });
</script> 

<script type="text/javascript">
  window.PixleeAsyncInit = function() {
    Pixlee.init({apiKey:'sFQhdv9r5i3YtEhYw5tx'});

    Pixlee.addProductWidget(
      {accountId:1396,
       widgetId:1274442,
       ecomm_platform: "shopify",
       containerId:"pix1"
      });

    Pixlee.addProductWidget(
      {accountId:1396,
       widgetId:1274442,
       ecomm_platform: "shopify",
       containerId:"pix2"
      });
  };
</script>
<script src="//assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script> 