
{% capture product_data %}
{% for tag in product.tags %}{% assign down = tag | downcase %}{% unless down contains 'ship:'%}{% if down contains 'preorder' %}{% assign striped = down | replace: ' /', '/' | replace: ' / ', '/'%}{% assign striped = striped | remove: 'preorder' | remove: 'size:' | remove: 'limit:' | strip %}{% assign striped = striped | replace: ' ', '-' | replace: '/', ' /' %}{% assign striped = striped | append: ',' %}{{ striped }}{% endif %}{% endunless %}{% endfor %}
{% endcapture %}
{% assign datas = product_data | remove: ', ' %}
{% assign datas = datas | split: ',' %}


{% assign variantCount = product.variants | size %}

{% assign tagExlusions = settings.store_autohide_tags | split: ',' %}
{% comment %} Auto Hide Block {% endcomment %}
{% assign skipper = false %}
{% assign productTags = product | map: 'tags' | join: ',' %}

{% for exclusion in tagExlusions %}
  {% if productTags contains exclusion %}{% assign skipper = true %}{% endif %}      
{% endfor %}

{% if product.tags contains 'always-show' %}
  {% assign skipThisProduct = false %}
  {% assign skipper = false %}
{% endif %}

{% comment %} End of Auto Hide Block {% endcomment %}
	{% assign templateSkipper = skipper %}
	{% assign templateSkipThis = skipThisProduct %}

{% assign allTags = product.tags | join: ',' | downcase %}
{% if allTags contains 'preorder' %}
	{% assign templateSkipper = false %}
	{% assign templateSkipThis = false %}
	{% assign skipThisProduct = false %}
{% endif %}

{% unless skipper or skipThisProduct %}

<script text="text" id="product-source">{{ product | json }}</script>
<script>
  window.Shopify = window.Shopify || {};
  window.Shopify.Doen = window.Shopify.Doen || {};
  window.Shopify.Doen.preorders = window.Shopify.Doen.preorders || [];
  
  $(document).on("ready",function(){
    $('.swatch-inputs:checked').trigger("change");
    {% if variantCount > 1 %}
    $('#AddToCartForm #AddToCartText').text('Select Size');
    $('#AddToCartForm #AddToCartText').parent().prop('disabled', true);    
    {% endif %}


    {% if product.handle == 'gift-card' %}
    $('.swatch-inputs').on("click", function(){
      $('#AddToCartForm #AddToCartText').text('Add To Bag');
      $('#AddToCartForm #AddToCartText').parent().prop('disabled', false);
    });
    {% endif %}
  });

  $(document).on("click", "input#Quantity", function(){
    $(".swatch-inputs:checked").trigger("change");
  });
  
  $(document).on("keyup", "input#Quantity", function(){
    $(".swatch-inputs:checked").trigger("change");
  });
  
  function preorderAssign(val, qty, b){
    var $element = $(".swatch-inputs[value='" + val + "']");
    var data =	[];
    var input = $("<input>", { id: 'preorder', name: 'properties[This item is on]', type: 'hidden', value: "PRE ORDER" });
    input.hide();
    
    {%- for data in datas -%}console.log('this is data', {{ data | json }} );{% assign splitthis = '-' %}{%- assign individuals = data | split: splitthis -%}{% assign size = individuals[0] | strip | replace: ' /', '/' %}
    
                                         {% if data contains 'one-size' %}
                                         data[{{forloop.index | minus: 1 }}] = [{{ individuals[0] | append: ' ' | append: individuals[1] | upcase | strip | json }},"{{ individuals[2] | replace: ' /', '/' | upcase }}"]{% unless forloop.last %},{% endunless %}
                                         {% else %}
                                         data[{{forloop.index | minus: 1 }}] = ["{{ size | upcase }}","{{ individuals[1] | replace: ' /', '/' | upcase }}"]{% unless forloop.last %},{% endunless %}
                                         {% endif %}
                                         
{%- endfor -%}
	
                                           console.warn('CHECK DATA HERE', data, val);
                                           
    if (b){
      $element.addClass('true');
	  
      for (var i = 0; i < data.length; i++){
          const dataCheck = (data[i][0] == 'ONE' && data[i][1] == 'SIZE') ? 'ONE SIZE' : data[i][0];
                         console.log(val + ' ' + dataCheck + 'attemping to match these');
           if( val == dataCheck ){
             window.Shopify.Doen.preorders.push(val);
             console.log('Matched' + val + ' with: ' + data[i][0] + ' Its current inventory level is : ' + qty + ' and its limit is: ' + (data[i][1] * -1) );                          
             console.log(data);
             var limitAmount = data[i][1] * -1;
             $element.on("change", function(){
               $(this).prop('checked',true );
               var userQty = $('#Quantity').val();
               var inStock = $(this).attr('data-inventory');
               

               
               if(qty <= limitAmount ){
                 
                 
                 $('#ship-date, #preorder-ship').fadeIn(100);
               $('#AddToCartForm #AddToCartText').text('Sold out');
               $('#AddToCartForm #AddToCartText').parent().removeClass('disabled').prop('disabled', true);
                $('.limit-reached').fadeIn(50);
                 $('.js-open-modal.actionlinks.see-your-size').fadeIn();
                 $('input#pre-order').fadeOut();
                 console.log('we were acccepting preorders but we have hit our limit', qty, limitAmount);
               }else{
                 
                 console.log(inStock + ' in stock' + ' user ' + userQty);
                 if( inStock > 0 && userQty <= inStock ){
                   
                   $('#AddToCartForm #AddToCartText').text('Add To Bag');
                   $('#preorder').fadeOut();
                   $('#ship-date, #preorder-ship').fadeOut(50);
                   $('#AddToCartForm #AddToCartText').parent().removeClass('disabled').prop('disabled', false);
                   if($('input#preorder').length > 0){
                     $('input#preorder').remove();
                   }else{
                     
                   }
                   console.log('if state');
                 }else{
                   $('#AddToCartForm #AddToCartText').text('Pre Order');
                   $('#ship-date').fadeIn(50);
                   const product = JSON.parse(document.getElementById('product-source').innerHTML);
                   const shipDateTag = product.tags.find((tag) => tag.toLowerCase().indexOf('preorder ship:') !== -1);
                   const shipDate = shipDateTag ? shipDateTag.split(':')[1] : ''; 
                   
                  $('#AddToCartForm #AddToCartText').parent().removeClass('disabled').prop('disabled', false);
                 	$('#preorder').fadeIn();
                   if($('input#preorder').length > 0) {
                     
                   }else{
                     input.appendTo('#AddToCartForm');
                   }
                   console.log('else state');
                 	$('#ship-date, #preorder-ship').show();
                 }
                 
                 $('.limit-reached').fadeOut();
                 
                 let $warning = $('span#lowStock');
                 if((limitAmount - qty) >= -5) {
                   $warning.show();
                 } else {
                   $warning.hide();
                 }
                 console.log('we are accepting preorders still because we have not hit our limit', qty ,limitAmount,limitAmount - qty); 
               }
             }); 
           }		
      }
    }else {
      $element.on("change", function(){ 
        console.log('whats changing', $element);
        
        var th = $(this);
        
        if(th.parent().hasClass('available') ){
          console.log('available');
          $('#ship-date, #preorder-ship').hide();
          $('#AddToCartForm #AddToCartText').parent().prop('disabled', false);
          $('#AddToCartForm #AddToCartText').parent().removeClass('disabled');
          $('#AddToCartForm #AddToCartText').text('Add To Bag');
          
                   if($('input#preorder').length > 0){
                     $('input#preorder').remove();
                   }else{
                     
                   }
        }
                 $('.limit-reached').fadeOut(100, function(){
                 	// $('#pre-order').fadeIn(50);
                   	// $('#ship-date').fadeIn(50);
                 });
      });
    }
  }
</script>   

<div data-skipper="{{ skipThisProduct }}" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
{% if settings.enable_breadcrumbs %}
  <div class="section-header section-header--breadcrumb medium-down--hide">
    {% include 'breadcrumb' %}
  </div>
{% endif %}
  
  <div class="product-single{% if settings.product_center_description %} text-center{% endif %}">
    <div class="grid product-single__hero stickem-container">
      <div class="grid__item post-large--{{ settings.image_side_large_size }}">
      {% if settings.product_images == 'allimages_sticky' %} 
        <div class="medium-down--hide">
              {% for image in product.images %}
        		{% if settings.product_image_zoom_type == 'zoom-in' %}<div class="product-single__photos" id="ProductPhoto">{% endif %}
                    <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" {% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '2048x2048' }}"{% endif %}>
        		{% if settings.product_image_zoom_type == 'zoom-in' %}</div>{% endif %}
              {% endfor %}  
        </div>
      {% elsif settings.product_images == 'product_slider' %} 
        <div class="medium-down--hide">
          <div class="flex-container">
            <div class="flexslider">
    			<div class="slides" style="display: flex;">
                  {% for image in product.images %}
                  	{% if image.alt contains 'https' %}
                      <li class="slide" style="overflow: hidden;" data-thumb="{{ image | img_url: 'small' }}">                   
                         <video style="position: absolute; width: 100%; height: 100%; object-fit: cover;" loop="true" width="800" height="auto" name="Video Name" src="{{ image.alt }}" preload="auto" playsinline muted></video>
                  	  </li>                   
                  	{% else %}
                      <li class="slide" data-thumb="{{ image | img_url: 'small' }}">                   
                        <img src="{{ image | img_url: '1024x1024' }}" data-zoom-image="{{ image | img_url: '2048x2048' }}" {% if forloop.first == true %}alt="{{ image.alt | escape }}"{% endif %} class="zoom" />
                      </li>
                  	{% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
          
          
    <div class="pixle-greater-container" style="display: block;    margin-top: 70px; width:100%;    padding: 0 9px;">
     
     <div  class="pixlee-header hide" style="width: calc(100% - 100px);margin:0 auto 25px auto;">


   OUR COMMUNITY IN THE {{product.title | split: '--' | first }} <strong>#doencollective</strong>

   </div>

  <div id="pix1"></div>
   
    
    </div>
          
          
          
        </div>        
      {% else %}  
        <div class="medium-down--hide">
        {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}                
          <div class="product-single__photos" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>

          {% if product.images.size > 1 %}
            <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
              {% for image in product.images %}
                <li class="grid__item wide--one-quarter large--one-third medium-down--one-third">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endfor %}
            </ul>

          {% endif %}

        {% else %}

          <div class="grid">
            <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            </div>

            <div class="grid__item one-fifth">

              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {% for image in product.images %}
                  <li class="grid__item">
                    <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                      <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          </div>         
        {% endif %}
		</div>
        {% if settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
          {% endfor %}
        </ul>
        {% endif %} 
	{% endif %}
        <div class="post-large--hide">
            <div class="flexslider">
            
    			<ul class="slides" style="display: flex;" style="position:relative">
                  {% for image in product.images%}
                  	{% if image.alt contains 'https' %}
                      <li class="slide" style="overflow: hidden;" data-thumb="{{ image | img_url: 'small' }}">                   
                         <video style="position: absolute; width: 100%; height: 100%; object-fit: cover;" loop="true" width="800" height="auto" name="Video Name" src="{{ image.alt }}" preload="auto" controls="true" autoplay playsinline muted></video>
                  	  </li>                   
                  	{% else %}
                      <li class="slide" data-thumb="{{ image | img_url: 'small' }}">                   
                        <img src="{{ image | img_url: '1024x1024' }}" data-zoom-image="{{ image | img_url: '2048x2048' }}" {% if forloop.first == true %}alt="{{ image.alt | escape }}"{% endif %} class="" />
                      </li>
                  	{% endif %}
                  {% endfor %}
              </ul>
            </div>             
        </div>
      </div>
      <div class="grid__item right-side post-large--{{ settings.description_side_large_size }}{% if settings.product_images == 'allimages_sticky' %} stickem{% endif %}">
        {% if settings.product_vendor_enable %}
          <h3>{{ product.vendor }}</h3>
        {% endif %}
        <h1 itemprop="name" style="margin-bottom: 0;">{{ product.title | split: '--' | first }}</h1>
        <div class="type" style="margin: 0 0 20px;display:none;">{{ product.type | link_to_type }}</div>

           {% assign productTagsxxx = product.tags | join:',' %}

  {% if productTagsxxx contains 'limited edition' %}
        <div class="type" style="margin: 0 0 20px;display:block;">LIMITED EDITION</div>
        {% endif %}


        {% comment %}
        {% if product.title contains '--' %}
        <h5>{{ product.title | split: '--' | last }}</h5>
        {% endif %}
        {% endcomment %}
        {% if settings.product_variant_enable %}
        <span class="variant">
              {{ product.variants.first.option1 }}
        </span>
        {% endif %}
        {% if settings.product_sku_enable %}
        <span class="variant-sku"></span>
        {% endif %}
        <div class="product-form-wrapper" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">          

          <div class="product-single__prices {% if product.compare_at_price > product.price %}comparing-prices{% endif %}">
            <span id="ProductPrice" class="product-single__price" itemprop="price">
              {{ product.price | money | remove: '.00' }}
            </span>


            {% if product.compare_at_price > product.price %}
              <span class="product-single__sale-price">
                {{ product.compare_at_price_max | money | remove: '.00' }}
              </s>
            {% endif %}
          </div>
          
 		 {% if settings.description_location == 'above' %}
          {% if settings.product_description_type == 'tabs' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
  			<ul class="tabs">
    			<li><a href="#tab-1">{{ settings.description_label_one }}</a></li>
    			<li><a href="#tab-2">{{ settings.description_label_two }}</a></li>
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    			<li><a href="#tab-3">{{ settings.description_label_three }}</a></li>
              {% endif %}
              {% if settings.description_modules == '4' %}
                <li><a href="#tab-4">{{ settings.description_label_four }}</a></li>
              {% endif %}
              {% if settings.size_guide_module %}
                <li><a href="#tab-5">{{ settings.size_guide_label }}</a></li>
              {% endif %}              
  			</ul>
  		  	<div id="tab-1">
			{% if product.description contains '<!-- split -->' %}
			{{ description[0] }}
          		{% else %}
			{{ product.description }}
			{% endif %}
  		  	</div>
  		  	<div id="tab-2">
				{% if product.description contains '<!-- split -->' %}
					{{ description[1] }}
                {% endif %}  			   
  		  	</div>
            {% if settings.description_modules == '3' or settings.description_modules == '4' %}
  		  	<div id="tab-3">
				{% if product.description contains '<!-- split -->' %}
					{{ description[2] }}
                {% endif %}  			   
  		  	</div>   
            {% endif %}
            {% if settings.description_modules == '4' %}
  		  	<div id="tab-4">
				{% if product.description contains '<!-- split -->' %}
					{{ description.last }}
                {% endif %}   				
  		  	</div> 
            {% endif %}
            {% if settings.size_guide_module %}
  		  	<div id="tab-5">
  				<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide"> 
  		  	</div> 
            {% endif %}                       
		  </div>  
          {% elsif settings.product_description_type == 'accordion' %}
      		<div class="product-description">
              {% assign description = product.description | split: '<!-- split -->' %}
        		<section class="ac-container">
    		<div>
        		<input id="ac-1" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
          		<label for="ac-1">{{ settings.description_label_one }}</label>
        		<article class="ac-large">
            		<p> {% if product.description contains '<!-- split -->' %}
							{{ description[0] }}
          				{% else %}
							{{ product.description }}
						{% endif %}
              		</p>
        		</article>
    		</div>
    		<div>
        		<input id="ac-2" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
              	<label for="ac-2">{{ settings.description_label_two }}</label>
        		<article class="ac-large">
              		<p>
                      {% if product.description contains '<!-- split -->' %}
						{{ description[1] }}
                	  {% endif %} 
              		</p>
        	</article>
    		</div> 
                  {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    		<div>
        		<input id="ac-3" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-3">{{ settings.description_label_three }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description[2] }}
                	{% endif %}                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.description_modules == '4' %}
    		<div>
        		<input id="ac-4" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-4">{{ settings.description_label_four }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description.last }}
                	{% endif %}                     
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.size_guide_module %}
    		<div>
        		<input id="ac-5" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-5">{{ settings.size_guide_label }}</label>
        		<article class="ac-large">
              	<p>
					<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide">                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}                  
		</section>
      </div>            
          {% else %}
          <div class="product-description rte{% if settings.product_center_description %} text-center{% endif %}" itemprop="description">
            {% if settings.description_label.size > 0 %}<h4>{{ settings.description_label }}</h4>{% endif %}
            {{ product.description }}
          </div>
			{% endif %}
         {% endif %}
          
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="purchase-section">
            {% if settings.product_swatches_enable %}
            <style>
              .selector-wrapper{
               	display: none; 
              }
              
              #productSelect{
               		display: none; 
              }
            </style>
            {% assign sizeSpot = blank %}
  					{% for option in product.options %}{% assign checkDown = option | downcase %}
              {% if checkDown == 'size' %}{% assign sizeSpot = forloop.index %}{% endif %}
    					{% include 'swatch' with option %}
  					{% endfor %}         
            {% endif %} 

            {% assign sizeSpot = 'option' | append: sizeSpot %}
            {% assign mapped = product.variants | map: sizeSpot | uniq %}

            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
        
            
            {% unless settings.product_swatches_enable %}
            
            {% if settings.size_guide_enable %}
            
            <a href="{{ 'size_guide_image.jpg' | asset_url }}" class="size-chart-link html5lightbox">{{ settings.size_guide_link_text }}</a>
            
            
            {% endif %}{% endunless %}

            {% comment %} Below is the block for the Swatches on the Product Page that link to the same product in various prints/colors. {% endcomment %}
            {% if settings.other_colored_products_enable %}      
              {% if product.title contains '--' %}
                {% include 'product-linked-swatches' %}
              {% endif %}        
            {% endif %}             

            <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
              <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
              {% if settings.product_quantity_selector == 'counter' %}
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              {% elsif settings.product_quantity_selector == 'dropdown' %}
              	 <select id="Quantity" name="quantity" class="quantity-drop">
						{% for i in (1..10) %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
				</select>    
              {% endif %}
            </div> 
            
            

            {% assign productTagsxxx = product.tags | join:',' %}
            {% if productTagsxxx contains 'limited edition' %}  
            <span id="" style="margin-bottom:0px;display:block;">limited edition</span>
            {% endif %}
            <span id="lowStock" style="display: none;">Less than 5 left!</span><br>
			{% if product.compare_at_price_max > product.price %}
            <span id="finalSaleMsg">This item is Final Sale!</span><br>
            {% endif %}

            {% if how_many_in_stock <= 0 %}
              {% unless product.available %}
                THIS PRODUCT IS NOT AVAILABLE
              {% endunless %}
            {% endif %}

            {% if product.compare_at_price_max > product.price %}
              <label for="Finalsale" style="display: none;">This item is: </label>
              <input type="text" id="Finalsale" name="properties[This item is]"  style="display:none;" value="FINAL SALE">
            {% endif %}
            {% if product.metafields.c_f.release_date %}
              <div class="btn disabled">
                <span id="">IN-STOCK {{ product.metafields.c_f.release_date }}</span>
              </div>
            {% else %}
              <button type="submit" name="add" id="AddToCart" class="btn">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            {% endif %}
            
            {% for tag in product.tags %}{% assign lowercase = tag | downcase %}
              {% if lowercase contains 'ship:' %}
                {% assign date = lowercase | split: ':' | last %}
              {% endif %}
              {% if lowercase contains 'expected delivery:' %}
                {% assign expectedDate = lowercase | split: ':' | last %}
              {% endif %}
            {% endfor %}

            <p id="ship-date" style="display: none">Expected Ship Date {{ date }}.</p>
            {% if expectedDate %}<p id="expected-ship-date">Expected Ship Date {{ expectedDate }}.</p>{% endif %}
            {% if date %} 
              {% capture casedDate %}{% assign date = date | split: ' ' %}{% for word in date %}{{word | capitalize }} {% endfor %}{% endcapture %}
              <input type="hidden" id="preorder-ship" name="properties[Expected Ship Date]" value="{{ casedDate }}"/>
            {% endif %}
            {% if expectedDate %}
              {% capture casedDate %}{% assign expectedDate = expectedDate | split: ' ' %}{% for word in expectedDate %}{{word | capitalize }} {% endfor %}{% endcapture %}
              <input type="hidden" id="expected-ship" name="properties[Expected Ship Date]" value="{{ casedDate }}"/>
            {% endif %}

            <p class="limit-reached" style="display: none;"> Pre-Orders for this item have been closed. Sign up to be notified when this product drops! </p>
            <a class="js-open-modal actionlinks see-your-size" href="#" data-modal-id="bis-pop">Back in Stock Alert</a>           
            {% include 'add-to-wishlist' %}          
          </form>
 		 {% if settings.description_location == 'below' %}
          {% if settings.product_description_type == 'tabs' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
  			<ul class="tabs">
    			<li><a href="#tab-1">{{ settings.description_label_one }}</a></li>
    			<li><a href="#tab-2">{{ settings.description_label_two }}</a></li>
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    			<li><a href="#tab-3">{{ settings.description_label_three }}</a></li>
              {% endif %}
              {% if settings.description_modules == '4' %}
                <li><a href="#tab-4">{{ settings.description_label_four }}</a></li>
              {% endif %}
              {% if settings.size_guide_module %}
                <li><a href="#tab-5">{{ settings.size_guide_label }}</a></li>
              {% endif %}              
  			</ul>
  		  	<div id="tab-1">
			{% if product.description contains '<!-- split -->' %}
			{{ description[0] }}
          		{% else %}
			{{ product.description }}
			{% endif %}
  		  	</div>
  		  	<div id="tab-2">
				{% if product.description contains '<!-- split -->' %}
					{{ description[1] }}
                {% endif %}  			   
  		  	</div>
            {% if settings.description_modules == '3' or settings.description_modules == '4' %}
  		  	<div id="tab-3">
				{% if product.description contains '<!-- split -->' %}
					{{ description[2] }}
                {% endif %}  			   
  		  	</div>   
            {% endif %}
            {% if settings.description_modules == '4' %}
  		  	<div id="tab-4">
				{% if product.description contains '<!-- split -->' %}
					{{ description.last }}
                {% endif %}   				
  		  	</div> 
            {% endif %}
            {% if settings.size_guide_module %}
  		  	<div id="tab-5">
  				<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide"> 
  		  	</div> 
            {% endif %}                       
		  </div>  
          {% elsif settings.product_description_type == 'accordion' %}
      		<div class="product-description">
              {% assign description = product.description | split: '<!-- split -->' %}
        		<section class="ac-container">
    		<div>
        		<input id="ac-1" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
          		<label for="ac-1">{{ settings.description_label_one }}</label>
        		<article class="ac-large">
            		<p> {% if product.description contains '<!-- split -->' %}
							{{ description[0] }}
          				{% else %}
							{{ product.description }}
						{% endif %}
              		</p>
        		</article>
    		</div>
    		<div>
        		<input id="ac-2" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
              	<label for="ac-2">{{ settings.description_label_two }}</label>
        		<article class="ac-large">
              		<p>
                      {% if product.description contains '<!-- split -->' %}
						{{ description[1] }}
                	  {% endif %} 
              		</p>
        	</article>
    		</div> 
                  {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    		<div>
        		<input id="ac-3" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-3">{{ settings.description_label_three }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description[2] }}
                	{% endif %}                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.description_modules == '4' %}
    		<div>
        		<input id="ac-4" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-4">{{ settings.description_label_four }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description.last }}
                	{% endif %}                     
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.size_guide_module %}
    		<div>
        		<input id="ac-5" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-5">{{ settings.size_guide_label }}</label>
        		<article class="ac-large">
              	<p>
					<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide">                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}                  
		</section>
      </div>            
          {% else %}
          <div class="product-description rte{% if settings.product_center_description %} text-center{% endif %}" itemprop="description">
            {% if settings.description_label.size > 0 %}<h4>{{ settings.description_label }}</h4>{% endif %}
            {{ product.description }}
          </div>
			{% endif %}
         {% endif %}

          {% if settings.social_sharing_products %}
            <hr class="hr--clear hr--small">
            <h4>{{ 'products.general.share_title' | t }}</h4>
            <p class="affirm-as-low-as" style="font-size: 0.8em; letter-spacing: 2px;" data-page="product" data-amount="{{ product.selected_or_first_available_variant.price }}"></p>
			
          
         <div class="product-description">
           <h4>SHARE THIS ITEM</h4>
          </div>
          {% include 'social-sharing' %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

        <div id="pdp-pixlee-container" class="ugc-mobile pixle-greater-container" style="margin-top: 70px; width:100%;    padding: 0 9px;">
     
     <div class="pixlee-header hide" style="
    width: calc(100% - 100px);margin:0 auto 25px auto;">


   OUR COMMUNITY IN THE {{product.title | split: '--' | first }} <strong>#doencollective</strong>

   </div>

    <div id="pixlee_container"></div>
    <script type="text/javascript">
      function pixleeLoaded(event){
        if(event.data){
          try{
            var message = JSON.parse(event.data);
          } catch( error ){
            return;
          }
        } else {
          return;
        }

        if(message.name == "pixlee:widget:num:photos"){
          let photoCount = message.data.photoCount;
          console.warn('Pixlee Count', photoCount);
          if(photoCount > 0){
             $('.pixlee-header').removeClass('hide');
           }
        }
      }
      window.addEventListener("message", pixleeLoaded, false);
	</script>

        

    <div id="pix2"></div>
    </div>
  
  {% if settings.product_related_enable %}
  <div class="related-products">
    {% include 'related-products' %}
  </div>
  {% endif %}

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
// BEGIN SWATCHES
if (variant) {
  var form = jQuery('#' + selector.domIdPrefix).closest('form');
  for (var i=0,length=variant.options.length; i<length; i++) {
    var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
    if (radioButton.size()) {
      //radioButton.get(0).checked = true;
    }
  }
  
      console.log('variant selected');
    console.log(variant);

  const inventoryCheck = function(){
    if(variant.inventory_quantity < 5 && variant.inventory_quantity >= 0 && variant.available){
      let $warning = $('span#lowStock');
      $warning.show();
    }else{
      let $warning = $('span#lowStock');
      $warning.hide();
    }
  };

  if(window.Shopify.Doen.preorders.indexOf(variant.option1) === -1 ){
    inventoryCheck();
  }
} 
// END SWATCHES 
 
if (variant) {
  $('.variant-sku').text(variant.sku);
}
else {
  $('.variant-sku').empty();
}
     
    {% comment %} timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    }); {% endcomment %}
    
  };

  new Shopify.OptionSelectors('productSelect', {
    product: {{ product | json }},
    onVariantSelected: selectCallback,
    enableHistoryState: false
  });

  jQuery(function($) {
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });

{% if settings.sticky_header_enable %}  
$(window).load(function() {
  $(".stickem").stick_in_parent({offset_top:{{ settings.sticky_header_height }}});
    });
{% else %}
$(window).load(function() {
  $(".stickem").stick_in_parent({offset_top:20});
    });  
{% endif %}

  $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
</script>
{% if product.variants.size > 1 %}
<script>
(function($) {
  var variantImages = {},
    thumbnails,
    variant,
    variantImage,
    variantImage_count = 0;
  	//produce mapping between variant image and options
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImages[variantImage] = variantImages[variantImage] || {};
         {% for option in product.options %}
           {% assign option_value = variant.options[forloop.index0] %}
           {% assign option_key = 'option-' | append: forloop.index0 %}
           if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
             variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
           }
           else {
             var oldValue = variantImages[variantImage][{{ option_key | json }}];
             if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
               variantImages[variantImage][{{ option_key | json }}] = null;
             }
           }
         {% endfor %}
         variantImage_count++;
   	   }
    {% endfor %}

    $(function() {

      if (variantImage_count > 0) {
        $('select.single-option-selector').change(function() {
          var selected_color = $(this).val();
          thumbnails = $('.flex-control-thumbs img').each(function(index, el) {
            var image = $(el).attr('src').split('?')[0].replace(/(_thumb\.)|(_small\.)|(_compact\.)|(_medium\.)|(_large\.)|(_grande\.)/,'.');
            if (typeof variantImages[image] !== 'undefined') {
              if(selected_color == variantImages[image]['option-0'] || selected_color == variantImages[image]['option-1'] || selected_color == variantImages[image]['option-2']) {
              	$('.flexslider').flexslider(index);
              }
            }
		      });
        });
      }

    });
})(jQuery);
</script>
{% endif %}
{% if settings.product_image_zoom_type == 'zoom-in' %}
{{ 'jquery.elevatezoom.js' | asset_url | script_tag }}  
  <script> 
    
    $(document).ready(function(){
    	$('.flexslider').flexslider({
        	animation: "fade",
          	video: true, 
            start: function(){
            		console.log('flexslider starting');
            },// Fires when the slider loads the first slide
    		before: function(){
              		var activeSlide = $('.slide.flex-active-slide');
            		console.log('before function' + activeSlide.index() );
              if( activeSlide.is(':last-child' )){
                	console.log('last child is active');
                	var video = activeSlide.find('video');
                ( (video.length > 0 ) ? video.get(0).pause() : null);
              }
            },// Fires asynchronously with each slider animation
    		after: function(){
              		var activeSlide = $('.slide.flex-active-slide');
              	
            		console.log('after function' + activeSlide.index() );
              let $video = activeSlide.find('video');
              
              if($video.length > 0){
                $video.get(0).play();
              }
              		
              // if( activeSlide.is(':last-child' )){
              //  	console.log(activeSlide);
              //  	console.log('last child is active');
              //  	var video = activeSlide.find('video');
              //  ( (video.length > 0 ) ? video.get(0).play() : null);
             // }
            },// Fires after each slider animation completes
            slideshow: false 
    	});
    });
    
  	 $(window).load(function(){
        $('.zoom').elevateZoom({
          cursor: "crosshair",
          easing : true,
          // scrollZoom : true,
          zoomWindowFadeIn: 5,
          zoomWindowFadeOut: 10
        }); 
	}); 
</script>
{% endif %}
<div class="modal-box bis" id="bis-pop" style="position:fixed; top: 145px;">  
  <header class="header">
    <a href="#" class="js-modal-close close">×</a>
    <h5>Notify me when this product is available</h5>
  </header>
  <div class="modal-body">
    <div class="side-left">
      <img src="{{ product.images[0] | product_img_url: 'large' }}" />
      <h5>{{ product.title }}</h5>
    </div>
    <div class="side-right">
      <label>Email</label>
      <input type="email" id="notify_email" style="margin-right: 15px;">	  
      <p style="font-size:7px; display: flex; align-items: center;"><input type="checkbox" id="accepts_marketing" value="true" checked> We'll email you when this product is available. <br> By checking this box you agree to accept email marketing.</p>
      
      <select id="notify_select" name="variants">
        {% for variant in product.variants %}
        {% unless variant.inventory_quantity > 0%}
			      <option value="{{ variant.id }}" >{{ variant.title }}</option>
        {% endunless %}
        {% endfor %}
      </select>
      <button id="notify_button">SUBMIT</button>
    </div>
    <div class="cf"></div>
  </div>
</div>



<script>
$(function(){

var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

  $('a[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.7);
    //$(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
    $('.mini_cart').hide();
  });


$(".js-modal-close, .modal-overlay").click(function() {
  $(".modal-box, .modal-overlay").fadeOut(500, function() {
    $(".modal-overlay").remove();
  });
});

  $('.js-open-modal').click(function(){
  	
   	$(".modal-box").css({
      top: '145px',
      left: ($(window).width() - $(".modal-box").outerWidth()) / 2
    });
    return false;
  });  
  
  
$(window).resize(function() {
  // go modal box
  $(".modal-box").css({
    top: '145px',
    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
  });
});

$(window).resize();

}); 
  $( ".swatch.size input" ).on( "click", function() { 
    var varx = $( this ).data("variant");
    $("select[name=variants] option").removeAttr("selected");
	$("select[name=variants] option[value=" + varx + "]").attr('selected', 'selected');
  });
</script>

<script text="text/javascript">
 var _learnq = _learnq || [];
 var item = {
   Name: {{ product.title|json }},
   ProductID: {{ product.id|json }},
   Categories: {{ product.collections|map:'title'|json }},
   ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
   URL: "{{ shop.secure_url }}{{ product.url }}",
   Brand: {{ product.vendor|json }},
   Price: {{ product.price|money|json }},
   CompareAtPrice: {{ product.compare_at_price_max|money|json }}
 };

 _learnq.push(['track', 'Viewed Product', item]);

 _learnq.push(['trackViewedItem', {
   Title: item.Name,
   ItemId: item.ProductID,
   Categories: item.Categories,
   ImageUrl: item.ImageURL,
   Url: item.URL,
   Metadata: {
     Brand: item.Brand,
     Price: item.Price,
     CompareAtPrice: item.CompareAtPrice
   }
 }]);
</script>


{% endunless %}
    

{% if templateSkipThis or templateSkipper %}



<div class="retired-container" dat-invne="{{ variantInventories }}" data-days="{{ diffDays }}" data-inventory="{{ productInventory }}" data-skipthis="{{ skipThisProduct }}" dat-skipper="{{ skipper }}">
  <div class="retired-wrapper">

 <div class="notfoundheader">
<h1 class="text-center" style="line-height:175%;">
   SORRY, THE {{ product.title }}<br>
IS NO LONGER AVAILABLE.
   </h1>
<p  class="text-center">
  For one reason or another, this product is no longer available. However, we do have a few new arrivals that you might love!
</p>
</div>
  
  
  

</div>
</div>

<style>
.template-product .main-content .grid__item{
  margin-bottom:20px;
}

    .notfoundheader {
    padding:0 0 100px 0;
  }
  
</style>




  
  <ul class="collection-infinite secondary-grid grid-uniform">
    
    
    
{% for product in collections.new-arrivals.products %}
        {% include 'autohide-item-filter' with product: product %}

    {% assign sortedProductsIndex = paginate.current_offset | plus: forloop.index0 %}

    {% assign productTags = product.tags | join:',' %}
		{% if productTags contains 'coming-soon' %}
    
    {% else %}
    
  	  <li class="product-infinite {% cycle 'one-fade', 'two-fade', 'three-fade', 'four-fade', 'five-fade' %}" id="product-{{ forloop.index | plus:paginate.current_offset }}">
          {% include 'product-grid-item-two-three' %}
      </li>
    {% else %}

      {% if shop.products_count == 0 %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        <div class="grid__item">
          <div class="helper-section">
            <div class="helper-note">
              <span class="helper-icon"></span>
              <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
              <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
              <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
            </div>

            <div class="grid-uniform helper-content">
              {% assign index = 1 %}
              {% for i in (1..8) %}
                {% case i %}
                  {% when 7 %}
                    {% assign index = 1 %}
                  {% when 8 %}
                    {% assign index = 2 %}
                {% endcase %}
                <div class="grid__item one-half post-large--one-quarter">
                  <a href="/admin/products" class="grid-link">
                    <span class="grid-link__image grid-link__image--product">
                      <span class="grid-link__image-centered">
                        {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                        {{ imageUrl | img_tag }}
                      </span>
                    </span>
                    <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                    <p class="grid-link__meta">
                      <strong>$19.99</strong>
                    </p>
                  </a>
                </div>
                {% assign index = index | plus: 1 %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="grid__item">
          <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
        </div>
      {% endif %}
    
    
    
    {% endif %}
    
    {% endfor %}
    
    
    
    
    
    {% if settings.infinite_collection_enable %}
      {% if paginate.next %}
       <li class="more-button"><a href="{{ paginate.next.url }}"><span class="more-products message-bar">{{ settings.infinite_collection_text }}</span></a></li>     
      {% endif %}
    {% else %}
      {% if paginate.pages > 1 %}
        <hr class="hr--clear">
        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
      {% endif %}
    {% endif %}    
    </ul>

{% endif %}
<script>
$(document).on('ready', function(){
  var variantCount = {{ product.variants.size }};
  if(variantCount == 1){
    var $input = $('.swatch-element input.swatch-inputs');
    $input.prop('checked', true).trigger('change');
  }
});
console.log('variant count', {{ product.variants.size }});
</script>


