<script>
  var SPOCustom = {};
  SPOCustom.customVariantSelectors = true;
</script>
<!-- spurit_po-added -->
{% include 'spurit_po-product-snippet' %}
<!-- /spurit_po-added -->
<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
{% if settings.enable_breadcrumbs %}
  <div class="section-header section-header--breadcrumb medium-down--hide">
    {% include 'breadcrumb' %}
  </div>
{% endif %}
  
  <div class="product-single{% if settings.product_center_description %} text-center{% endif %}">
    <div class="grid product-single__hero stickem-container">
      <div class="grid__item post-large--{{ settings.image_side_large_size }}">
      {% if settings.product_images == 'allimages_sticky' %} 
        <div class="medium-down--hide">
              {% for image in product.images %}
        		{% if settings.product_image_zoom_type == 'zoom-in' %}<div class="product-single__photos" id="ProductPhoto">{% endif %}
                    <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" {% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '2048x2048' }}"{% endif %}>
        		{% if settings.product_image_zoom_type == 'zoom-in' %}</div>{% endif %}
              {% endfor %}  
        </div>
      {% elsif settings.product_images == 'product_slider' %} 
        <div class="medium-down--hide">
          <div class="flex-container">
            <div class="flexslider">
    			<div class="slides">
                  {% for image in product.images %}
                  <li class="slide" data-thumb="{{ image | img_url: 'small' }}">                   
                    <img src="{{ image | img_url: '1024x1024' }}" data-zoom-image="{{ image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" class="zoom" />
                  </li>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>        
      {% else %}  
        <div class="medium-down--hide">
        {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}                
          <div class="product-single__photos" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>

          {% if product.images.size > 1 %}
            <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
              {% for image in product.images %}
                <li class="grid__item wide--one-quarter large--one-third medium-down--one-third">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endfor %}
            </ul>

          {% endif %}

        {% else %}

          <div class="grid">
            <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            </div>

            <div class="grid__item one-fifth">

              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {% for image in product.images %}
                  <li class="grid__item">
                    <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                      <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          </div>         
        {% endif %}
		</div>
        {% if settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
          {% endfor %}
        </ul>
        {% endif %} 
	{% endif %}
        <div class="post-large--hide">
            <div class="flexslider">
    			<ul class="slides">
                  {% for image in product.images%}
                  <li class="slide" data-thumb="{{ image | img_url: 'small' }}">
                   <img {% if forloop.first == true %}id="product-featured-image"{% endif %} src="{{ image | img_url: 'grande' }}" alt="{{ image.alt | escape }}"/>
                  </li>
                  {% endfor %}
              </ul>
            </div>             
        </div>
      </div>
      <div class="grid__item right-side post-large--{{ settings.description_side_large_size }}{% if settings.product_images == 'allimages_sticky' %} stickem{% endif %}">
        {% if settings.product_vendor_enable %}
          <h3>{{ product.vendor }}</h3>
        {% endif %}
        <h1 itemprop="name">{{ product.title | split: '--' | first }}</h1>
        {% comment %}
        {% if product.title contains '--' %}
        <h5>{{ product.title | split: '--' | last }}</h5>
        {% endif %}
        {% endcomment %}
        {% if settings.product_variant_enable %}
        <span class="variant">
              {{ product.variants.first.option1 }}
        </span>
        {% endif %}
        {% if settings.product_sku_enable %}
        <span class="variant-sku"></span>
        {% endif %}
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_or_first_available_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">          

          <div class="product-single__prices">
            <span id="ProductPrice" class="product-single__price" itemprop="price">
              {{ product.price | money | remove: '.00' }}
            </span>

            {% if product.compare_at_price > product.price %}
              <s id="ComparePrice" class="product-single__sale-price">
                {{ product.compare_at_price_max | money | remove: '.00' }}
              </s>
            {% endif %}
          </div>
          
 		 {% if settings.description_location == 'above' %}
          {% if settings.product_description_type == 'tabs' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
  			<ul class="tabs">
    			<li><a href="#tab-1">{{ settings.description_label_one }}</a></li>
    			<li><a href="#tab-2">{{ settings.description_label_two }}</a></li>
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    			<li><a href="#tab-3">{{ settings.description_label_three }}</a></li>
              {% endif %}
              {% if settings.description_modules == '4' %}
                <li><a href="#tab-4">{{ settings.description_label_four }}</a></li>
              {% endif %}
              {% if settings.size_guide_module %}
                <li><a href="#tab-5">{{ settings.size_guide_label }}</a></li>
              {% endif %}              
  			</ul>
  		  	<div id="tab-1">
			{% if product.description contains '<!-- split -->' %}
			{{ description[0] }}
          		{% else %}
			{{ product.description }}
			{% endif %}
  		  	</div>
  		  	<div id="tab-2">
				{% if product.description contains '<!-- split -->' %}
					{{ description[1] }}
                {% endif %}  			   
  		  	</div>
            {% if settings.description_modules == '3' or settings.description_modules == '4' %}
  		  	<div id="tab-3">
				{% if product.description contains '<!-- split -->' %}
					{{ description[2] }}
                {% endif %}  			   
  		  	</div>   
            {% endif %}
            {% if settings.description_modules == '4' %}
  		  	<div id="tab-4">
				{% if product.description contains '<!-- split -->' %}
					{{ description.last }}
                {% endif %}   				
  		  	</div> 
            {% endif %}
            {% if settings.size_guide_module %}
  		  	<div id="tab-5">
  				<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide"> 
  		  	</div> 
            {% endif %}                       
		  </div>  
          {% elsif settings.product_description_type == 'accordion' %}
      		<div class="product-description">
              {% assign description = product.description | split: '<!-- split -->' %}
        		<section class="ac-container">
    		<div>
        		<input id="ac-1" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
          		<label for="ac-1">{{ settings.description_label_one }}</label>
        		<article class="ac-large">
            		<p> {% if product.description contains '<!-- split -->' %}
							{{ description[0] }}
          				{% else %}
							{{ product.description }}
						{% endif %}
              		</p>
        		</article>
    		</div>
    		<div>
        		<input id="ac-2" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
              	<label for="ac-2">{{ settings.description_label_two }}</label>
        		<article class="ac-large">
              		<p>
                      {% if product.description contains '<!-- split -->' %}
						{{ description[1] }}
                	  {% endif %} 
              		</p>
        	</article>
    		</div> 
                  {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    		<div>
        		<input id="ac-3" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-3">{{ settings.description_label_three }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description[2] }}
                	{% endif %}                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.description_modules == '4' %}
    		<div>
        		<input id="ac-4" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-4">{{ settings.description_label_four }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description.last }}
                	{% endif %}                     
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.size_guide_module %}
    		<div>
        		<input id="ac-5" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-5">{{ settings.size_guide_label }}</label>
        		<article class="ac-large">
              	<p>
					<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide">                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}                  
		</section>
      </div>            
          {% else %}
          <div class="product-description rte{% if settings.product_center_description %} text-center{% endif %}" itemprop="description">
            {% if settings.description_label.size > 0 %}<h4>{{ settings.description_label }}</h4>{% endif %}
            {{ product.description }}
          </div>
			{% endif %}
         {% endif %}
          
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="purchase-section">
            {% if settings.product_swatches_enable %}
  					{% for option in product.options %}
    					{% include 'swatch' with option %}
  					{% endfor %}         
            {% endif %}
            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            
            {% unless settings.product_swatches_enable %}{% if settings.size_guide_enable %}<a href="{{ 'size_guide_image.jpg' | asset_url }}" class="size-chart-link html5lightbox">{{ settings.size_guide_link_text }}</a>{% endif %}{% endunless %}

	{% if settings.other_colored_products_enable %}      
    {% if product.title contains '--' %}        
	<div class="color-input" data-id="{{ forloop.index }}">
      <label class="header"><span>Color</span></label>
            {% assign titlex = product.title | split: '--' | first %}
      		{% assign link = product.url %}  
            {% for link in linklists.swatch-products.links %}
      		{% if link.type == 'product_link' %}
      		{% assign product123 = link.object %}  
            {% assign productx = product123.title | split: '--' %}
            {% assign productz = productx.first %}
            {% assign producty = productx.last %}
            	{% if titlex == productz %}  
  				{% assign file_extension = 'png' %}
              		<span class="color-label">
                      <a href="{{ product123.url | within: collection }}">
                      <span class="color-swatch {{ variant.option2 | handleize }} {{ producty | handleize }} {{ forloop.index }}" style="background-color:{{ producty | handleize }}; background-image:url('{% if product.title contains '--' %} {{ producty | handleize | append: '.png' | asset_url }}{% else %}{{ variant.option2 | handleize | append: '.png' | asset_url }}{% endif %};')">
						</span>
                      </a>
        <div class="clearfix"></div>
        <span class="label">{% if product.title contains '--' %}{{ producty }}{% else %}{{ variant.option2 }}{% endif %}</span>                      
                    </span>
              	{% endif %}
			{% endif %}
            {% endfor %}   
	<div class="clearfix"></div>
	</div>  
    {% endif %}        
	{% endif %}             
            
            <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
              <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
              {% if settings.product_quantity_selector == 'counter' %}
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              {% elsif settings.product_quantity_selector == 'dropdown' %}
              	 <select id="Quantity" name="quantity" class="quantity-drop">
						{% for i in (1..10) %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
				</select>    
              {% endif %}
            </div>

            <div class="btn disabled">
              <span id="">IN-STOCK 4/15/2016</span>
            </div>
            <a class="js-open-modal actionlinks see-your-size" href="#" data-modal-id="popup">Don't see your size?</a>
          </form>
 		 {% if settings.description_location == 'below' %}
          {% if settings.product_description_type == 'tabs' %}
          <div class="product-description">
            {% assign description = product.description | split: '<!-- split -->' %}
  			<ul class="tabs">
    			<li><a href="#tab-1">{{ settings.description_label_one }}</a></li>
    			<li><a href="#tab-2">{{ settings.description_label_two }}</a></li>
              {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    			<li><a href="#tab-3">{{ settings.description_label_three }}</a></li>
              {% endif %}
              {% if settings.description_modules == '4' %}
                <li><a href="#tab-4">{{ settings.description_label_four }}</a></li>
              {% endif %}
              {% if settings.size_guide_module %}
                <li><a href="#tab-5">{{ settings.size_guide_label }}</a></li>
              {% endif %}              
  			</ul>
  		  	<div id="tab-1">
			{% if product.description contains '<!-- split -->' %}
			{{ description[0] }}
          		{% else %}
			{{ product.description }}
			{% endif %}
  		  	</div>
  		  	<div id="tab-2">
				{% if product.description contains '<!-- split -->' %}
					{{ description[1] }}
                {% endif %}  			   
  		  	</div>
            {% if settings.description_modules == '3' or settings.description_modules == '4' %}
  		  	<div id="tab-3">
				{% if product.description contains '<!-- split -->' %}
					{{ description[2] }}
                {% endif %}  			   
  		  	</div>   
            {% endif %}
            {% if settings.description_modules == '4' %}
  		  	<div id="tab-4">
				{% if product.description contains '<!-- split -->' %}
					{{ description.last }}
                {% endif %}   				
  		  	</div> 
            {% endif %}
            {% if settings.size_guide_module %}
  		  	<div id="tab-5">
  				<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide"> 
  		  	</div> 
            {% endif %}                       
		  </div>  
          {% elsif settings.product_description_type == 'accordion' %}
      		<div class="product-description">
              {% assign description = product.description | split: '<!-- split -->' %}
        		<section class="ac-container">
    		<div>
        		<input id="ac-1" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
          		<label for="ac-1">{{ settings.description_label_one }}</label>
        		<article class="ac-large">
            		<p> {% if product.description contains '<!-- split -->' %}
							{{ description[0] }}
          				{% else %}
							{{ product.description }}
						{% endif %}
              		</p>
        		</article>
    		</div>
    		<div>
        		<input id="ac-2" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
              	<label for="ac-2">{{ settings.description_label_two }}</label>
        		<article class="ac-large">
              		<p>
                      {% if product.description contains '<!-- split -->' %}
						{{ description[1] }}
                	  {% endif %} 
              		</p>
        	</article>
    		</div> 
                  {% if settings.description_modules == '3' or settings.description_modules == '4' %}
    		<div>
        		<input id="ac-3" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-3">{{ settings.description_label_three }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description[2] }}
                	{% endif %}                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.description_modules == '4' %}
    		<div>
        		<input id="ac-4" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-4">{{ settings.description_label_four }}</label>
        		<article class="ac-large">
              	<p>
					{% if product.description contains '<!-- split -->' %}
						{{ description.last }}
                	{% endif %}                     
              	</p>
        		</article>
    		</div> 
                  {% endif %}
                  {% if settings.size_guide_module %}
    		<div>
        		<input id="ac-5" name="accordion-1" type="{% if settings.accordion_type == 'checkbox' %}checkbox{% else %}radio{% endif %}" />
        		<label for="ac-5">{{ settings.size_guide_label }}</label>
        		<article class="ac-large">
              	<p>
					<img src="{{ 'size_guide_image.jpg' | asset_url }}" alt="size guide">                   
              	</p>
        		</article>
    		</div> 
                  {% endif %}                  
		</section>
      </div>            
          {% else %}
          <div class="product-description rte{% if settings.product_center_description %} text-center{% endif %}" itemprop="description">
            {% if settings.description_label.size > 0 %}<h4>{{ settings.description_label }}</h4>{% endif %}
            {{ product.description }}
          </div>
			{% endif %}
         {% endif %}

          {% if settings.social_sharing_products %}
            <hr class="hr--clear hr--small">
            <h4>{{ 'products.general.share_title' | t }}</h4>
            {% include 'social-sharing' %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  {% if settings.product_related_enable %}
  <div class="related-products">
    {% include 'related-products' %}
  </div>
  {% endif %}

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
   
// BEGIN SWATCHES
if (variant) {
  var form = jQuery('#' + selector.domIdPrefix).closest('form');
  for (var i=0,length=variant.options.length; i<length; i++) {
    var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
    if (radioButton.size()) {
      radioButton.get(0).checked = true;
    }
  }
}
// END SWATCHES 
 
if (variant) {
  $('.variant-sku').text(variant.sku);
}
else {
  $('.variant-sku').empty();
}
     
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });

{% if settings.sticky_header_enable %}  
$(window).load(function() {
  $(".stickem").stick_in_parent({offset_top:{{ settings.sticky_header_height }}});
    });
{% else %}
$(window).load(function() {
  $(".stickem").stick_in_parent({offset_top:20});
    });  
{% endif %}

  $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
</script>
{% if product.variants.size > 1 %}
<script>
(function($) {
  var variantImages = {},
    thumbnails,
    variant,
    variantImage,
    variantImage_count = 0;
  	//produce mapping between variant image and options
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImages[variantImage] = variantImages[variantImage] || {};
         {% for option in product.options %}
           {% assign option_value = variant.options[forloop.index0] %}
           {% assign option_key = 'option-' | append: forloop.index0 %}
           if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
             variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
           }
           else {
             var oldValue = variantImages[variantImage][{{ option_key | json }}];
             if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
               variantImages[variantImage][{{ option_key | json }}] = null;
             }
           }
         {% endfor %}
         variantImage_count++;
   	   }
    {% endfor %}

    $(function() {

      if (variantImage_count > 0) {
        $('select.single-option-selector').change(function() {
          var selected_color = $(this).val();
          thumbnails = $('.flex-control-thumbs img').each(function(index, el) {
            var image = $(el).attr('src').split('?')[0].replace(/(_thumb\.)|(_small\.)|(_compact\.)|(_medium\.)|(_large\.)|(_grande\.)/,'.');
            if (typeof variantImages[image] !== 'undefined') {
              if(selected_color == variantImages[image]['option-0'] || selected_color == variantImages[image]['option-1'] || selected_color == variantImages[image]['option-2']) {
              	$('.flexslider').flexslider(index);
              }
            }
		      });
        });
      }

    });
})(jQuery);
</script>
{% endif %}
{% if settings.product_image_zoom_type == 'zoom-in' %}
{{ 'jquery.elevatezoom.js' | asset_url | script_tag }}  
  <script> 
    
    $(document).ready(function(){
    	$('.flexslider').flexslider({
        	animation: "fade",
            slideshow: false 
    	});
    });
    
  	 $(window).load(function(){
        $('.zoom').elevateZoom({
          cursor: "crosshair",
          easing : true,
          //scrollZoom : true,
          zoomWindowFadeIn: 5,
          zoomWindowFadeOut: 10
        }); 
	}); 
</script>
{% endif %}
<!-- spurit_isr-added -->
{% include 'spurit_isr-product-snippet' %}
<!-- /spurit_isr-added -->
<div id="popup" class="modal-box" style="position:fixed;">  
  <header class="header">
    <a href="#" class="js-modal-close close">×</a>
    <h5>Please notify me when this product is available</h5>
  </header>
  <div class="modal-body">
    <div class="side-left">
      <img src="{{ product.images[0] | product_img_url: 'large' }}" />
      <h5>{{ product.title }}</h5>
    </div>
    <div class="side-right">
      <label>Email</label>
      <input type="email" id="notify_email">		
    <p>We'll email you when this product becomes available.</p>
      <select id="notify_select">
        {% for variant in product.variants %}
        {% unless variant.inventory_quantity > 0%}
			<option value="{{ variant.id }}">{{ variant.title }}</option>
        {% endunless %}
        {% endfor %}
	  </select>
      <button id="notify_button">SUBMIT</button>
    </div>
    <div class="cf"></div>
  </div>
</div>
<script>
$(function(){

var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

  $('a[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.7);
    //$(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
  });  
  
  
$(".js-modal-close, .modal-overlay").click(function() {
  $(".modal-box, .modal-overlay").fadeOut(500, function() {
    $(".modal-overlay").remove();
  });
});
 
$(window).resize(function() {
  $(".modal-box").css({
    top: '200px',
    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
  });
});
 
$(window).resize();
 
});  
</script>