{% layout none %}
{
  "tags": {{ product.tags | json }},
  "id": {{ product.id | json }},
  "variants": {{ product.variants | json }},
  "quantities": {{ product.variants | map: 'inventory_quantity' | json }},
  "options": {{ product.options | json }}
}