{% layout none %}
{
  "products": [
	{
    "now": {{ 'now' | date: '%m/%d/%Y' | json }},
  	"variants": [{% for variant in product.variants %}
        {    
          "id": {{ variant.id }},
          "inventory_quantity": {{ variant.inventory_quantity }}, 
          "preorder": {
              "limit": {{ variant.metafields.preorder.limit | default: 0 | json }},
              "expected_date": {{ variant.metafields.preorder.expected_date | json }}
          }
    	}{% unless forloop.last %},{% endunless %}{% endfor %}
  	]
	}
  ]
}
