{% layout none %}
{% assign titlex = product.title | split: '--' | first %}
{% assign firstLoop = true %}
{
    "product": {{ handle | json }},
    "data": [ {%- for link in linklists.swatch-products.links reversed -%}{% unless link.type == 'product_link' %}{% continue %}{% endunless %}
            {% assign product123 = link.object %} 
            {% if product123.published_at == blank %}{% continue %}{% endif %}
            {% assign productz = product123.title | split: '--' | first %}
            {% unless titlex == productz %}{% continue %}{% endunless %}
            {% include 'autohide-item-filter' with product: product123 %}
            {%- unless firstLoop -%},{%- endunless -%}{
                "url": {{ product123.url | json }},
                "title": {{ product123.title | json }},
                "handle": {{ product123.handle | json }},
                "titleSplit": {{ product123.title | split: '--' | json }},
                "color": {{ product123.title | split: '--' | last | handleize | json }},
                "yHandle": {{ product123.title | split: '--' | last | handle | json }},
                "image": {{ product123.title | split: '--' | last | handleize | append: '.png' | asset_url | json }},
                "name": {%- if product123.title contains '--' -%}{{ product123.title | split: '--' | last | json }}{%- else -%}{{ product123.variants[0].option2 | json }}{%- endif -%}
            }{% assign firstLoop = false %}
    {%- endfor -%}]
}