        <div class="medium-down--hide">
          <div class="flex-container">
            <div class="flexslider effect2">
    			<div class="slides">
                  {% for image in product.images %}
                  <div class="easyzoom easyzoom--overlay">
                    <a href="{{ image | img_url: '2048x2048' }}">
                    <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" class="normal" />
                    </a>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>        



{{ 'easyzoom.js' | asset_url | script_tag }}  
  <script> 
  	 $(document).ready(function(){
$('.flexslider').flexslider({
		animation: 'slide',
		controlsContainer: '.flexslider',
		selector: '.slides > div',
		useCSS: false
	});
       
    }); 
</script>
<script>
		// Instantiate EasyZoom plugin
		var $easyzoom = $('.easyzoom').easyZoom();
	</script>