<div style="text-align:center;">
  
  <div class="section-header">
      <h1 class="section-header--title" style="text-align: center;">coming soon</h1>
    </div>
  
  
  sign up to be notified when new products are in the shop
<form id="email_signup_products" class=" klaviyo_standard_embed_rzNmJP" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate" action="//manage.kmail-lists.com/subscriptions/subscribe"><input type="hidden" name="g" value="rzNmJP" />
<div class="klaviyo_field_group"><input type="email" value="" name="email" id="k_id_email" placeholder="Your email" /></div>
<div class="klaviyo_messages">
<div class="success_message" style="display: none;">You've been added. We'll send you an email when we post new products!</div>
<div class="error_message" style="display: none;"></div>
</div>
<div class="klaviyo_form_actions"><button type="submit" class="klaviyo_submit_button">SIGN UP</button></div>
</form>
<style type="text/css"><!--
#email_signup_products {
max-width:	475px;
margin:auto;
}
--></style><script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script><script type="text/javascript">// <![CDATA[
KlaviyoSubscribe.attachToForms('#email_signup_products', {
    hide_form_on_success: true,
	custom_success_message:true
  });
// ]]></script>
  
</div>

<script text="text/javascript">
 var _learnq = _learnq || [];
 var item = {
   Name: {{ product.title|json }},
   ProductID: {{ product.id|json }},
   Categories: {{ product.collections|map:'title'|json }},
   ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
   URL: "{{ shop.secure_url }}{{ product.url }}",
   Brand: {{ product.vendor|json }},
   Price: {{ product.price|money|json }},
   CompareAtPrice: {{ product.compare_at_price_max|money|json }}
 };

 _learnq.push(['track', 'Viewed Product', item]);

 _learnq.push(['trackViewedItem', {
   Title: item.Name,
   ItemId: item.ProductID,
   Categories: item.Categories,
   ImageUrl: item.ImageURL,
   Url: item.URL,
   Metadata: {
     Brand: item.Brand,
     Price: item.Price,
     CompareAtPrice: item.CompareAtPrice
   }
 }]);
</script>