var CartGWP = (function(module, $) {  
  'use strict';
  
  var init, cartUpdate, settings, getCart, isThresholdMet, addGWP, returnSettings, getGiftProduct;
  var removeGiftProduct, removeFromDrawer, updateDrawers, returnDrawerPrice;


  returnSettings = () => settings;

  getGiftProduct = async (handle) => {
    return fetch(`/products/${handle}.js`)
        .then(res => res.json())
        .catch(err => console.log(err));
  };

  getCart = () => {
      return fetch('/cart.js')
                .then(res => res.json())
                .catch(err => console.log(err));
  };

  isThresholdMet = (cart) => {
    const {items, items_subtotal_price} = cart;
    const {threshold_type, thresholds} = settings;
    if (threshold_type === 'item_count') {
        return thresholds[threshold_type] <= items.length;
    }

    if (threshold_type === 'none') {
        return items.length > 0;
    }

    if (threshold_type === 'price') {
        return thresholds[threshold_type] <= items_subtotal_price;
    }

  };

  removeGiftProduct = (cart) => {
      const items = cart.items.map((item, index) => {
          return {
              ...item,
              line: index+1
          }
      });
      const GWPInCart = items.find((item) => item.product_id === settings.gift_product.id);

      // Reload Cart Page ( Instead of Updating Table ).
      if (location.pathname.indexOf('/cart') !== -1) {
        window.location = `/cart/change?line=${GWPInCart.line}&quantity=0`;
        return;   
      }

      const params = {
          type: 'POST', 
          url: '/cart/change.js',
          data: 'quantity=' + 0 + '&line=' +  GWPInCart.line,
          dataType: 'json',
          success: function(cart){
              removeFromDrawer(GWPInCart.line);
          }
      }

      $.ajax(params);
      console.log('Remove Gift Product', items, GWPInCart, { quantity: 0, line: GWPInCart.line });
  };

  removeFromDrawer = (line) => {
    const drawerItems = document.querySelectorAll('.mini-cart .item');
    const mobileItems = document.querySelectorAll('#mobile-add-to-cart .details');
    
    // Remove from Desktop Drawer
    if (drawerItems.length > 0) {
        const drawerGWP = drawerItems[line-1];
        drawerGWP.parentNode.removeChild(drawerGWP);
    }

    // Remove from Mobile Drawer
    if (mobileItems.length > 0) {
        const mobileGWP = mobileItems[line-1];
        mobileGWP.parentNode.removeChild(mobileGWP);
    }
  };
  
  addGWP = () => {
    const {gift_product} = settings;
    const params = { 
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: gift_product.variants[0].id
        },
        dataType: 'json',
        success: function(cart) {
            console.log('GWP ADDED', cart);
            
            // Reload Cart Page ( Instead of Updating Table ).
            if (location.pathname.indexOf('/cart') !== -1) {
              window.location.reload();
              return;   
            }
            updateDrawers();
        }
    }

    $.ajax(params);
  };

  returnDrawerPrice = (price) => {
    console.warn('Return Drawer Price', price, price === 0);
    if (price === 0) {
      return 'FREE GIFT';
    }

    const formattedPrice = (price/100).toFixed(2);
    return `Price: $${formattedPrice}`;
  };

  updateDrawers = async () => {
    const cart = await getCart();
    $('.items').html(' ');

    console.log('UPDATE DRAWERS', cart);

    // desktop update
    $.each( cart.items, function() {
      var product_item = '';
      product_item += '<div class="item"><div class="image">';
      product_item += '<a href="'+this.url+'"><img class="cartimage" alt="" src="'+this.image+'" style="max-width: 115px;"></a>';
      product_item += '</div><div class="details"><span class="title">';

      product_item += '<a class="mini_cart_a" href="'+this.url+'">'+this.product_title+'</a>';
      product_item += '</span><div></div><div></div>';
      product_item += `<span class="size options gwp-test">Size: ${this.variant_options[0]}</span>`;   
      product_item += '<div><span class="quantity">Qty: '+this.quantity+'</span></div>';
      product_item += `<div style="padding-top: 20px;">${returnDrawerPrice(this.line_price)}</div></div></div>`;
      $('.items').append(product_item);
    });

    // Mobile Drawer Update.
    $('#mobile-add-to-cart .modal-body').html(' ');
    $('.cart-count').html(cart.item_count);
    $.each( cart.items, function() {
      var product_item = '';
      product_item += '<div class="details" style="padding-bottom:20px;"><span class="title">';

      const product_title = this.title.split("|");
      product_titlex = product_title[0]

      product_item += '<a class="mini_cart_a" href="'+this.url+'"><strong>'+product_titlex+'</strong></a><br>has been added to your cart';
      product_item += '</span><div></div><div></div>';
      product_item += '</div></div>';
      $('#mobile-add-to-cart .modal-body').append(product_item);
    });

  };

  cartUpdate = async () => {
      const {threshold_type, thresholds, gift_product} = settings;
      const cart = await getCart();
      const {items} = cart;
      const GWPInCart = items.find((item) => item.product_id === gift_product.id);

      console.log('Run Cart Update', cart);
      // Item in cart already. Exit Function
      if (GWPInCart) {
          if (!isThresholdMet(cart)) {
            removeGiftProduct(cart);
          }
        return;
      }

      if (isThresholdMet(cart) && !GWPInCart) {
        addGWP();
      }
  };

  init = async () => {
      settings = {
        threshold_type: {{ settings.gwp_threshold_type | json }},
        thresholds: {
            price: {{ settings.gwp_dollar_threshold | times: 100 | json }},
            item_count: {{ settings.gwp_item_count_threshold | json }},
        },
        gift: {{ settings.gwp_product | json }},
        gift_product: null,
      };

      settings.gift_product = await getGiftProduct(settings.gift);
      if(settings.gift_product.available && !localStorage.getItem('gwp-denied')) { 
        cartUpdate();
      } 
      console.warn('GWP INIT', settings.gift_product.available, localStorage.getItem('gwp-denied'));

      $(document).on('click', function(event) {
        localStorage.setItem('gwp-denied', 'true');
      });
  };

  module = {
    init: init, 
    cartUpdate: cartUpdate,
    returnDrawerPrice: returnDrawerPrice,
    settings: returnSettings
  };
 
  return module;

}(CartGWP || {}, jQuery));