
.cart-h3 {
    font-size: 12px;
    margin: 7.5px 0 15px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 400;
}

.cstm-donations-row h3.cart-h3{
    font-size: 12px;
    margin: 7.5px 0 15px;
    text-align: center !important;
    letter-spacing: 0;
    font-weight: 400;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 20px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark,
.gift-item-wrapper:hover .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark,
.gift-item-wrapper input:checked + label .checkmark {
    background-color: #f6f2ee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after,
.gift-item-wrapper input:checked + label .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after,
.gift-item-wrapper .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gift-box-wrapper.loading span.main:before {
    content: 'Adding';
    display: inline-block;
    margin-right: 5px;
}


.blair {
    font-family: "BlairMdITC", sans-serif;
    letter-spacing: 1px
}

.cstm-h1 {
    text-align: center;
    border-bottom: 1px silver solid;
    margin: 0 0 20px 0 !important;
    padding: 0 0 40px 0;
    font-size: 16px;
}

.cstm-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
    {% comment %} 
      This below is for the horizontal line layout
    {% endcomment %}
    align-items: center;
}



@media (max-width: 480px) {
    .cstm-item-row {
        align-items: flex-start;
    }

    .cstm-item-row.small--show {
        display: flex !important;
    }

    .cart-line-content {
        flex-wrap: wrap;
    }

    .cart-line-content p {
        order: 1;
    }

    .cart-line-content .price {
        order: 2;
        width: 25%;
    }
}

.cstm-qty-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 30px;
}

.cstm-qty-input {
    width: 30px;
    border: solid 1px silver !important;
    font-size: 10px;
    line-height: 1.7;
    height: 100%;
    text-align: center;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item__image {
    display: flex;
    align-items:center;
    align-content: center;
    width: 100%;

    img {
        max-height: 150px;
        max-width: 150px;
        min-width: 150px;
    }
}

.cstm-qty-input.cstm-qty-input-remove {
    line-height: 18px;
}

.cart-line-title {
    width: 100%;
    margin-bottom: 0;
}

.cstm-rmv-row {
    display: flex;
    height: 30px;
    font-size: 8px
}

.cstm-rmv-input {
    font-size: 10px;
    text-decoration: underline;
}

.cstm-promo-row {
    margin: 0 20px 0;
    font-size: 8px;
    font-weight: bold;
}

.cstm-subtotal-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-bottom: solid silver 1px;
}

.cstm-subtotal-row>span {
    font-size: 12px;
    line-height: 1.5;
}

.cstm-gift-row {
    margin-bottom: 20px;
    border-bottom: solid silver 1px;
    padding: 0px 20px 20px;
    display: flex;
    flex-direction: column;
}

.cstm-gift-row p {
    text-align: center;
}

.gift-item-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 7.5px;
    @media only screen and (max-width: 768px) {
        margin: 12px 0;
    }

    input { 
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        height: 20px;
        padding-left: 35px;
        margin-bottom: 0;
        font-family: 'BlairMdITC', sans-serif;
        font-size: 10px;
        letter-spacing: 0;

        br { display: none; }
        @media only screen and (max-width: 768px) {
            padding-left: 25px;
            font-size: 8px;

            br { display: block; }
        }
    }
}

.cstm-gift-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cstm-gift-checkbox small {
    display: block;
    font-size: 0.8em;
  line-height: 1.5em;
}

.cstm-donations-row {
    border-bottom: solid silver 1px;
    padding: 0px 20px 20px;
}

.cstm-donations-row>* {
    letter-spacing: 1px;
    font-size: 10px;
    text-align: left !important;
}

.cstm-donations-row #is-a-gift {
    margin: 0px !important;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cstm-donations-row p {
    margin: 20px 0;
    text-align: center !important;
    font-size: 1em;
    line-height: 1.7em;
}

.cstm-donations-spacer {
    height: 20px;
}

.cstm-submit-row {
    display: flex;
    justify-content: center;
}

.cstm-qty-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cstm-qty-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cstm-submit-input {
    text-align: center !important;
    text-transform: uppercase !important;
    display: table !important;
    width: 100% !important;
    border: none !important;
    margin-top: 20px !important;
    max-width: 100% !important;
    letter-spacing: 1px !important;
    font-size: 9px !important;
    letter-spacing: 3px!important;
    border: 1px solid #c0c0c0 !important;
}

#cstm-sub-submit {
    display: none
}

#donation {
    cursor: pointer;
    /* position: fixed;
    bottom: 200px;
    border: silver solid 2px;
    border-radius: 0 5px 5px 0;
    border-left: 0px;
    background: #FAF8F0;
    padding: 10px 20px;
    box-shadow: 3px 3px 5px #000000c4; */
}
.message-bar{
    margin-top: -50px;
    margin-bottom: 0px;
}

@media (max-width:480px) {
    .cstm-rmv-row {
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .cstm-item-row {
        position: relative;
    }

    .cstm-item-row img {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
    }

    .cstm-donations-row label {
        margin-top: -8px;
    }

    .cstm-donations-row #is-a-gift {
        align-items: baseline;
    }
}

#cart-qty-custom-gift-box {
    display: none;
}

.checkbox-container .checkmark {
    top: 50%;
    transform: translateY(-50%);
}