.step__footer__continue-btn.disabled{
  opacity: 0.3; 
}

.step__footer__continue-btn{
  transition: 0.3s ease-in-out opacity; 
}

#checkbox_international{
 margin-right: 0.75em;
}
.international-checks, .domestic-checks{
 padding-top: 15px;
  display: flex;
 opacity: 0;
 justify-content: flex-start;
 align-items: center;

}

.section--international-order{
  display: none; 
}

#international_shipping_disclaimer{
  padding: 15px 1.14286em; 
   color: black;
   font-size: 12px;
}

.content-box__row.international-checks{
  padding-bottom: 5px; 
}

.sidebar{
 padding-right: 4%;
 padding-left: 2%;
 background: #FAF8F0;
}

.main{
padding-right: 0%;
}
.product__description__property{
 opacity: 0;
 
 &.ready{
   opacity: 1; 
 }
}

.content{
 background: #FAF8F0; 
}

.custom-modal {
/*   position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 opacity: 1;
 transform: scale(1.1);
 transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
 z-index: 2; */
}
.custom-modal-content {
/*   position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%); */
/*   padding: 3em 3.5em;
 width: 50vw;;
 border-radius: 0.5em; */
}
.hide{
 display:none;
}
.custom-modal-checkbox{
/*   -webkit-appearance: checkbox; */
}
.custom-modal-ul{
 list-style: initial;
 margin-left: 1em;
 margin-top: 1em;
 margin-bottom: 1em;
 padding-right: 1em;
 
 li{
   padding: 5px 0px;
 }
}
.custom-modal-button{
 display: block;
 text-align: center;
 margin: 30px 0 0 0;
 background-color: black;
 color: white;
 padding: 10px;
 border-radius: 0.2em;
 box-sizing: border-box;
 border: 1px solid transparent;
 transition: all 1s 
}
.custom-modal-button:hover{
 color: black;
 background-color: white;
 border: 1px solid black;
 box-sizing: border-box;
 font-weight:bold;
}

.order-policy-list{
 list-style-type: disc;
 padding: 15px 10px 5px 35px;
 
 li{
   padding: 5px 0; 
 }
}

#withTaxes, #withoutTaxes{
 display: none; 
}

.order-disclaimer.international.withTaxes #withTaxes{
 display: block; 
}

.order-disclaimer.international.withoutTaxes #withoutTaxes{
 display: block; 
}


.order-disclaimer.international .domestic,
.order-disclaimer.in-store .domestic,
.order-disclaimer.international .in-store{
 display: none; 
}

.order-disclaimer.domestic .international,
.order-disclaimer.in-store .international {
 display: none;
}

.order-policy-list.in-store {
display: none;
}

.order-disclaimer.in-store .order-policy-list.in-store {
 display: block; 
}

.order-disclaimer.domestic .in-store{
 display: none;
}

.product__description {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;

 .preorder-prop-date {
   order: 2;
 }
}

#oversell-modal {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-color: rgbA(0,0,0,0.3);
 z-index: 99;
 display: flex;
 justify-content:  center;
 align-items: center;
 align-content: center;

 .inner-oversell {
   padding: 10px;
   border-radius: 7.5px;
   background-color: white;
   color: black;
   text-align: center;

   button {
     padding: 5px 15px;
     background-color: black;
     color: white;
   }
 }
}

#oversell-modal {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-color: rgbA(0,0,0,0.3);
 z-index: 99;
 display: flex;
 justify-content:  center;
 align-items: center;
 align-content: center;

 .inner-oversell {
   padding: 10px;
   border-radius: 7.5px;
   background-color: white;
   color: black;
   text-align: center;

   button {
     padding: 5px 15px;
     background-color: black;
     color: white;
   }
 }
}

img.logo__image.logo__image--small {
width: 130px;
}


/* Checkout Redesign */
@media (min-width: 768px) {
 .anyflexbox .content .wrap {
   flex-wrap: wrap;
 }

 .sidebar__content {
   padding-left: 30px;
 }
}

@media (max-width: 768px) {
 .sidebar__content .section__title {
   display: none;
 }
 
 .section__content[data-section="tip"] .content-box:first-child .content-box__row:first-child {
   flex-direction: column;
   font-size: .91em;
   text-align: center;
 }
}


.main__header {
 padding-top: 30px;
 width: 100%;
 flex-basis: 100%;
 max-width: 100%;
}

#section--tip-presets .btn__content--subtitle {
 display: none;
}

.section__content[data-section="tip"] .content-box:first-child .content-box__row:first-child {
 display: flex;
 align-items: center;
 font-weight: 600;
 background-color: #fffcf1;
}

.section__content[data-section="tip"] .content-box:first-child .content-box__row:first-child:before {
 background-image:url({{ 'roomToReadLogo.png' | asset_img_url: 'x100' }});
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 width: 60px;
 height: 60px;
 min-width: 50px;
 margin-right: 15px;
 filter: grayscale(100%);
 display: inline-block;
}

.section.section--note {
 padding-top: 3em; 
}

.section.section--note .content-box {
 border-top: 0;
 border-bottom: 0;
 border: 0;
}

.section.section--note .field.field--with-prefix {
 padding: 0;
}

.section--shipping-msg .content-box {
  background-color: #bab9b9;
  color: white;
  border: 1px solid #acabaa;
  text-align: center;
  padding: 0.75em 0.5em;
  font-size: 0.95em;
}
/* End Checkout Redesign */