@keyframes showList {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq-section {
    width: 100%;
    max-width: 100%;
    padding-top: 45px;
}

.faq-section h1 {
    text-align: center;
    width: 100%;
}

.category-btn {
    padding: 7.5px 30px 7.5px 0;
    background-image: url("{{ 'arrow-right.png' | asset_img_url: 'x75' }}");
    background-position: 91%;
    background-size: 7.5px;
    background-repeat: no-repeat;
}


.category-btn:focus {
    outline: none;
}

.category-question {
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.category-question:focus-visible {
  outline: none;
}

.category-list ul {
    margin: 0;
    padding: 0;
}

.category-question h3 {
    font-size: 14px;
    text-align: justify;
    line-height: 1.8;
    color: #000;
    font-family: Times New Roman, sans-serif;
    font-weight: bold;
    letter-spacing: 0.75px;
}

.faq-answer p br { display: none; }

.faq-answer {
    font-family: Times New Roman;
    font-size: 14px;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 0;
}

.category-question-list {
    display: none;
    animation: showList forwards 300ms;
}

button[aria-expanded="true"] + .category-question-list {
    display: block;
}

/***** faq updates styles start *****/

.faq-page .category-item .category-question .faq-answer ul{
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.faq-page .category-item .category-question .faq-answer ol{
  margin-bottom:20px;
}
.faq-page .category-item .category-question .faq-answer p br {
  display: inline-block;
}
.faq-page .category-item .category-question .faq-answer img {
  margin: 20px auto 40px;
}
.faq-page .category-item .category-btn{
  background-position: 95%;
}

/***** faq updates styles end *****/