html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Masqualero';
    src: url('Masqualero-Bold.eot');
    src: url('Masqualero-Bold.eot?#iefix') format('embedded-opentype'),
        url('Masqualero-Bold.woff2') format('woff2'),
        url('Masqualero-Bold.woff') format('woff'),
        url('Masqualero-Bold.ttf') format('truetype'),
        url('Masqualero-Bold.svg#Masqualero-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
	background: url(nyla_contanct_bg.png);
	font-family: 'Masqualero';
	font-weight: 600;
	font-size: 12px;
}
input:focus-visible,
textarea:focus-visible {
	outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333230;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333230;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #333230;
}

#contact_form{
  display: block;
  padding: 30px;
  position: relative;
  z-index: 5;
}

.contact-form-container{
  display: block;
  max-width: 580px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
.contact-form-container .frame{
	position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contact-form-wrapper .full-width{
	width: 100%;
}

.contact-form-wrapper .half-width{
	width: 50%;
}

.contact-form-wrapper .full-width-with-half{
	display: flex;
  column-gap: 30px;
}

.contact-form-wrapper .type-text{
	padding: 0 0 30px 0;
}

.contact-form-wrapper .type-text svg{
	width: 100%;
	height: auto;
	display: block;
}

.contact-form-wrapper .type-textarea{

}
.contact-form-wrapper .type-textarea textarea{
	    background: 0 0;
    border: 0 none;
    font-family: Masqualero;
    font-weight: 600;
    font-size: 13px;
    min-height: 192px;
    padding: 18px 28px;
    width: 89%;
    color: #333230;
}

.contact-form-wrapper .type-submit{
	text-align: center;
}

.contact-form{
	position: relative;
	z-index: 5;
	padding: 32px 37px;
}

.contact-form-wrapper .full-width.type-textarea{
	margin-top: 10px;
	margin-bottom: 30px;
}

.contact-form-wrapper .type-submit p{
	color: #B54F26;
	margin-top: 7px;
}
.contact-form-wrapper input{
	background: 0 0;
    padding: 5px 5px 9px;
    border: 0 none;
    width: 97%;
    border-radius: 0;
  font-family: 'Masqualero';
	font-weight: 600;
	font-size: 13px;
	color: #333230;
}
.contact-form-wrapper button{
	background: none;
	border: 0 none;
	padding: 0;
	margin: 0;
}
.contact-form-wrapper button svg{
	    width: 210px;
    height: auto;
}
.show-desktop-only{
	display: block;
}
.show-mobile-only{
	display: none;
}

@media (max-width: 1000px) {
	.show-desktop-only{
		display: none;
	}
	.show-mobile-only{
		display: block;
	}
	.contact-form-container .frame{
		display: none;
	}
	.contact-form{
		padding: 1px 7px;
	}
	.contact-form-wrapper .type-text.full-width-with-half{
		display: block;
		padding: 0;
	}
	.contact-form-wrapper .half-width{
		width: 100%;
		padding: 0 0 38px 0;
	}

	.contact-form-wrapper .type-text{
		padding: 0 0 37px 0;
	}

	.contact-form-wrapper .full-width.type-textarea{
    margin-top: 19px;
    margin-bottom: 20px;
	}
	.contact-form-wrapper .type-textarea textarea{
	    min-height: 222px;
      padding: 18px 17px;
	}
}