(function(){
    function getCart() {
        return fetch('/cart?view=check_preorder')
                .then(function(res) {
                    return res.json()
                })
                .catch(function(err) {
                    console.log('Erroring Fetching Cart');
                })
    };

    function reloadPage(){
        window.location.reload();
    }

    function removalModal() {
        const modal = document.createElement('div');
        modal.setAttribute('id', 'oversell-modal');

        modal.innerHTML = ` 
            <div class="inner-oversell">
                <h3>Sorry an item in your cart is no longer available</h3>
                <button id="reload-page">Close</button>
            </div>
        `;


        document.body.appendChild(modal);

        document.getElementById('reload-page').addEventListener('click', reloadPage);
    }

    function itemNeedsRemoval(variant_id) {
       removalModal();
       console.warn('REMOVE', variant_id);
       
        fetch('/cart/change.js', {
            body: JSON.stringify({ id: variant_id, quantity: 0 }),
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With':'xmlhttprequest' /* XMLHttpRequest is ok too, it's case insensitive */
            },
            method: 'POST'
        }).then(function(response) {
            return response.json();
        }).then(function(json) {
            /* we have JSON */
            console.log('Cart Updated', json);
        }).catch(function(err) {
            /* uh oh, we have error. */
            console.error(err)
        });
  
    };

    function cartItemHandler(item) {
        const { variant_id, full_product } = item;
        const variantInCart = full_product.variants.find(function(variant) {
            return variant.id === variant_id;
        });

        const limitHit = (variantInCart.inventory_quantity  - item.in_cart_quantity <(variantInCart.preorder.limit * -1) && variantInCart.preorder.limit !== 0);

        if (limitHit) {
            itemNeedsRemoval(item.key);
        }
        console.warn('Variant in Cart', item, variantInCart, limitHit);
      	console.group('Cart');
          console.log(variantInCart.inventory_quantity);
          console.log(variantInCart.preorder.limit * -1);
          console.log(item.in_cart_quantity);
      	  console.log(variantInCart.inventory_quantity  - item.in_cart_quantity);
        console.groupEnd();
    }

    async function init() {
        const cartItems = await getCart();

        cartItems.forEach(cartItemHandler);
        // console.warn('CArt', cartItems);
    }

    init();
})();