function getLinkSwatches(product) {
  console.log('Get Swatches for ', product);
  return fetch(`/products/${product}?view=swatches`)
    .then((res) => res.json())
    .catch((err) => console.log('Error during Swatch Retrieval'));
}

function mapToHTML(product) {
  return `        
        <li>
            <span class="color-label">
                <a href="${product.url}">
                    <span class="color-swatch ${product.yHandle}" style="background-color:${product.color}; background-image:url(${product.image})"></span>
                </a>
            <div class="clearfix"></div>
            <span class="label">${product.name}</span>                      
            </span>
        </li>
    `;
}

function mapRestructured(product) {
  return `        
        <li>
          <a href="${product.url}" class="swatch-link">
            <div class="swatch-box ${product.yHandle}" style="background-color:${product.color}; background-image:url(${product.image})"></div>
            <span class="label">${product.name}</span>                      
          </a>
        </li>
    `;
}

function buildSwatches(swatches) {
  const {data} = swatches;
  const grid = document.querySelector('.pdp-swatch-grid');
  const list = data.map(mapRestructured).join('');

  grid.innerHTML = list;
}

async function initSwatches() {
  console.warn('Initial Swatch Data', document.querySelector('[data-swatches-json]'));
  const swatchData = JSON.parse(document.querySelector('[data-swatches-json]').innerHTML);
  const {source} = swatchData;

  console.log('Product Swatches', swatchData);

  if (source == 'linklist') {
    const {main} = swatchData;
    const listData = await getLinkSwatches(main);

    return buildSwatches(listData);
    console.log('List Data', listData);
  }

  console.warn('Build Swatches Here');

  buildSwatches(swatchData);
}


initSwatches();
