(function(){
    console.warn('Product Recommendations');
    const autoHideTags = {{ settings.store_autohide_tags | split: ',' | json }}

    function  intersection( a , b ) {
        a = a.map((tag) => tag.toLowerCase());
        const s = [...new Set(b)].map((tag) => tag.toLowerCase());
        const hasRestricted = s.filter(x => {
          return  a.indexOf(x.toLowerCase()) !== -1
        });
        return (hasRestricted.length != 0);
    }

    function variantMetafields(handle) {
        return fetch(`/products/${handle}?view=json`)
                .then(function(response) {
                    return response.json();
                })
                .catch(console.log);
    }

    function createSlide(feed, data) {
        const source = $("#recommendations-item").html();
        const template = Handlebars.compile(source);

        console.warn('Creating Slide', feed, data);
        $(feed).append( template( data ) );
    }

    function fillContainer(feed, products) {
        console.warn('Fill Container', feed, products);
        products.forEach(function(product) {
            createSlide(feed, product);
        });
    }

    async function autoHideLogic(product) {
        const variantmetafields = await variantMetafields(product.handle);
        product.hide = false;

        product.now = variantmetafields.products[0].now;
        product.variants = product.variants.map(function(variant) {
            const match =variantmetafields.products[0].variants.find(function(item){
                return item.id === variant.id;
            })

            variant.preorder = match.preorder;

            return variant;
        });
        
        
        const parseDate = (str) => {
            if (str.indexOf('/') === -1) {
                return new Date(str);
            }

             var mdy = str.split('/');
             return new Date(mdy[2], mdy[0]-1, mdy[1]);
        };
      
        const datediff = ( created_date , now ) => { 
             // Take the difference between two dates, divide by miliseconds per day.
             // Round to the nearest whole number to deal with DST.
             return Math.round( (now - created_date) / (1000*60*60*24) );
        };
    
         // Determine Preorder Tag

        product.preOrder = false;
        let { tags , variants , options } = product;

        let preorderEligibleVariants = product.variants.filter((variant) => {
            return variant.preorder.limit > 0;
        });

        let soldout = true;

        preorderEligibleVariants.forEach((variant) => {
            const limit = variant.preorder.limit;
            const variantSoldOut = (variant.inventory_quantity <= limit*-1);
            if (!variantSoldOut) { soldout = false; }
        });
        
        if (preorderEligibleVariants.length > 0) { 
            product.preOrder = true;
            product.available = !soldout;
        } 

        let p = product;
    

        let totalInventory = p.variants.reduce((total, variant) => {
            if (variant.inventory_quantity < 0) {
                return total;
            }
            total += variant.inventory_quantity;
            return total;
        }, 0);

        let containsRestrictedTag = intersection( autoHideTags , tags );
        let dateDiff = datediff( parseDate( p.created_at ) , parseDate( p.now ) );
        if( containsRestrictedTag ){ product.hide = true }
        if(p.images.length === 0){ product.hide = true }
        if(dateDiff > 180 && totalInventory <= 0 ){  product.hide = true }
        if(dateDiff > 149 && totalInventory <= 2 ){ product.hide = true }
        if (p.preOrder) {  product.hide = false }
        if (tags.includes('always-show')) {  product.hide = false }

        product.dateDiff = dateDiff;
        product.totalInventory = totalInventory;

        product.title = product.title.split('--')[0];

        product.price = Currency.formatMoney(product.price, Currency.moneyFormats[Currency.currentCurrency].money_format)
        return product;
    }

    function requestRecommendations(id, limit) {
        return fetch(`/recommendations/products.json?product_id=${id}&limit=${limit}`)
                .then(function(response) { return response.json() })
                .catch(console.log);
    }

    function loadFeed(target) {
        const id = target.getAttribute('data-source');
        const limit = target.getAttribute('data-limit');

        requestRecommendations(id, limit).then(async function(response) {
            const products = await Promise.all(response.products.map(autoHideLogic));
            const filtered = products.filter(function(product) { return !product.hide });
            // console.warn('Recommendations Request', filtered);

            fillContainer(target, filtered);
            $(target).slick({
                slidesToShow: 3,
                responsive: [
                    {
                      breakpoint: 600,
                      settings: "unslick"
                    },
                    {
                      breakpoint: 480,
                      settings: "unslick"
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            })

        }).catch(console.log);
    }

    function feedIntersectionCallback(entries, observer) {
            const intersecting = entries.filter(function(entry) {
                return entry.isIntersecting;
            });

            intersecting.forEach(function(entry){
                observer.unobserve(entry.target);
                loadFeed(entry.target);
            });
    };

    function checkFeeds() {
        const feeds = document.querySelectorAll('.related-feed');
        const options = {
            threshold: 0.1,
            root: null,
            rootMargin: `0px 0px 250px 0px`
        };          

        const observer = new IntersectionObserver(feedIntersectionCallback, options);

        feeds.forEach(function(feed) {
            observer.observe(feed);
        });

        
    }

    checkFeeds();
})();