/* fonts */ 
@font-face {
	font-family: 'Baskerville';
	src: url('{{ 'baskervilleRegular.woff' | asset_url }}') format('woff'), 
	     url('{{ 'baskervilleRegular.woff2' | asset_url }}') format('woff2');
}

@font-face {
	font-family: 'BaskervilleSemiBoldIt';
	src: url('{{ 'baskervilleSemiBoldIt.woff' | asset_url }}') format('woff'), 
	     url('{{ 'baskervilleSemiBoldIt.woff2' | asset_url }}') format('woff2');
}

main.wrapper.main-content {
    max-width: 100vw;
    margin: 0;
    background-color: #f8f5eb;
}

.resolutions-container .section-header--title {
    font-family: 'Baskerville', serif;
}

.resolutions-page-content {
    font-family: Baskerville,serif;
    text-transform: none !important;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
    /* font-style: italic;*/
}

.toc-wrapper {
    background-image: url({{ 'resolutions-border.png' | asset_img_url: 'master' }});
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.resolutions-container-wrapper .section-header {
    padding: 0;
}

.flourish-wrapper img {
    max-width: 45px;
}

.goals-wrapper img {
    width: 100%;
  	max-width: 450px;
    height: auto;
}


.goals-wrapper img.max {
    max-width: 100%;
}

.toc-item span,
.resolutions-panel h3 span {
    font-family: 'BaskervilleSemiBoldIt', serif;
    /* font-style: italic; */
  	letter-spacing: 1px;
}

.toc-item p {
    font-size: 10px;
}

.resolutions-panel h3 p {
    font-family: 'BlairMdITC', sans-serif;
  	letter-spacing: 1px;
  	font-size: 14px;
}

.small-disclaimers {
    font-family: Baskerville, serif;
    font-size: 14px;
    text-transform: none;
    line-height: 1.75;
}

.sans-serif-header {
    font-family: 'BlairMdITC', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0;
}

.serif-copy {
    font-family: 'Baskerville', serif;
    font-size: 14px;
    text-transform: none;
    line-height: 1.75;
}

.small-serif-header {
    font-size: 11px;
    font-family: 'Baskerville', serif;
}

ul.serif-list {
    margin-bottom: 0;
}

.grid-header {
    font-family: 'BaskervilleSemiBoldIt', serif;
    text-transform: none;
    line-height: 1.35;
    letter-spacing: 0;
}

.grid-header.light-header {
    font-family: Baskerville,serif;
    font-weight: 300;
}

.serif-font {
    font-family: 'Baskerville', serif;
    text-transform: none;
    line-height: 1.75;
}

.serif-list li {
    font-family: 'Baskerville', serif;
    font-size: 14px;
    line-height: 1.5;
}

.serif-list li:not(:last-child) {
    margin-bottom: 30px;
}

.split-content-container h6 {
    font-family: 'BlairMdITC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
  	font-size: 11px;
}

.small-serif-list {
    font-family: 'Baskerville', serif;
    font-size: 14px;
    line-height: 1.5;
}

.small-grid > div {
    --border:  1px solid #b3aba1;
    border: var(--border);
    border-left: 0;
    border-top: 0;
    padding: 10px 25px;
}

.small-grid {
    font-size: 16px;
}

.small-grid > div:nth-child(-n+4) {
    border-top: var(--border);
}

.small-grid > div:nth-child(4n+1) {
    border-left: 0;
}

.small-grid > div:nth-child(4n) {
    border-right: 0;
}


#shopify-section-Resolutions .grid {
    margin-left: 0;
}


#shopify-section-Resolutions a { 
    text-decoration: underline;
}

.big-grid {
    text-transform: none;
    font-size: 14px;
}

.big-grid > div {
    --border:  1px solid #b3aba1;
    border: var(--border);
    border-left: 0;
    border-top: 0;
    padding: 7.5px 15px;
}

.big-grid > div:nth-child(-n+6) {
    border-top: var(--border);
}

.big-grid > div:nth-child(6n+1) {
    border-left: 0;
}

.big-grid > div:nth-child(6n) {
    border-right: 0;
}

.xsmall-grid > div {
    --border:  1px solid #b3aba1;
    border: var(--border);
    border-left: 0;
    border-top: 0;
    padding: 9px 15px;
    font-size: 12px;
}

.xsmall-grid > div:nth-child(-n+2) {
    border-top: var(--border);
}

.xsmall-grid > div:nth-child(2n+1) {
    border-left: 0;
}

.xsmall-grid > div:nth-child(2n) {
    border-right: 0;
}

.principles-list {
    font-size: 11px;
}

.principles-list li {
    margin-bottom: 10px;
}

.princples-wrapper {
    border-bottom: 1px solid #b3aba1;
}

.princples-wrapper.no-b {
    border-bottom: 0;
}

.split-content-container img:not(.hash-divider-img):not(.w-3\/5):not(.w-auto):not(.triple-flower) {
    width: 100%;
}

.resolution-flowers   {
	width: 33px;
  	height: auto;
}
      
.side-menu-heading {
	font-size: 17px;
    letter-spacing: 0px;
}
      
.text-side-padding {
	padding: 0 2.5rem;
}
      
p {
	margin: 0;
}
      
.heading-description {
	/* font-weight: 700; */
}
      
.top-text {
    font-family: 'BaskervilleSemiBoldIt', serif;
    font-size: 16px;
    margin-bottom: 20px;
}
      
      
      
@media (max-width: 768px) {    
    .big-grid > div {
        padding: 7.5px 2.5px;
    }
  
    .big-grid > div:nth-child(-n+6) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
    }
  
    .small-grid > div {
    	padding: 5px;
    }
  
    .split-content-container h6 {
    	font-size: 14px;
        text-align: center;
    }
    
    .xsmall-grid > div {
     	font-size: 14px; 
    }

    #resolutions-2 .w-full.overflow-auto .big-grid {
        width: 175%;
    }

    .big-grid-wrapper {
        background-image: 
          
          /* Shadows */ 
          linear-gradient(to right, #f8f5eb, #f8f5eb),
          linear-gradient(to right, #f8f5eb, #f8f5eb),
        
      /* Shadow covers */ 
          linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
          linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   
      
          background-position: left center, right center, left center, right center;
          background-repeat: no-repeat;
          background-color:transparent;
          background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
          
          /* Opera doesn't support this in the shorthand */
          background-attachment: local, local, scroll, scroll;
    }
}

@media (min-width: 768px) {
}