
/* fonts */ 
@font-face {
	font-family: 'ATSackersHeavyRoman';
	src: url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/ATSackersHeavyRoman.eot') format('eot'), 
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/ATSackersHeavyRoman.otf')  format('opentype'),
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/ATSackersHeavyRoman.woff') format('woff'), 
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/ATSackersHeavyRoman.ttf')  format('truetype'),
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/ATSackersHeavyRoman.svg') format('svg');
}
@font-face {
	font-family: 'BlairMdITC';
	src: url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/BlairMdITC.eot') format('eot'), 
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/BlairMdITC.otf')  format('opentype'),
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/BlairMdITC.woff') format('woff'), 
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/BlairMdITC.ttf')  format('truetype'),
	     url('https://cdn.shopify.com/s/files/1/0950/9820/t/407/assets/BlairMdITC.svg') format('svg');
} 
