
/*============================================================================
  Classic | A theme by Shopify
  Built on Timber v2.0.0
==============================================================================*/

/*================ Variables, theme settings, and Sass mixins from Timber ================*/
/*================ Global | Sass Mixins ================*/
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}

@mixin transform($transform: 0.1s all) {
  @include prefix('transform', #{$transform});
}

@mixin gradient($from, $to, $fallback) {
  background: $fallback;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: -ms-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(top bottom, $from 0%, $to 100%);
}

@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
}

@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

@mixin box-sizing($box-sizing: border-box) {
  -webkit-box-sizing: #{$box-sizing};
  -moz-box-sizing: #{$box-sizing};
  box-sizing: #{$box-sizing};
}

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

@function color-control($color) {
  @if (lightness( $color ) > 50) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

{% if settings.enable_wide_layout %}
  $siteWidth: 1460px;
{% else %}
  $siteWidth: 1030px;
{% endif %}

$gutter: 20px;
$gridGutter: 20px;
$radius: 2px;

$small: 480px;
$medium: 768px;
$large: 769px;
{% if settings.enable_wide_layout %}
$wide: 1460px;
{% endif %}

$viewportIncrement: 1px;
$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  {% if settings.enable_wide_layout %}
  'large' '(min-width: #{$large}) and (max-width: #{$wide})',
  {% else %}
  'large' '(min-width: #{$large})',
  {% endif %}
  'post-large' '(min-width: #{$large})'{% if settings.enable_wide_layout %},
  'wide' '(min-width: #{$wide})'{% endif %}
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large', 'post-large', 'wide');
$breakpoint-has-push:  ('medium', 'medium-down', 'large', 'post-large', 'wide');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large', 'post-large', 'wide');

/*================ Color variables ================*/
$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: lighten($colorBtnPrimary, 10%);
$colorBtnPrimaryActive: darken($colorBtnPrimaryHover, 10%);
$colorBtnPrimaryText: {{ settings.color_button_primary_text }};

$colorBtnSecondary: $colorSecondary;
$colorBtnSecondaryHover: lighten($colorBtnSecondary, 10%);
$colorBtnSecondaryActive: darken($colorBtnSecondaryHover, 10%);
$colorBtnSecondaryText: {{ settings.color_button_secondary_text }};

$colorBtnTertiary: {{ settings.color_body_bg }};
$colorBtnTertiaryHover: $colorPrimary;
$colorBtnTertiaryActive: darken($colorPrimary, 10%);
$colorBtnTertiaryText: $colorPrimary;

// Text link colors
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 15%);

// Text colors
$colorTextBody: {{ settings.color_body_text }};
$colorTopBarText: {{ settings.color_topbar_text }};

// Backgrounds
$colorBody: {{ settings.color_body_bg }};
$colorHeader: transparent;
$colorTopBar: {{ settings.color_topbar_bg }};

// Border colors
$colorBorder: {{ settings.color_borders }};

// Nav and dropdown link background
$colorNavText: {{ settings.color_header_text }};

// Site Footer
$colorFooterBg: {{ settings.color_footer_bg }};
$colorFooterText: {{ settings.color_footer_text }};

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Password page
$passwordPageUseBgImage: true;

/*================ Typography variables ================*/
{% if settings.type_base_family contains 'Google' %}
  {% assign type_base_parts = settings.type_base_family | split: '_' %}
  {% assign type_base_name = type_base_parts[1] %}
  {% capture base_family %}"{{ type_base_name | split: ':' | first | replace: '+', ' ' }}"{% if type_base_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
{% else %}
  {% assign base_family = settings.type_base_family %}
{% endif %}

{% if settings.type_header_family contains 'Google' %}
  {% assign type_header_parts = settings.type_header_family | split: '_' %}
  {% assign type_header_name = type_header_parts[1] %}
  {% capture header_family %}"{{ type_header_name | split: ':' | first | replace: '+', ' ' }}"{% if type_header_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
  {% assign header_weight = type_header_parts[2] %}
{% else %}
  {% assign header_family = settings.type_header_family %}
  {% assign header_weight = 700 %}
{% endif %}

{% if settings.type_accent_family contains 'Google' %}
  {% assign type_accent_parts = settings.type_accent_family | split: '_' %}
  {% assign type_accent_name = type_accent_parts[1] %}
  {% capture accent_family %}"{{ type_accent_name | split: ':' | first | replace: '+', ' ' }}"{% if type_accent_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
  {% assign accent_weight = type_accent_parts[2] %}
{% else %}
  {% assign accent_family = settings.type_accent_family %}
  {% assign accent_weight = 400 %}
{% endif %}

// Body Font
$bodyFontStack: {{ base_family }};
$baseFontSize: {{ settings.type_base_size }};

// Header Font
$headerFontStack: {{ header_family }};
$headerFontWeight: {{ header_weight }};
$headerBaseFontSize: {{ settings.type_header_size }};

// Navigation and buttons
$accentFontStack: {{ accent_family }};
$accentFontWeight: {{ accent_weight }};
$accentFontSize: {{ settings.type_accent_size }};


/*================ Vendor-specific styles ================*/
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: $colorBody;
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: $colorTextBody;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }


/*================ Theme-specific partials ================*/
h1 {
  font-size: em($headerBaseFontSize);
  line-height: 1.2;
}

h2 {
  font-size: em(floor($headerBaseFontSize * 0.88)); //28px
  line-height: 1.3;
}

h3 {
  font-size: em(floor($headerBaseFontSize * 0.7)); //22px
  line-height: 1.4;
}

h4,
.tags {
  font-size: em(floor($headerBaseFontSize * 0.5)); //16px
  line-height: 1.6;
}

h4 {
  font-size: em(floor($headerBaseFontSize * 0.5)); //16px
  font-weight: bold;
}

h5 {
  font-size: em(floor($headerBaseFontSize * 0.5)); //16px
  line-height: 1.6;
}

h6 {
  font-size: em(floor($headerBaseFontSize * 0.45)); //14px
  line-height: 1.7;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

/*================ Footer ================*/
.site-footer {
  p,
  li,
  .rte,
  input {
    font-size: 0.85em;
  }
}

body.top-bar-enabled.template-index .main-content{
  @media only screen and (min-width: 600px){
    // margin-top: 50px;     
  }
}

.main-content {
  margin-top: $gutter * 4;

  .template-index & {
     margin-top: 0;
  }
}

@if ($colorBody == $colorFooterBg) or ($colorFooterBg == rgba(0,0,0,0))  {
  .main-content {
    padding-bottom: 0;
    
    &:after {
      content: '';
      display: block;
      padding-top: $gutter;
      border-bottom: 1px solid $colorBorder;
    }
  }
}

{% unless settings.bg_image == blank %}

  {% case settings.bg_image %}
    {% when 'music' %}
      {% assign bg_image = 'bg-music.png' %}
    {% else %}
      {% assign bg_image = 'bg-custom.png' %}
  {% endcase %}
  
  {% if settings.bg_image_display == 'tile' %}
  html, body { background: $colorBody url('{{ bg_image | asset_url }}') repeat scroll; }
  {% elsif settings.bg_image_display == 'stretch' %}
  html, body { background: $colorBody url('{{ bg_image | asset_url }}') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
  {% endif %}

{% endunless %}


/*================ Module-specific styles ================*/
.header-bar {
  @include clearfix();
  font-family: $accentFontStack;
  font-size: em(14px);
  font-weight: 400;
  background-color: $colorTopBar;
  color: $colorTopBarText;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  width:100%;

  @include at-query($min, $large) {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  a,
  button {
    color: $colorTopBarText;

    &:hover,
    &:active,
    &:focus {
      outline-color: $colorTopBarText;
    }
  }

  .inline-list {
    margin-bottom: 0;

    li {
      margin-bottom: 0;
    }
  }
}

@include at-query($min, $large) {
  .header-bar__left {
    text-align: left;
    width: 33.33%;
  }

  .header-bar__right {
    width: 66.66%;
  }
}

.header-bar__module {
  margin-bottom: $gutter/2;

  .header-bar__right &:last-child {
    margin-bottom: 0;
  }

  @include at-query($min, $large) {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
  }
}

.header-bar__module--list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0;

    & + li {
      margin-left: 6px;
    }
  }
}

.cart-page-link {
  display: inline-block;
}

.header-bar__cart-icon {
  font-size: 1.4em;
}

.hidden-count {
  display: none;
}

.header-bar__sep {
  display: none;

  @include at-query($min, $large) {
    color: $colorTopBarText;
    opacity: 0.4;
    display: inline-block;
    padding: 0 10px;
  }
}

.header-bar__search {
  @include clearfix();
  position: relative;
  background-color: #fff;
  border: 0 none;
  border-radius: $radius;

  @if ( ($colorTopBar == $colorBody) or ($colorTopBar == rgba(0,0,0,0)) ) {
    border: 1px solid $colorBorder;
  }

  @include at-query($min, $large) {
    margin-left: 0;
  }
  
  @include at-query($max, $medium) {
    margin: 0;
  }
  
  @include at-query($max, $small) {
    margin: 0;
  }

  form,
  input,
  button {
    margin-bottom: 0;
  }
}

.header-bar__search-input[type="search"] {
  display: block;
  width: 60%;
  float: right;
  background: transparent;
  border-color: transparent;
  padding: 5px 0;

  &:focus {
    background: transparent;
    border-color: transparent;
  }
}

.header-bar__search-submit {
  display: block;
  float: left;
  width: 40%;
  font-size: 16px;
  padding: 4px 0;
}

.supports-fontface {
  .header-bar__search-submit {
    width: 20%;
  }

  .header-bar__search-input[type="search"] {
    width: 80%;
  }

  @include at-query($max, $medium) {
    .header-bar__search-form {
      position: relative;
    }
    
    .header-bar__search-submit {
      width: 35px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .header-bar__search-input[type="search"] {
      width: 100%;
      padding-left: 35px;
    }
  }
}


.header-bar__search {
  .btn,
  .btn:hover,
  .btn:focus {
    background: transparent;
    color: #555;
  }
}

/*================ Module | Grid Link ================*/
.grid-link__container {
  margin-bottom: -$gutter;
}

.grid-link,
.grid-link--focus {
  position: relative;
  display: block;
  padding-bottom: $gutter / 2 ;
  line-height: 1.3;

  &:hover,
  &:active {
    .grid-link__image {
      @media only screen and (min-width: 600px) {
        opacity: 0.4;        
      }
    }
  }
}

.grid-link--focus {
  padding: $gutter / 1.5;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin-bottom: $gutter;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorFooterBg;
    @include transition(all 0.08s ease-in);
  }

  &:hover,
  &:active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.grid-link__image {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto ( $gutter / 3 );
  @include transition(all 0.08s ease-in);

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;

    {% if settings.collections_show_sold_out_circle %}
    .sold-out & {
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
    {% endif %}
  }

  .list-view__product & {
    min-width: 130px;
  }
}

.grid-link__image-centered {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

.grid-link__title,
.grid-link__meta {
  position: relative;
  margin-bottom: 5px;  
}

.grid-link__title {
  color: $colorTextBody;
  line-height: 1.4;
  font-weight: bold;
}

.grid-link__vendor {
  font-weight: normal;
}

.grid-link__meta {
  line-height: 1.5;
  color: $colorTextBody;
}

.grid-link__sale_price {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.list-view__product {
  border-bottom: 1px solid $colorBorder;
  margin-bottom: $gutter / 3;
  padding-bottom: $gutter / 3;
}

$badgeSize: 60px;
.badge {
  display: table;
  position: absolute;
  width: $badgeSize;
  height: $badgeSize;
  background-color: $colorPrimary;
  color: $colorBtnPrimaryText;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: em(12px);
  line-height: 1.1;
  z-index: 10;
}

.badge--sold-out {
  top: 50%;
  left: 50%;
  margin-top: -($badgeSize / 2);
  margin-left: -($badgeSize / 2);
  background-color: $colorBtnSecondary;
  color: $colorBtnSecondaryText;
}

.badge--sale {
  top: -($badgeSize / 5);
  right: -($badgeSize / 5);
}

.badge__text {
  display: table-cell;
  vertical-align: middle;
  padding: 2px 8px 0;
}

.badge__text--small {
  font-size: 8px;
  padding-top: 0;
}

.mobile-nav-trigger,
.mobile-cart-page-link {
  font-weight: bold;

  .icon {
    position: relative;
    top: -1px;
    vertical-align: middle;
    padding-right: 0;
  }
}

.mobile-nav-trigger {
  display: block;
  float: left;
  background: none;
  border: 0 none;
  padding: 0;
  margin: 0;

  .icon {
    font-size: 1.4em;
  }
}

.mobile-cart-page-link {
  display: block;
  float: right;

  .header-bar__cart-icon {
    font-size: 1.4em;
  }

  .cart-count {
    &:before {
      display: inline;
      content: "(";
    }
    &:after {
      display: inline;
      content: ")";
    }
  }
}

.mobile-nav {
  display: none;
  list-style: none;
  text-align: left;
  margin: 0;

  li {
    margin: 0;
  }
}

.mobile-nav__link {
  display: block;
  border-top: 1px solid $colorTopBarText;
  border-color: rgba($colorBorder, 0.5);

  /*================ Can't always control anchor markup to add a class ================*/
  > a {
    display: block;
    padding: ($gutter / 2.5) ($gutter / 2);
    font-size: em(12px);
    font-family: $headerFontStack;
    font-weight: $headerFontWeight;
    text-transform: uppercase;

    @include at-query ($min, $small) {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}
.mobile-nav__link:first-child { border-color:transparent; }
.mobile-nav__sublist-expand,
.mobile-nav__sublist-contract {
  display: inline-block;
  font-size: 0.6em;
  vertical-align: middle;
  margin: -2px 0 0 4px;
}

.mobile-nav__sublist-contract {
  display: none;
}

.mobile-nav__sublist-trigger.is-active {
  .mobile-nav__sublist-contract {
    display: inline-block;
  }

  .mobile-nav__sublist-expand {
    display: none;
  }
}

.mobile-nav__sublist {
  list-style: none;
  margin: 0;
  display: none;
  background-color: $colorBody;

  .mobile-nav__sublist {
    margin-left: $gutter / 2;

    .mobile-nav__sublist-link a {
      border-top: none;
    }
  }
}

.mobile-nav__sublist-link {
  a {
    display: block;
    padding: ($gutter / 2.5) ($gutter / 2);
    color: $colorNavText;
    font-size: em(15px);
    font-family: $headerFontStack;
    border-top: 1px solid $colorBorder;

    @include at-query ($min, $small) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

    &:hover {
      opacity: 1;
      color: $colorPrimary;
    }
  }
}

/*================ Module | Promo images ================*/

.promo-images .grid__item {
  margin-bottom: $gutter / 2;
}

{% if settings.product_image_zoom_type == 'lightbox' %}
/*================ Module | Product Lightbox ================*/

.mfp-bg {
  background-color: $colorBody;

  &.mfp-fade {
    -webkit-backface-visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease-out);

    //background opacity after load
    &.mfp-ready {
      opacity: 1;
      filter: alpha(opacity=100);
    }


    &.mfp-removing {
      @include transition(all 0.3s ease-out);
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.mfp-fade {
  &.mfp-wrap {
    .mfp-content {
      opacity: 0;
      @include transition(all 0.3s ease-out);
    }

    &.mfp-ready {
      .mfp-content {
        opacity: 1;
      }
    }

    &.mfp-removing {
        @include transition(all 0.3s ease-out);
      .mfp-content {
        opacity: 0;
      }

      button {
        opacity: 0;
      }
    }
  }

}

.mfp-counter {
  display: none;
}

.mfp-figure {
  .mfp-gallery .mfp-image-holder & {
    cursor: zoom-out;
  }

  &:after {
    box-shadow: none;
  }
}

.mfp-img {
  background-color: $colorBody;  
}

button.mfp-close {
  margin: 30px;
  font-size: em(40px);
  font-weight: 300px;
  opacity: 1;
  filter: alpha(opacity=100);
  color: $colorTextBody;
}

button.mfp-arrow {
  top: 0;
  height: 100%;
  width: 20%;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1024;

  &:after,
  & .mfp-a {
    display: none;
  }

  &:before,
  & .mfp-b {
    display: none;
  }

  &:active {
    margin-top: 0;
  }
}

.mfp-chevron {
  position: absolute;
  pointer-events: none;

  &:before {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-width: 4px 4px 0 0;
    @include transform(rotate(-45deg));
  }

  &.mfp-chevron-right {
    right: 55px;

    &:before {
      @include transform(rotate(45deg));
    }
  }

  &.mfp-chevron-left {
    left: 55px;

    &:before {
      @include transform(rotate(-135deg));
    }
  }
}


.lt-ie9 {
  .mfp-chevron:before,
  .mfp-chevron:after {
    content: " ";
    position: absolute;
    display: block;
    border-width: 0;
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -25px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  .mfp-chevron:before {
    z-index: 5;
  }

  .mfp-chevron:after {
    z-index: 2;
  }

  .mfp-chevron-right:after {
    border-left: 25px solid $colorTextBody;
    left: 80%;
  }

  .mfp-chevron-right:before {
    border-left: 25px solid white;
    left: 80%;
  }

  .mfp-chevron-left:after {
    border-right: 25px solid $colorTextBody;
    right: 80%;
  }

  .mfp-chevron-left:before {
    border-right: 25px solid white;
    right: 80%;
  }
}

{% endif %}

/*============================================================================
  #FlexSlider
    - jQuery FlexSlider v2.2.0 | http://www.woothemes.com/flexslider/
    - Contributing author: Tyler Smith (@mbmufffin)
==============================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider li {
  margin: 0;
  max-width: 100%;
}

.flexslider .slides > li {
  display: none; /* Hide the slides before the JS is loaded. Avoids image jumping */
  margin: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  @include backface();
}

.flexslider .slides img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.slides { @include clearfix; }
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

/*================ No JS Fallback ================*/
.no-js .slides > li:first-child { display: block; }
.flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/*================ Direction Nav ================*/
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-direction-nav { *height: 0;
  @media only screen and (max-width: 500px){
    display: none; 
  }
}
.flex-direction-nav a  {
  display: block;
  width: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  @include transition(all 0.3s ease 0.4s);
}

.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a {
  text-indent: -9999px;
  background: {
    color: transparent;
    repeat: no-repeat;
    size: 20px auto;
  }

  /*================ Hide SVG arrows in oldIE ================*/
  .lte-ie9 & {
    display: none;
  }

  &.flex-prev {
    background-image: url("{{ 'arrow-left.png' | asset_url }}");
    background-position: center center;
  }

  &.flex-next {
    background-image: url("{{ 'arrow-right.png' | asset_url }}");
    background-position: center center;
  }
}

.carousel-nav-item button,
.agile__actions .agile__nav-button {

  &:focus {
    outline: none;
  }
  
  &.prev-control,
  &.agile__nav-button--prev  {
    background-image: url("{{ 'arrow-left.png' | asset_url }}");
    background-position: center center;
  }

  &.next-control,
  &.agile__nav-button--next {
    background-image: url("{{ 'arrow-right.png' | asset_url }}");
    background-position: center center;
  }
}

/*================ Control Nav ================*/
.flex-control-nav {
  position: absolute;
  bottom: $gutter/2;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;

  li {
    margin: 0 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #ededed;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  border: 2px solid #fff;

  &:hover {
    background-color: #333;
  }

  &.flex-active {
    background-color: #fff;
    border-color: $colorPrimary;
    cursor: default;
  }
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flexslider:hover {
  .flex-next,
  .flex-prev {
    opacity: 1;
    @include transition(all 0.3s ease);
  }
}

.flex-direction-nav .flex-prev { left: 20px; }
.flex-direction-nav .flex-next { right: 20px; }
.flexslider:hover .flex-prev { left: 0; }
.flexslider:hover .flex-next { right: 0; }

/*================ Custom Flexslider Styles ================*/
.flexslider .slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide-link {
  display: block;

  img {
    display: block;
  }
}


{% if settings.social_sharing_products or settings.social_sharing_blog %}
/*================ Social share buttons ================*/
$shareButtonHeight: 22px;
$shareButtonCleanHeight: 30px;
$shareCountBg: #fff;
$shareBorderColor: #ececec;

.social-sharing {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @media only screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 25px;
    }
  }

  * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  a {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 5px 10px 5px 0;
    height: $shareButtonHeight;
    line-height: $shareButtonHeight;
    text-decoration: none;
    font-weight: normal;

    &:hover {
      color: #fff;
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    height: $shareButtonHeight;
    line-height: $shareButtonHeight;
    font-size: 12px;
  }

  .icon {
    padding: 0 5px 0 10px;

    &:before {
      line-height: $shareButtonHeight;
    }
  }

  /*================ Large Buttons ================*/
  &.is-large a {
    height: $shareButtonHeight*2;
    line-height: $shareButtonHeight*2;

    span {
      height: $shareButtonHeight*2;
      line-height: $shareButtonHeight*2;
      font-size: 18px;
    }

    .icon {
      padding: 0 10px 0 18px;

      &:before {
        line-height: $shareButtonHeight*2;
      }
    }
  }
}

.share-title {
  font-weight: 900;
  font-size: 12px;
  padding-right: 10px;

  .is-large & {
    padding-right: 16px;
  }
}

.share-facebook {
  background-color: #3b5998;

  &:hover {
    background-color: darken(#3b5998, 10%);
  }
}

.share-twitter {
  background-color: #00aced;

  &:hover {
    background-color: darken(#00aced, 10%);
  }
}

.share-pinterest {
  background-color: #cb2027;

  &:hover {
    background-color: darken(#cb2027, 10%);
  }
}

.share-fancy {
  background-color: #4999dc;

  &:hover {
    background-color: darken(#4999dc, 10%);
  }
}

.share-google {
  background-color: #dd4b39;

  &:hover {
    background-color: darken(#dd4b39, 10%);
  }
}

.share-count {
  position: relative;
  background-color: $shareCountBg;
  padding: 0 8px;
  margin-right: -2px;
  font-size: 14px;
  line-height: $shareButtonHeight - 2;
  color: #333;
  border-radius: 0 2px 2px 0;
  border: 1px solid $shareBorderColor;
  opacity: 0;
  @include transition(opacity 0.2s ease-in);

  &.is-loaded {
    opacity: 1;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
  }

  &:before {
    left: -6px;
    border-right-color: $shareBorderColor;
  }

  &:after {
    left: -5px;
    border-right-color: $shareCountBg;
  }

  a:hover & {
    background-color: darken($shareCountBg, 4%);

    &:after {
      border-right-color: darken($shareCountBg, 4%);
    }
  }

  .is-large & {
    font-size: 18px;
    padding: 0 14px;
  }

}

/*================ Clean Buttons ================*/
.social-sharing.is-clean {
  a {
    background-color: #fff;
    border: 1px solid $shareBorderColor;
    color: #333;
    height: $shareButtonCleanHeight;
    line-height: $shareButtonCleanHeight;

    span {
      height: $shareButtonCleanHeight;
      line-height: $shareButtonCleanHeight;
      font-size: 13px;
    }

    &:hover {
      background-color: $shareBorderColor;
    }

    &:hover .share-count {
      background-color: $shareCountBg;

      &:after {
        border-right-color: $shareCountBg;
      }
    }

    .share-title {
      font-weight: normal;
    }
  }

  .share-count {
    top: -1px;
  }

  .icon-facebook {
    color: #3b5998;
  }

  .icon-twitter {
    color: #00aced;
  }

  .icon-pinterest {
    color: #cb2027;
  }

  .icon-fancy {
    color: #4999dc;
  }

  .icon-google {
    color: #dd4b39;
  }
}

{% endif %}

/*================ View-specific styles ================*/
/*============= Templates | Password page =============*/


.shopify-link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.shopify-logo-svg {
  width: 1.5 * $baseFontSize * 120 / 35;
  height: 1.5 * $baseFontSize;
  display: inline-block;
  line-height: 0;
  vertical-align: top;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8, we show the word 'Shopify' instead */
  .lt-ie9 & {
    display: none;
  }
}

/* =========
   Hiding the word 'Shopify' but not from screen readers.
   IE8 does not support SVG, so in it we hide the logo and show the word.
   To target all browsers except IE8, we use the class 'modern',
   which needs to be added to the html element.
   ========= */

.shopify-name {
  .modern & {
    @include visuallyHidden;
  }
}

/* Homepage */
.main-content {padding-bottom:$gutter;}
.section-border {border-top:1px solid $colorBorder; height:1px; width:100%; margin-bottom: $gutter / 2;}
.section-header {margin-bottom:$gutter;}
.underfooter-logo {padding-top:$gutter * 2; padding-bottom:$gutter * 2;}
.template-collection .main-content .grid__item, .template-page .grid__item {}
/* Footer */
@include at-query($min, $medium) {
.site-footer .grid-uniform {display: flex;}
.site-footer .grid__item.borders {border-right:1px solid $colorBorder;}
.site-footer .grid__item.borders:last-of-type, .site-footer .grid__item.borders:nth-child(4)  {border-right: 0px solid #000;}  
{% if settings.sticky_header_enable %}.main-content.wrapper {padding-top:{{ settings.sticky_header_height }}px !important;}{% endif %}    
.site-footer .grid__item {padding-left:0;}
}
@include at-query($max, $medium) {
.site-footer .grid__item.tr, .site-footer .grid__item.tl {text-align:center;}
{% if settings.overlay_mobile_header_enable %}.mobile-bar {position: absolute; width: 100%; z-index: 100;}{% endif %}
  .return-text, .shipping-text, .legal-text {display:none; padding-top:10px;}
  .product-single h1 {margin-top:20px;}
  .right-side {text-align:center;}
  .swatch .swatch-element {display: inline-block; float:none !important;}
  .wishlistbutton {margin:0 auto !important;}
  .product-single h1 {margin-bottom: 0;}
  .product-single h5 {margin-bottom:0 !important;}
  .related-products {margin-top:20px !important;}
  .site-footer .grid__item:last-child {width:33.3%; border-right: 0px !important;}
  .site-footer .wrapper {padding-top:20px !important;}
  .site-header {display:none;}
  .product-info {margin-top:20px;}
  .site-footer .grid__item.borders:nth-child(3)  {border-right:1px solid $colorBorder;} 
.template-product .flex-direction-nav .flex-next, .template-product .flexslider:hover .flex-next, .flexslider.lookbook .flex-next, .flexslider.lookbook:hover .flex-next {right:0 !important;}  
.template-product .flex-direction-nav .flex-prev, .template-product .flexslider:hover .flex-prev, .flexslider.lookbook .flex-prev, .flexslider.lookbook:hover .flex-prev {left:0 !important;}  
  .color-input .color-label {margin-left:20px;}
  #about-us .border:after {display:none;}
  .bgc {height: auto !important;}
  .section-header.bgc {padding:60px 0 !important;}
  .cart__image {margin-bottom:20px;}
  .template-cart .btn--secondary {margin-top:20px;}
  {% comment %} .site-footer .grid__item {padding-left:0;} {% endcomment %}
  .site-footer .wrapper {padding-bottom:20px !important;} 

  .template-product .flexslider{ max-width: 100% !important; }
  .zoomContainer.showing { z-index: 3; }
  .see-your-size {margin:10px auto 0 !important;}
  .js-open-modal.actionlinks.see-your-size {
     line-height: 40px;
    width: 240px;
   }
  
  .bis .side-left img {max-width: 150px; margin:0 auto;}
  .bis .modal-body #accepts_marketing{ transform: translateY(110%) scale(2); margin-right: 10px; }
  .modal-box.bis h5 { font-size: 9px; }
  #AddToCart {margin:0 auto;}
}
@include at-query($max, $small) {
  .site-footer .grid__item.borders  {border-right:none !important; }  
  .site-footer .grid__item {margin-bottom:30px;}
  .related-products .grid__item {margin-bottom:20px;}
}
/*============= Templates | Landing page =============*/
.landing__background {
  background-image: url({{ 'landing-bg.jpg' | asset_url }});
  height: 1064px;
}

.landing__header {
  text-align: center;
}


#extend-holiday li {  
 text-color: #ffffff; 
}


.template-search {
  .main-content {    
    margin-top: 40px;
  }
}

.template-collection .main-content{
  margin-top: 60px;
  @media only screen and (max-width: 769px) {
    margin-top: 30px;
  }
}

#AccessibleNav3 li a {
    padding-left: 0;
}



.soldoutindicator {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.soldoutinner {
    display: inline-block;
    vertical-align: middle;
}

li.product-infinite:nth-child(5n+3) .position-relative.grid__item,li.product-infinite:nth-child(5n+1) .position-relative.grid__item{
  clear: left;
}

.template-collection .main-content{
  @media only screen and (max-width: 600px){
    margin-top: 20px; 

    .collection-currency-wrapper label {
      display: flex;
      align-items: flex-start;
    }

    .currency-picker {
      padding: 4px 28px 10px 0;
    }
  }
}

@media only screen and (max-width: $small) {
  body.template-index #currency{
    display: none!important;
  }
} 



/* Cart Row CSS */
.cart-row-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center; 
  width: 70%;

  @include at-query($max, $small) {
    align-items: flex-start;
    align-content: flex-start;
  }
}  

.cart__image {
  max-height: 150px;
  max-width: 150px;
  @media only screen and (min-width: 768px) {
    min-width: 150px;
  }
}

.property-line { 
  font-size: 9px;
}

.cart-line-title {  
  @include at-query($max, $small) {
    font-size: 8px;
    width: 100%;
  }
}

.cart-row-size-option{
  width: 25%; 
  text-align: center;

  @include at-query($max, $small) {
    text-align: left;
    width: 100%;
    font-size: 8px;
    order: 3;
  }
}

.properties-line {
  @include at-query($max, $small) {
    order: 4;
    padding-top: 5px;
  }
}

.cart-row-price {
  margin-bottom: 1px;
  width: 25%; 
  text-align: right;
}

.cart-line-content {
  padding: 0 0 0 20px; 
  margin-bottom: 0; 
  font-size: 10px; 
  flex-grow: 1;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

@include at-query($max, $small) {
  .cart-line-content {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

body.template-cart .main-content {
  margin-top: 0;
}

body {
  opacity: 1;
}

body#the-fine-print .main-content {
  margin-top: 15px;
}







/* PASSWORD PAGE */

.pw-image {
  position:relative;
  width:100%;
}

.pw-note {
  background:#FAF8F0;
  color:#000;
  padding:50px 10%;
    text-align:center;
  
  p{
    padding:10px 0;
    text-align:center;
    font-style:italic;
    line-height:2;
    font-size:12px;
    font-family: Georgia, serif;
    
    a {
     text-decoration:underline; 
    }
  }
  
  .pw-anchor {
   width:300px;
    margin:auto;
    display:block;
  }
  
}


.pw-letter.open,
.pw-letter-2.open{
  opacity:1;
  z-index:999999999999999999999999999;
  
}


.pw-letter,
.pw-letter-2{
  background:white;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  text-align:center;
  z-index:-1;
  padding:50px 10%;
  overflow:scroll;
  text-align:left;
  opacity:0;
  
    p{
    padding:10px 0;
    text-align:left;
    font-style:italic;
    line-height:2;
    font-size:12px;
    font-family: Georgia, serif;
    
    a {
     text-decoration:underline; 
    }
  }
  
  
  .close-btn,
  .close-btn-2{
   position:absolute;
    top:20px;
    right:20px;
    width:75px;
    
    a {
     text-decoration:none; 
      font-size:16px;
      font-style:normal;
    }
  }
}


.pw-letter-2{
  text-align:center;
  
  p {
    text-align:center;
  }
}


.pw-header {
  position:absolute;
  top:0;
  width:100%;
  text-align:center;
  padding:20px 0;
  z-index:99999999999999;
  
  img {
   width:130px;
    display:block;
    margin:auto;
  }
}



.pw-image-container {
  position:relative;
  
.pw-image-text-overlay {
  position:absolute;
  text-align:center;
  width:100%;
  top:50%;
  transform:translateY(-50%);
  z-index:999999999999;
  color:white;
  
  h1 {
   line-height:2;
    letter-spacing:4px;
    font-size:20px;
    
    @media screen and (max-width: 768px) {
      font-size:12px;
      
    }
    
    
  }
  
}
}





/* password page in browser edits 10 12 2020 */

img.pw-image.desktop {
  
  @media only screen and (max-width: 768px) {
   display:none !important; 
  }
  
}


.pw-image.mobile {
  display:none; 
  
  @media only screen and (max-width: 768px) {
   display:block; 
  }
  
}

/* password page in browser edits 10 12 2020 */
/* PASSWORD PAGE */

/* Help DropDown */
.header-endcap {
  display: flex;
  justify-content: flex-end;
}

.help-menu-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "ATSackersHeavyRoman",serif;
  font-weight: 400;
  cursor: default;
  // font-size: 8px;

  ul {
    margin: 0;
  }

  li {
    white-space: nowrap;
  }

  .site-nav__dropdown {
    right: 0;
    left: auto;
    background-color: #fff;
  }
}
/* End Help DropDown */