<div class="section-header section-header--large bgc">
  <div class="wrapper">
  	<h2 class="section-header__title account-info">{{ 'customer.account.title' | t }}</h2>
    <h2 class="section-header__title order-main" style="display:none;">My Orders</h2>
  </div>
</div>
<div class="wrapper">
<div class="grid">
<div class="grid__item post-large--four-fifths push--post-large--one-tenth">
  <div class="grid__item one-quarter medium-down--hide">  
    
    <div class="account-menu">    
      <h4><a href="/account" class="active account-link">{{ 'customer.account.details' | t }}</a></h4>
    
      <h4><a href="#" id="order-trigger" class="order-link">{{ 'customer.orders.title' | t }}</a></h4>
    
    <h4><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a></h4>
      
    	<h4><a href="#" id="Rise-account-page-button" class="card__linklist-item link">DÔEN Credit</a></h4>
    
    <h4><a href="/apps/mywishlist/">Wishlist</a></h4>
      
      
    
      
      
    </div>

  </div>

{% paginate customer.orders by 20 %}
  
  <div class="grid__item three-quarters medium-down--one-whole">
    <div class="order-main" style="display:none;">
   
    {% if customer.orders.size != 0 %}

      <div class="table-wrap">
        <table class="full">
          <thead>
            <tr>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.order_number' | t }}</th>                            
              <th>Delivery Info</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                <td>{{ order.name }}</td>                               
                <td>{{ order.financial_status }}<br>{{ order.fulfillment_status_label }}</td>
                <td><a class="view-order" href="{{ order.customer_url }}">View Order</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% else %}

      <p>{{ 'customer.orders.none' | t }}</p>

    {% endif %}

    </div>

    <div class="account-info">
    <h5>{{ customer.name }}</h5>
    
    {{ customer.email }}
    </div>
    
  </div>
    {% if paginate.pages > 1 %}
      <div class="text-center" id="order-pagination" style="display: none;">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

    {% endpaginate %}  
</div>
</div>
</div>
  <div class="post-large--hide">  
    
    <div class="account-menu">   
      <div class="bgc">
      <h4><a href="/account" class="active account-link">{{ 'customer.account.details' | t }}</a></h4>
      </div>
      <div class="bgc">
      <h4><a href="#" id="order-trigger" class="order-link">{{ 'customer.orders.title' | t }}</a></h4>
      </div>
    	<div class="bgc">
    	<h4><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a></h4>
    	</div>
     
      	<div class="bgc">
    	<h4><a href="#" id="Rise-account-page-button" class="card__linklist-item link">DÔEN Credit</a></h4>
    	</div>
      
      
      
       

    	<div class="bgc">
    	<h4><a href="/apps/mywishlist/">Wishlist</a></h4>
      </div>
    </div>

  </div>
<script>
  $( ".order-link" ).on( "click", function() {
    $('.account-info').css("display", "none");
	$(".order-main").css("display", "block");
    $('#order-pagination').css('display', 'block');
    $(".account-link").removeClass("active");
    $(".order-link").addClass("active");   
  }); 
</script>