<div class="section-header section-header--large">
  <h1 class="section-header__title">{{ 'customer.activate_account.title' | t }}</h1>
</div>
<div class="wrapper">
<p>{{ 'customer.activate_account.subtext' | t }}</p>

<div class="grid">
  <div class="grid__item push--post-large--one-third wide--one-third large--one-third small--text-center">

    {% comment %}
      This form must use 'activate_customer_password'
    {% endcomment %}
    {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword">

      <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation">

      <div>
        <p>
          <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
        </p>
        <input type="submit" class="btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      </div>
    {% endform %}

  </div>
</div>
</div>