<div class="section-header section-header--large bgc">
  <div class="wrapper">
  <h2 class="section-header__title">Sign in / Register</h2>
  </div>
</div>
<div class="wrapper main-login-wrapper">
<div class="grid">

  <div class="grid__item push--post-large--one-sixth wide--one-third large--one-third small--text-center">

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      us assign a variable 'reset_success' to true, which is used in JS to show our success message.
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm">
      {% form 'customer_login' %}

        <div class="section-header section-header--large">
          <h4 class="">{{ 'customer.login.title' | t }}</h4>
        </div>

        {{ form.errors | default_errors }}

        <label for="CustomerEmail" class="">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" placeholder=" "{% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

        {% if form.password_needed %}

          <label for="CustomerPassword" class="">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder=" " {% if form.errors contains "password" %} class="error"{% endif %}>

          <p>
            <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
          </p>

        {% endif %}

        <p>
          <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
        </p>

      {% endform %}
    </div>

    {% comment %}
      This page uses JavaScript to show/hide the recover password form
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">

      <div class="section-header section-header--large">
        <h2 class="section-header__title">{{ 'customer.recover_password.title' | t }}</h2>
      </div>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% comment %}
        This form must use 'recover_customer_password'
      {% endcomment %}
      {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        {% comment %}
          form.posted_successfully? is true only inside this form, but we want
          to show a success message outside of it. To do so, set the variable
          reset_success to true, then use JS to show our success message above.
        {% endcomment %}
        {% if form.posted_successfully? %}
          {% assign reset_success = true %}
        {% endif %}

        <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

        <p>
          <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
        </p>
        <a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
      {% endform %}

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h4>{{ 'customer.login.guest_title' | t }}</h4>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>
  <div class="grid__item push--post-large--one-sixth wide--one-third large--one-third small--text-center">

    <div class="section-header section-header--large">
      <h4 class="">{{ 'customer.register.title' | t }}</h4>
    </div>

    {% comment %}
      This form must use 'create_customer'
    {% endcomment %}
    {% form 'create_customer' %}

      {{ form.errors | default_errors }}

      <label for="FirstName" class="">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" placeholder="" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName" class="">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" placeholder="" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email" class="">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" placeholder="" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="CreatePassword" class="">{{ 'customer.register.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" placeholder="" {% if form.errors contains "password" %} class="error"{% endif %}>

      <p>
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
      </p>

    {% endform %}

  </div>
</div>
</div>
<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'block';
    document.getElementById('CustomerLoginForm').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'none';
    document.getElementById('CustomerLoginForm').style.display = 'block';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('ResetSuccess').style.display = 'block';
  {% endif %}

  // Display early access message.
  function getJsonFromUrl(url) {
    if(!url) url = location.search;
    var query = url.substr(1);
    var result = {};
    query.split("&").forEach(function(part) {
      var item = part.split("=");
      result[item[0]] = decodeURIComponent(item[1]);
    });
    return result;
  }

  {% if settings.early_access %}
  function returnToInput() {
    const form = document.getElementById('customer_login');
    let redirectInput = form.querySelector('input[name="return_to"]') || document.createElement('input');

    redirectInput.name = 'return_to';
    redirectInput.type = 'hidden';
    redirectInput.value = '/collections/{{ settings.early_access_collection }}';

    form.prepend(redirectInput);
  }
  
  function checkLoginMessage() {
    const url = getJsonFromUrl();

    if (url['early-access'] !== {{ settings.early_access_collection | json }}) {
      return;
    }

    const message = document.createElement('p');

    message.classList.add('early-access-msg');
    message.textContent = 'If you are approved for early access, please login to your customer account to view this page';

    document.querySelector('.main-login-wrapper').prepend(message);

    returnToInput();
  }

  checkLoginMessage();
  {% endif %}
</script>

<style>
.early-access-msg {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
</style>