<div class="section-header section-header--large bgc">
  <h2 class="section-header__title">Order Details</h2>
</div>
<div class="wrapper">
<div class="grid">
  <div class="grid__item one-whole">
    <p>{{ 'customer.order.title' | t: name: order.name }} <br>
      Order Date {{ 'customer.order.date' | t: date: order.created_at | date: "%b %d, %Y" }}</p>

    {% if order.cancelled %}
      <div class="errors">
        {% assign cancelled_at = order.cancelled_at | date: "%b %d, %Y" %}
        <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
        <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
      </div>
    {% endif %}


          {% for line_item in order.line_items %}     
       
    	{%- liquid 
            assign optionIndex = 'null'
            for option in line_item.options_with_values
              if option.name == 'size' or option.name == 'Size' or option.name == 'SIZE'
                assign optionIndex = 'option' | append: forloop.index
              endif
            endfor
        -%}         
      <div class="cart__row item">
        <div class="grid--full cart__row--table-large">
          
        <div class="grid__item post-large--one-third">
            <div class="grid" id="{{ line_item.id }}">
              <div class="grid__item two-thirds">           
              {{ line_item.product.title | link_to: line_item.product.url }}				
            </div>
            <div class="grid__item one-third">
              <a href="{{ line_item.product.url }}" class="cart__image">
              <img src="{{ line_item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
          	</div>
          </div>        
        </div>
        <div class="grid__item post-large--two-thirds">
           <div class="grid--full cart__row--table-large"> 
             <div class="grid__item one-quarter text-center">
               Size: {{ line_item.variant[optionIndex] }}
             </div>
             <div class="grid__item one-quarter text-center">
               {{ 'cart.label.quantity' | t }}: {{ line_item.quantity }}
             </div>
             <div class="grid__item one-quarter text-center">
               {{ 'cart.label.price' | t }}: {{ line_item.quantity | times: line_item.price | money }}
             </div>
             <div class="grid__item one-quarter text-center">
               
             </div>             
          </div>
          </div>
          
      </div>
  	</div>
            {% endfor %}
    <div class="cart__row totals">
      <div class="grid__item one-half text-left alpha">
	{% for transaction in order.transactions %}    
      {% if transaction.payment_details.credit_card_company and transaction.payment_details.credit_card_number %}
	          <p>Card type: {{ transaction.payment_details.credit_card_company }} <br>

	          Last four digits: {{ transaction.payment_details.credit_card_number }}
    </p>
      {% endif %}

    {% endfor %}          
      </div>
      <div class="grid__item one-half text-right">
            <div class="text-right">{{ 'customer.order.subtotal' | t }}: {{ order.subtotal_price | money }}</div>

          {% for discount in order.discounts %}
              <div class="text-right">{{ discount.code }} {{ 'customer.order.discount' | t }}: {{ discount.savings | money }}</div>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
            <div class="text-right">{{ 'customer.order.shipping' | t }}: ({{ shipping_method.title }}) {{ shipping_method.price | money }}</div>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
              <div class="text-right">{{ 'customer.order.tax' | t }}: {{ tax_line.price | money }}</div>
          {% endfor %}

            <div class="text-right">{{ 'customer.order.total' | t }}: {{ order.total_price | money }} {{ order.currency }}</div>
      </div>
      
    </div>

  </div>

</div>
</div>
<div class="wrapper">
<a href="/account" class="back">{{ 'customer.account.return' | t }}</a>
</div>