<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
     
    {{ 'jquery-local.js' | asset_url | script_tag }}

    {{ 'jquery.newcookie.js' | asset_url | script_tag }}

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {{ 'checkout.scss' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {{ skip_to_content_link }}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main__header">
          {{ content_for_logo }}
          {{ breadcrumb }}
          {{ alternative_payment_methods }}
        </div>
        <div class="main" role="main">
          <div class="main__content">
            {{ content_for_layout }}
    
              <div class="section section--international-order order-disclaimer">
                <div class="section__header">
                  <h2 class="sectoin__title domestic"><a href="/pages/the-fine-print#return-policy">Domestic Order Policy</a></h2>
                  <h2 class="sectoin__title international"><a href="/pages/the-fine-print#return-policy">International Order Policy</a></h2>
                  <h2 class="sectoin__title in-store"><a href="https://shopdoen.zendesk.com/hc/en-us#Local%20Pickup">In-Store Pickup Policy</a></h2>
                </div>
                <div class="section__content">
                  <div class="content-box">
                    <div class="content-box__row international-checks">
                      <input type="checkbox" class="input-checkbox order-checks" name="checkbox_international" value="international" id="checkbox_international"/><label for="checkbox_international" class="checkbox__label content-box__emphasis international_label">Accept Terms To Complete Your Order</label>                  
                    </div>
                    <ul class="order-policy-list domestic">
                      <li>We offer returns for unworn items in new condition with original tags attached. We must receive your return within 30 days from the date your order is placed.</li>
                    </ul>
                    <ul class="order-policy-list in-store">
                      <li id="available-in-store-date"></li>
                      <li>Store location: Brentwood Country Mart, 225 26th St, Santa Monica, CA 90402.</li>
                      <li>Curbside Pick Up Hours: 10AM-4PM.</li>
                      <li>Your order will be ready within 1 hour.</li>
                      <li><a href="https://shopdoen.zendesk.com/hc/en-us#Local%20Pickup">Please see curbside instructions</a></li>
                    </ul>
                    <ul class="order-policy-list international" id="withoutTaxes">
                      <li>Your country may charge you import duties and taxes upon receipt should you choose not to pay them at checkout, and you agree to pay any duties levied by your country in full.</li>
                      <li>You have read and understand our <a href="https://shopdoen.com/pages/the-fine-print#return-policy">International Return Policy.</a></li>
                    </ul>
                    <ul class="order-policy-list international" id="withTaxes">
                    <li>You have read and understand our <a href="https://shopdoen.com/pages/the-fine-print#return-policy">International Return Policy.</a></li>          	
                    </ul>
                  </div>
                </div>
              </div>

          </div>
          <div class="main__footer">

            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            <h2 class="section__title" style="margin-bottom: 10px">Your Cart</h2>
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>


<!--             <div class="section section--international-order">
              <div class="section__header">
                <h2 class="sectoin__title"><a href="/pages/the-fine-print#return-policy">International Order Policy</a></h2>
              </div>
              <div class="section__content">
                <div class="content-box">
                  <div class="content-box__row international-checks">
                    <input type="checkbox" class="input-checkbox" name="checkbox_international" value="international" id="checkbox_international"/><label for="checkbox_international" class="checkbox__label content-box__emphasis international_label">Accept Terms To Complete Your Order</label>                  
                  </div>
                  <p id="international_shipping_disclaimer">
                    We offer returns for unworn items in new conditions with original tags attached. We must receive your return within 30 days
                    from the date you originally received your order. Customer pays and arranges all international return shipping. We cannot be responsible
                    for any lost return packages. Any duties and taxes paid are nonrefundable. You can pursue a refund of duties with your local
                    tax agencies. Orders including pre-order items will be held at our warehouse until the last pre-order item is received, and will only be shipped out once the order is complete. Orders including pre-order items will be held at our warehouse until the last pre-order item is received, and will only be shipped out once the order is complete.
                  </p>     
                </div>
              </div>
            </div> -->
    
    <div id="withTaxes" class="custom-modal hide">
      <div class="custom-modal-content">
<!--         <input id="checkboxTaxes"class="custom-modal-checkbox" type="checkbox"> By checking this box, you accept the following conditions: -->
        <ul class="custom-modal-ul">
          <li>If your order includes pre-order items, it will be held at our warehouse until the last pre-order 
   item is received, and will only be shipped to you once the order is complete.</li>
          <li>You have read and understand our <a href="https://shopdoen.com/pages/the-fine-print#return-policy">International Return Policy.</a></li>
        </ul>
<!--         <div class="custom-modal-button">Cancel</div> -->
      </div>
    </div>

    <div id="withoutTaxes" class="custom-modal hide">
      <div class="custom-modal-content">
<!--         <input id="checkboxNoTaxes" class="custom-modal-checkbox" type="checkbox"> By checking this box, you accept the following conditions: -->
        <ul class="custom-modal-ul">
          <li>Your country may charge you import duties and taxes upon receipt should you choose not to pay them at checkout and you agree to pay any duties levied by your country in full.</li>
          <li>If your order includes pre-order items, it will be held at our warehouse until the last pre-order item is received, and will only be shipped to you once the order is complete.</li>
          <li>You have read and understand our <a href="https://shopdoen.com/pages/the-fine-print#return-policy">International Return Policy.</a></li>
        </ul>
<!--         <div class="custom-modal-button">Cancel</div> -->
      </div>
    </div>




    {{ tracking_code }} 
    <script>
      (function(){
        const step = window.Shopify.Checkout.step;
        
        const daySettings = {
          3: {
            evening: {
              '3 business days': '3 Day Shipping (Expected Delivery Day Monday)',
              '2 business days': '2 Day Shipping (Expected Delivery Day Friday)',
              '1 business days': '1 Day Shipping (Expected Delivery Day Friday)',
              '1 business day': '1 Day Shipping (Expected Delivery Day Friday)'
            }
          },
          4: {
            morning: {
              '3 business days': '3 Day Shipping (Expected Delivery Day Tuesday)',
              '2 business days': '2 Day Shipping (Expected Delivery Day Monday)',
              '1 business days': '1 Day Shipping (Expected Delivery Day Friday)',
              '1 business day': '1 Day Shipping (Expected Delivery Day Friday)'
            },
            evening: {
              '3 business days': '3 Day Shipping (Expected Delivery Day Tuesday)',
              '2 business days': '2 Day Shipping (Expected Delivery Day Monday)',
              '1 business days': '1 Day Shipping (Expected Delivery Day Monday)',
              '1 business day': '1 Day Shipping (Expected Delivery Day Monday)'
            }
          },
          5: {
            morning: {
              '3 business days': '3 Day Shipping (Expected Delivery Day Tuesday)',
              '2 business days': '2 Day Shipping ( Expected Delivery Day Tuesday)',
              '1 business days': '1 Day Shipping ( Expected Delivery Day Monday)',
              '1 business day': '1 Day Shipping ( Expected Delivery Day Monday)'
            },
            evening: {
              '3 business days': '3 Day Shipping (Expected Delivery Day Wednesday)',
              '2 business days': '2 Day Shipping ( Expected Delivery Day Tuesday)',
              '1 business days': '1 Day Shipping ( Expected Delivery Day Tuesday)',
              '1 business day': '1 Day Shipping ( Expected Delivery Day Tuesday)'
            }
          }
        };


        const updateShippingOptions = function() {
          const today = new Date().getDay();
          // const today = 4; 
          const currentHour = new Date().getHours();
          const timeOfDay = 12 > currentHour ? 'morning' : 'evening';

          console.warn('Day Settings', today, timeOfDay, currentHour);

          if (!daySettings[today] || !daySettings[today][timeOfDay]) { 
            return;
          }

          const container = document.querySelector('.edit_checkout .section__content');
          const smallTexts = container.querySelectorAll('.radio-wrapper .small-text');
          const shippingOpts = [...smallTexts];

          if (shippingOpts.length === 0) {
            console.warn('Shipping Options', shippingOpts.length);
            return setTimeout(updateShippingOptions, 500);
          } 

          shippingOpts.forEach(function(span) {
            const currentMsg = span.innerHTML.toLowerCase();
            const message = daySettings[today][timeOfDay][currentMsg];

            span.innerHTML = message || currentMsg;
            console.log('Current Message', message, currentMsg);
          });
          console.log('HERE', smallTexts, container, shippingOpts, today, currentHour);
        };

        const shippingDisclaimers = function() {
          const standardDisclaimer = 'Orders received after 12:00pm PST will be shipped the following day';
          const dislaimerP = document.createElement('p');
          const mainHeader = document.getElementById('main-header');

          {% comment %} Remove Standard Disclaimer  {% endcomment %}
          {% comment %} dislaimerP.innerHTML = standardDisclaimer; {% endcomment %}
          {% comment %} mainHeader.parentElement.appendChild(dislaimerP); {% endcomment %}
          updateShippingOptions();
        };
        
        function getMonth(n) {
        const months = ["January", "February", "March", "April", "May", "June",
                          "July", "August", "September", "October", "November", "December"
                       ];
          
          return months[n];
        }
        
        function getDayName(n) {
          const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
          
          return days[n];
        }
        
        function dayEnd(d){
  		  if (d > 3 && d < 21) return 'th';
          switch (d % 10) {
            case 1:  return "st";
            case 2:  return "nd";
            case 3:  return "rd";
            default: return "th";
          }
        }
        
        function getTomorrow () {
        	var tomorrow = new Date();
				tomorrow.setDate(new Date().getDate()+1);
          
          if ( tomorrow.getDay() === 5) {
          	tomorrow.setDate(new Date().getDate() + 3 );
          }
          
          if ( tomorrow.getDay() === 6) {
          	tomorrow.setDate(new Date().getDate() + 2 );
          }
          
          if ( tomorrow.getDay() === 0) {
          	tomorrow.setDate(new Date().getDate() + 1 );
          }
          
          
          return tomorrow;
        }
        
        window.dayEnd = dayEnd;
        window.getDayName = getDayName;
        window.getMonth = getMonth;
        window.getTomorrow = getTomorrow;
        
        
        const localPickup = function() {
          const allLabels = document.querySelectorAll('.radio__label');
          
          if (allLabels.length === 0) {
            return setTimeout(localPickup, 500);
          } 
          
          const inStoreOption = [...allLabels].filter(function(label) {
          		const primaryLabel = label.querySelector('.radio__label__primary');
            	const shippingLabel = primaryLabel.getAttribute('data-shipping-method-label-title');
            	const inStoreTest = /\in-store/i.test(shippingLabel);
            return inStoreTest
          });
          
          // Exit if no in-store option present on page.
          if (!inStoreOption || inStoreOption.length === 0) {
            return;
          }
          
          const tomorrow = getTomorrow();
          
          const dateString = `${getDayName(tomorrow.getDay())} ${getMonth(tomorrow.getMonth())} ${tomorrow.getDate()}${dayEnd(tomorrow.getDate())}`;
          
          console.log('In Store Optins', inStoreOption);
          
          inStoreOption[0].querySelector('.radio__label__primary').innerHTML += `
			    <br>
			    <span class="small-text">Available for pickup on ${dateString} after 2pm</span>
	      `;
          
          console.log('Check Local Pickup Scenario', dateString);
        };
        
        console.log('Check step?');

 const isInternational = function(){
          let country = Cookies.get('DoenCountry');
          if(country == undefined){
                const rows = $('.step .section:first-child .review-block:last-child');            
                const shippingtext = rows.find('.review-block__content').text().toLowerCase();
            console.log('No Country Found', shippingtext);
            	return shippingtext.indexOf('international') !== -1;
          }
          const lowercaseCountry = country.toLowerCase();
   
   			console.log('Is International Test', country);
        	return country != 'United States' && country != 'US' && lowercaseCountry != 'united states';
        };

        const internationalDutyAdjustments = function() {
          if (!isInternational()) {
            return;
          }

          const allShippingLabels = [...document.querySelectorAll('.radio__label__primary')];

          if  (allShippingLabels.length === 0 ) {
            setTimeout(internationalDutyAdjustments, 500);
            return;
          }

          const dutiesRegex = new RegExp('duties (&|and) taxes', 'i');
          const nonTaxedOptions = allShippingLabels.filter(function(label) {
            return !dutiesRegex.test(label.textContent)
          });

          nonTaxedOptions.forEach(function(label) {
            let smallText = label.querySelector('.small-text');
            if (!smallText) {
              smallText = document.createElement('span');
              smallText.classList.add('small-text');
              
              smallText.textContent = ' (Duties & Taxes are not included)';
              label.innerHTML += `<br>`;

              label.appendChild(smallText);
            } else {
              if (!smallText.textContent.match(/dut(y|ies)/i)) {
                smallText.textContent = '(Duties & Taxes are not included)';
              }
            }

          });
          console.warn('Run International Duty Adjustments', dutiesRegex, isInternational(), allShippingLabels, nonTaxedOptions);
        }

        if ( step === 'shipping_method' ) {
          {% comment %} shippingDisclaimers(); {% endcomment %}
          localPickup();
          internationalDutyAdjustments();
        }
      })();
    </script>
    <script>
      (function($){
        
        function getCart() {
          return fetch('/cart.js').then((res) => res.json());
        } 


        function isMobile() {
          return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }


        var country = Cookies.get('DoenCountry');
        
        const isInternational = function(){  
                const rows = $('.step .section:first-child .review-block:nth-child(2)');       
                const shippingtext = rows.find('.review-block__content').text().toLowerCase();
          
          console.warn('Shippping Text', country, shippingtext.trim(), /\in store/i.test(shippingtext));
          
          if (/\in-store/i.test(shippingtext) || /\in store/i.test(shippingtext) ) { 
            return 'in-store';
          }
          
          if(country == undefined && shippingtext.indexOf('international') !== -1){   
                return 'international';
            	return shippingtext.indexOf('international') !== -1;
          }
          
          const lowercaseCountry = (country) ? country.toLowerCase() : null;
          
          if (country == 'United States' || country == 'US' || lowercaseCountry == 'united states' || shippingtext.indexOf('united states') !== -1) {
            return 'domestic';
          }
          
          
          return 'international'
        };
           

        var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
            }
          }
        };

        $(window).on("load", async function(){
          var currentStep = getUrlParameter('step');
          var currentTitle = $('.breadcrumb__item--current');
          // the statement below should be amended to If shipping_method and country is NOT US.
          console.log(country);
          // console.log(currentStep);
          {% if customer %}{% for address in customer.addresses %}country = '{{ address.country_code }}';{% endfor %}{% endif %}  
          if(isMobile()){
            console.log('mobile');
            var paymentMethod = '[data-step="payment_method"]';
            if(paymentMethod.length && currentStep == 'payment_method' ){
              console.log('payment method?');
              var lowercaseCountry = country.toLowerCase();
              if(country != 'United States' && country != 'US' && lowercaseCountry != 'united states' ){
                let del = 0;
                $('.step__footer__continue-btn').prop('disabled', true).addClass('disabled');
                console.log('inside if' + $('.step__footer').length );
                if( $('.step__footer').length > 0 ){

                }else{
                  del += 1500;
                }

                var checkExists2 = setInterval(function(){
                  if( $('.step__footer').length > 0){
                    $('.section--international-order').insertBefore('.section.section--remember-me').fadeIn();
                    $('.international-checks').css('opacity','1');

                    $('#checkbox_international').on("change", function(){
                      var box = $(this);
                      if(box.is(':checked')){
                        $('.step__footer__continue-btn').prop('disabled', false).removeClass('disabled'); 
                      }else{
                        $('.step__footer__continue-btn').prop('disabled', true).addClass('disabled');
                      }
                    });
                    clearInterval(checkExists2);
                  }
                }, 100);
              }
            }

            $('#checkout_shipping_address_country').on("change", function(){
              var value = $(this).val();
              Cookies.set('DoenCountry', value);
            }); 

          }else{
            if(currentStep == 'payment_method' || currentTitle.is(':last-child')){ 
              const cart = await getCart();
              console.log('Payment Method', cart);
              
                let del = 0;

                if( $('.step__footer').length == 0 ){
                  del += 1000;
                }

                var checkExists = setInterval(function(){
                  const rows = $('.step .section:first-child .review-block:last-child');            
                  const shippingtext = rows.find('.review-block__content').text().toLowerCase();
                  console.log('Checking Interval', rows.length );
                  if( rows.length > 0 ){
                    clearInterval(checkExists);

                    $('.order-disclaimer').insertBefore('.step__footer').fadeIn();
                    
                    console.log('INTERNATINOAL RETURN!', isInternational());
                    if (isInternational() === 'international' ) {
                      $('.order-disclaimer').addClass('international')
                      
                      if (shippingtext.indexOf('taxes included') !== -1 ) {
                      	$('.order-disclaimer').addClass('withTaxes')
                      } else { 
                        $('.order-disclaimer').addClass('withoutTaxes') 
                      }
                    }
                    
                    
                    if (isInternational() === 'domestic' ) {
                      $('.order-disclaimer').addClass('domestic')
                      
                    }
                    
                    
                    
                    if (isInternational() === 'in-store' ) {
                      const tomorrow = new Date();
                      const dateString = `${window.getDayName(tomorrow.getDay())} ${window.getMonth(tomorrow.getMonth())} ${tomorrow.getDate()}${window.dayEnd(tomorrow.getDate())}`;
          			  const inStorePhrase = document.getElementById('available-in-store-date');
          			  
                      inStorePhrase.innerHTML = `Available for pickup on ${dateString}`;
                      $('.order-disclaimer').addClass('in-store');
                      
                    }

                    $('.international-checks').css('opacity','1');
                    $('.step__footer__continue-btn').prop('disabled', true).addClass('disabled');
                    $('.order-checks').on("change", function(){
                      var box = $(this);
                      if(box.is(':checked')){
                        $('.step__footer__continue-btn').prop('disabled', false).removeClass('disabled'); 
                      }else{
                        $('.step__footer__continue-btn').prop('disabled', true).addClass('disabled');
                      }
                    });
                  }
                }, 100);   
              
            }else if(currentStep == 'contact_information'){
              console.log('contact information');
              let $country = $('select#checkout_shipping_address_country');
              let country = $country.val();

              console.log($country.val()); 
              if(country.length){
                Cookies.set('DoenCountry', country);
              }

              $country.on('change',function(){
                console.log('Changing Country');
                let value = $(this).val();

                Cookies.set('DoenCountry', value);
              });
              $country.trigger('change');
            }else{
              console.log('not in payment method');
            }
            $('#checkout_shipping_address_country').on("change", function(){
              var value = $(this).val();
              Cookies.set('DoenCountry', value);
            });

          }

          let extraProperties = $('.product__description__property');

          console.warn('Extra Properties', extraProperties.length);
          extraProperties.each(function(i, $el){
            var currentMsg = $el.innerHTML;
            $el.innerHTML = currentMsg.replace('This item is on:',' ');
            if ($el.innerHTML.toLowerCase().trim() == 'pre order') {
              $el.classList.add('preorder-prop');
            }
            if ($el.innerHTML.toLowerCase().trim().indexOf('expected ship date') !== -1) {
              $el.classList.add('preorder-prop-date');
            }
            $el.classList.add('ready');
            console.log($el,i );
          });

        });

      })(jQuery); 
    </script>
    <script>
      jQuery(function($)
             {
        
        
        var interval = setInterval(function()
                                   {
          if( $('.section--shipping-method .content-box__row:nth-child(2) .radio-wrapper .radio__label__primary').length > 0 )
          {
            var shipping_type_one = $('.section--shipping-method .content-box__row').first().find(' .radio-wrapper .radio__label__primary').data('shipping-method-label-title');
            var shipping_type = $('.section--shipping-method .content-box__row:nth-child(2) .radio-wrapper .radio__label__primary').data('shipping-method-label-title');
            var shipping_type_two = $('.section--shipping-method .content-box__row:nth-child(3) .radio-wrapper .radio__label__primary').data('shipping-method-label-title');
            shipping_type = shipping_type.split(' ');
            shipping_type_two = shipping_type_two.split(' ');
            
            console.log('Check Type', shipping_type_two);
            console.log('Checking Second Type', shipping_type_one);
            if (shipping_type_two[0] == 'FedEx' && shipping_type_two[1] == 'Ground') {
              console.warn('Confirm Type');
              let id = $('span[data-shipping-method-label-title="FedEx Ground Home Delivery"]').parent().attr('for');
              let input = $(`#${id}`);
              console.warn('INPUT', input, id);
              input[0].checked = true;
              $(input).trigger('change');
              console.warn('CHECKED', input.checked);
              
              setTimeout(() => {
                         console.warn('Set Checked', input);
              	input.checked = true;                         
              }, 3000);
              $('.section--shipping-method .content-box__row:nth-child(3) .radio-wrapper .radio__label__primary .small-text').hide();
            	
            }
          
          console.warn('Shipping_type_one', shipping_type_one);

            if (shipping_type_one === 'FedEx Ground® Home Delivery') {
              $('.section--shipping-method .content-box__row').first().find(' .radio-wrapper .radio__label__primary .small-text').first().hide();
              $('.section--shipping-method .content-box__row').first().find(' .radio-wrapper .radio__label__primary .small-text + br').hide();
            }
            
            if( shipping_type[1] == 'Ground' )
              $('.section--shipping-method .content-box__row:nth-child(2) .radio-wrapper .radio__label__primary .small-text').hide();
            clearInterval(interval);


            /*modal disclamer*/
            const disclaimer={}
            const checkboxNodes = document.querySelectorAll(".custom-modal-checkbox")
            const checkboxes=Array.from(checkboxNodes)
            checkboxes.map((checkbox, index)=>{

              const selected = (e)=>{
                const cancelNodes = document.querySelectorAll(".custom-modal-button")
                const cancelBtnArray = Array.from(cancelNodes)
                disclaimer[e.currentTarget.id]=true
                
                if(e.currentTarget.id =='checkboxNoTaxes' && e.currentTarget.checked){
                  cancelBtnArray[1].textContent="Submit"
                }else{
                  if(e.currentTarget.id =='checkboxNoTaxes' && !e.currentTarget.checked){
                    cancelBtnArray[1].textContent="Cancel"
                  }
                }
                if(e.currentTarget.id =='checkboxTaxes' && e.currentTarget.checked){
                  cancelBtnArray[0].textContent="Submit"
                }else{
                  if(e.currentTarget.id =='checkboxTaxes' && !e.currentTarget.checked){
                    cancelBtnArray[0].textContent="Cancel"
                  }
                }
              }

              checkbox.addEventListener("change", selected);  
            })


            const radioBtnNodes = document.querySelectorAll(".input-radio")
            const radioBtnArray = Array.from(radioBtnNodes)
            radioBtnArray.map((radioBtn, index)=>{
              if(radioBtn.checked 
                 && radioBtn.value.toLocaleLowerCase().includes("international") 
                 && index <=1){
                $('#withTaxes').addClass('hide');
                $('#withoutTaxes').removeClass('hide');
              }

              const selected =()=>{
                if(event.target.value.toLocaleLowerCase().includes("international")){
                  if(index <= 1 && !disclaimer.checkboxNoTaxes){
                    $('#checkboxTaxes').prop( "checked", disclaimer.checkboxTaxes);
                    $('#withoutTaxes').removeClass('hide');
                    $('#withTaxes').addClass('hide');
                  }else if(index > 1 && !disclaimer.checkboxTaxes ){
                    $('#checkboxNoTaxes').prop( "checked", disclaimer.checkboxNoTaxes );
                    $('#withoutTaxes').addClass('hide');
                    $('#withTaxes').removeClass('hide');
                  }
                }
              }


              radioBtn.addEventListener("change", selected);                
            });

            const modalButtonNodes = document.querySelectorAll(".custom-modal-button")
            const modalButtonArray = Array.from(modalButtonNodes)
            modalButtonArray.map(button=>{
              button.addEventListener("click", e=>{
                $('#withTaxes').addClass('hide');
                $('#withoutTaxes').addClass('hide');
                if(e.currentTarget.textContent){
                  /*SUBMIT*/
                  /*Shopify.updateAttributes = function(username, password) {
                    var params = {
                      type: 'POST',
                      url: '/cart/update.js',
                      data: 'attributes[disclaimer]=TRUE,
                      dataType: 'json',
                      success: Shopify.onAtrributesUpdated
                    };
                    jQuery.ajax(params);
                  };*/
                }
                /*CANCEL*/
              })
            })

            /*end modal disclamer*/
          }

        },1);

      });    
    </script>
    
    <script src="{{ 'product-preorder-checkout.js' | asset_url }}"></script>
    {% comment %}
       <script>
      (function(){

      function request({url, type = 'GET', body = null}) {
          if (!url) {
              return;
          }

          const config = {
              credentials: 'same-origin',
              headers: {
                'Content-Type': 'application/json',
                'X-Requested-With':'xmlhttprequest' /* XMLHttpRequest is ok too, it's case insensitive */
              },
              method: type
          };

          if (body) {
              config.body = JSON.stringify(body);
          }

          return fetch(url, config).then(function(response) {
              return response.json();
            }).catch(function(err) {
              /* uh oh, we have error. */
              console.error(err)
              return err;
            });
      }

      const getCart = function() {
        return fetch('/cart.js')
                .then(function(res){ return res.json() })
                .catch(function(error) { return error });
      };

      const updateAttributes = async function(attributes) {
        const send = {
          url: '/cart/update.js',
          type: 'POST',
          body: {
            attributes,
          }
        }

        const update = await request(send);

        // window.location.reload();
        return update;
      };
      
      const doTableItemsContainDiscount = function() {
        const tableItems = document.querySelectorAll('.order-summary__section__content .product');
        let containsDiscount = false;
        
        tableItems.forEach(function(item) {
          let reduction = item.querySelector('.reduction-code');
          
          if (reduction) {
            let reductionMsg = reduction.querySelector('.reduction-code__text').textContent;
            let is60Off = /60% off/i.test(reductionMsg);
            
            if (is60Off) {
              containsDiscount = is60Off;
            }
          }
        });
        
        return containsDiscount;
      };
      
      const doTableItemsContainGift = function() {
        const tableItems = document.querySelectorAll('.order-summary__section__content .product');
        let containsDiscount = false;
        
        tableItems.forEach(function(item) {
          let reduction = item.querySelector('.reduction-code');
          
          if (reduction) {
            let reductionMsg = reduction.querySelector('.reduction-code__text').textContent;
            let is60Off = /free gift/i.test(reductionMsg);
            
            if (is60Off) {
              containsDiscount = is60Off;
            }
          }
        });
        
        return containsDiscount;
      };

      async function start() {
        console.log('Start customer Check', {{ customer.tags | json }} );
                    
        const tableItems = document.querySelector('.order-summary__section__content .product');
        if (!tableItems) {
          	return setTimeout(start, 500);
        }
        
        const tableItemsHaveDiscount = doTableItemsContainDiscount();
        
        console.log('Customer has Discount', tableItemsHaveDiscount);
        
        const customerTags = {{ customer.tags | json }};
        const cart = await getCart();
        const customerHasTags = (customerTags) ? (customerTags.includes('60-off-eligible') && !customerTags.includes('discount-used')) : false;
        const customerHasFreeTags = (customerTags) ? ((customerTags.includes('free-gift-eligible') || customerTags.includes('free-gift-eligible-2') ) && !customerTags.includes('free-gift-used')) : false;
        const customerEligible = (customerHasTags || tableItemsHaveDiscount);
        const hasCartAttribute = (cart.attributes['60 Off Discount'] === 'Eligible');
        const freeEligibility = (customerHasFreeTags || doTableItemsContainGift());
        
        console.log('Free Eligibility', doTableItemsContainGift());
        
        console.log('Customer Eligible', customerEligible);
        // Check 1: 
        // Customer has eligible tag, no cancel tag, and there is no attribute.
        if (customerEligible && !hasCartAttribute && !doTableItemsContainGift()) {
          console.warn('Cart Needs Attribute');
          let update = await updateAttributes({
            '60 Off Discount': 'Eligible'
          });

          console.log('Cart Attribute Added');
        }

        // Check 2:
        // Customer is not Eigible, but cart Attribute exists.
        if (!customerEligible && hasCartAttribute) {
          let update = await updateAttributes({
            '60 Off Discount': ''
          });

          console.log('Cart Attribute removed');

        }
        
        if (freeEligibility && doTableItemsContainGift()) {
          let update = await updateAttributes({
            'Free Gift': 'Eligible',
            '60 Off Discount': ''
          })
        }
        
        console.log('Free Eligibility', freeEligibility, !doTableItemsContainGift());
        
        if (freeEligibility && !doTableItemsContainGift()) {
          let update = await updateAttributes({
            'Free Gift': ''
          });
          
        }

        console.warn('Customer Check', cart);
      }

      start();


    })();
    </script>
    {% endcomment %}
    
    {% include 'zonos-seperate-taxes.liquid' %}

    {% if settings.enable_checkout_shipping_msg %}
    <script>
      (function(){
        window.checkout_shipping_msg = {
          message: {{ settings.checkout_shipping_message | json }}
        }

      })();
    </script>
    {% endif %}
    
    {{ 'checkout.js' | asset_url | script_tag }}
    
    <style>
      .section.section--note + .section--note { display: none !important; }
      
      .radio__label .small-text { display: none !important; }
    </style>
  </body>
</html>
