<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
{% include 'kiwiSizing' %}
  
    
   <meta name="robots" content="noodp,noydir" />
  
  
  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% 
  assign meta_tags = current_tags | join: ', ' %} 
    | {{ shop.name }} {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
    {% if current_page != 1 %} | {{ 'general.meta.page' | t: page: current_page }}{% endif %}
    {% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
  
  
  <meta name="facebook-domain-verification" content="wvlo1t5wyeissz37e7zh2pjw0wnqh1" />
  
    {% if template contains 'collection' %}
  <script>
    if ('scrollRestoration' in history) { history.scrollRestoration = 'manual'; }
  </script>
  {% endif %}
  
  
  

<script>
function IEdetection() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf('MSIE ');
    if (msie > 0) {
        // IE 10 or older, return version number

        return ('IE ' + parseInt(ua.substring(
          msie + 5, ua.indexOf('.', msie)), 10));
    }
    var trident = ua.indexOf('Trident/');
    if (trident > 0) {
        // IE 11, return version number

        var rv = ua.indexOf('rv:');
        return ('IE ' + parseInt(ua.substring(
          rv + 3, ua.indexOf('.', rv)), 10)); 
    }
    var edge = ua.indexOf('Edge/');
    if (edge > 0) {
        //Edge (IE 12+), return version number

        return ('IE ' + parseInt(ua.substring(
          edge + 5, ua.indexOf('.', edge)), 10));
    }
    // User uses other browser

    return ('Not IE');
}
if (IEdetection() !== 'Not IE') { 
  document.addEventListener("DOMContentLoaded", function(){
    document.body.classList.add('ie-browser');
  });
}
</script>

<!-- Global site tag (gtag.js) - Google Ads: 933351251 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-933351251"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-933351251');
</script>
<!-- Affirm -->
<script>
 _affirm_config = {
   public_api_key:  "NQKH8MKODFEJ4ZA5",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js" 
 };
 (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
// Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
</script>
<!-- End Affirm -->
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="google-site-verification" content="k4kgZfYg7t0vYuEKme7V2oo0rBhGN5HLO-Uaf_8-fRk" />
<meta name="google-site-verification" content="cfw5dCg3RMjaZ--CfqyM8daOek49L9oHK14sAfmcDwc" />
  <meta name="google-site-verification" content="teVC6Cuuox_OcecAhyDmncHCF2tBZhrpD9-n7p6djU4" />
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <link rel="apple-touch-icon" href="{{ 'doen-icon-ipad.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'doen-icon-ipad.png' | asset_img_url: '72x72' }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'doen-icon-ipad.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'doen-icon-iphone-retina.png' | asset_img_url: '114x114' }}">
  <link rel="apple-touch-icon" sizes="129x129" href="{{ 'doen-icon-ipad-retina.png' | asset_img_url: '129x129' }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'doen-icon-iphone-retina.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'doen-icon-ipad-retina.png' | asset_img_url: '144x144' }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'doen-icon-ipad-retina.png' | asset_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'doen-icon-retina.png' | asset_img_url: '180x180', scale: 3 }}">
  {% endif %}
  
  <meta name="google-site-verification" content="OfWrYL_kFEa2g-Jx53LjxXQy0-3-QXn9YkDoVpyk7j0" />


  

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  {% comment %} <meta name="viewport" content="width=device-width,initial-scale=1"> {% endcomment %}
  <meta name="theme-color" content="{{ settings.color_primary }}">
  
  <!-- CSS ================================================== -->
  {% comment %} {{ 'timber.scss.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'theme.scss.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'custom.scss.css' | asset_url | stylesheet_tag }} {% endcomment %}
  <style>
  body {
    opacity: 0;
  }
  </style>


  <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'timber.scss.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}">
 {% comment %}
    This Custom.scss sheet is CRITICAL. Please do not defer loading, load right away.
  	<link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}" media="none" onload="if(media!='all')media='all'">
  
    <link rel="stylesheet" href="{{ 'timber.scss.css' | asset_url }}" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="{{ 'timber.scss.css' | asset_url }}"></noscript>

    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}"></noscript>
 {% endcomment %}
  <noscript><link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}"></noscript>

  <link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}"></noscript>
  
<!-- Add the slick-theme.css if you want default styling -->
{% comment %} {{ 'slick-theme.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% comment %} <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> {% endcomment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% for i in (1..6) %}
    {% capture home_section %}home_section_{{ i }}{% endcapture %}
    {% if settings[home_section] == 'slider' %}
      {% assign slider_home_enable = true %}
    {% endif %}
  {% endfor %} 
  
{% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> {% endcomment %}
{% if template contains 'product' %}
  <meta name="viewport" content="initial-scale=1, user-scalable=yes, width=device-width"/>
{% else %} 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% endif %}

<meta name="google-site-verification" content="x65zI0_gwkrVwgPrjnBshlwfkSJCWlmYsB1oALTwzAo" />
  <meta name="p:domain_verify" content="448738b5304fb025ed583a8410629b3b"/>


  
    
  
  
    {% if template contains 'page' and page.handle contains 'search' %}
    {% include 'search-page-js' %}
  {% endif %}
  
  <script>
    window.autoHideTags = {{ settings.store_autohide_tags | split: ',' | json }};
  </script>
  {%- if template == 'product' -%} 
  	{% include 'pdp-header-no-index' %}
  {%- endif -%}
  {%- if template contains 'collection' -%}
    {% assign noIndexCollectionHandles = settings.no_index_collections | split: ',' %}
    {% if collection.handle contains 'swatches' or noIndexCollectionHandles contains collection.handle %}
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
    {% endif %}
  {%- endif -%}
  
  
  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}
  
  {% include 'css-variables' %}

  {% comment %} Early Access Redirect {% endcomment %}
  {%- if settings.early_access -%}
    <script>
    window.Shopify = window.Shopify || {};
    window.Shopify.early_access = {
      enabled: true,
      collection: {{ settings.early_access_collection | json }},
      product_tag: {{ settings.early_access_product_tag | json }},
      customer_tag: {{ settings.early_acesss_customer_tag | json }},
      customer: {% if customer %}true{% else %}false{% endif %},
      customer_tags: {{ customer.tags | json }}
    }
    </script>
    {%- if template contains 'collection' and collection.handle == settings.early_access_collection -%}
      {%- unless customer and customer.tags contains settings.early_access_customer_tag -%}
      <script>
        window.location = '/account/login?early-access={{ settings.early_access_collection }}';
      </script>
      {%- endunless -%}
    {%- endif -%}

    {%- if template contains 'product' -%}
      {% assign pTags = product.tags | join: ',' | downcase %}
      {%- if pTags contains settings.early_access_product_tag -%}
        {%- unless customer and customer.tags contains settings.early_access_customer_tag -%}
        <script>
        window.location = '/account/login?early-access={{ settings.early_access_collection }}';
        </script>
        {%- endunless -%}    
      {%- endif -%}
    {%- endif -%}
    
  {%- endif -%}

  {% if template contains 'cart' %}
    {{ 'cart-styles.scss.css' | asset_url | stylesheet_tag }}
    {{ 'cart-js.js' | asset_url | script_tag }}
  {% endif %}
  
  <!--SteelHouse Tracking Pixel-->
  <!-- INSTALL ON ALL PAGES OF SITE-->
  <script type="text/javascript">
      (function(){"use strict";var e=null,b="4.0.0",
      n="32057",
      additional="term=value",
      t,r,i;try{t=top.document.referer!==""?encodeURIComponent(top.document.referrer.substring(0,2048)):""}catch(o){t=document.referrer!==null?document.referrer.toString().substring(0,2048):""}try{r=window&&window.top&&document.location&&window.top.location===document.location?document.location:window&&window.top&&window.top.location&&""!==window.top.location?window.top.location:document.location}catch(u){r=document.location}try{i=parent.location.href!==""?encodeURIComponent(parent.location.href.toString().substring(0,2048)):""}catch(a){try{i=r!==null?encodeURIComponent(r.toString().substring(0,2048)):""}catch(f){i=""}}var l,c=document.createElement("script"),h=null,p=document.getElementsByTagName("script"),d=Number(p.length)-1,v=document.getElementsByTagName("script")[d];if(typeof l==="undefined"){l=Math.floor(Math.random()*1e17)}h="dx.steelhousemedia.com/spx?"+"dxver="+b+"&shaid="+n+"&tdr="+t+"&plh="+i+"&cb="+l+additional;c.type="text/javascript";c.src=("https:"===document.location.protocol?"https://":"http://")+h;v.parentNode.insertBefore(c,v)})()
  </script>
  
</head>

<body lang="{{ attributes.lang }}" host="{{ request.host}}" id="{% if template contains 'collection' %}{{ collection.handle }}{% else %}{{ page.handle }}{% endif %}" class="{% if settings.enable_top_bar %}top-bar-enabled{% endif %}  {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

{% if settings.infinite_collection_enable and template contains 'collection' %}
  {% comment %} {{ 'jquery.ba-dotimeout.js' | asset_url | script_tag }}
  {{ 'infinite-collections.js' | asset_url | script_tag }}   {% endcomment %}
{% endif %}
        
  {% if settings.enable_top_bar %}
      {% include 'mobile-promo' %}
  {% endif %}
    

  <div class="mobile-bar post-large--hide  beforeTablet--show">
    


    
    
    
{% if settings.header_top_bar_enable %}
    {% include 'mobile-promo' %}
    {% endif %}
    
  <div class="wrapper post-large--hide  beforeTablet--show" style="text-align: center;">
    <button type="button" class="mobile-nav-trigger" id="MobileNavTrigger">
      <span class="icon icon-hamburger" aria-hidden="true"></span>
      {% if settings.remove_mobile_labels %} {% else %}{{ 'layout.navigation.menu' | t }}{% endif %}
    </button>
    {% comment %} 
      Mobile Header Currency Picker ( Removed 9/16 )
      {% include 'currency-picker' %} 
    {% endcomment %}
    {% if settings.mobile_logo_position == 'above' %}
         <a href="/" itemprop="url" class="mobile-logo">
             <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
    </a>
   	
    
    {% endif %}
    <a href="/cart" class="cart-page-link mobile-cart-page-link">
      <i class="fa fa-shopping-bag"></i>
      {% if settings.remove_mobile_labels %} {% else %}{{ 'layout.cart.title' | t }}{% endif %}
    </a>
    <a class="search-bar-toggle" href="#"><i class="fa fa-search"></i></a>
  
    <div class="clearfix"></div>
    
    </div>
    
  {% include 'mobile-nav' %}
  <li class="search-bar">
    <form action="/search" method="get" role="search">
    {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    <input style="width:100%;" type="search" name="q" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.placeholder' | t }}" class="" placeholder="{{ 'general.search.placeholder' | t }}">
    </form>
  </li>
  </div>
  
    	{% if settings.enable_top_bar %}{% include 'promo-topbar' %}{% endif %}
  
  {%- capture headerClasses -%}
    site-header,
    {%- if template contains 'index' -%}
    header-theme-{{ settings.default_home_header_colors }},header-scrolled-theme-dark, 
    {%- else -%}
    header-theme-dark,
    {%- endif -%}
    {%- comment -%}
    {%- if settings.enable_header_invert and template == 'index' or  template == 'page.coming-soon-confirmation' or  template == 'page.coming-soon' -%} invert,{%- endif -%} 
    {%- endcomment -%}
    beforeTablet--hide
  {%- endcapture -%}
  <header class="{{ headerClasses | split: ',' | join: ' ' }}" role="banner"
      
      {% if settings.overlay_header_enable and template == 'index' and settings.sticky_header_enable %}style="position: -webkit-sticky; position:sticky; top: 0; width:100%; z-index:100; background-color:#FAF8F0 ;"
      {% elsif settings.overlay_header_enable and template == 'index' %}style="position: -webkit-sticky; position:sticky; top: 0; width:100%; z-index:100;"
      {% elsif settings.sticky_header_enable %}style="position:fixed; top:0; width:100%; z-index:100;"{% endif %}>

    <div class="wrapper">
      
      {% if settings.mini_cart_enable %}
      {% include 'minicart' %}
      {% endif %}
      {% if settings.desktop_logo_position == 'mobile_style_header' %}
      <div class="grid__item post-large--one-third alpha medium-down--hide nav-z-index">
          {% include 'site-nav' %}
      </div>
      <div class="grid__item post-large--one-third{% if settings.mobile_logo_position == 'above' %} medium-down--hide{% endif %}">
        <div class="">
          {% if template == 'index' %}
            <h1 class="site-header__logo{% if settings.left_aligned_logo %} post-large--left{% endif %} others-{{ settings.logo_color-others }}" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 site-header__logo{% if settings.left_aligned_logo %} post-large--left{% endif %} others-{{ settings.logo_color-others }}" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url">
              {% if template == 'index' or  template == 'page.coming-soon-confirmation' or  template == 'page.coming-soon' and settings.logo_use_index_image %}
              
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"
                       style="" class="black-logo" itemprop="logo">
         
                <img src="{{ 'logo-index.png' | asset_url }}" class="white-logo" alt="{{ shop.name }}" itemprop="logo">
              {% else %}
                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              {% endif %}
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %} 
        </div>
      </div>
      <div class="grid__item header-endcap post-large--one-third omega medium-down--hide mobile-style text-right">
              
    
        
        <div class="help-menu-wrapper">
          <ul>
            {%- for link in linklists['help-menu'].links -%}
              <li class="site-nav--has-dropdown">
                  <a href="{{ link.url }}" class="site-nav__link main help-nav__link">{{ link.title }}</a>
                  {% unless link.links == blank %}
                  <ul class="site-nav__dropdown">
                  {%- for child_link in link.links -%}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {%- endfor -%}
                  </ul>
                  {% endunless %}
              </li>
            {%- endfor -%}
          </ul>
        </div>        
        
        
        <div class="header-bar__search">
          
         
          
          
          
          
            {% include 'search-bar' with 'header' %}
          </div>
        <li class="header-bar__module cart">
          <a href="{% if settings.mini_cart_enable %}#{% else %}/cart{% endif %}" class="cart-page-link{% if settings.mini_cart_enable %} go_cart{% endif %}">
            <i class="fa fa-shopping-bag"></i>
          </a>
        </li>
          <li class="header-bar__module site-nav--has-dropdown" id="accountsection">
             <a href="/account"><i class="fa fa-user"></i></a>
            {% include 'account-nav' %}
          </li>
        
    
        </div>
      {% elsif settings.desktop_logo_position == 'nav_below_logo' %}

      <div class="logobar grid--full{% if settings.mobile_logo_position == 'above' %} medium-down--hide{% endif %}">
        <div class="grid__item {% if settings.right_menu_enable == 'above' %}post-large--half medium-down--hide{% endif %}">
          {% if template == 'index' %}
            <h1 class="site-header__logo{% if settings.left_aligned_logo %} post-large--left{% endif %}" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 site-header__logo{% if settings.left_aligned_logo %} post-large--left{% endif %}" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url">
              {% if template == 'index' and settings.logo_use_index_image %}
                <img src="{{ 'logo-index.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              {% else %}
                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              {% endif %}
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
        </div>
      {% if settings.right_menu_enable == 'above' %}
      	<div class="grid__item post-large--half medium-down--hide">
          {% include 'right-nav' %}
      	</div>
      {% endif %}
      </div>
      <div class="grid--full medium-down--hide">
        <div class="{% if settings.right_menu_enable == 'below' %}alpha post-large--half {% endif %}grid__item">
          {% include 'site-nav' %}
        </div>
      {% if settings.right_menu_enable == 'below' %}
      	<div class="grid__item post-large--half medium-down--hide">
          {% include 'right-nav' %}
      	</div>
      {% endif %}
      </div>
      {% else %}

      <div class="grid--full post-large--display-table{% if settings.mobile_logo_position == 'above' %} medium-down--hide{% endif %}">
        <div class="grid__item post-large--{{ settings.logo_width }} post-large--display-table-cell">
          {% if template == 'index' %}
            <h1 class="site-header__logo post-large--left" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 site-header__logo post-large--left" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url">
              {% if template == 'index' and settings.logo_use_index_image %}
               <img src="{{ 'logo-index.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              {% else %}
                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              {% endif %}
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
              
              
              
          {% else %}
            </div>
          {% endif %}
        </div>
        <div class="grid__item post-large--{{ settings.menu_width }} post-large--display-table-cell medium-down--hide">
          
          
          
          {% include 'site-nav' %}
          {% if settings.header_search_enable == 'below' %}
          
          
          
          <div class="header-bar__search search-float">
            
            {% include 'search-bar' with 'header' %}
          </div>
          {% endif %}
          
        
        </div>
      </div>

      {% endif %}

    </div>
    
    
  </header>

  <main class="{% unless template == 'index' or template contains 'full-width' or template contains 'article' or template contains 'cart' or template contains 'customers' or template contains 'collection' %}wrapper {%endunless%}main-content" role="main">
    <div class="grid">
        <div class="grid__item">
          {{ content_for_layout }}
        </div>
    </div>
  </main>
    	{% if settings.message_bar_all_enable %}
  		<div class="message-bar"><a href="{{ settings.message_bar_all_link }}">{{ settings.message_bar_all }}</a></div>
  		{% endif %}
    	{% if settings.message_bar_home_enable %}{% if template == 'index' %}
  		<div class="message-bar"><a href="{{ settings.message_bar_home_link }}">{{ settings.message_bar_home }}</a></div>
    	{% endif %}{% endif %}
    	{% if settings.message_bar_product_enable %}{% if template contains 'product' %}
  		<div class="message-bar"><a {% if template contains 'product' and collection %}onclick="window.history.go(-1); return false;"{% endif %} href="{% if template contains 'product' and collection %}{{ collection.url }}{% else %}{{ settings.message_bar_product_link }}{% endif %}">{{ settings.message_bar_product }}</a></div>
    	{% endif %}{% endif %}
    	{% if settings.message_bar_cart_enable %}{% if template contains 'cart' %}
  		<div class="message-bar"><a onclick="window.history.go(-1); return false;" href="{{ settings.message_bar_cart_link }}">{{ settings.message_bar_cart }}</a></div>
    	{% endif %}{% endif %}
    	{% if settings.message_bar_account_enable %}{% if template contains 'customers' %}
  		<div class="message-bar"><a href="{{ settings.message_bar_account_link }}">{{ settings.message_bar_account }}</a></div>
    	{% endif %}{% endif %}
  <footer class="site-footer small--text-center" role="contentinfo">
        {% if settings.footer_newsletter_above_enable %}
          <div class="newsletter-full {{ settings.footer_newsletter_align }}{% if settings.newsletter_background_enable %} bgc{% endif %}">
            {% if settings.footer_newsletter_heading_enable %}<h4>{{ 'layout.footer.newsletter_title' | t }}</h4>{% endif %}
            <p>{{ 'layout.footer.newsletter_caption' | t }}</p>
            {% include 'newsletter-form' %}
          </div>
        {% endif %}
    <div class="wrapper">

      <div class="grid-uniform ">

        {% comment %}
          Calculate the number of footer columns shown
        {% endcomment %}
        {% assign num_footer_columns = 0 %}
        {% if settings.footer_blog_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_quicklinks_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_second_menu_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_social_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_contact_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_newsletter_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_logo_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_text_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}

        {% case num_footer_columns %}
          {% when 0 %}
          {% when 1 %}
            {% assign footer_column_width = 'text-center' %}
          {% when 2 %}
            {% assign footer_column_width = 'post-large--one-half  small--one-whole' %}
          {% when 3 %}
            {% assign footer_column_width = 'post-large--one-third   small--one-whole' %}
          {% when 4 %}
            {% assign footer_column_width = 'post-large--one-quarter small--one-whole' %}
          {% when 5 %}
            {% assign footer_column_width = 'post-large--one-fifth  small--one-whole' %}
          {% when 6 %}
            {% assign footer_column_width = 'post-large--one-sixth  small--one-whole' %}
        {% endcase %}


        {% if settings.footer_logo_enable %}
          <div class="grid__item {{ footer_column_width }}{% if settings.footer_borders_enable %} borders{% endif %}">
			<img src="{{ 'footer_logo.png' | asset_url }}" class="footer-logo" />
          </div>
        {% endif %}

        {% if settings.footer_text_enable %}
          <div class="grid__item {{ footer_column_width }} medium-down--hide {{ settings.footer_text_align }} footer-text{% if settings.footer_borders_enable %} borders{% endif %}">
			{{ settings.footer_text }}
          </div>
        {% endif %}
        {% if settings.footer_social_enable %}
          <div class="grid__item {{ footer_column_width }} medium-down--hide {{ settings.footer_social_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% if settings.footer_social_heading_enable %}<h4>{{ 'layout.footer.social_title' | t }}</h4>{% endif %}
              {% comment %}
                Loop through the social network links
              {% endcomment %}
              {% include 'social-links' %}
          </div>
        {% endif %}
        {% if settings.footer_text_enable %}
          <div class="grid__item {{ footer_column_width }} post-large--hide {{ settings.footer_text_align }} footer-text{% if settings.footer_borders_enable %} borders{% endif %}">
			{{ settings.footer_text }}
          </div>
        {% endif %}
        {% if settings.footer_social_enable %}
          <div class="grid__item {{ footer_column_width }} post-large--hide {{ settings.footer_social_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% if settings.footer_social_heading_enable %}<h4 class="small--hide">{{ 'layout.footer.social_title' | t }}</h4>{% endif %}
              {% comment %}
                Loop through the social network links
              {% endcomment %}
              {% include 'social-links' %}
          </div>
        {% endif %}
        {% if settings.footer_quicklinks_enable %}
          <div class="grid__item {{ footer_column_width }} {{ settings.footer_quicklinks_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% unless num_footer_columns == 1 %}
            {% if settings.footer_quicklinks_heading_enable %}<h4>{{ 'layout.footer.linklist_title' | t }}</h4>{% endif %}
            {% endunless %}
            <ul class="site-footer__links{% if settings.footer_quicklinks_horizontal_enable %} inline-list{% endif %}">
              {% for link in linklists[settings.footer_quicklinks_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if settings.footer_second_menu_enable %}
          <div class="grid__item {{ footer_column_width }} {{ settings.footer_second_menu_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% if settings.footer_second_menu_heading_enable %}<h4>{{ linklists[settings.footer_second_menu].title }}</h4>{% endif %}
            <ul class="site-footer__links">
              {% for link in linklists[settings.footer_second_menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if settings.footer_third_menu_enable %}
          <div class="grid__item {{ footer_column_width }} {{ settings.footer_third_menu_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% if settings.footer_third_menu_heading_enable %}<h4>{{ linklists[settings.footer_third_menu].title }}</h4>{% endif %}
            <ul class="site-footer__links">
              {% for link in linklists[settings.footer_third_menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if settings.footer_blog_enable %}
          <div class="grid__item {{ footer_column_width }} site-footer__links {{ settings.footer_blog_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            <h4><a href="/blogs/{{ settings.footer_blog }}">{{ 'layout.footer.blog_title' | t }}</a></h4>
            {% assign article = blogs[settings.footer_blog].articles.first %}
            <p class="h5">{{ article.title | link_to: article.url }}</p>
            {% if article.excerpt.size > 0 %}
            <div class="clearfix">
              {{ article.excerpt }}
            </div>
            {% else %}
            <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            {% endif %}
          </div>
        {% endif %}

        {% if settings.footer_contact_enable %}
          <div class="grid__item {{ footer_column_width }} {{ settings.footer_contact_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% if settings.footer_contact_heading_enable %}<h4>{{ 'layout.footer.contact_title' | t }}</h4>{% endif %}
            <div class="rte">{{ settings.footer_contact_text }}</div>
          </div>
        {% endif %}

        {% if settings.footer_newsletter_enable %}
          <div class="grid__item {{ footer_column_width }} {{ settings.footer_newsletter_align }}{% if settings.footer_borders_enable %} borders{% endif %}">
            {% if settings.footer_newsletter_heading_enable %}<h4>{{ 'layout.footer.newsletter_title' | t }}</h4>{% endif %}
            <p>{{ 'layout.footer.newsletter_caption' | t }}</p>
            {% include 'newsletter-form' %}
          </div>
        {% endif %}
      </div>

      <hr class="hr--small hr--clear">

      {% if settings.payment_types_enable %}
      {% unless shop.enabled_payment_types == empty %}
      <div class="grid">
         <div class="grid__item text-center">
           <ul class="inline-list payment-icons">
             {% for type in shop.enabled_payment_types %}
               <li>
                 <span class="icon-fallback-text">
                   <span class="icon icon-{{type}}" aria-hidden="true"></span>
                   <span class="fallback-text">{{ type | replace: '_', ' ' }}</span>
                 </span>
               </li>
             {% endfor %}
           </ul>
         </div>
       </div>
       {% endunless %}
      {% endif %}

    </div>
        {% if settings.footer_newsletter_below_enable %}
          <div class="newsletter-full {{ settings.footer_newsletter_align }}{% if settings.newsletter_background_enable %} bgc{% endif %}">
            {% if settings.footer_newsletter_heading_enable %}<h4>{{ 'layout.footer.newsletter_title' | t }}</h4>{% endif %}
            <p class="landing-accent-font">{{ 'layout.footer.newsletter_caption' | t }}</p>
            <div class="landing-sign-up">
              {% include 'newsletter-form' %}
            </div>
          </div>
        {% endif %}
    {% if settings.footer_credits_enable %}
    <div class="wrapper credits-wrapper" style="padding:0;">
      <div class="grid">
        <div class="grid__item">
        <div class="{{ settings.credits_align }}">
          {% if settings.footer_credits_links_enable %}
            <ul class="site-footer__links inline-list">
              {% for link in linklists[settings.credits_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if settings.footer_credits_enable %}
          <p class="credits">{{ 'layout.footer.copyright' | t }} &copy; DÔEN {{ "now" | date: "%Y" }} {{ settings.additional_copyright_text }}</p>
               
          {% endif %}
        </div>
        </div>
      </div>
    </div>
    {% endif %}
  </footer>
          {% if settings.footer_logo_credits_enable %}
        <div class="grid underfooter-logo">
        <div class="grid__item text-center">
          <img src="{{ 'footer_logo.png' | asset_url }}" class="footer-logo" />
        </div>
 		</div>
          {% endif %}

  {% comment %} {{ 'fastclick.min.js' | asset_url | script_tag }} {% endcomment %}
  {{ 'bodyScrollLock.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'html5lightbox.js' | asset_url | script_tag }}
  {{ 'jquery.stickem.js' | asset_url | script_tag }}
  {{ 'jquery.sticky-kit.min.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
    {% if settings.product_image_zoom_type == 'lightbox'  %}
      {{ 'magnific-popup.min.js' | asset_url | script_tag }}
    {% elsif settings.product_image_zoom_type == 'zoom-in' %}
      {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
      {{ 'img-touch-canvas.js' | asset_url | script_tag }}
    {% endif %}
  {% endif %}

  {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
  		{%comment%}
      		{{ 'social-buttons.js' | asset_url | script_tag }}
  		{%endcomment%}
    {% endif %}
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% if settings.enable_back_to_the_top %}
{% include 'back-to-the-top' %}
{% endif %}
  {% if settings.use_modal %}
  <div class="smartmodal auto once smartmodal-modal" data-expires="{{ settings.signup-expires }}" data-wait="{{ settings.signup-delay }}" id="triggerID">
    <div class="landing-join-collective">
      <div class="landing-join-collective__content">
        <img class="landing-join-collective__content__x-close" src="{{ 'landing-x.png' | asset_url }}">
      <script>
        $('.landing-join-collective__content__x-close').click(function() {
          $('.smartmodal').fadeOut();
        });
      </script>
        <h1>Join the collective</h1>
        <div class="landing-accent-font">Sign up to stay connected on new products and journal stories</div>
        <div class="landing-newsletter">
          <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
                  action="https://shopdoen.wufoo.com/forms/zr9xc5b183uqlb/#public">
            <input id="Field1" name="Field1" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="1"       />
            <button id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/><img class="landing-envelope landing-icon-envelope" src="{{'landing-email-icon-2x.png' | asset_url }}"></button>

            <li class="hide">
              <label for="comment">Do Not Fill This Out</label>
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="ovvH2tKC+CExh2fIKLFSUGUYYocvwTA3D5mRZt8mi90=" />
            </li>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ 'jquery.smartModal.min.js' | asset_url | script_tag }}
  <script>
  $(function() {
    $.smartModal();
  });
  </script>
  
  <div class="landing-email-success text-center">
    <div class="landing-email-success__wrapper">
      <!-- <h1>Join the collective</h1> -->
      THANK YOU FOR SUBSCRIBING
    </div>
  </div>
  
  <script>
    var getUrlParams = function (url) {
    var params = {};
      (url + '?').split('?')[1].split('&').forEach(function (pair) {
        pair = (pair + '=').split('=').map(decodeURIComponent);
        if (pair[0].length) {
          params[pair[0]] = pair[1];
        }
      });
      return params;
    };

    // http://doen-2.myshopify.com/index.html?emailSuccess=1&emailCompleted=true
    var siteUrl = getUrlParams(window.location.href);
    landingEmailSuccess = siteUrl.emailSuccess;
    if ( landingEmailSuccess == '1') {
      $('.landing-email-success').fadeIn().delay(3000).fadeOut();
    }

  </script>
  {% endif %}

  <script>
    var getUrlParams = function (url) {
    var params = {};
      (url + '?').split('?')[1].split('&').forEach(function (pair) {
        pair = (pair + '=').split('=').map(decodeURIComponent);
        if (pair[0].length) {
          params[pair[0]] = pair[1];
        }
      });
      return params;
    };

    // http://doen-2.myshopify.com/index.html?emailSuccess=1&emailCompleted=true
    var siteUrl = getUrlParams(window.location.href);
    landingEmailSuccess = siteUrl.emailSuccess;
    if ( landingEmailSuccess == '1') { 
      $('.landing__email-success').fadeIn().delay(3000).fadeOut();
    }

  </script> 
<div class="mobile-screen"></div>
<div id="mobile-add-to-cart" class="modal-box">
	<div class="header">
    <h3>My Bag <span id="cart-count-mobile"></span></h3>
	  <a href="#" class="cart-close close"></a>
	</div>
	<div class="shipping-calculator-mobile"> 
   <div class="shipping_calculator" data-difference="{{ domesticThreshold | minus: cart.total_price }}">
     <div class="shipping_msg"></div>
     <div class="shipping_bar"><div class="shipping_progress"></div></div>
   </div>
  </div> 
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <div class="mobile-subtotal">
     <span>Subtotal</span>
     <span id="mobile-subtotal-price"></span>
    </div>
    <a class="hard-pass" href="/cart">CHECKOUT</a>
  </div>
</div>
{% if settings.infinite_blog_enable and template contains 'blog' %}
  {{ 'jquery.ba-dotimeout.js' | asset_url | script_tag }}
  {{ 'jquery.masonry2.min.js' | asset_url | script_tag }}
  {{ 'infinite-blog.js' | asset_url | script_tag }}
{% endif %}

<script>
$(document).ready(function(){
$(".search-form-slide").hide();
$(".search-toggle").click(function(){
$(".search-form-slide").animate({width: 'toggle'});
 });
});
$(document).ready(function(){
$(".search-bar").hide();
$(".search-bar-toggle").click(function(){
  console.log('Search Toggle Clicked', document.getElementById('MobileNav').style.display )
   if ( document.getElementById('MobileNav').style.display == 'block') {
     document.getElementById('MobileNavTrigger').click();
   }
$(".search-bar").slideToggle();
 }); 
});
  $('.go_cart').click(function(){
    {% if settings.enable_gwp %}
      if (CartGWP) {
      CartGWP.cartUpdate();
      }      
    {% endif %}
  	$('.mini_cart').toggle();
    return false;
  });

jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  });
});

</script>
{% if settings.mini_cart_enable %}
<script>
  $( document ).ready(function() {
  var createString = function(difference){
    var msgContainer = $('.shipping_calculator .shipping_msg');
    var $shipmsg = $('<span>', { class: 'shipping-msg'}); 
    
    console.warn('Shipping Message', difference);
    if(difference > 0){
      var baseMessage = window.theme.shippingStandards.message;
      var moneyString = '$' + difference.toFixed(2);
      var currentCurrency = Currency.currentCurrency || "USD";

      if(currentCurrency == 'USD' ){
        var convertedTotal = window.theme.shippingStandards.domestic_threshold;
      }else{
        var convertedTotal = (Currency.convert(window.theme.shippingStandards.domestic_threshold, 'USD', currentCurrency) / 100).toFixed(2);
      }

      if(window.theme.shippingStandards.cart_total == 0){
        var percentage = 0;
      }else{
        var percentage = 100 - ((difference / convertedTotal)*100).toFixed(0);
        console.log('percent', percentage, difference, convertedTotal);
      }

      console.log(baseMessage.indexOf('#amount#'));
      $shipmsg.text(baseMessage.replace('#amount#', moneyString));
      msgContainer.html($shipmsg);
      console.warn('PERCENT FILL', difference, convertedTotal, percentage);
      $('.shipping_progress').css('width', `${percentage}%`);
    }else{
      $shipmsg.text(window.theme.shippingStandards.free_message);
      msgContainer.html($shipmsg);
      msgContainer.addClass('full');
      $('.shipping_progress').css('width', `101%`);
    }
  }

  var convertAndDiff = function(){
    var breakpoint = window.theme.shippingStandards.domestic_threshold;
    var currentCurrency = Currency.currentCurrency;
    var convertedThreshold = Math.ceil(Currency.convert(breakpoint, 'USD', currentCurrency));
    var convertedTotal = (Currency.convert(window.theme.shippingStandards.cart_total, 'USD', currentCurrency) / 100).toFixed(2);
    var remainder = convertedThreshold - convertedTotal;
    console.log('convert and diff', remainder);
    createString(remainder);
  };

  const returnDrawerPrice = function(price) {
    console.warn('Return Drawer Price from Theme', price, price === 0);
    if (price === 0) {
      return 'FREE GIFT';
    }

    const formattedPrice = (price/100).toFixed(2);
    return `Price: $${formattedPrice}`;
  };

  window.convertAndDiff = convertAndDiff;

  setTimeout(function(){
    var breakpoint = window.theme.shippingStandards.domestic_threshold;
    var currentCurrency = Currency.currentCurrency;
    var convertedThreshold = Math.ceil(Currency.convert(breakpoint, 'USD', currentCurrency));
    var convertedTotal = (Currency.convert(window.theme.shippingStandards.cart_total, 'USD', currentCurrency) / 100).toFixed(2);
    var remainder = convertedThreshold - convertedTotal;
    console.log('convert and diff', remainder, convertedThreshold, convertedTotal, breakpoint, currentCurrency);
    createString(remainder);
  }, 1500);

    $(document).on('click', '#AddToCart',function() {
 
      {% if template contains 'product' and product.handle contains 'gift' %}
      	$.post('/cart/add.js', $('form[action="/cart/add"]').serialize());
      {% endif %}
        {% if settings.enable_gwp %}
          if (CartGWP) {
          CartGWP.cartUpdate();
          }      
        {% endif %}
        setTimeout(function() {
          $.getJSON( "/cart.js", function( data ) {
              console.warn('GET CART');
              $('.items').html(' ');
              $('.cart-count').html(data.item_count);
              $('.mini_cart .top .count').html(`${data.item_count} Items`);
              $('.subtotal').html('$'+(data.total_price/100).toFixed(2));
              window.theme.shippingStandards.cart_total = data.total_price;
              convertAndDiff();
              $.each( data.items, function() {
                var product_item = '';
                product_item += '<div class="item"><div class="image">';
                product_item += '<a href="'+this.url+'"><img class="cartimage" alt="" src="'+this.image+'" style="max-width: 115px;"></a>';
                product_item += '</div><div class="details"><span class="title">';

                product_item += '<a class="mini_cart_a" href="'+this.url+'">'+this.product_title+'</a>';
                product_item += '</span><div></div><div></div>';
                product_item += `<span class="size options test ${this.variant_options[0].toLowerCase().indexOf('default') == -1 ? "hide" : ''}">Size: ${this.variant_options[0]}</span>`;   
                product_item += '<div><span class="quantity">Qty: '+this.quantity+'</span></div>';
                product_item += `<div style="padding-top: 20px;">${returnDrawerPrice(this.line_price)}</div></div></div>`;
                $('.items').append(product_item);
              });
             
              $('.go_cart').trigger('click');

          });
        }, 1000);

        setTimeout(function() {
          $('.cart-page-link').click();
          $('#mobile-add-to-cart .cart-close').click();
        }, 3500);

      	return false;
    });
  });


  $(document).on('click', function(event) {
    const target = event.target;
    const cartWindow = document.querySelector('.mini_cart');
    const cartDisplay = cartWindow.style.display;

    if (cartDisplay === 'block' && !$(target).is('.mini_cart *, .mini_cart') ) {
      cartWindow.style.display = 'none';
    }

  });
</script>
{% endif %}
<script>
(function(){
    $('.mobile-screen, #mobile-add-to-cart .close').on('click', function(){
      $('body').removeClass('mobile-cart-open');
    });

  window.buildCart = function(){
        {% if settings.enable_gwp %}
          if (CartGWP) {
          CartGWP.cartUpdate();
          }      
        {% endif %}
      	$('#mobile-add-to-cart.modal-box').css('display', 'inline-block');
      	$('#mobile-add-to-cart.modal-box').css({
          'top': '0px',
          'left': 'auto',
          });
        $('body').addClass('mobile-cart-open');
        console.warn('Build Cart Runing');
        setTimeout(function(){
          console.warn('Build Cart Timeout');
          $.getJSON( "/cart.js", function( data ) {
              console.warn('Build Cart Response', data);
              $('#mobile-add-to-cart .modal-body').html(' ');
              $('.cart-count').html(data.item_count);
              $('#cart-count-mobile').html(`(${data.item_count})`);
              $('.subtotal').html('$'+(data.total_price/100).toFixed(2));
              window.theme.shippingStandards.cart_total = data.total_price;
              window.convertAndDiff();
              $.each( data.items, function(i, item) {
                const convertedPrice = Currency.convert(this.price, 'USD', Currency.currentCurrency);
                const formattedPrice = Currency.formatMoney(convertedPrice, Currency.moneyFormats[Currency.currentCurrency].money_with_currency_format);
                var product_item = '';
                product_item += '<div class="mini-cart-row"><div class="image-half">';
                product_item += `<a href="${this.url}"><img class="minicart-image" alt="${this.title}" src="${this.image}" /></a>`;
                product_item += '</div>';
                product_item += '<div class="details-half">';
                product_item += `<span class="minicart-title">${this.title.split('--')[0]}${this.quantity > 1 ? `(${this.quantity})`: ''}</span>`;
                product_item += `<span class="minicart-price">${formattedPrice}</span>`;
                product_item += `<span class="minicart-variant">${this.variant_title || ''}</span>`;
                product_item += `<button type="button" class="ajax-cart-remove ${this.handle === {{ settings.gwp_product | json }} ? 'gwp-removal' : ''}" data-key="${this.key}" data-line="${i+1}">Remove</button>`;
                product_item += '</div>';
                $('#mobile-add-to-cart .modal-body').append(product_item);
              });

              const $modalSubtotal = $('#mobile-subtotal-price');
              const convertedSubtotal = Currency.convert(data.total_price, 'USD', Currency.currentCurrency);
              const formattedSubtotal = Currency.formatMoney(convertedSubtotal, Currency.moneyFormats[Currency.currentCurrency].money_with_currency_format);
              $modalSubtotal.html(formattedSubtotal);
          });
        }, 500);
      	return false;
  };

  window.removeByLine = function(line){
    jQuery.ajax({
            url: '/cart/change.js',
            type: 'POST',
            data: `quantity=0&line=${line}`,
            dataType: 'json',
            success: function(cart){
              window.buildCart();
            }
      });
  }

  $(document).on('click', '.ajax-cart-remove', function(evt){
    evt.preventDefault();
    const line = $(this).attr('data-line');
    window.removeByLine(line);
  });

  $(document).on('click', '.cart-close', function(evt){
    evt.preventDefault();
    $('body').removeClass('mobile-cart-open');
  });
})();

$(document).load($(window).bind("resize", checkPosition));
function checkPosition()
{
  if($(window).width() < 769)
  {
    $('.mobile-screen, #mobile-add-to-cart .close').on('click', function(){
      $('body').removeClass('mobile-cart-open');
    });

    $('#AddToCart').click(function(){
      console.warn('Add to Cart click');
      window.buildCart();
      setTimeout(function() {
        {% comment %} console.warn('Now we close');
        $('#mobile-add-to-cart .cart-close').click(); {% endcomment %}
      }, 4000);
    });
 
    $('a[href="/cart"]').click(function(e){
      if (e.target.classList.contains('hard-pass')) { 
      	return true;
      }
      e.preventDefault();
      console.warn('Cart Link Click');
      window.buildCart();
    });
  }
};
</script>
<script>
  var notificationCallback = function(data) {
    var msg = '';
    if (data.status == 'OK') {
      msg = data.message; // just show the success message
        $(".modal-box, .modal-overlay").fadeOut(400, function() {
    $(".modal-overlay").remove();
  });
    } else { // it was an error
      for (var k in data.errors) {  // collect all the error messages into a string
        msg += data.errors[k].join();
       }
    }
    $('.modal-box').fadeIn().delay(3000).fadeOut().text(msg);
  }
{% comment %} $('#notify_button').click(function(e) {
  e.preventDefault();
  var email = $('#notify_email').val(),
      variantId = $('#notify_select option:selected').val(); // rendered by Liquid
  var acceptsMarketing = $('#accepts_marketing').is(':checked');
  BISPopover.create(email, variantId, BISPopover.product.id, { accepts_marketing: acceptsMarketing }).then(notificationCallback);
}) {% endcomment %}

  
  // stick footer if body height is less than window height
  
  //alert( $('#pagefooter').offset().top + ' ' + $(window).height() );
  
</script>  


  <script>
    var getUrlParams = function (url) {
    var params = {};
      (url + '?').split('?')[1].split('&').forEach(function (pair) {
        pair = (pair + '=').split('=').map(decodeURIComponent);
        if (pair[0].length) {
          params[pair[0]] = pair[1];
        }
      });
      return params;
    };

    // http://doen-2.myshopify.com/index.html?emailSuccess=1&emailCompleted=true
    var siteUrl = getUrlParams(window.location.href);
    landingEmailSuccess = siteUrl.emailSuccess;
    if ( landingEmailSuccess == '1') {
      $('.landing__email-success').fadeIn().delay(3000).fadeOut();
    }

  </script>

{% comment %}
{% include 'shopify-wishlist' %}
{% endcomment %}



<script>
$(function(){

var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

  $('a[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.7);
    //$(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
    $('.mini_cart').hide();
  });


$(".js-modal-close, .modal-overlay").click(function() {
  $(".modal-box, .modal-overlay").fadeOut(500, function() {
    $(".modal-overlay").remove();
  });
});

  $('.js-open-modal').click(function(){
  	
   	$(".modal-box").css({
      top: '145px',
      left: ($(window).width() - $(".modal-box").outerWidth()) / 2
    });
    return false;
  });  
  
  
$(window).resize(function() {
  // go modal box
  $(".modal-box").css({
    top: '145px',
    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
  });
});

$(window).resize();

});  
</script>


<script type="text/javascript"> 
     var _learnq = _learnq || [];
     _learnq.push(['account', 'yKaaV9']); 
     (function () { 
     var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true; 
     b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') +     'a.klaviyo.com/media/js/analytics/analytics.js'; 
     var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
     })(); 
</script>


<!-- CRITEO START-->
  {% include 'criteo-tracking' %}
<!-- CRITEO END-->

{% include 'currencies' %} 




  
  


  {% comment %} {% include 'gdpr-snippet' %} {% endcomment %}



	{% include 'ipadJS' %}
   <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
  (function(){
    let checkIframe;
    
    checkIframe = setInterval(function(){
      if($('iframe#launcher').length > 0){
        clearInterval(checkIframe);
        $("iframe#launcher").contents().find('button.u-userLauncherColor:not([disabled])').css('box-shadow', 'none') 
      }
    }, 250);
  
  })();
</script>
{% if template contains 'search' %}
  {{ 'search-infinite-scroll.js' | asset_url | script_tag }}
  <script>
    infiniteSearch.init({
      terms: {{ search.terms | json }},
      pages: {{ searchPages | json }}
    });
  </script>
{% endif %}
{% if template contains 'page' and page.handle contains 'pdp-preview' %}

  {% if settings.enable_store_preview %}
    <script>
      window.preview_mode = true;
      window.preview_key = '5d05daceeee225e51025cced98f9776b';
    </script>
  {% endif %}
{% endif %}
{% if template contains 'collection' %}
  <script>
  console.log('Testing?', {{ settings.enable_store_preview | json }});
  
  </script>
  {% if settings.enable_store_preview %}
  <script>
  window.preview_mode = true;
  window.preview_key = '5d05daceeee225e51025cced98f9776b';
  </script>
  {% endif %}
  {% include 'handlebars-filter-templates' %}

  {% comment %} {% render 'collection-data' with collection %} {% endcomment %}
  {% include 'vue-sort-option' %}
  {% include 'vue-filter-option' %}
  {% include 'vue-product-item' %}
  {% include 'vue-tag-filter' %}

  {% comment %} Vue Dev {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% comment %} Vue Prod {% endcomment %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/vue"></script> {% endcomment %}
  <script>
    window.theme = window.theme || {};
    window.theme.filter_settings = window.theme.filter_settings || {};
    window.theme.simple_drops = {{ settings.simple_dropdown_filter_collections | split: ',' | json }};
    window.theme.filter_settings.orders = {
      "color": ["made-with-liberty- fabrics", "made-with-liberty-fabrics", "made with liberty fabrics", "floral prints", "floral print", "novelty prints", "plaids & stripes", "solids", "earth tones", "neutrals", "pastels", "black", "blue", "golden", "green", "pink", "red", "white"],
      "size": ["xxs", "xs", "xs/s", "s", "m", "m/l", "l", "l/xl", "xl", "xxl"],
      "style": {
        "dresses": [ "mini", "mid-length", "long", "sleeveless", "short sleeve", "long sleeve","cotton", "eyelet", "silk","ramie", "RAMIE", "organic", "nightgown", "nightgowns",  "bridal & event", "nursing-friendly", "pregnancy-friendly"],
        "tops": ["sleeveless", "short sleeve", "long sleeve", "button-down", "cotton", "eyelet", "silk","ramie", "RAMIE", "organic", "nursing-friendly", "pregnancy-friendly"],
        "pregnancy-nursing": ["ramie", "RAMIE", "nursing-friendly", "pregnancy-friendly"],
        "t-shirts": ["ramie", "RAMIE", "sleeveless", "short sleeve", "long sleeve", "bottoms", "printed", "solid", "pointelle", "organic"],
        "knitwear": ["ramie", "RAMIE", "pullover", "cardigan", "handknit", "jackets", "organic"],
        "outwear": ["ramie", "RAMIE", "pullover", "cardigan", "handknit", "jackets"],
        "footwear": ["ramie", "RAMIE", "boots", "flats", "heels", "sandals", "leather", "velvet", "socks"],
        "sleepwear": ["ramie", "RAMIE", "mini", "mid-length", "long", "sleeveless", "short sleeve", "long sleeve", "nightgown", "button-down", "bottoms", "cotton", "pointelle", "organic", "nursing-friendly", "pregnancy-friendly"],
        "kids": ["ramie", "RAMIE", "dresses", "tops", "bottoms", "knitwear", "socks", "organic"],
        "accessories": ["ramie", "RAMIE", "bags", "hats", "masks", "hair accessories", "socks", "home"]
      }
    }
    window.theme.filter_settings.hidden_sizes = {
      "new-arrivals": {
        "apparel": ["XS/S", "L/XL", "21/23", "24/27", "28/31", "32/35", "2", "4", "6", "8", "10", "12", "36-38", "39-41", "OS", "ADULT", "3-5", "6-10", "6/10", "2/5"],
        {% comment %} "bottoms": ["0", "2", "4", "6", "8", "10", "12"], {% endcomment %}
        "denim": ["0", "2", "4", "6", "8", "10", "12", "XXS", "XS", "S", "M", "L", "XL", "XXL"],
        "new-arrivals": [],
        "footwear": ["5", "6", "7", "8", "9", "10", "11"],
        "all": [],
        "kids": ["3-5", "6-10", "18/20", "21/23"]
      },
      "all": {
        "apparel": ["XS/S", "L/XL", "21/23", "24/27", "28/31", "32/35", "2", "4", "6", "8", "10", "36-38", "39-41", "OS", "ADULT", "3-5", "6-10", "6/10", "2/5"],
        {% comment %} "bottoms": ["0", "2", "4", "6", "8", "10", "12"], {% endcomment %}
        "denim": ["0", "2", "4", "6", "8", "10", "12", "XXS", "XS", "S", "M", "L", "XL", "XXL"],
        "new-arrivals": [],
        "footwear": ["5", "6", "7", "8", "9", "10", "11"],
        "all": [],
        "kids": ["3-5", "6-10"]
      },
      "apparel": ["XS/S", "L/XL", "21/23", "24/27", "28/31", "32/35", "2", "4", "6", "8", "10", "12", "36-38", "39-41", "OS", "ADULT", "3-5", "6-10", "6/10", "2/5"],
      {% comment %} "bottoms": ["0", "2", "4", "6", "8", "10", "12"], {% endcomment %}
      "denim": {% unless collection.handle == 'spring-1-21' %}["0", "2", "4", "6", "8", "10", "12", "XS", "S", "M", "L", "XL"],{% else %}[],{% endunless %}
      "new-arrivals": [],
      "footwear": {% unless collection.handle == 'spring-1-21' %}["5", "6", "7", "8", "9", "10", "11"],{% else %}[],{% endunless %}
      "all": [],
    }

    const bottomsSizeGroups = [
      ['XS', '0', '24', '25'],
      ['S', '2', '4', '26', '27'],
      ['M', '6', '8', '28', '29'],
      ['L', '10', '12', '30', '31'],
    ].reduce((mask, group) => {

      group.forEach((member) => {
        mask[member] = [...group].filter((m) => m !== member);
      });

      return mask;
    }, {});

    const oldMask = {
      24: ["0", 'XS'],
      25: ["2", 'XS'],
      26: ["4", 'S'],
      27: ["6", 'S'],
      28: ["6","8",'M'],
      29: ["8", 'M'], 
      30: ["10", 'L'],
      31: ["12", 'XL'],
      "XS": ["0", "2", "24", "25"],
      "S": ["4", "6", "26", "27"],
      "M": ["6", "8", "28", "29"],
      "L": ["10", "30"],
      "XL": ["12", "31"]        
    };

    console.log('Size Group', bottomsSizeGroups);

    window.theme.filter_settings.mask_sizes = {
      "bottoms": bottomsSizeGroups
    }
  </script>
  {{ 'collection-filters.scss.css' | asset_url | stylesheet_tag }}
  {{ 'collection-filters.js' | asset_url | script_tag }}
  {% comment %}{{ 'wip-cf.js' | asset_url | script_tag }}{% endcomment %}
  {{ 'hammer.js' | asset_url | script_tag }}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% comment %} {{ 'wip-filters.js' | asset_url | script_tag }}  {% endcomment %}
  <script>
    console.log({{settings.simple_dropdown_filter_collections | split: ',' | join: ',#' | json }});
    wipFilters.init({
      products: Shopify.Doen.products,
      handle: {{ collection.handle  | json }},
      products_count: {{ collection.all_products_count | json }},
      pagination_count: {{ settings.collections_max_products | json }},
      styleCollections: {{ settings.style_collections | split: ',' | json }},
      simpleDrops: {{ settings.simple_dropdown_filter_collections | split: ',' | json }},
      templateSelector: null,
      infiniteScroll: true,
      filterTags: {{ settings.store_autohide_tags | split: ',' | json }},
      filterOrders: {
        "dresses": [ "mini", "mid-length", "long", "sleeveless", "short sleeve", "long sleeve","cotton", "silk", "nightgown", "organic", "nightgowns",  "bridal & event", "breastfeeding-friendly", "maternity-friendly", "nursing-friendly", "pregnancy-friendly"],
        "tops": ["sleeveless", "short sleeve", "long sleeve", "button-down", "cotton", "silk", "breastfeeding-friendly", "maternity-friendly", "organic", "nursing-friendly", "pregnancy-friendly"],
        "pregnancy-nursing": ["nursing-friendly", "pregnancy-friendly"],
        "t-shirts": ["sleeveless", "short sleeve", "long sleeve", "bottoms", "printed", "solid", "pointelle", "organic"],
        "knitwear": ["pullover", "cardigan", "handknit", "jackets", "organic"],
        "outwear": ["pullover", "cardigan", "handknit", "jackets"],
        "footwear": ["boots", "flats", "heels", "sandals", "leather", "velvet", "socks"],
        "kids": ["dresses", "tops", "bottoms", "knitwear", "socks", "organic"],
        "colors": ["made-with-liberty- fabrics", "made-with-liberty-fabrics", "made with liberty fabrics", "floral prints", "floral print", "novelty prints", "plaids & stripes", "solids", "earth tones", "neutrals", "pastels", "black", "blue", "golden", "green", "pink", "red", "white"],
        "sizes": ["xxs", "xs", "xs/s", "s", "m", "m/l", "l", "l/xl", "xl", "xxl"]
      },
      rowSettings: {
        "kids": {
          columns: [
            { threshold: '2-10', column: 1, count: { mobile: 0, desktop: 0 } },
            { threshold: '0-1', column: 2, count: { mobile: 0, desktop: 0 } }
          ]
        },
        "footwear": { 
          columns: [
            { threshold: '35-41', column: 1, count: { mobile: 0, desktop: 0 } }
          ]
        },
        "bottoms": {
          columns: [
            { threshold: '24-32', column: 1, count: { mobile: 0, desktop: 0 } },
            { threshold: 'rest', column: 2, count: { mobile: 0, desktop: 0 } }
          ]
        }
      }, 
      matchedValues: {
        "footwear": {
          35: [5],
          35.5: [5],
          36: [6],
          36.5: [6],
          37: [7],
          37.5: [7],
          38: [8],
          38.5: [8],
          39: [9],
          39.5: [9],
          40: [10],
          40.5: [10],
          41: [11]
        },
        "bottoms": {
          24: [0, 'XS'],
          25: [2, 'XS'],
          26: [4, 'S'],
          27: [6, 'S'],
          28: [6,8,'M'],
          29: [8, 'M'],
          30: [10, 'L'],
          31: [12, 'XL']
        },
        "knitwear": {
          "XS": ["XS/S"],
          "S": ["XS/S"],
          "M": ["M"],
          "L": ["L/XL"],
          "XL": ["L/XL"],
        },
        "new-arrivals": {
          "XXS": ["XXS"],
          "XS": ["XS/S"],
          "S": ["XS/S"],
          "M": ["M"],
          "L": ["L/XL"],
          "XL": ["L/XL"],
        },
        "apparel": {
          "XXS": ["XXS"],
          "XS": ["XS/S"],
          "S": ["XS/S"],
          "M": ["M"],
          "L": ["L/XL"],
          "XL": ["L/XL"],
          "XXL": ["XXL"],
        }
      }
    });
  </script>
{% endif %}
 

{% section 'popup' %}{% section 'popup-b' %}
{% include 'popup-js' %}


<!-- Hivewyre Tag-->
<script src="https://js.b1js.com/tagcontainer.js?id=08cc0906c9d241ae93cffa27621ac1ed&type=1"></script>
<!-- Hivewyre Ta'g End -->

{%- if settings.enable_gwp -%}
  {{ 'cart-gwp.js' | asset_url | script_tag }}
  <script>
    CartGWP.init();
  </script>
{%- endif -%}

{% if template contains 'collection' %}
  {{ 'smart-resize.js' | asset_url | script_tag }} 
{% endif %} 
{% if template contains 'product' %}
  {% include 'wishlist-login-modal' %}
{% endif %}


{%- if template contains 'index' -%}
  <script src="https://player.vimeo.com/api/player.js"></script>
  {{ 'video-control.js' | asset_url | script_tag }}
{%- endif -%}

  {{ 'wipLazyLoad.js' | asset_url | script_tag }}
  {{ 'lookbooks-app.scss' | asset_url | stylesheet_tag }} 

  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"></noscript>
  
  
  
  {{ 'jquery.flexslider.min.js' | asset_url | script_tag }}
  {{ 'slider.js' | asset_url | script_tag }} 



  <!-- Start of shopdoen Zendesk Widget script
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=eedd1c91-3ec2-4020-8ceb-054cb39c633d" defer> </script>
 End of shopdoen Zendesk Widget script -->
  
{%- if template contains 'product' -%}
<script type="text" id="recommendations-item">
{% raw %}

<div class="grid__item mobile-spacing post-large--{% endraw %}{{ settings.related_product_large_size }} medium--{{ settings.related_product_medium_size }} small--{{ settings.related_product_small_size }}{% raw %} {{#if soldout}} sold-out{{/if}}">
  <a href="{{ url }}" class="grid-link text-center">
    <span class="grid-link__image grid-link__image--product">

      <span class="grid-link__image-centered">
        <img src="{{ images.[0] }}" alt="{{ title }}">
      </span>
    </span>
    <span class="product-info  inside ">

    <p class="grid-link__title">{{ title }}</p>
  
    <p class="grid-link__meta">
       {{ price }}
    </p>
    </span>
  </a>
</div>
{% endraw %}
</script>

  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% comment %} {{ 'product-swatches.js' | asset_url | script_tag }} {% endcomment %}
  {% comment %} {{ 'product-recommendations.js' | asset_url | script_tag }} {% endcomment %}
{%- endif -%}


  <script>
    (function(){
      $(document).on('click', '.evmbutton', function(){
        const caption = document.querySelector('.sec_evmoverlay .evmpopuptext');

        if (caption.textContent.length > 350) {
          caption.classList.add('truncate');
        } else {
          caption.classList.remove('truncate');
        }
        console.warn('Intsagram Click', caption.length);
      });
    })();
  </script>
  <script>(function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbap.com/apps/app/assets/js/acsb.js'; s.async = s.defer = true; s.onload = function(){ acsbJS.init({ statementLink : '', feedbackLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'right', leadColor : '#000000', triggerColor : '#000000', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'default', triggerSize : 'small', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 0, triggerOffsetY : 0, triggerRadius : '50%' } }); }; e.appendChild(s);}());</script>

<!-- Back in Stock helper snippet -->
{% comment %}
{% render 'back-in-stock-helper' %}
{% endcomment %}
<!-- End Back in Stock helper snippet -->



{% comment %} Gladly Widget  {% endcomment %}
<script>
  !function(c,n,r,t){if(!c[r]){var i,d,p=[];d="PROD"!==t&&t?"STAGING"===t?"https://cdn.gladly.qa/gladly/chat-sdk/widget.js":t:"https://cdn.gladly.com/chat-sdk/widget.js",c[r]={init:function(){i=arguments;var e={then:function(t){return p.push({type:"t",next:t}),e},catch:function(t){return p.push({type:"c",next:t}),e}};return e}},c.__onHelpAppHostReady__=function(t){if(delete c.__onHelpAppHostReady__,(c[r]=t).loaderCdn=d,i)for(var e=t.init.apply(t,i),n=0;n<p.length;n++){var a=p[n];e="t"===a.type?e.then(a.next):e.catch(a.next)}},function(){try{var t=n.getElementsByTagName("script")[0],e=n.createElement("script");e.async=!0,e.src=d+"?q="+(new Date).getTime(),t.parentNode.insertBefore(e,t)}catch(t){}}()}}
  (window,document,'Gladly','PROD')
</script>
<script>
  window.gladlyConfig = {
    appId: 'shopdoen.com'
  };
</script>
{% comment %} End Gladly {% endcomment %}






{% if template contains 'index' or template contains 'product' %}
<script type="text/javascript">
  (function e(){var e=document.createElement("script");
  e.type="text/javascript",e.async=true,
  e.src="//staticw2.yotpo.com/PAckCKeurGlyjiIQDfkRgzWrGqOS9we5dZJRosQF/widget.js";
  var t=document.getElementsByTagName("script")[0];
  t.parentNode.insertBefore(e,t)})();</script>

<script>
var yotpoIsReady = false;

(function checkForYotpo() {

setTimeout(function() {

if (typeof yotpo !== "undefined") {

if (yotpo.initialized === true) {

yotpoIsReady = true;

yotpo.initWidgets();

console.log('Yotpo reloaded');

}

} else {

console.log('Checking for Yotpo...');

}

if (yotpoIsReady === false) checkForYotpo();

}, 1000);

})();
</script>
{% endif %}

{% render 'nosto-tagging' %}
</body>
</html>
