<script type="text" data-masked-filters>
[
    {%- for blocks in section.blocks -%}
        {
            "id": {{ block.id | json }},
            "category": {{ block.settings.category | downcase | json }},
            "original": {{ block.settings.original_value | json }},
            "hidden_values": {{ block.settings.hidden_values | split: ',' | json }},
            "collection": {{ block.settings.collection | split: ','  | json }}
        }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
]
</script>

<style>
    {%- for block in section.blocks -%}
        {% assign splitValues = block.settings.hidden_values | split: ',' %}
        {% assign collections = block.settings.collection | split: ',' %}
        {% for value in splitValues %}
            {%- for collection in collections -%}
                li[data-category="{{ collection }}"][value="{{ value }}"] {
                    display: none;
                }

                body#{{collection}} li[value="{{value}}"]{ display: none; }
            {%- endfor -%}
        {% endfor %}
    {%- endfor -%}
</style>

{% schema %}
    {
        "name": "Filter Masks",
        "settings": [
            {
                "type": "header",
                "content": "Establish Masked Value Settings" 
            }
        ],
        "blocks": [
            {
                "type": "mask",
                "name": "Filter Mask",
                "settings": [
                    {
                        "type": "header",
                        "content": "Establish Mask"
                    },
                    {
                        "type": "text",
                        "id": "category",
                        "label": "Category"
                    },
                    {
                        "type": "text",
                        "id": "original_value",
                        "label": "Original Value"
                    },
                    {
                        "type": "textarea",
                        "id": "hidden_values",
                        "label": "Hidden Values"
                    },
                    {
                        "type": "textarea",
                        "id": "collection",
                        "label": "Limit to Collection",
                        "info": "Leave blank to apply universally"
                    }
                ]
            }
        ]
    }
{% endschema %}