{% paginate collection.products by settings.collections_max_products %}
<section id="collection-app">

    

    <div class="wrapper collection-wrapper">
        <div class="hidden small--hide" id="vue-collection-filters">
            <h2 class="">FILTER BY</h2>
            <div class="" id="vue-filters-container">
                <div class="vue-filter-wrapper" id="filter-sort-wrapper"> 
                        <sort-option @update="sortUpdate" ></sort-option>
                </div>
                {%- for block in section.blocks -%}
                <div class="vue-filter-wrapper" data-section="{{ block.settings.label }}" id="filter-wrapper-{{ block.id }}">
                    <filter-option @update="filterUpdate" type="{{ block.type }}" label="{{ block.settings.label }}" :id="{{ block.id }}" :key="{{ block.id }}"></filter-option>
                </div>                    
                {%- endfor -%}
            </div>
            <button id="vue-clear-filters" class="" @click="resetFilters">CLEAR ALL</button>
        </div>
        <p class="no-products" v-if="empty && allGathered">Sorry, no products meet your criteria</p>
        <ul class="collection-infinite">{%- include 'vue-product-grid-item' -%}</ul>

    </div>

      
    <div class="pagination-wrapper" style="opacity: 0;" v-autoclick>
        <button id="load-more" @click="loadNextPage">Load More</button>
    </div>

{% raw %}
<div id="mobile-filters-wrapper">
   <div class="inner-mobile-filters">
     <div class="mobile-filter-wrapper">
       <button @click="mobileToggleHandler" data-original="sort" class="top-level-mobile-toggle">SORT</button>
       <div class="mobile-filter-ul">
            <div class="vue-filter-wrapper" id="mobile-filter-sort-wrapper"> 
                    <sort-option @update="sortUpdate" ></sort-option>
            </div>
       </div>
     </div>
     <div class="mobile-filter-wrapper">
       <button @click="mobileToggleHandler" data-original="filter" class="top-level-mobile-toggle mobile-filter-toggle">FILTER</button>
       <button class="mobile-clear-all" @click="resetFilters">CLEAR ALL</button>
       <div class="mobile-filter-ul">
       {% endraw %}
        {%- for block in section.blocks -%}
        <div class="vue-filter-wrapper mobile-filters-wrappers" id="mobile-filter-wrapper-{{ block.id }}">
            <filter-option @update="filterUpdate" type="{{ block.type }}" label="{{ block.settings.label }}" :id="{{ block.id }}" :key="{{ block.id }}"></filter-option>
        </div>                    
        {%- endfor -%}
        {% raw %}
       </div>
     </div>
     
   </div>
</div>
{% endraw %}

</section>
{% endpaginate %}

<script type="text" vue-sort-dropdown-template>
{% raw %}
<div class="filter-listbox" @mouseleave="mouseLeaveHandler">
    <span id="sortLabel" class="hidden-label visually-hidden">Sort Products By:</span>
    <div class="filter-listbox-wrapper">
        <button  aria-haspopup="listbox"
                 aria-labelledby="sortLabel sortBtn"
                 id="sortBtn"
                 @click="btnClickHandler">sort</button>
        <ul id="listId"
            tabindex="-1"
            role="listbox"
            aria-labelledby="sortLabel"
            :class="open ? 'open filter-value-box' : 'hidden-box filter-value-box'">
            <li id="best-selling-sort" value="best-selling" @click="sortChange" role="option">Best Selling</li>
            <li id="low-high-sort" value="low-high" @click="sortChange" role="option">Price: Low To High</li>
            <li id="high-low-sort" value="high-low" @click="sortChange" role="option">Price: High To Low</li>
            <li id="in-stock-sort" value="in-stock" @click="sortChange" role="option">In Stock</li>
        </ul>
    </div>
</div>
{% endraw %}
</script>

<script type="text" vue-filter-dropdown-template>
{% raw %}
<div class="filter-listbox" @mouseleave="mouseLeaveHandler" v-if="standard">
    <span id="hiddenLabel" class="hidden-label visually-hidden">Choose Option?</span>
    <div class="filter-listbox-wrapper">
        <button  aria-haspopup="listbox"
                 aria-labelledby="hiddenLabel btnId"
                 id="btnId"
                 @click="btnClickHandler"
                 @mouseleave="">{{label}}</button>
        <ul id="listId"
            tabindex="-1"
            role="listbox"
            aria-labelledby="hiddenLabel"
            :class="open ? 'open filter-value-box' : 'hidden-box filter-value-box'">
            <li :id="label + index" 
                role="option" 
                v-for="(value, index) in values"
                :value="value.value"
                @click="optionSelectHandler" 
                :class="value.selected ? 'selected' : ''"
                >{{ cleanFilterValue(value.value) }}</li>
        </ul>
    </div>
</div>
<div class="filter-listbox non-standard" @mouseleave="mouseLeaveHandler" v-else>
    <span id="hiddenLabel" class="hidden-label visually-hidden">Choose Option?</span>
    <div class="filter-listbox-wrapper">
        <button  aria-haspopup="listbox"
                 aria-labelledby="hiddenLabel btnId"
                 id="btnId"
                 @click="btnClickHandler"
                 @mouseleave="">{{label}}</button>
        <ul id="listId"
            tabindex="-1"
            role="listbox"
            aria-labelledby="hiddenLabel"
            :class="open ? 'open filter-value-box' : 'hidden-box filter-value-box'">
            <li v-for="(key, index) in Object.keys(values)"
                class="category-filter" :data-list="key">
                <h3>{{key}}</h3>
                <ul
                    tabindex="-1"
                    role="listbox"
                    aria-labelledby="hiddenLabel">
                    <li :id="label + index" 
                        role="option" 
                        v-for="(value, index) in values[key]"
                        :value="value.value"
                        :data-category="key"
                        @click="optionSelectHandler" 
                        :class="value.selected ? 'selected' : ''"
                        >{{ cleanFilterValue(value.value) }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endraw %}
</script>

<script type="text" vue-filter-dropdown-template>
{% raw %}
<div class="filter-listbox" @mouseleave="mouseLeaveHandler">
    <span id="hiddenLabel" class="hidden-label visually-hidden">Choose Option</span>
    <div class="filter-listbox-wrapper">
        <button  aria-haspopup="listbox"
                 aria-labelledby="hiddenLabel btnId"
                 id="btnId"
                 @click="btnClickHandler"
                 @mouseleave="">{{label}}</button>
        <ul id="listId" 
            tabindex="-1"
            role="listbox"
            aria-labelledby="hiddenLabel"
            :class="open ? 'open filter-value-box' : 'hidden-box filter-value-box'">
            <li :id="label + index" 
                role="option" 
                v-for="(value, index) in values"
                :value="value.value"
                @click="optionSelectHandler" 
                :class="value.selected ? 'selected' : ''"
                >{{ cleanFilterValue(value.value) }}</li>
        </ul>
    </div>
</div>
{% endraw %} 
</script>

{% paginate collection.products by 1000 %}
<script type="text" vue-collection-data>
{
    "all_tags": {{ collection.all_tags | json }},
    "all_types": {{ collection.all_types | json }},
    "default_sort": {{ collection.default_sort_by | json }},
    "handle": {{ collection.handle | json }},
    "products_count": {{ collection.products_count | json }},
    "tags_by_product": {{ collection.products | map: 'tags' | json }},
    "special_collections": {{ section.settings.special_collections | split: ',' | json }},
    "exclusion_tags": {{ settings.store_autohide_tags | split: ',' | json }},
    "pagination": {
        "items_per_page": {{ settings.collections_max_products }}
    },
    "default_items": [
        {%- for product in collection.products limit: settings.collections_max_products -%}
            {% include 'product-json' with product %}{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
    ]
}
</script>

<script type="text" vue-filters-data>
[
    {%- for block in section.blocks -%}
        {
            "id": {{ block.id }},
            "signal": {{ block.settings.tag_signal | default: false | json }},
            "order": {{ block.settings.value_order | split: ',' | json }},
            "label": {{ block.settings.label | json }}
        }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
]
</script>

{% endpaginate %}

{% schema %}
    {
        "name": "Collection",
        "settings": [
            {
                "type": "header",
                "content": "Collection w/  Filters"
            },
            {
                "type": "checkbox",
                "id": "sort_filter",
                "label": "Enable Sort Filter",
                "default": true
            },
            {
                "type": "textarea",
                "id": "special_collections",
                "label": "Special Collections",
                "info": "this should be a comma separated list of collection handles"
            }
        ],
        "blocks": [
            {
                "type": "tag-filter",
                "name": "Filter By Tag",
                "settings": [
                    {
                        "type": "header",
                        "content": "Filter By Tag"
                    },
                    {
                        "type": "text",
                        "id": "label",
                        "label": "Filter Label"
                    },
                    {
                        "type": "text",
                        "id": "tag_signal",
                        "label": "Tag Signal"
                    },
                    {
                        "type": "textarea",
                        "id": "value_order",
                        "label": "Establish Value Order"
                    }
                ]
            },
            {
                "type": "attribute-filter",
                "name": "Filter By Attribute",
                "settings": [
                    {
                        "type": "header",
                        "content": "Filter By Attribute"
                    },
                    {
                        "type": "text",
                        "id": "label",
                        "label": "Filter Label"
                    },
                    {
                        "type": "textarea",
                        "id": "value_order",
                        "label": "Establish Value Order"
                    }
                ]
            },
            {
                "type": "option-filter",
                "name": "Filter By Option",
                "settings": [
                    {
                        "type": "header",
                        "content": "Filter By Variant Option"
                    },
                    {
                        "type": "text",
                        "id": "label",
                        "label": "Filter Label"
                    },
                    {
                        "type": "textarea",
                        "id": "value_order",
                        "label": "Establish Value Order"
                    }
                ]
            }
        ]
    }
{% endschema %}