<script>
window.DynamicCollections = window.DynamicCollections || {};

{%- for block in section.blocks -%}
    window.DynamicCollections[{{ block.settings.collection | json }}] = {{ block.settings.headers | downcase | split: ',' | json }};
{%- endfor -%}
</script>

{% schema %}
    {
        "name": "Dynamic Collection",
        "class": "dynamic-collection-filter-wrapper",
        "settings": [
            {
                "type": "header",
                "content": "Settings for Dynamic Filters"
            }
        ],
        "blocks": [
            {
                "type": "dynamic",
                "name": "Dynamic Filter",
                "settings": [
                    {
                        "type": "header",
                        "content": "Settings for Dynamic Filter"
                    },
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    },
                    {
                        "type": "textarea",
                        "id": "headers",
                        "label": "Category Headers",
                        "info": "comma separated list"
                    }
                ]
            }
        ]
    }
{% endschema %}
