{% assign faqCategories = section.blocks | map: 'settings' | map: 'category' | uniq %}

<div class="faq-page">
    <h1>{{ section.settings.title }}</h1>

    <div class="faq-body">
      <ul class="category-list">
       {% for category in faqCategories %}
         {% assign blocks = section.blocks | map: 'settings' | where: 'category', category %}
        <li class="category-item">
          <button type="button" class="category-btn" aria-expanded="false">{{ category }}</button>
          <ul class="category-question-list">
           {% for block in blocks %}
            <li id="faq-{{ block.name | replace: 'Ô', 'o' | replace: 'ô', 'o' | default: forloop.index0 }}" class="category-question">
              <h3>{{ block.title }}</h3>
              <div class="faq-answer">{{ block.answer }}</div>
            </li>
           {% endfor %}
          </ul>
        </li>
       {% endfor %}
      </ul>
    </div>
</div>

<script>
(function(){
    function handleCategoryClick(event) {
        event.preventDefault();

        const $btn = event.target;
        const isExpanded = $btn.getAttribute('aria-expanded') === 'true';

        $btn.setAttribute('aria-expanded', isExpanded ? 'false' : 'true');
    }

    function scrollToTarget(element) {
        
        var headerOffset = 150;
        var elementPosition = element.getBoundingClientRect().top;
        var offsetPosition = elementPosition - (headerOffset * 1.75);

        console.log('Scroll To target', offsetPosition);

        window.scrollTo({
            top: offsetPosition,
            behavior: "smooth"
        });
    }

    function scrollToHash() {
        const $section = document.querySelector(window.location.hash);

        const $btn = $section.parentElement.parentElement.querySelector('.category-btn');

        console.log('Scroll To', $section, $btn);

        $btn.click();
        $section.scrollIntoView({
            behavior: "smooth",
            block: 'center'
        });
        {% comment %} scrollToTarget($section); {% endcomment %}
    }

    const faq = () => {
        const $btns = document.querySelectorAll('.category-btn');

        [...$btns].forEach(function($btn){
            $btn.addEventListener('click', handleCategoryClick);
        })

        if(window.location.hash) {
            scrollToHash();
        }
    }

    faq();
})();
</script>

{% schema %}
    {
        "name": "FAQ",
        "class": "faq-section",
        "settings": [
            {
                "type": "header",
                "content": "FAQ Section"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Page Title",
                "default": "FAQ"
            }
        ],
        "blocks": [
            {
                "type": "FAQ",
                "name": "FAQ",
                "settings": [
                    {
                        "type": "header",
                        "content": "FAQ"
                    },
                    {
                        "type": "text",
                        "id": "category",
                        "label": "Category"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Unqiue Name",
                        "info": "this is used to generate custom URLS for this exact question"
                    },
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "Question"
                    },
                    {
                        "type": "textarea",
                        "id": "answer",
                        "label": "Answer",
                        "default": "<p></p>"
                    }
                ]
            }
        ]
    }
{% endschema %}
