<script type="text" data-filter-definitions>
[
    {%- for block in section.blocks -%}
        {
            "label": {{ block.settings.title | json }},
            "testType": {{ block.settings.testType | json }},
            "collections": {{ block.settings.collections | split: ',' | json }},
            "tags": {{ block.settings.tags | split: ',' | json }},
            "exclusionCollections": {{ block.settings.exclusion_collections | split: ',' | json }},
            "exclusionTags": {{ block.settings.exclusion_tags | split: ',' | json }},
            "values": []
        }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
]
</script>

{% schema %}
    {
        "name": "Filter Settings",
        "class": "filter-definitions-section",
        "settings": [
            {
                "type": "header",
                "content": "Filter Definitions"
            },
            {
                "type": "paragraph",
                "content": "Use this section to define how each column for the size filters will be defined."
            }
        ],
        "blocks": [
            {
                "type": "Definition",
                "name": "Filter Definition",
                "settings": [
                    {
                        "type": "header",
                        "content": "Filter Definition"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Filter Label"
                    },
                    {
                        "type": "select",
                        "id": "testType",
                        "label": "Test Type",
                        "options": [
                            { "value": "collection", "label": "Collection" },
                            { "value": "exclusionCollection", "label": "Exclude Collection" },
                            { "value": "tags", "label": "Tag" }
                            
                        ],
                        "default": "collection"
                    },
                    {
                        "type": "textarea",
                        "id": "collections",
                        "label": "Qualifying Collections"
                    },
                    {
                        "type": "textarea",
                        "id": "tags",
                        "label": "Qualifying Tags"
                    },
                    {
                        "type": "textarea",
                        "id": "exclusion_collections",
                        "label": "Exclusion Collections"
                    },
                    {
                        "type": "textarea",
                        "id": "exclusion_tags",
                        "label": "Exclusion Tags"
                    }
                ]
            }
        ]
    }
{% endschema %}
