<div class="inner-fr">
  {{ section.settings.popup_text }}
  <button class="close-gdpr" data-class="fr-msg">X</button></div>
<div class="grid__item large--one-whole wip-topbar fr-topbar">
  {% assign builtLink = '<a href="LINKHERE">Click Here</a>' | replace:'LINKHERE', settings.top_bar_promo_url | replace:'Click Here', settings.topbarpromo_linktext %}
  <span> {{ section.settings.topbar }} </span>
</div><div class="clearfix"></div>
<script>
(function(){
  function createCookie(name, value, minutes) {
  var expires;

  if (minutes) {
    var date = new Date();
    date.setTime(date.getTime() + (minutes * 60 * 1000));
    expires = "; expires=" + date.toGMTString();
  } else {
    expires = "";
  }
  document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
}

function readCookie(name) {
  var nameEQ = encodeURIComponent(name) + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) === ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
  }
  return null;
}

function eraseCookie(name) {
  createCookie(name, "", -1);
}

function mobilecheck() {
  var check = false;
  (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true; })(navigator.userAgent || navigator.vendor || window.opera);
  return check;
};

  const selectors = {
    topbar: '.fr-topbar',
    siteHeader: 'header.site-header',
    mobileHeader: '.mobile-bar',
    section: '#shopify-section-FranceBanner',
    gdpr: '#shopify-section-gdpr-cookie-disclaimer',
    frMsg: '.inner-fr', 
    close: '.inner-fr .close-gdpr'
  };

  const francePop = function(){
    if(readCookie('doenFR') == null || sessionStorage.getItem('doenFR') != 'exit'){
      if(mobilecheck()){
        $(selectors.mobileHeader).prepend($(selectors.topbar).clone(), '<div class="clearfix"></div>');
        $('body').css('padding-top', '112px');
        $(selectors.gdpr).addClass('fr-msg eu').prepend($(selectors.frMsg));
      }else{
        $(selectors.gdpr).addClass('eu');
        $(selectors.siteHeader).prepend($(selectors.topbar).clone(), '<div class="clearfix"></div>');
        {% comment %} $('body').append($(selectors.frMsg));  {% endcomment %}
        $(selectors.frMsg).addClass('dk').appendTo('body');
        
        $(selectors.close).on('click', function(){
          $(selectors.frMsg).removeClass('dk');
          createCookie('doenFR', 'exit', 999999999);
          sessionStorage.setItem('doenFR', 'exit');
        });
      }
    }else{
      if(mobilecheck()){
        $(selectors.mobileHeader).prepend($(selectors.topbar).clone(), '<div class="clearfix"></div>');
        $('body').css('padding-top', '112px');
      }else{
        $(selectors.siteHeader).prepend($(selectors.topbar));
      }
      
    }
  };
  
  const findCountry = function(dataSet){
    for(var i = 0; i < dataSet.length; i++){
      let dataType = dataSet[i].types;
      
      if(dataType.indexOf('country') > -1 ){
        // console.log(dataSet[i]);
        var setC = dataSet[i].formatted_address;
        if(setC == 'FR' || setC == 'fr' || setC == 'france' ){
          francePop();
        }
      }
    }
  };
  
    const mapCallback = function(long, lat){
    $.get(`http://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${long}&sensor=false&key=AIzaSyBsdntAUCtSCZcFAtd5rkA2BSusvTRK9rs`, function(data){
    	console.log(data);
      	findCountry(data.results);
    });
  };
  
  
  const showPosition = function(position){
    console.log('ps', position);
    mapCallback(position.coords.longitude, position.coords.latitude);
  }

  const FRPull = function(){
    console.warn('FR PULL',readCookie('doenFR'), sessionStorage.getItem('doenFR'));
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
     }

    
      $.get("https://ipinfo.io", function(response) {
          console.warn(response.ip);
          console.warn(response.country);
        if(response.country == 'FR' || response.country == 'fr' ){
          francePop();
  		  console.log('FR');
        }
      }, "jsonp");
  };  
  FRPull(); 
})();
</script>
{% schema %}
  {
    "name": "France PopUp",
    "class":"fr-window",
    "settings": [
        {
          "type":"text",
          "id":"header",
          "label":"Header"
        },
        {
          "type":"textarea",
          "id":"copy",
          "label":"Main Copy"
        },
        {
          "type":"textarea",
          "id":"topbar",
          "label":"Top Bar Text"
        },
        {
          "type":"textarea",
          "id":"popup_text",
          "label":"Popup Text"
        }
        ],
        "blocks": [
          {
            "type": "Text",
            "name": "Text",
            "settings": [
              {
                 "type": "select",
                 "id": "text_type",
                 "options": [
                    { "value": "h1", "label": "Heading 1"},
                    { "value": "h2", "label": "Heading 2"},
                    { "value": "h3", "label": "Heading 3"},
                    { "value": "span", "label": "Text"}
                 ],
                 "label": "Text Type"
              },
              {
                "type":"textarea",
                "id":"text",
                "label":"Content",
                "info":"To Insert a line break type <br>"
              },
              {
                "type":"color",
                "id":"text_color",
                "default":"#ffffff",
                "label":"Text Color"
              },
              {
                "type":"checkbox",
                "id":"text_bold",
                "label":"Bold Font"
              },
              {
                "type":"checkbox",
                "id":"text_underline",
                "label":"Underline Font"
              },
              {
                "type":"checkbox",
                "label":"Add to Google Analytics Event",
                "id": "add_ga"
              }
            ]
          },
          {
            "type": "Newsletter",
            "name": "Newsletter",
            "settings": [
              {
                  "type":      "range",
                  "id":        "newsletter_width",
                  "min":       0,
                  "max":        100,
                  "step":       1,
                  "unit":       "%",
                  "label":     "Email Collection Width",
                  "default":   41
              },   
              {
                "id":"newsletter_form",
                "type":"textarea",
                "label":"Newsletter HTML"
              },
              {
                "type":"color",
                "id":"text_color",
                "default":"#ffffff",
                "label":"Text Color"
              }
            ]
          },
    	  {
            "type":"Image",
            "name":"Image",
            "settings":[
            	{
                  "type":"image_picker",
                  "id":"image",
                  "label":"Image"
                }
            ]
          },
          {
            "type": "Link",
            "name": "Link",
            "settings": [
              {
                "type":"url",
                "id":"link_destination",
                "label":"Link Destination"
              },
              {
                "type":"checkbox",
                "id":"exit_link",
                "label":"Exit Link",
                "info":"Check this to create a link that closes the popup"
              },
              {
                  "type":      "range",
                  "id":        "link_border",
                  "min":       0,
                  "max":        50,
                  "step":       1,
                  "unit":       "px",
                  "label":     "Border Width",
                  "default":   1
              },
              {
                "type":"textarea",
                "id":"link_content",
                "label":"Link Text"
              },
              {
                "type":"color",
                "id":"link_color",
                "default":"#ffffff",
                "label":"Text Color"
              },
              {
                "type":"checkbox",
                "id":"link_bold",
                "label":"Bold Font"
              },
              {
                "type":"checkbox",
                "id":"link_underline",
                "label":"Underline Font"
              }
            ]
          }
        ]
  }
{% endschema %}
