 {% if section.settings.enable == true  %}
 
 
 <div class="slider-headers" style="text-align: center;">
  {% if section.settings.header != blank  %}<h2 class="section-header__title"><a href="{{ section.settings.link }}"> {{ section.settings.header }} </a></h2> {% endif %}
  {% if section.settings.subheader != blank  %}<p class="text-center"> <a href="{{ section.settings.link }}"><i class="fa fa-caret-right"></i> {{ section.settings.subheader }} </a> </p>{% endif %}
</div>

<div class="wrapper" {% if section.settings.video_layout != 'boxed'%}style="max-width: none; padding: 0;"{% endif %}>
<div data-id="{{ section.settings.video.id }}" {% if section.settings.video_layout == 'boxed'%}style="margin: 0 auto;"{% endif %} class="{% if section.settings.video_layout == 'boxed'%}post-large--three-quarters{% endif %} video-section-wrapper {{ section.settings.video_layout }} bg-{{ section.settings.bg_color }}">  
    {% if section.settings.video.type == 'vimeo' %}
        <iframe src="https://player.vimeo.com/video/{{ section.settings.video.id }}?loop=1&title=0&byline=0&portrait=0" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    {% endif %}
</div>
</div>

{% assign bgColor = '#fff' %}
{% if section.settings.bg_color == 'blush' %}
    {% assign bgColor = '#FAF8F0' %}
{% endif %}

 
{% endif %}

{% style %}
#shopify-section-{{ section.id }}.video-section {
    background-color: {{ bgColor }};
}  
 {% if section.settings.enable == false  %}

div#shopify-section-home__video {
padding-top:0;
padding-bottom:0;

}

{% endif %}


{% endstyle %}

{% schema %}
{
    "name": "Video Block",
    "class": "grid__item large--one-whole video-section",
	"settings": [
           {
               "type": "checkbox",
               "id": "enable",
               "label": "Enable Video"
           },
           {
               "type": "text",
               "id": "header",
               "label": "Header"
           },
           {
               "type": "text",
               "id": "subheader",
               "label": "Sub Header"
           },
           {
               "type": "url",
               "id": "link",
               "label": "CTA URL For Header"
           },
           {
               "type": "video_url",
               "id": "video",
               "label": "Video URL",
               "accept": ["vimeo"]
           },
           {
               "type": "checkbox",
               "id": "autoplay",
               "label": "Enable Autoplay"
           },
           {
                "type": "radio",
                "id": "video_layout",
                "options": [
                    { "value": "boxed", "label": "Boxed" },
                    { "value": "full-width", "label": "Full Width" }
                ],
                "label": "Section Layout"
            },
           {
                "type": "radio",
                "id": "bg_color",
                "options": [
                    { "value": "blush", "label": "Blush" },
                    { "value": "white", "label": "White" }
                ],
                "label": "Background Color"
            }
    ]
  }
{% endschema %}
