<hr class="hr--clear">
<div class="slider-headers" style="text-align: center;">
  <h2 class="section-header__title"><a href="/collections/new-arrivals">{{ section.settings.header }}</a></h2> 
  <p class="text-center"> <a href="/collections/new-arrivals"><i class="fa fa-caret-right"></i> View Collection </a> </p>
</div>

<div class="wrapper">
  <div class="post-large--three-quarters slick-container-super" style="margin: 0 auto; opacity: 0;">
                        <div id="slick-{{ section.id }}" class="your-class">
                          {% for block in section.blocks %}
                            <div {{ block.shopify_attributes }} id="{{ block.id }}">
                              <a href="{{ block.settings.slide_linkurl }}">
                                <img {% if forloop.first %}src{% else %}data-lazysrc{% endif %}="{{ block.settings.image | img_url: 'x750' }}" class="lazy-slide-img" alt="" >
                              </a> 
                            </div>
                          {% endfor %}


                        </div>
  </div>
  </div>
<script>
  function jumpStarter(){
   const slickContainer = $('#slick-{{ section.id }}');

   slickContainer.on('afterChange', function(event, slick, currentSlide) {
     const siblingSlides = slickContainer.find(`.slick-slide[data-slick-index=${currentSlide+1}], .slick-slide[data-slick-index=${currentSlide-1}]`);

     siblingSlides.each(function(index, slide) {
       const lazyImg = $(slide).find('.lazy-slide-img');
       if (lazyImg) {
         const src = lazyImg.attr('data-lazysrc');
         lazyImg.attr('src', src);
       }
     });
   });

    slickContainer.on('init', function(){
     const siblingSlides = slickContainer.find(`.slick-slide[data-slick-index="1"]`);

     siblingSlides.each(function(index, slide) {
       const lazyImg = $(slide).find('.lazy-slide-img');
       if (lazyImg) {
         const src = lazyImg.attr('data-lazysrc');
         lazyImg.attr('src', src);
       }
     });
    });

   slickContainer.slick({
    dots: false,
    arrows: true,
    accessibility: false,
    adaptiveHeight: true,
    autoplay: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 900,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ]
});
   
    $('.slick-container-super').css('opacity','1');
  }
  
$(window).load(function(){
      jumpStarter();
    });
</script>

{% schema %}
  {
    "name": "LookBook Slider",
    "class": "grid__item large--one-whole",
    "blocks": [
      {
        "type": "Slider-Image",
        "name": "Slider Image",
        "settings": [
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
    			 "type": "select",
    			 "id": "text_position",
    			 "options": [
       				  { "value": "top-left", "label": "Top Left"},
        			  { "value": "top-center", "label": "Top Center"},
					  { "value": "top-right", "label": "Top Right"},
					  { "value": "middle-left", "label": "Middle Left"},
        			  { "value": "middle-center", "label": "Middle Center"},
       				  { "value": "middle-right", "label": "Middle Right"},
        			  { "value": "bottom-left", "label": "Bottom Left"},
					  { "value": "bottom-center", "label": "Bottom Center"},
					  { "value": "bottom-right", "label": "Bottom Right"}        			  
    						],
     			 "label": "Text Overlay Position"
				},
				{
        			"type": "text",
       				"id": "slide_headline",
        			"label": "Headline"
      			},
      			{
        			"type": "text",
        			"id": "slide_subhead",
        			"label": "Subhead"
      			},
      			{
        			"type": "text",
        			"id": "slide_linktext",
        			"label": "Link Text"
      			},
      			{
       				"type": "url",
        			"id": "slide_linkurl",
      			    "label": "Link URL"
		        }
        ]
      }
    ],
    "settings":[
      {
        "type": "header",
        "content": "General Section Settings"
      },
      {
        "type": "text",
        "id": "slide_speed",
        "label": "Slide Speed (in miliseconds, numbers only)"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ],
	"presets": [{
        "name": "Adapted Hero Slider",
        "category": "Page Sections"
    }]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
var globalSelect = "";
function process_slick_event(evt){
var _slick = $( "#" + evt.target.id);
$('#slick-Adapted-Hero').slick('unslick');
var _slick2 = $(_slick.sectionId + " > " + "#slide-Adapted-Hero");
var attrLoc = $(evt.target.id);

var selector = $(_slick.selector);
    switch ( evt.originalEvent.type ) {
      case "shopify:block:select" : 
		console.log($(evt.target).attr('data-slick-index'));
		var init = $(evt.target).index();
		console.log($(evt.target).index());
		$("#slick-Adapted-Hero").slick (
            {
			  dots: true,
              slidesToShow: 1,
			  initialSlide: init,
              slidesToScroll: 1,
              autoplay: false
            }
															)
		
      break; 
      case "shopify:block:deselect" :
        console.log('Unload ');
       $(globalSelect.selector).find("#slick-Adapted-Hero").slick('unslick');
	      $('#slick-Adapted-Hero').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

		
      break;

     } 

}

function reslicker(evt){
var _slick = $( "#" + evt.target.id);
 globalSelect = $(_slick.selector);
console.log(event.target);

$(_slick.selector).find('#slick-Adapted-Hero').slick('unslick');
$(_slick.selector).find('#slick-Adapted-Hero').slick (
            {
			  dots: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true
            }
)

}

function slicker(){
     $('#slick-Adapted-Hero').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  
}
$(document)
 .on(   'shopify:block:select', process_slick_event )
 .on( 'shopify:block:deselect', process_slick_event )
 .on(   'shopify:section:select', reslicker )
 .on(   'shopify:section:reorder', reslicker )

;

{% endjavascript %}
