{% assign titleSize = section.settings.analytics_title | size %}

<div class="beigebg">
<div {% if section.settings.force_show %}data-force="true"{% endif %} data-section-id="{{ section.id }}" {% if titleSize > 0 %}title="{{ section.settings.analytics_title }}"{% endif %} data-section-type="popup" 
     class="main_popup" data-background="" style="outline: {{ section.settings.popup_border }}px solid white; border: {{ section.settings.popup_border }}px solid #c0b194;">
 
  {% unless section.settings.popup_background == blank %}
 <img class="lazy-img popupimage" data-src="{{ section.settings.popup_background | img_url: 'x500' }}" />
  {% endunless %}

  <div style="padding:8px 25px;margin:auto;">
  
  {% for block in section.blocks %}
    {% assign blockType = block.type %}
      {% case blockType %}
        {% when 'Text' %}
          <{{ block.settings.text_type }} class="block-text  {% if block.settings.add_ga %}ga-attr{% endif %}" style="color: {{ block.settings.text_color }}; {% if block.settings.text_bold %}font-weight: bold;{% endif %}{% if block.settings.text_underline %}border-bottom: 1px solid white;{% endif %}" {{ block.shopify_attributes }}>
              {{ block.settings.text }}
          </{{ block.settings.text_type }}>
        {% when 'Newsletter' %}
          <div class="popup-collector" style="width: {{ block.settings.newsletter_width }}%;" {{ block.shopify_attributes }}>
            {{ block.settings.newsletter_form }}
     
          </div>
  
    <div class="privacy-policy">
  
      By providing your email address you accept our privacy policy. <a href="/pages/the-fine-print/#legal-privacy">Learn more.</a>
  </div>

          {% when 'Link' %}
            {% if block.settings.exit_link %}
              <div class="exit-container" {{ block.shopify_attributes }}>
                <button class="email_exit" style="color: {{ block.settings.link_color }}; {% if block.settings.link_bold %}font-weight:bold;{% endif %}{% if block.settings.link_underline %}border-bottom: 1px solid white;{% endif %}">{{ block.settings.link_content }}</button>
              </div>
            {% else %}
              <a href="{{ block.settings.link_destination }}" style="color: {{ block.settings.link_color }}; {% if block.settings.link_bold %}font-weight:bold;{% endif %}{% if block.settings.link_underline %}border-bottom: 1px solid white;{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.link_content }}</a>
            {% endif %}
            
            {% when 'Image' %}
            <div class="pop-img">
                <img data-src="{{ block.settings.image | img_url: 'x500' }}" class="lazy-img" />
            </div>
      {% endcase %}
  {% endfor %}

  </div>


  <div class="email_exit close_floater" title="Close">
     <div class="float-x">x</div>
  </div> 

  

  
  
</div>

<div class="clearfix"></div>
</div>

           
{% schema %}
  {
    "name": "Popup Window A",
    "class":"newsletter-container v-a",
    "settings": [
        
          {
              "type":      "range",
              "id":        "popup_border",
              "min":       0,
              "max":        50,
              "step":       1,
              "unit":       "px",
              "label":     "Border Width",
              "default":   5
          },    
          {
            "type":"image_picker",
            "id":"popup_background",
            "label":"Background Image"
          },
{
            "type":"image_picker",
            "id":"popup_background_2",
            "label":"Background Image"
          },
          {
             "type": "select",
             "id": "popup_alignment",
             "options": [
                { "value": "space-between", "label": "Space Between Elements"},
                { "value": "center", "label": "Center"}
             ],
             "default":"center",
             "label": "Text Spacing In Window"
          },
    	  {
           	"type":"text",
            "id":"analytics_title",
            "label":"Google Analytics Event Title"
          },
          {
			"type":"checkbox",
			"id":"force_show",
			"label":"Force Show"
          }
        ],
        "blocks": [
          {
            "type": "Text",
            "name": "Text",
            "settings": [
              {
                 "type": "select",
                 "id": "text_type",
                 "options": [
                    { "value": "h1", "label": "Heading 1"},
                    { "value": "h2", "label": "Heading 2"},
                    { "value": "h3", "label": "Heading 3"},
                    { "value": "span", "label": "Text"}
                 ],
                 "label": "Text Type"
              },
              {
                "type":"textarea",
                "id":"text",
                "label":"Content",
                "info":"To Insert a line break type <br>"
              },
              {
                "type":"color",
                "id":"text_color",
                "default":"#ffffff",
                "label":"Text Color"
              },
              {
                "type":"checkbox",
                "id":"text_bold",
                "label":"Bold Font"
              },
              {
                "type":"checkbox",
                "id":"text_underline",
                "label":"Underline Font"
              },
              {
                "type":"checkbox",
                "label":"Add to Google Analytics Event",
                "id": "add_ga"
              }
            ]
          },
          {
            "type": "Newsletter",
            "name": "Newsletter",
            "settings": [
              {
                  "type":      "range",
                  "id":        "newsletter_width",
                  "min":       0,
                  "max":        100,
                  "step":       1,
                  "unit":       "%",
                  "label":     "Email Collection Width",
                  "default":   41
              },   
              {
                "id":"newsletter_form",
                "type":"textarea",
                "label":"Newsletter HTML"
              },
              {
                "type":"color",
                "id":"text_color",
                "default":"#ffffff",
                "label":"Text Color"
              }
            ]
          },
    	  {
            "type":"Image",
            "name":"Image",
            "settings":[
            	{
                  "type":"image_picker",
                  "id":"image",
                  "label":"Image"
                }
            ]
          },
          {
            "type": "Link",
            "name": "Link",
            "settings": [
              {
                "type":"url",
                "id":"link_destination",
                "label":"Link Destination"
              },
              {
                "type":"checkbox",
                "id":"exit_link",
                "label":"Exit Link",
                "info":"Check this to create a link that closes the popup"
              },
              {
                  "type":      "range",
                  "id":        "link_border",
                  "min":       0,
                  "max":        50,
                  "step":       1,
                  "unit":       "px",
                  "label":     "Border Width",
                  "default":   1
              },
              {
                "type":"textarea",
                "id":"link_content",
                "label":"Link Text"
              },
              {
                "type":"color",
                "id":"link_color",
                "default":"#ffffff",
                "label":"Text Color"
              },
              {
                "type":"checkbox",
                "id":"link_bold",
                "label":"Bold Font"
              },
              {
                "type":"checkbox",
                "id":"link_underline",
                "label":"Underline Font"
              }
            ]
          }
        ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
