{% assign product = collections['new-arrivals'].products[0] %}

<section data-section-id="{{ section.id }}" data-section-type="product" itemscope itemtype="http://schema.org/Product" v-if="product.doenAvailable">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="section-header section-header--breadcrumb medium-down--hide" v-if="breadcrumbs">
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
      <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
      {% raw %}

      <span aria-hidden="true" class="breadcrumb__sep" v-if="breadcrumbs.collection">&#47;</span>
      <a :href="breadcrumbs.collection.url" v-if="breadcrumbs.collection">{{breadcrumbs.collection.title}}</a>
      <span aria-hidden="true" class="breadcrumb__sep">&#47;</span> 
      <span>{{product.title}}</span>

      {% endraw %}

    </nav>
  </div>
  
  <div class="product-single">
    <div class="grid product-single__hero stickem-container">
      {% comment %} Product Image {% endcomment %}
      <div class="grid__item post-large--two-thirds">
        <div class="">
          <div :class="notResetting ? 'flex-container' : 'flex-container temp-hidden'"> 
           <agile ref="maincarousel" :dots="true" :navButtons="true" @after-change="slickAfterChange($event)">
            <div @mouseover="slideMouseEnter" :key="media.id"  v-for="(media, index) in product.media">
                <video v-if="media.media_type === 'video'" 
                       style="position: absolute; width: 100%; height: 100%; object-fit: cover;" 
                       loop="true" 
                       width="800" 
                       height="auto" 
                       name="Video Name" 
                       :src="media.sources[0].format === 'mp4' ? media.sources[0].url : media.sources[1].url" 
                       preload="auto" 
                       :poster="(media.preview_image) ? media.preview_image.src : null"
                       autoplay playsinline muted></video>
                <video v-else-if="media.alt && media.alt.indexOf('.mp4') > -1" 
                       style="position: absolute; width: 100%; height: 100%; object-fit: cover;" 
                       loop="true" 
                       width="800" 
                       height="auto" 
                       name="Video Name" 
                       :src="media.alt" 
                       preload="auto" 
                       :poster="media.src"
                       autoplay playsinline muted></video>
                <img v-else 
                     :src="media.src" 
                     :data-zoom="media.src" 
                     :data-index="index"
                     class="zoom-image">

            </div>
           </agile>
          </div>
          {% raw %}
            <div class="pixle-greater-container medium-down--hide" style="display: block;    margin-top: 70px; width:100%;    padding: 0 9px;">
              <div  class="pixlee-header hide" style="width: calc(100% - 100px);margin:0 auto 25px auto;">
                OUR COMMUNITY IN THE {{ product.title  }} <strong>#doencollective</strong>
              </div>
              <div id="pix1"></div>
            </div>
          {% endraw %}
            {% comment %} End of Pixele Above, medium-down--hide below. {% endcomment %}

        </div>
      </div>

      {% comment %} Product Content {% endcomment %}
      <div class="grid__item right-side post-large--one-third product-content">
        <div class="zoom-container" :data-index="index" v-for="(image, index) in product.full_images"></div>
        {% raw %}
        <h1 itemprop="name" style="margin-bottom: 0;">{{ product.title }}</h1>
        <p class="liberty-pdp" v-if="product.special.liberty"><a href="https://shopdoen.com/blogs/journal/liberty-of-london">Made with liberty fabric</a></p>

        <div class="type" style="margin: 0 0 20px;display:block;" v-if="product.special.limited">LIMITED EDITION</div>
        
        <div class="product-form-wrapper" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% endraw %}
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          {% raw %}
          <link itemprop="availability" :href="product.available ? 'http://schema.org/InStock' : 'http://schema.org/OutOfStock' ">   

          <div :class="product.special.on_sale ? 'product-single__prices comparing-prices' : 'product-single__prices' ">
            <span id="ProductPrice" class="product-single__price" itemprop="price">
              {{ formatPrice(variant ? variant.price : product.price) }}
            </span>

             <s class="product-single__sale-price" v-if="product.special.on_sale && product.compare_at_price">
                {{ formatPrice(product.compare_at_price) }}
             </s>
          </div>
          

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="purchase-section">
            <swatches @option-change="handleOptionChange" :product="product" option="size"></swatches>
            
            {% endraw %}
            {% unless product.tags contains 'hide size chart' %}
            <button class="size-chart-link" type="button" v-if="sizeGuide && !product.tags.includes('hide size chart')" @click="sizeGuideToggle">
              <i class="fa fa-caret-right"></i> Size Conversion Chart
            </button>
            {% endunless %}
            {% raw %}

            <custom-select 
              :product="product" 
              name="properties[monogram]" 
              label="Monogram"
              id="monogram-selection"
              :options="alphabet"
              default="Select Letter"
              property="monogram" 
              v-on:property-update="updatePropertyField"
              v-if="hasTag('monogram-eligible')">
            </custom-select>


            {% endraw %}
            {% if settings.other_colored_products_enable %}      
              {% if product.title contains '--' %}
                 <linkedSwatches :product="product" @swap-product="swapProduct"></linkedSwatches>
              {% endif %}        
            {% endif %}    
            {% raw %}

            <select class="hide" name="id" v-if="variant" v-model="variant.id">
              <option v-for="variant in product.variants"
                      :value="variant.id">{{ variant.title }}</option>
            </select>

            
            <div class="product-single__quantity" style="display: none;" v-if="!soldout">
              {% endraw %}<label for="Quantity">{{ 'products.product.quantity' | t }}</label>{% raw %}
              <input type="number" id="Quantity" name="quantity" v-model="quantity" min="1" class="quantity-selector">
            </div> 
            

            <span id="" style="margin-bottom:0px;display:block;" v-if="product.special.limited">limited edition</span>
            <span id="lowStock" v-if="lowStock">Less than 5 left!</span><br v-if="lowStock">

            {% endraw %}
              {% if settings.enable_final_sale %}
                <span id="finalSaleMsg" v-if="isFinalSale()">This item is Final Sale!</span>
                <label for="Finalsale" style="display: none;" v-if="isFinalSale()">This item is: </label>
                <input type="text" id="Finalsale" name="properties[This product is]"  style="display:none;" value="FINAL SALE" v-if="isFinalSale()">
              {% endif %}
            {% raw %}


            <button type="submit" name="add" id="AddToCart" @click="onSubmit" class="btn" :disabled="disabled" v-show="!isWaitlist || !variant">
              <span id="AddToCartText">{{ addToCartText }}</span>  
            </button>

            <!-- <br> -->
            <p id="ship-date" v-if="(isWaitlist || isActivePreorder()) && expectedShipDate">Expected Ship Date {{expectedShipDate}}</p>
            <input type="hidden" id="preorder-ship" name="properties[This item is]" :value="'PRE ORDER'"  v-if="isActivePreorder()"/>
            <input type="hidden" id="preorder-ship-date" name="properties[Expected Ship Date]" :value="expectedShipDate"  v-if="isActivePreorder() && expectedShipDate"/>


            <p v-if="isWaitlist">Coming soon! Sign up to be notified when this product is available</p>
            <p class="limit-reached" v-if="preorderSoldOut"> WE ARE NO LONGER ACCEPTING PREORDERS FOR THIS ITEM. SIGN UP TO BE NOTIFIED WHEN THIS PRODUCT IS AVAILABLE.</p>
            <a class="js-open-modal actionlinks see-your-size" @click="openBIS" href="#" data-modal-id="bis-pop" v-if="(soldout || isWaitlist) && variant">{{ isWaitlist ? 'SIGNUP FOR WAITLIST' : 'Back in Stock Alert' }}</a>

            {% endraw %}{% include 'vue-add-to-wishlist' %}{% raw %}
          </form>

          <div class="product-description rte" itemprop="description">
            {% endraw %}
            {% if settings.description_label.size > 0 %}
              <button class="h4" href="#" :aria-expanded="true" aria-controls="product-description-container" @click="onDetailsToggle">
                {{ settings.description_label }}
              </button>
            {% endif %}
            {% raw %}
            <div class="description-wrapper" v-html="product.description" id="product-description-container"></div>
            
          </div>
          {% endraw %}
          {% if settings.social_sharing_products %}
            <!-- <hr class="hr--clear hr--small"> -->
            <h4>{{ 'products.general.share_title' | t }}</h4>
            <p class="affirm-as-low-as" style="font-size: 0.8em; letter-spacing: 2px;" data-page="product" :data-amount="variant ? variant.price : product.price"></p>
			
          
            <div class="product-description">
              <h4>SHARE THIS ITEM</h4>
            </div>
            {% include 'social-sharing' %}
          {% endif %}
          {% raw %}

        </div> <!-- End of .product-form-wrapper -->
        
     

        
      </div>
      
         
    </div>
    
  <div class="wrapper">
    <div class="yotpo-instagram-wrapper">
      {% endraw %}
       <div
         class="yotpo yotpo-pictures-widget"
         data-gallery-id="613783b7812d9976827879e2"
         :data-product-id="product.id">
       </div>
      {% raw %}
    </div>
  </div>

      <div id="pdp-pixlee-container" class="ugc-mobile pixle-greater-container" style="margin-top: 70px; width:100%;    padding: 0 9px;">
     
     <div class="pixlee-header hide" style="
    width: calc(100% - 100px);margin:0 auto 25px auto;">


   OUR COMMUNITY IN THE {{ product.title }} <strong>#doencollective</strong>

   </div>

    <div id="pixlee_container"></div>


        

    <div id="pix2"></div>
    </div>

  
  <div class="related-products">
  {% endraw %}
    {% render 'vue-related-products' %}
  {% raw %}
  </div>

  {% endraw %}
	{% render 'size-guide-accessible' with product %}
</section>
{% comment %} 
  Section below is for if the product qualifies as Old & Sold out. ( Mimic 404 feed )
{% endcomment %}
{% raw %}
<div class="modal-box bis" id="bis-pop" style="position:fixed; top: 145px;">  
  <header class="header">
    <a href="#" class="js-modal-close close">×</a>
    <h5>Notify me when this product is available</h5>
  </header>
  <div class="modal-body">
    <div class="side-left">
      <img :src="product.images[0]" />
      <h5>{{product.title}}</h5>
    </div>
    <div class="side-right">
      <label>Email</label>
      <input type="email" id="notify_email" style="margin-right: 15px;">	  
      <p style="font-size:7px; display: flex; align-items: center;"><input type="checkbox" id="accepts_marketing" value="true" checked> We'll email you when this product is available. <br> By checking this box you agree to accept email marketing.</p>


      <select id="notify_select" name="variants">
        <option v-for="variant in product.variants" :value="variant.id">{{ variant.title }}</option>
      </select>
      <button id="notify_button">SUBMIT</button>
    </div>
    <div class="cf"></div>
  </div>
</div>
{% endraw %}

{% raw %}
<section v-if="!product.doenAvailable">
  <div class="retired-container">
    <div class="retired-wrapper">
      <div class="notfoundheader">
        <h1 class="text-center" style="line-height:175%;">SORRY,THE {{product.title}}<br>IS NO LONGER AVAILABLE.</h1>
        <p  class="text-center">
          For one reason or another, this product is no longer available. However, we do have a few new arrivals that you might love!
        </p>
      </div>
    </div>
  </div>
  <ul class="collection-infinite secondary-grid grid-uniform">
     <feeditem v-for="item in soldoutFeed" :key="item.id" :product="item"></feeditem>
  </ul>
</section>
{% endraw %}

{% schema %}
  {
    "name": "Product pages",
    "class": "product-wrapper",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ] 
  }
{% endschema %}

