<style>
{%- for block in section.blocks -%}
    .swatch-box.{{ block.settings.title | handleize }} {
        background-image: url({{ block.settings.swatch_image | img_url: 'x100' }});
    }
{%- endfor -%}
</style>

{% schema %}
    {
        "name": "Product Swatches",
        "class": "swatch-data-wrapper",
        "settings": [
            {
                "type": "header",
                "content": "Swatches Settings"
            }
        ],
        "blocks": [
            {
                "type": "Swatch",
                "name": "Swatch",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "swatch_image",
                        "label": "Swatch Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Name"
                    }
                ]
            }
        ]
    }
{% endschema %}