
<div class="resolutions-container pt-8">

  <div class="w-full lg:w-11/12 2xl:w-4/5 mx-auto text-center">

    <div class="section-header">
      <h1 class="section-header--title" style="text-align: center;">{{ page.title }}</h1>

      <div class="flourish-wrapper my-5">
        <img src="{{ 'resolutions_flourish.png' | asset_img_url: 'x75' }}" />
      </div>
    </div>

    <div class="rte resolutions-page-content">
      {{ page.content }}
    </div>

  </div>

</div>

<div class="w-full lg:w-11/12 2xl:w-4/5 flex flex-wrap mx-auto py-8">
  <div class="w-full  md:w-1/4">
    <div class="sticky top-20 sticky-wrapper py-2 px-4 toc-wrapper text-center w-full">
      <h2 class="uppercase text-md side-menu-heading">The Resolutions</h2>
      <ul class="toc pt-2">
        <li class="toc-item">
          <button type="button" aria-controls="resolutions-1" class="mb-2">
            <span class="text-xs">01.</span>
            <p>ENVIRONMENTAL IMPACT</p>
          </button>
        </li>

        <li class="toc-item">
          <button type="button" aria-controls="resolutions-2" class="mb-2">
            <span class="text-xs">02.</span>
            <p>ETHICAL PRACTICES</p>
          </button>
        </li>


        <li class="toc-item">
          <button type="button" aria-controls="resolutions-3" class="mb-2">
            <span class="text-xs">03.</span>
            <p>COMMUNITY REPRESENTATION</p>
          </button>
        </li>


        <li class="toc-item">
          <button type="button" aria-controls="resolutions-4" class="mb-2">
            <span class="text-xs">04.</span>
            <p>INTERNAL PROGRESS</p>
          </button>
        </li>


        <li class="toc-item">
          <button type="button" aria-controls="resolutions-5">
            <span class="text-xs">05.</span>
            <p>ONGOING PARTNERSHIPS AND LOCAL EFFORTS</p>
          </button>
        </li>

      </ul>

      <img class="lazy-item mx-auto resolution-flowers" data-src="{{ 'resolution-flowers-toc.png' | asset_img_url: 'x35' }}" />
    </div>  
  </div>

  <div class="w-full md:w-3/4 px-0 sm:px-6 pt-8 sm:pt-0">
    {% render 'Resolutions-01' %}
    {% render 'Resolutions-02' %}
    {% render 'Resolutions-03' %}
    {% render 'Resolutions-04' %}
    {% render 'Resolutions-05' %}
  </div>

</div>


{% schema %}
    {
        "name": "Resolutions",
        "class": "resolutions-container-wrapper",
        "settings": [
            {
                "type": "header",
                "content": "Resolutions"
            }
        ]
    }
{% endschema %}
