{% assign name = template.name %}

{% case name %}

{% when 'page' %}
{% assign collection = section.settings.section-collection %}
<div class="">

  <div style="text-align: center;" class="shopify-section">
{% for block in section.blocks %}
       {% for product in collections[collection].products %}
    	{% if product.handle == block.settings.product-id %}
    			{% assign newURL = product.url %}
    	{% endif %}
    
    	{% endfor %}
<div class="base-image" {{ block.shopify_attributes }}>
  	<a {% if block.settings.no-product %}href="/pages/coming-soon"{% elsif newURL %}href="{{newURL}}"{% else %}{% endif %}>
	
<img src="{{ block.settings.lookbook-image | img_url: 'master' }}" class="sectioned-img"/> 
           	 
      

  </a>

      

  <br>
  
  {% if block.settings.product-id %}
  
  
  <div class="grid__item large--one-whole nlb-products-container" style="display: none;">
    {% for product in collections[collection].products %}
    	{% if product.handle == block.settings.product-id %}
			        		<a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
  			<br>
    		{% for image in product.images limit: 4%}
    			    <div class="nlb-image large--one-quarter">
       					<a href="{{ product.url }}">
    						<img src="{{ image.src | img_url: 'master' }}"/>
      					</a>
    				</div>
    
    		{% endfor %}
    	{% endif %}

    {% endfor %}

  </div>
{% endif %}
</div>
{% endfor %}
  </div>
</div>








{% when 'collection' %}
{% assign collection = section.settings.section-collection %}
<div class="wrapper"><div class="" style="">
  <div class="single-item">
  	{% for block in section.blocks %}
		{% for product in collections[collection].products %}
    			{% if product.handle == block.settings.product-id %}
    					{% assign url = product.url %}
    			{% endif %}
    	{% endfor %}
    <div class="inner-single" {{ block.shopify_attributes }}>
      <a href="{{url}}">
      <img src="{{ block.settings.lookbook-image | img_url: 'master' }}" class="sectioned-img"/>
      </a>
    </div>
    {% endfor %}
  </div>
  </div></div>
<div class="grid-uniform ms-c post-large--one-whole" style="display: none;">
{% for product in collections[collection].products %}
  {% assign pActual = all_products[block.settings.product-id]%}
<div class="ms-ca grid__item {% cycle 'post-large--one-half', 'post-large--one-half', 'post-large--one-third', 'post-large--one-third','post-large--one-third' %}" style="margin-bottom: 20px;">
<a class="grid-link text-center">
  <span class="grid-link__image grid-link__image--product" {% unless product.available %}style="opacity: 0.4;"{% endunless %}>
    <span class="grid-link__image-centered">
  <img src="{{ product.featured_image.src  | product_img_url: 'master' }}" class="sectioned-img2"/>
    </span>
  </span>
  <span class="product-info inside" {% unless product.available %}style="display: block" {% endunless %}>
    {% if product.available %}
        <p class="grid-link__title">{{ product.title }}</p>
    <p class="grid-link__meta">
      {% assign tester = product.price | money %}
      {% if tester != '$0.00'%}
      {{ product.price | money }}
      {% endif %}
    </p>
    {% else %}
        <div class="soldoutindicator">
     <div class="soldoutinner">SOLD OUT
    </div>
   </div>
    {% endif %}


  </span>
</a>
</div>
{% endfor %}
  

</div>
  
<script>
    var starter = 0;
  $(document).ready(function(){

    for(var i = 0; i < 5; i++) {
    	$('.ms-ca').eq(i).fadeIn(400);
      	starter = i;
    }
    	starter += 1;
  });

  var length = $('.ms-ca').length;
  var loading= false;
var spot = $('.ms-c').find('.new');
  
  $(window).load(function(){
var divs = $(".ms-c > .ms-ca");

    
 // Code above wraps the photos in groups of 5
    });



$(window).scroll(function() {
    if (!loading && ($(window).scrollTop() >  $(document).height() - $(window).height() - 300)) {
        loading= true;
      	console.log(starter);
      	$('.spinner').fadeIn();
      	var endPointer = starter + 5;
		console.log('triggered');
      for(var j = starter; j < endPointer; j++){
        	$('.ms-ca').eq(j).fadeIn(400);
      }
      starter += 5;
        // your content loading call goes here.
		$('.spinner').fadeOut(10);
        loading = false; // reset value of loading once content loaded
      
      if (starter >= $('.ms-ca').length){
        loading = true; 
      }
    }
  
});
</script>

<style>
  .ms-ca{
   display: none; 
  }
  
  
</style>
  <div class="spinner" style="display: none;">
    {% include 'loading-spinner' %}
  </div>

{% else %}

{% endcase %}




<script>
  $(window).load(function(){
    $('.single-item').slick({
  arrows: true,
      dots: false,
        accessibility: false,
  adaptiveHeight: false,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  
    });
</script>
{% schema %}
{
    "name": "Summer 17 LookBook",
    "class": "grid__item large--one-whole",
    "blocks": [
      {
        "type": "Book-Image",
        "name": "LookBook Image",
        "settings": [
                {
                    "id": "lookbook-image",
                    "type": "image_picker",
                    "label": "Image"
                },
				{
					"id": "product-id",
					"type": "product",
					"label": "Product Selector"
				},
				{
					"id":"no-product",
					"type": "checkbox",
					"label": "Check if product Coming Soon"
				}
        ]
      }
    ],
	"settings": [
{
"type":"paragraph",
"content":"Recommended Image Size is 1024x667. If you will be assigning products to images make sure to select a collection below"
},
{
		"type":"collection",
		"id" : "section-collection",
		"label" : "collection picker"
	}],
	"presets": [{
        "name": "LookBook",
        "category": "Page Sections"
    }]

  }
{% endschema %}

{% stylesheet %}
.base-image{
	position: relative;
}

.base-image img{
	width: 100%;
}

{% endstylesheet %}

{% javascript %}
var globalSelect = "";
function process_slick_event(evt){
var _slick = $( "#" + evt.target.id);
$('.single-item').slick('unslick');
var _slick2 = $(_slick.sectionId + " > " + ".single-item");
var attrLoc = $(evt.target.id);

var selector = $(_slick.selector);
    switch ( evt.originalEvent.type ) {
      case "shopify:block:select" : 
		console.log($(evt.target).attr('data-slick-index'));
		var init = $(evt.target).index();
		console.log($(evt.target).index() + '!' );
	      $('.single-item').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  initialSlide: init,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
		
      break; 
      case "shopify:block:deselect" :
        console.log('Unload ');
       $(globalSelect.selector).find(".single-item").slick('unslick');
	      $('.single-item').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

		
      break;

     } 

}

function reslicker(evt){
}

function slicker(){
}

$(document)
 .on(   'shopify:block:select', process_slick_event )
 .on( 'shopify:block:deselect', process_slick_event )
 .on(   'shopify:section:select', reslicker )
 .on(   'shopify:section:reorder', reslicker )

;

{% endjavascript %}
