<ul class="site-nav__dropdown account-nav" id="AccessibleNav3">
  {% for link in linklists[settings.account_linklist].links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}" class="site-nav__link">
          {{ link.title }}
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav__dropdown">
          {% for childlink in linklists[child_list_handle].links %}
          {% assign grand_child_list_handle = childlink.title | handle %}
          {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
            <li class="site-nav--has-dropdown{% if childlink.active %} site-nav--active{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
          		<ul class="site-nav__dropdown">
            		{% for grandchildlink in linklists[grand_child_list_handle].links %}
            		<li>
                      <a href="{{ grandchildlink.url }}"class="site-nav__link">{{ grandchildlink.title | escape }}</a>
            		</li>
            		{% endfor %}
          		</ul>              
            </li>
        {% else %}
        <li>
          {{ childlink.title | link_to: childlink.url }}
        </li>
        {% endif %}          
        {% endfor %}
        </ul>
      </li>
    {% else %}
  		{% if link.title == 'Cart' %}
  			<li><a href="{% if settings.mini_cart_enable %}#{% else %}/cart{% endif %}" {% if settings.mini_cart_enable %}class="go_cart"{% endif %}>Cart: <span class="cart-count header-bar__cart-count">{{ cart.item_count }}</span></a></li>
  		{% else %}
  	{% if customer %}
  	  <li>
        <a href="/account">Account</a>
  	   </li>
  <li>
    {{ 'Log Out' | customer_logout_link }}
  </li>
    <li>
      <a href="/apps/mywishlist">Wishlist</a>
    </li>
  {% break %}
  	{% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="">{{ link.title }}</a>
      </li>  
  	{% endif %}
  		{% endif %}
    {% endif %}
  {% endfor %}
</ul>