<div class="container account-drop">
<div id="account-drop" class="account_drop">
  <span class="members">Members</span>
      {% form 'customer_login' %}
      {{ form.errors | default_errors }}
      
      <div id="login_email" class="clearfix large_form">
        <label for="customer_email" class="login">Email Address</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>
      
      {% if form.password_needed %}
      
      {% comment %}
      Customer Account Login
      {% endcomment %}
      
      <div id="login_password" class="clearfix large_form">
        <label for="customer_password" class="login">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      
      {% endif %}
      
      <div class="action_bottom">
        <input class="btn" type="submit" value="Log In" />
      </div>
        <div id="forgot_password">
          <a class="forgot" href="/account/login/#recover">Forgot your password?</a>
        </div>  
      {% endform %}
  <hr>
  <span class="notregistered">Not Registered?</span>
  <a href="/account/register"><button class="button">Sign Up!</button></a>
</div>
</div>
<script>
function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'none' || e.style.display=='') e.style.display = 'block';
    else e.style.display = 'none';
  $('.mini_cart').hide();
  }

</script>