{% assign disp_opt = shop.metafields.wishlist.display_option %}
{% assign link_text = shop.metafields.wishlist.sw_link_text %}
{% if link_text == ""%}
{% assign link_text = "Add to Wishlist" %}
{% endif %}

{% if disp_opt == 'hearticon' or page.handle == 'my-wishlist' %}
<div class="div-wishlist">

{% assign tot_user_heart = 0 %}
{% assign mf = product.metafields.wishlist %}

{% unless mf == empty %}
{% assign tot_user_heart=product.metafields.wishlist.TotalUsersWish %}
{% endunless %}

{% if customer %}
  	{% assign all_users=product.metafields.wishlist.UsersList %}
  	{% capture user_list %}{{all_users}}{% endcapture %}
	{% capture cust_id %}{{customer.id}}{% endcapture %}

  	{% if user_list contains cust_id %}
    	<div class="hearted"> 
          <input title="Remove from Wishlist" class="removeFavorite remove_{{product.id}}" id='{{product.id}}' cust_id='{{customer.id}}' type='button' value='{{tot_user_heart}}' >
    		<img src="{{'ajax-loader.gif' | asset_url }}" /> 
    	</div>
    {% else %}
    	<div class="nothearted"> 
      		<input title="Add to Wishlist" class="addToFavorite add_{{product.id}}" id='{{product.id}}' cust_id='{{customer.id}}' type='button' value='{{tot_user_heart}}'>
      		<img src="{{'ajax-loader.gif' | asset_url }}" />
    	</div>
	{% endif %}

{% else %}
<div class="nothearted"> 
  <input title="Add to Wishlist" class="notLoggedIn" id='{{product.id}}' cust_id='' type='button' value='{{tot_user_heart}}'>
</div>
{% endif %}
</div>
{% elsif disp_opt == "link" and page.handle != "my-wishlist" %}

<div class="a-wishlist">
  {% if customer %}
    <a type="anchor" href="javascript:void(0);" id='{{product.id}}' cust_id='{{customer.id}}' class="addToFavorite add_{{product.id}}">{{ link_text }}</a>
    <img src="{{'icn_loading.gif' | asset_url }}" />
  {% else %}
  	<a type="anchor" href="javascript:void(0);" id='{{product.id}}' cust_id='' class="notLoggedIn">{{ link_text }}</a>
  {% endif %}
</div>
{% endif %}

<div class="overlay" style="display:none; background-color: transparent; height: 45px; margin: 6px 0 0 -3px; position: absolute; width: 55px; z-index: 1000;">&nbsp;</div>
{% comment %} <script src="https://shopiapps.in/wishlistapp/addtowishlist.js" type="text/javascript"></script> {% endcomment %}
{% include 'add-to-wishlistJS' %}