<div class="w-full resolutions-panel" id="resolutions-5">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">V.</span>
    <p class="uppercase text-xs mt-1.5">Our Supply Chain</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center items-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <div class="w-full">
  <div class="text-left">
     <p class="w-full serif-copy mb-4">
     Our mission is to create lasting, beautiful collections while supporting women-identifying individuals in all aspects of our organization, supply chain, 
     and community. Over the past year, our understanding of the interconnectedness of our industry has expanded considerably, and our commitment to the critical work of anti-racism has deepened. 
     </p>
     <p class="w-full serif-copy mb-4">
     We became industry endorsers of the <a href="http://garmentworkeract.org/">Garment Worker Protection Act</a> (Senate Bill 62) here in California, which aims to expand protections for the nearly 40,000 garment workers -- 
     predominantly immigrant women -- who are at risk of exploitation, wage theft, and other unethical practices under the current legal loopholes here in Los Angeles. 
     </p>
     <p class="w-full serif-copy mb-4">
     However, this approach applies not only to our manufacturing partners within the United States, but to all of the global regions where we have an impact. 
     This Spring has been particularly devastating for one of our primary vendors: Located in India, the second wave of COVID-19 has had an immense impact on the country. 
     Throughout these challenges, we have been in constant communication, always maintaining fair practices and timely payments while navigating closures and transport shutdowns with their 
     input and needs as priority. In early May, we organized a sales donation for Give India’s COVID relief efforts as well as our long-term non-profit partner Room to Read, which works closely 
     with local governments on educational aid and assistance for young girls in India. These students have been incredibly impacted by COVID over the past year, and are at risk of never returning to school. 
     Room to Read is continuing to help support their education with remote programs and library development, and we felt it critical to expand our support for their programming at this time and continue to 
     fight for gender equality. We are proud to have raised funds for this cause in addition to our annual fundraising for our long-term partners. 
     </p>
     <p class="w-full serif-copy mb-4">
     We are also committed to sharing information on our traceability efforts, factory certifications and audits, and worker benefits for not only our 
     internal team but our global supply chain as well; for information on these topics and more, our <a href="https://shopdoen.com/pages/resolutions">2021 Resolutions Report</a> is available on our site. As detailed in this report, 
     we are embarking on several initiatives to help comprehend, measure, track, and benchmark our environmental impact and manufacturing practices, as well as encourage the longevity and 
     multiple lifecycles of our styles. We are continually learning and evolving, and are excited to keep sharing our progress, challenges, and future goals with you. As always, we urge feedback 
     from our community; any questions or ideas can be sent to our team at <a href="mailto:connect@shopdoen.com">connect@shopdoen.com</a>. We are looking forward to continuing to share our updates with you! 
     </p>
    </div>
  </div>

</div>