<div class="w-full resolutions-panel" id="resolutions-2">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">II.</span>
    <p class="uppercase text-xs mt-1.5">Content and Creative</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center items-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <div class="w-full">
  <div class="text-left">
     <p class="w-full serif-copy mb-4">
     We are committed to inclusive representation, and consider diversity a critical component of our mission of 
     supporting women-identifying individuals throughout all stages of their lives. 
     </p>
     <p class="w-full serif-copy mb-4">
     In 2020, we worked with an average of 60% self-identified BIPOC content creators; this year so far, we are maintaining an average of 50%.
     We are also creating benchmarks around our ongoing inclusivity efforts, with representation guidelines for trans, gender non-conforming/non-binary, 
     and differently abled content creators, amongst other identifications. 
     </p>
     <p class="w-full serif-copy mb-4">
     As stated in our <a href="https://shopdoen.com/pages/resolutions">2021 Resolutions Report</a>, we are implementing accessibility captions on our social channels in 
     order to accurately represent the self-identification of our community, including user generated content and our campaign models.
     </p>
     <p class="w-full serif-copy mb-4">
     We are also committed to creating yearly benchmarks for representation in campaign photography, including our advertising imagery, by 2022. 
     Our recent 2021 Resolutions Report includes a breakdown of our Spring and Summer 2021 campaigns in terms of model self-identification within our Community Representation chapter.
     </p>
    </div>
  </div>

</div>