<div class="w-full resolutions-panel active" id="resolutions-1">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">I.</span>
    <p class="uppercase text-xs mt-1.5">Our Partnerships</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center items-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <div class="w-full">
  <div class="text-left">
     <p class="w-full serif-copy mb-4">
     In late 2020, we announced our addition of a third partner: Kindred Space LA and its non-profit branch Birthing People Foundation. 
     To learn more about this incredible organization, please read about our partners <a href="https://shopdoen.com/pages/our-mission">here.</a> 
     Their amazing work in South Los Angeles furthers our mission of supporting women throughout our community, and we are thrilled that we have been 
     able to donate through sales events and the ongoing proceeds of select face coverings so far this year.
     </p>
     <p class="w-full serif-copy mb-4">
     In June of 2020, we newly implemented company-wide observance of Juneteenth. 
     This year, our offices will be closed on Friday, June 18th, and we will be donating 5% of sales on Saturday, 
     June 19th to our partner Kindred Space LA/Birthing People Foundation in recognition of this holiday, 
     honoring the emancipation of enslaved Black people in this country in 1865. 
     </p>
     <p class="w-full serif-copy mb-4">
     In 2020, we pledged that at least 15% of all partnerships annually would be with Black-owned businesses; 
     last year, Black-owned businesses or artists accounted for 23.5% of our partnerships. 
     Halfway through 2021, we are tracking at 21.43%. Exciting partnerships in 2021 so far have included a <a href="https://rep.club/">Reparations Club</a> pop-up and a 
     stunning assortment from <a href="https://estellecoloredglass.com/">Estelle Colored Glass</a> offered at our Brentwood Country Mart store -- with more in the works! 
     </p>
     <p class="w-full serif-copy mb-4">
     As stated in our January update, we have researched our financial relationships and 
     chosen to open a new account with the Black-owned credit union, Broadway Federal Bank. 
     As of April 1, 2021, this bank has merged with City First Bank in Washington, D.C., creating the 
     largest Black-led Minority Depository Institution. We will use this banking relationship for our sales tax dollars, as we strongly 
     believe in keeping these finances local and available to marginalized communities.
     </p>
    </div>
  </div>

</div>