<div class="w-full resolutions-panel" id="resolutions-4">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">IV.</span>
    <p class="uppercase text-xs mt-1.5">Internal Trainings and Guidance</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center items-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <div class="w-full">
  <div class="text-left">
     <p class="w-full serif-copy mb-4">
     Our goal for all managers to receive both non-discrimination and unconscious bias training in 2021 has been achieved: This year, our management level team and higher received DEI training from 
     Dr. Akilah Cadet, and our entire team participated in implicit bias training. Our plan is to continue training yearly with Dr. Cadet, as well as provide non-discrimination training to
     all new hires upon their start with the company. We also held an all-team training with the LGBTQ+ Center of Los Angeles on June 10th, which was recorded for new hires to receive upon joining the company. 
     </p>
     <p class="w-full serif-copy mb-4">
     Our employee-led resource groups have been able to secure activities and speaking engagements for their respective topics,
     and we are thrilled about the external expertise we are able to bring in to speak to us. This summer, we are looking forward to hosting environmental 
     impact and circularity specialist, Nellie Cohen of <a href="https://www.workwithbaleen.com/">Baleen</a>, for our Corporate Sustainability group; Ashley Mink, LMFT, to discuss mindfulness, self-care, 
     and mind-body integration with our Wellness & Safety group; and representatives from the <a href="https://garmentworkercenter.org/">Garment Worker Center</a> for a cross-disciplinary discussion between our Diversity, 
     Equity, Inclusion & Belonging and Corporate Sustainability groups. We’re also happy to have scheduled a volunteer day at the LA Food Bank this Fall for our Los Angeles-based team, 
     organized by our Anti-Racism Accountability leadership group, as well as a visit from <a href="https://www.refilleryla.com/">Refillery LA</a>, a mobile station offering bulk and eco-friendly detergents, soaps, and other care products, 
     organized by our Corporate Sustainability group. 
     </p>
     <p class="w-full serif-copy mb-4">
     We know how important it is to support our internal team, and we are committed to providing resources, spaces for 
     discussion, and more. Our DEIB group has been a critical space for conversation for our team throughout this year, 
     and was available as an internal forum for all teams after the Derek Chauvin trial verdict. We continue to share lists of anti-racism resources with our team, 
     with specific additions for mental health, non-profit organizations for donations, and local Black- and AAPI-owned businesses to support. Additionally, we reimbursed all 
     team members who chose to attend a 2-hour webinar, entitled ‘American Reckoning: George Floyd One Year Later,’ on the one-year mark of Floyd’s murder. For a look at some of 
     our resource lists, visit <a href="https://shopdoen.com/blogs/news/black-lives-matter">this page</a> on our website. 
     </p>
     <p class="w-full serif-copy mb-4">
     We have also implemented a quarterly review process to give employees additional opportunities throughout the year 
     to give feedback and receive guidance from their manager. The information shared and discussed in these reviews will also help us in continual improvement 
     of company culture and our efforts towards inclusion.
     </p>
     <p class="w-full serif-copy mb-4">
     We have implemented quarterly calls with <a href="https://www.changecadet.com/">Dr. Akilah Cadet</a> and <a href="https://www.blackinfashioncouncil.com/">Black in Fashion Council</a> for additional guidance for our 
     leadership team, and we are in the process of re-publishing our employee handbook to include more inclusive, updated policies. This includes a 
     core value specific to anti-racism and allyship, a new policy regarding hair discrimination, and company-wide observance of Juneteenth; we also plan to add a 
     transition confidentiality statement. We are an equal opportunity employer, and state these core values and our mission, as well as our relationships with our three long-term 
     partners, in all job descriptions and in all interviews. 
     </p>
    </div>
  </div>

</div>