<div class="w-full resolutions-panel" id="resolutions-3">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">III.</span>
    <p class="uppercase text-xs mt-1.5">Inclusive Hiring and Talent Retention</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center items-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <div class="w-full">
  <div class="text-left">
     <p class="w-full serif-copy mb-4">
     We are committed to addressing systemic inequities, implicit biases, and racial disparities within our own company culture, 
     and to the ongoing work of creating an equitable, welcoming, and just work environment for all team members. 
     </p>
     <p class="w-full serif-copy mb-4">
     Based on guidance from BIPOC-identifying industry leaders to improve our recruitment, we have created guidelines 
     for job postings to always be posted on specific job boards; we currently utilize our regularly used job boards for 
     internship openings as well. The complete list of our job boards includes: Our website’s own Career page, Indeed, LA Trade Tech, FIDM, Handshake, Ziprecruiter/LinkedIn, Fashionista, 
     Black in Fashion Council, Dr. Akilah Cadet’s platforms, and 15% Pledge. We will also be implementing the use of the LGBTQ+ Center of Los Angeles’s job board.
     </p>
     <p class="w-full serif-copy mb-4">
     This summer, we are excited to launch a career mentoring program in partnership with The Rightway Foundation. 
     The Rightway Foundation provides transitional aged foster youth (18-24) with job readiness, financial training, 
     and mental health services to help them gain financial independence and make a safe, comfortable transition into self sufficiency when 
     they exit the foster care system. Through this program, interested foster youth will be partnered with mentors from our leadership team for 
     a period of approximately 3 months. The mentee will choose one department as their main focus, but will also have the opportunity to interact 
     with and learn about the many different jobs available at a company like DÔEN. We are so excited to work with this organization and assist in 
     providing young people with the support they need to begin building their professional networks and the skills they will need to succeed in their chosen career path.
     </p>
     <p class="w-full serif-copy mb-4">
     We are also thrilled to have reviewed and revised our paid internship program. 
     Our goal is to onboard four interns per semester, or for a duration of 3-4 months. For Spring, we had interns join the following 
     departments: Design, Communications, E-Commerce, Production, and Content. A key component of these internships is the opportunity to grow with the company, eventually joining in a full time role as an open position becomes available. 
     We host a meet and greet (virtual during our current remote work circumstances) with all interns at the beginning of each semester.
     </p>
     <p class="w-full serif-copy mb-4">
     As detailed in our 2021 Resolutions Report, we have implemented a hiring panel stage of our interview process. The panel is designed to reduce unconscious bias by incorporating diversity of 
     experience and thought in the hiring process, and to therefore mitigate the potential impact of primary effect bias, unconscious bias, and affinity bias.
     </p>
     <p class="w-full serif-copy mb-4">
     In January, we committed to reporting the voluntary self-identification breakdown of our full-time team for all 
     layers of the organization. Our team self-identification breakdown is as follows, with approximately 95.6% of the team voluntarily reporting: 
     </p>
     

      <div class="text-right flex w-full justify-end items-start">
        <img class="lazy-item w-10/12 mx-auto" data-src="{{ 'AntiRacism-03-01.jpg' | asset_img_url: 'x750' }}" />
      </div>
      <div class="text-right flex w-full justify-end items-start">
        <img class="lazy-item w-10/12 mx-auto" data-src="{{ 'AntiRacism-03-02.jpg' | asset_img_url: 'x750' }}" />
      </div>
    </div>
  </div>

</div>