{% comment %} 
  Auto Hide Block - snippet hides via date, forloop for Exlusions hides if product has certain tag. 
  
  Set Skipper to False by default.
{% endcomment %}

{% assign skipper = false %}
{% assign tagExlusions = settings.store_autohide_tags | split: ',' %}
{% assign productTags = product | map: 'tags' | join: ',' %}
{% assign skipThisProduct = false %}
{% assign itemIsOnPreorder = false %}

{% if collection.handle == "spring-19" or collection.handle == "summer-19" %}
  {% assign skipThisProduct = false %}
{% endif %}

{% comment %} Check Tags for Exclusions {% endcomment %}
{%- for exclusion in tagExlusions -%}
	{% assign downcasedExclusion = exclusion | downcase %}
	
	{% for tag in product.tags %}
		{% assign downcasedTag = tag | downcase %}
		{% if downcasedTag == downcasedExclusion %}
			{% assign skipper = true %}
			{% break %}
		{% endif %}
	{% endfor %}    
{%- endfor -%} 


{% assign allTags = product.tags | join: ',' | downcase %}
{% if skipper %}
   {% if allTags contains 'always-show' %}
     {% assign skipper = false %}
   {% endif %}
{% endif %}

{% if allTags contains 'preorder' or allTags contains 'always-show' %}
  {% unless skipper %}
  {% assign skipThisProduct = false %}
  {% endunless %}
{% endif %}