{% comment %} 
  Auto Hide Block - snippet hides via date, forloop for Exlusions hides if product has certain tag. 
  
  Set Skipper to False by default.
{% endcomment %}

{%- assign preorderActive = false -%}
{% assign skipper = false %}
{% assign tagExlusions = settings.store_autohide_tags | split: ',' %}
{% assign productTags = product | map: 'tags' | join: ',' %}
{% assign skipThisProduct = false %}

{% comment %}  
  Hiding by Date.
{% endcomment %}
{% if collection.handle == "spring-19" or collection.handle == "summer-19" %}
  {% assign skipThisProduct = false %}
{% endif %}


{% comment %} Check Tags for Exclusions {% endcomment %}
{%- for exclusion in tagExlusions -%}
	{% assign downcasedExclusion = exclusion | downcase %}
	
	{% for tag in product.tags %}
		{% assign downcasedTag = tag | downcase %}
		{% if downcasedTag == downcasedExclusion %}
			{% assign skipper = true %}
			{% break %}
		{% endif %}
	{% endfor %}     
{%- endfor -%}


{% unless productTags contains 'always-show' %}
   {% if skipper %}{% continue %}{% endif %}
{% endunless %}

{% unless productTags contains 'always-show' %}
	{%- if skipThisProduct -%}{% continue %}{%- endif -%}
{% endunless %}
 