{% comment %} 
  Reduce below value if you need the back to the top button to appear higher up on the page. 
  That value is in pixels.
{% endcomment %}
{% assign vertical_offset_for_trigger = 300 %}
{% comment %} 
  Vertical offset from bottom of browser for the position of the button.
{% endcomment %}
{% assign position_from_bottom = '4em' %}
<a href="#" title="Back to the top" class="back-to-top tc">
  <i class="fa fa-chevron-circle-up fa-2x"></i><br><span>Top</span> 
</a>
<style>
.back-to-top {
  position: fixed;
  bottom: {{ settings.back_to_the_top_bottom_position }}px;
  right: {{ settings.back_to_the_top_right_position }}px;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  font-size: 16px;
  padding: 0.3em;
  display: none;
  z-index: 60000;
}
.back-to-top i {
  vertical-align: middle;
}
.back-to-top i + span {
  padding-left: 0;
}
.back-to-top:hover {
  text-decoration: none;
  color: #555;
}
</style>
<script>
jQuery(function($) {
  var offset = {{ vertical_offset_for_trigger }};
  var duration = 500;
  $(window).scroll(function() {
    if ($(this).scrollTop() > offset) {
      $('.back-to-top').fadeIn(duration);
    } 
    else {
      $('.back-to-top').fadeOut(duration);
    }
  });
  $('.back-to-top').unbind('click.smoothscroll').bind('click', function(e) {
    e.preventDefault();
    $('html, body').animate( { scrollTop: 0 }, duration);
    return false;
  })
});
</script>