<div class="banner-image">
  {% if settings.home_show_headings %}
  <div class="section-header section-header--small{% if settings.banner_image_3_title_position == 'top' %} top{% endif %}{% if settings.banner_image_3_title_position == 'bottom' %} bottom{% endif %}">
    <a href="{{ settings.banner_image_3_url }}"><h2 class="section-header__title">{{ settings.banner_image_3_title }}</h2></a>
  </div>
  {% endif %}  
  <a href="{{ settings.banner_image_3_url }}"><img src="{{ 'banner_image_3.jpg' | asset_url }}"></a>
</div>