{% if settings.home_show_headings %}
<div class="section-header section-header--small{% if settings.blog_slider_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    <a href="{{ settings.blog_slider_url }}">{{ settings.blog_slider_title }}</a>
  </h2>
  <p class="text-center"><a href="{{ settings.blog_slider_url }}">{{ settings.blog_slider_subtext }}</a></p>
</div>
{% endif %}
<div class="flexslider" id="blog-slider">
  <ul class="slides">
    {% for article in blogs.[settings.blog_slider].articles limit: settings.blog_slider_limit %}
        <li>
          <a href="{{ article.url }}" class="slide-link">
			{% assign my_image_url=article.excerpt | escape %}
			{% if my_image_url contains '&lt;img' %}
			{% assign my_image_url = my_image_url | split: 'src=&quot;' %}
			{% assign my_image_url = my_image_url[1] | split: '&quot;' %}
			{% assign my_image_url = my_image_url[0] %}
			{% assign my_image_url = my_image_url | remove: 'http:http://'; %}
			{% assign my_image_url = my_image_url | remove: 'https:' %}
            <a href="{{ article.url }}"><img src="{{ my_image_url }}" /></a>
			{% endif %}         
            <a href="{{ article.url }}" class="slide-link">
            <div class="slide-text">
              <div class="heading"><h1>{{ article.title }} <i class="fa fa-caret-right"></i></h1></div>  
            </div>
            </a>
          </a>
        </li>
    {% endfor %}
  </ul>
</div>