<div class="cstm-item-row" id="row-{{ item.id }}"> 
    <div class="cart-row-wrapper">
        {% if item.product.handle contains 'donation' or item.product.handle contains 'gift-box' %}
        <div class="cart-item__image">
        {% else %}
        <a href="{{ item.url | within: collections.all }}" data-handle="{{ item.product.handle }}" class="cart-item__image">
        {% endif %}
          <div class="cart-item_image-wrappr">
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">          
          </div>
        <div class="h5 cart-line-content" style="">
          <div class="cart-item__content-wrapper">
            <p class="cart-line-title">
                <span class="medium-down--hide">{{ item.product.title }}</span>
                <span class=" hide medium--show small--show">{{ item.product.title | split: '--' | first }}</span>
        
            {% for p in item.properties %}
              {% assign text = p.last | downcase %}
              {% assign expected = p.first | downcase %} 
              {% if expected contains 'expected' %}<br class="medium-down--hide"><span class="medium-down--hide property-line"> {{ p.first }}: {{ p.last }} </span> {% endif %}
              {% if text contains 'final' %}<br class="medium-down--hide"><span class="medium-down--hide property-line"> {{ p.first }}: {{ p.last }} </span> {% endif %}
              {% if expected == 'monogram' %}<br class="medium-down--hide"><span class="medium-down--hide properties-line"> {{ p.first }}: {{ p.last }} </span> {% endif %}
              {% if expected == 'not' and text == 'discount eligible' %}<br class="medium-down--hide"><span class="medium-down--hide property-line"> *not discount eligible </span> {% endif %}
            {% endfor %}
            {% for collection in item.product.collections %} 
             {% if collection.handle contains 'last-chance' %}
               <br class="medium-down--hide">
               <span class="medium-down--hide" style="color:#990f0f;"> THIS ITEM IS FINAL SALE </span> 
             {% endif %} 
            {% endfor %}

            </p>

              {% unless settings.cart_giftbox_exclusions contains item.product.handle %}
              <div class="gift-item-wrapper">
                <input type="checkbox" name="wrap-{{item.key}}" data-title="{{ item.title }}" id="wrapitem-{{item.id}}" class="gift-wrap-item-input" />
                <label for="wrapitem-{{item.id}}">Add Gift <br class="medium-up--hide" /> Box <span class="checkmark"></span></label>
              </div>
              {% endunless %}
          </div>
            <span class="size-option cart-row-size-option medium-down--hide" {% if item.variant.option1 contains 'Default' %}style="opacity: 0;"{% endif %}>
              Size: 
          {% assign sizePosition = item.product.options_by_name['Size'].position %}
{% assign sizeKey = 'option' | append: sizePosition %}

              {{ item.variant[sizeKey] }}
              
          </span>
            {% unless item.variant.option1 contains 'Default' %}<span class=" hide medium--show small--show size-option cart-row-size-option">{{item.variant.option1}} / {{ item.variant.option2 }}</span>{% endunless %}
            <span class="price cart-row-price">{{ item.line_price | money }}</span>
            {% for p in item.properties %}
              {% assign text = p.last | downcase %}
              {% assign expected = p.first | downcase %} 
              {% if expected contains 'expected' %}<span class="hide small--show large--hide medium--hide properties-line cart-line-title"> {{ p.first }}: {{ p.last }} </span> {% endif %}
              {% if expected == 'monogram' %}<span class="hide small--show large--hide medium--hide properties-line cart-line-title"> {{ p.first }}: {{ p.last }} </span> {% endif %}
              {% if text contains 'final' %}<br class="hide small--show large--hide medium--hide"><span class="hide small--show large--hide medium--hide properties-line cart-line-title"> {{ p.first }}: {{ p.last }} </span> {% endif %}
            {% endfor %}
            {% for collection in item.product.collections %} 
             {% if collection.handle contains 'last-chance' %}
               <span class="hide small--show large--hide medium--hide properties-line cart-line-title" style="color:#990f0f;"> THIS ITEM IS FINAL SALE </span> 
             {% endif %}  
            {% endfor %}  
            </div> 
            
        {% if item.product.handle contains 'donation' or item.product.handle contains 'gift-box' %}
        </div>
        {% else %}
        </a>
        {% endif %}

    </div>  
    <div class="cstm-qty-row row-wrapper" id="cart-qty-{{item.product.handle}}">
        {% unless item.product.title contains 'Donation' or item.product.title contains 'DONATION' or item.product.tags contains 'GWP-Product' %}
        <button class="cstm-qty-input cstm-qty-input-remove">-</button>
        <input class="cstm-qty-input" style="width: 55px" type="number" name="updates[]"
            id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
        <button class="cstm-qty-input cstm-qty-input-add">+</button> 
        {% endunless %} 
    </div>

    <div class="cstm-rmv-row">
        {% unless item.product.title contains 'Donation' or item.product.title contains 'DONATION' or item.product.handle contains 'gift-box' %}
        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-key="{{ item.key }}" data-line="{{ forloop.index }}" class="cstm-rmv-input {% if item.product.handle == 'custom-gift-box' %}box-remover{% endif %} {% if settings.enable_gwp and item.product.handle == settings.gwp_product %}gwp-removal{% endif %}">
            {{ 'cart.general.remove' | t }}
        </a> {% endunless %}
    </div>
</div>



