
{% assign pageBasis = pagination.current_page | minus: 1 | times: settings.collections_max_products %}
{% assign firstLoop = true %}


<script type="text" data-collection>
{
    "handle": {{ collection.handle | json }},
    "title": {{ collection.title | json }},
    "all_tags": {{ collection.all_tags | json }},
    "default_sort": {{ collection.default_sort_by | json }},
    "exclusions": {{ settings.store_autohide_tags | split: ',' | json }},
    "total_count": {{ collection.all_products_count | json }},
    "items": [
        {%- for product in collection.products -%}
           {% include 'autohide-item-filter' with product: product %}
           {% unless firstLoop %},{% endunless %}{% render 'vue-product-json' with product: product, pageBasis: pageBasis, forloop: forloop, paginate: pagination %}{% assign firstLoop = false %}
        {%- endfor -%}
    ],
    "sort_options": {{ collection.sort_options | map: 'value' | json }},
    "pagination": {
        "basis": {{ pageBasis | json }},
        "current": {{ pagination.current_page | json }},
        "pages": {{ pagination.pages | json }}
    }
} 
</script> 