<!-- CRITEO -->
    <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
    <script type="text/javascript">
var deviceType =
/iPad/.test(navigator.userAgent) ? "t" :
/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent)
? "m" : "d";
      window.criteo_q = window.criteo_q || [];
      window.criteo_q.push(
        { event: "setAccount", account: 34353},
        { event: "setSiteType", type: deviceType });
    </script>
    {% case template %}
      {% when 'index' %}
        <script type="text/javascript">
          window.criteo_q.push(
            { event: "viewHome"}
          );
        </script>
      {% when 'collection' %}
        <script>
          var criteo_items = [];
          {% for item in collection.products limit:3 %}
            criteo_items.push("{{item.id}}");
          {% endfor %}
            window.criteo_q.push(
              { event: "viewList", product: criteo_items}
            );
        </script>
      {% when 'product' %}
        <script type="text/javascript">
          window.criteo_q.push(
            { event: "viewItem", product: "{{ product.id }}" }
          );
        </script>
      {% when 'cart' %}
        <script>
          var criteo_items = [];
          {% for item in cart.items %}
            criteo_items.push({
              id : "{{item.product_id}}",
              price : {{item.price | money_without_currency | remove: ','}},
              quantity : {{item.quantity}}
            });
          {% endfor %}
          window.criteo_q.push(
            { event: "viewBasket", product: criteo_items}
          );
        </script>
    {% endcase %}