<!-- DO NOT REMOVE THE FOLLOWING COMMENT -->
<!-- (c) Copyright 2014 Caroline Hill. All Rights Reserved. Contact Mlle Caroline Schnapp at mllegeorgesand@gmail.com -->
<!-- DO NOT REMOVE THE ABOVE COMMENT -->

    {% if linklists.donations.links.size > 0 and linklists.donations.links.first.type == 'product_link' %}

        <div class="clearfix rte text-center" id="is-a-gift" style="clear: left; margin: 30px 0"> <input name="attributes[donations]" type="hidden" value=""/>

        <label class="checkbox-container" style="font-size: 10px!important">
            <span>Click here to add a
                {{ linklists.donations.links.first.object.price | money }}
                
                {{ linklists.donations.links.first.object.description }}
            </span>
            <input id="donations" type="checkbox" name="attributes[donations]" value="yes" {% if cart.attributes.donations %} checked="checked" {% endif %} style="float: none"/>
            <span class="checkmark"></span>
        </label>

    </div>

    {% assign id = linklists.donations.links.first.object.variants.first.id %}

    {% assign donations_in_cart = 0 %}
    {% for item in cart.items %}
        {% if item.id == id %}
            {% assign donations_in_cart = item.quantity %}
        {% endif %}
    {% endfor %}

    <style>
        #updates_{{id}}{
            display: none;
        }
    </style>

    <script>
      

        Shopify.Cart = Shopify.Cart || {};

        Shopify.Cart.Donation = {};

        Shopify
            .Cart
            .Donation
            .set = function () {
            jQuery.ajax({
                type: 'POST',
                url: '/cart/update.js',
                data: {
                    updates: {
                        {{ id }}: 1
                    },
                    attributes: {
                        'donations': true
                    }
                },
                dataType: 'json',
                success: function () {
                    location.href = '/cart';
                }
            });
        };

        Shopify
            .Cart
            .Donation
            .remove = function () {
            jQuery.ajax({
                type: 'POST',
                url: '/cart/update.js',
                data: {
                    updates: {
                        {{ id }}: 0
                    },
                    attributes: {
                        'donations': ''
                    }
                },
                dataType: 'json',
                success: function () {
                    location.href = '/cart';
                }
            });
        }

        // If we have nothing but gift-wrap items in the cart.
        {% if cart.items.size == 1 and donations_in_cart > 0 %}
            jQuery(function () {
                Shopify
                    .Cart
                    .Donation
                    .remove();
            });
            // If we have more than one gift-wrap item in the cart.
            {% elsif donations_in_cart > 1 %}
            jQuery(function () {
                Shopify
                    .Cart
                    .Donation
                    .set();
            });
            // If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
            {% elsif donations_in_cart > 0 and cart.attributes.donations == blank  %}
            jQuery(function () {
                Shopify
                    .Cart
                    .Donation
                    .set();
            });
            // If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
            {% elsif donations_in_cart == 0 and cart.attributes.donations != blank  %}
            jQuery(function () {
                Shopify
                    .Cart
                    .Donation
                    .set();
            });{% endif %}

        // When the gift-wrapping checkbox is checked or unchecked.
        jQuery(function () {
            jQuery('[name="attributes\[donations\]"]').change(function () {
                if (jQuery(this).is(':checked')) {
                    Shopify
                        .Cart
                        .Donation
                        .set();
                } else {
                    Shopify
                        .Cart
                        .Donation
                        .remove();
                }
            });
        });
    </script>{% else %}

{% endif %}