{% assign featured = settings.home_featured_products2 %}
{% assign products_per_row = settings.home_featured_products2_num %}
{% assign rows = settings.home_featured_products2_row_num %}
{% assign total_products = products_per_row | times: rows %}

{% if settings.home_show_headings %}
<div class="section-header section-header--small{% if settings.featured_products2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    {% if featured == 'frontpage' %}
      {{ 'home_page.sections.frontpage_title' | t }}
    {% else %}
      {{ collections[featured].title | escape }}
    {% endif %}
  </h2>
</div>
{% endif %}

{% case products_per_row %}
  {% when '3' %}
    {% assign grid_item_width = 'medium--one-third post-large--one-third' %}
  {% when '4' %}
    {% assign grid_item_width = 'medium-down--one-half post-large--one-quarter' %}
  {% when '5' %}
    {% assign grid_item_width = 'medium-down--one-half post-large--one-fifth' %}
{% endcase %}

<div class="grid-uniform">

  {% for product in collections[featured].products limit: total_products %}
    {% include 'product-grid-item-home' %}
  {% else %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    <div class="grid__item">
      <div class="helper-section">
        <div class="helper-note">
          <span class="helper-icon"></span>
          <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
          <p>{{ 'home_page.onboarding.no_products_html' | t }}</p>
          <p><a class="admin-btn-primary" href="/admin/collections?tutorial=Frontpage">{{ 'home_page.onboarding.add_product' | t }}</a></p>
        </div>

        <div class="grid-uniform helper-content">
          {% assign index = 1 %}
          {% for i in (1..8) %}
            {% case i %}
              {% when 7 %}
                {% assign index = 1 %}
              {% when 8 %}
                {% assign index = 2 %}
            {% endcase %}
            <div class="grid__item one-half post-large--one-quarter">
              <a href="/admin/products" class="grid-link">
                <span class="grid-link__image grid-link__image--product">
                  <span class="grid-link__image-centered">
                    {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                    {{ imageUrl | img_tag }}
                  </span>
                </span>
                <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                <p class="grid-link__meta">
                  <strong>$19.99</strong>
                </p>
              </a>
            </div>
            {% assign index = index | plus: 1 %}
          {% endfor %}
        </div>
      </div>
    </div>

  {% endfor %}

</div>