{% if settings.home_show_headings %}
<div class="section-header section-header--small{% if settings.featured_collections_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">{{ 'home_page.sections.featured_title' | t }}</h2>
</div>
{% endif %}

<div class="grid-uniform">

  {% assign index = 0 %}
  {% assign limit = 3 %}
  {% assign query = limit | plus: 1 %}

  {% if settings.home_featured_collections_sort == 'manual' %}
    {% for i in (1..5) %}
      {% assign collection_setting = 'collection_' | append:i %}
      {% if settings[collection_setting] != blank %}
        {% assign index = index | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for collection in collections limit:query %}
      {% unless index >= limit %}
        {% unless collection.handle == 'frontpage' %}
          {% assign index = index | plus: 1 %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endif %}

  {% case index %}
    {% when 1 %}
      {% assign collection_item_width = 'one-half' %}
      {% assign collection_item_img_size = 'grande' %}
    {% when 2 %}
      {% assign collection_item_width = 'one-half' %}
      {% assign collection_item_img_size = 'grande' %}
    {% when 3 %}
      {% assign collection_item_width = 'medium-down--one-half one-third' %}
    {% when 4 %}
      {% assign collection_item_width = 'medium-down--one-half one-quarter' %}
    {% when 5 %}
      {% assign collection_item_width = 'small--one-half medium--one-third post-large--one-fifth' %}
  {% endcase %}

  {% if settings.home_featured_collections_sort == 'manual' %}
    {% for i in (1..5)  %}
      {% assign collection_setting = 'collection_' | append:i %}
      {% if settings[collection_setting] != blank %}
        {% assign featured = settings[collection_setting] %}
        {% include 'collection-grid-item' %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign collection_index = 0 %}
    {% for collection in collections limit:query %}
      {% unless collection_index >= limit %}
        {% unless collection.handle == 'frontpage' %}
          {% assign featured = collection.handle %}
          {% include 'collection-grid-item' %}
          {% assign collection_index = collection_index | plus: 1 %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endif %}

  {% if index == 0 %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    <div class="grid__item">
      <div class="helper-section">
        <div class="helper-note">
          <span class="helper-icon"></span>
          <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
          <p>{{ 'home_page.onboarding.no_collections_html' | t }}</p>
          <p><a class="admin-btn-primary" href="/admin/custom_collections">{{ 'home_page.onboarding.add_collection' | t }}</a></p>
        </div>

        <div class="grid-uniform helper-content">
          {% for i in (1..3) %}
            <div class="grid__item one-third">
              <a href="#" class="grid-link--focus">
                <span class="grid-link__image grid-link__image--collection">
                  <span class="grid-link__image-centered">
                    {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
                    {{ imageUrl | img_tag }}
                  </span>
                </span>
                <p class="grid-link__title">{{ 'home_page.onboarding.collection_title' | t }}</p>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
