   
{% if settings.infinite_collection_enable %}
  	<li class="product-infinite {% cycle 'one-fade', 'two-fade', 'three-fade', 'four-fade', 'five-fade' %}" style="opacity: 0; display: none;" id="product-{{ forloop.index | plus:paginate.current_offset }}" >
      {% endif %}  
        <li class="{% cycle 'one-fade', 'two-fade', 'three-fade', 'four-fade', 'five-fade' %}" style="opacity: 0; display: none;">
          {% comment %}
      {% include 'product-grid-item-two-three', product: sortedProducts[sortedProductsIndex] %}
          {% endcomment %}
          {% include 'product-grid-item-two-three' %}
      {% if settings.infinite_collection_enable %}
      </li>
      {% endif %}
