<svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 152.87 35.11" style="enable-background:new 0 0 152.87 35.11; width: 50px;" xml:space="preserve">
    <g>
        <path d="M140.49,22.36c2.04,2.88,3.48,4.92,5.25,7.42c-1.31,0.25-2.03,0.38-2.6,0.49c-2.17-1.54-4.2-2.99-6.83-4.86
            c0.37,3.36,0.66,5.93,0.91,8.18c-0.72,0.72-1.07,1.07-1.53,1.53c-1.68,0-3.46,0-5.2,0c-2.82-2.37-0.96-4.99-0.36-7.84
            c-3.82-0.22-4.39,3.72-6.71,4.98c-0.77-0.04-1.41-0.08-2.58-0.14c0.5-1.66,0.93-3.09,1.3-4.35c1.05-0.64,1.99-1.21,2.83-1.72
            c0-1.33,0-2.44,0-4.2c-1.37,0.83-2.36,1.43-3.95,2.39c-4.42,0.93-3.53-3.38-8.64-3.03c-0.59-1.77-3.45-3.43-1.49-4.98
            c1.37,0,0.78,0.1,2.4-0.03c1.4-0.11,2.74,0.22,4.24-0.66c1.1-0.65,3.12-0.13,4.59,0.32c1.16,0.36,2.06,0.76,3.2-0.47
            c-1.28-2.3-3.62-3.71-5.2-5.71c0-1.02,0-2.01,0-3.34c0.78-0.05,1.56-0.09,2.01-0.12c1.48,1.74,2.82,3.31,4.29,5.04
            c0.89-0.07,1.79-0.13,3.23-0.24c-0.94-1.36-1.56-2.25-2.44-3.52c0-1.16,0-2.79,0-5.02c0.57-0.32,1.6-0.89,2.63-1.45
            c-0.15-0.34-0.3-0.67-0.44-1.01c2.13,0.35,4.26,0.69,6.16,1c0.63,1.33,1.08,2.31,1.47,3.13c-0.7,1.97-1.35,3.82-2.21,6.26
            c3.72-0.81,4.77-3.62,6.23-5.82c1.97-0.87,3.22-0.26,4.08,1.56c-1.1,1.52-1.19,3.68-3.7,4.45c-1.13,0.35-1.73,2.44-2.56,3.73
            c1.05,1.3,2.03,1.09,3.11,0.53c1.36-0.71,2.76-1.34,4.33-2.09c1.06,1.47,1.92,2.68,2.7,3.77c2.45-0.37,0.78-0.66,3.36-1.05
            c1.78,1.18-1.89,4.05-0.19,6.49c-3.76,0.75,0.8-0.34-2.78-1.24c-0.26,0.53-0.71,0.84-1.11,1.63
            C145.55,22.36,143.31,22.36,140.49,22.36z M128.09,16.71c0,1.33,0,2.66,0,2.85c1.78,1.89,3,3.2,4.45,4.73
            c1.45,0.3,2.36-1.16,3.13-2.28c0.76-1.09,0.94-2.58,1.39-3.96c-0.46-0.89-0.95-1.86-1.45-2.85c-1.63-0.41-3.3-0.83-4.8-1.21
            C129.74,15.07,128.91,15.89,128.09,16.71z"/>
        <path d="M25.99,8.23c1.91-1.91,3.51-3.51,4.91-4.92c1.27,0,2.05,0,3.01,0c0,1.16,0,2.27,0,3.37c-0.97,0.73-2.03,1.53-3.77,2.84
            c2.47,0.87,4.24,1.29,5.8,2.11c1.67,0.89,3.14,2.17,5.05,3.53c1.82,0,1.08,0,3.1,0c1.17,0.99,2.51,1.83,3.72,2.86
            c-0.69,0.81-0.97,1.4-1.67,2.24c-1.52-0.49-0.61,0.28-2.47-0.76c-2.05-1.15-4.29,0.09-6.39,1.91c-2.15-0.38-4.59-0.81-7.42-1.31
            c0.77,3.32,4.35,4.53,4.09,8.18c-0.75-0.27-1.55-0.34-1.99-0.77c-1.18-1.14-2.2-2.44-3.47-3.88c-1.09,0.92-1.79,1.52-2.72,2.31
            c0.83,1.09,1.59,2.08,2.35,3.08c-0.69,1.73-1.38,3.44-2.05,5.11c-1.3,0-2.28,0-3.81,0c-1.01-1.46-2.24-3.24-3.42-4.95
            c0.53-1.42,0.93-2.51,1.6-4.29c-3.37,1.05-4.75,3.04-5.86,5.32c-1,0-2,0-3.37,0c-0.06-1.09-0.11-2.19-0.18-3.52
            c0.8-0.57,1.67-1.2,2.91-2.09c0.29-0.62,0.8-1.72,1.31-2.81c-0.46-0.26-0.87-0.62-0.98-0.54c-2.05,1.43-4.37,0.84-6.71,1.01
            c-3.13-4.31-3.15-2.7-7.56-3.12c0-1.14,0-2.26,0-3.78c5.54,0.32,6.29-1.4,12.35-2.5c-0.75-2.37-1.49-4.68-2.26-7.09
            c0.4-0.42,0.84-0.89,1.28-1.36c0.14-0.01,0.3-0.08,0.37-0.03c1.91,1.34,3.81,2.7,6.24,4.43c0-2.52,0-4.44,0-6.47
            c3.13,0,5.91,0,9.12,0C26.74,4.26,26.38,6.13,25.99,8.23z M23.43,22.33c2.43-2.23,4.32-4.5,3.5-7.87
            c-1.93-1.62-3.87-2.57-6.67-2.17c-1.01,1.42-2.2,3.08-3.27,4.58C18.03,20.09,19.91,21.91,23.43,22.33z"/>
        <path d="M63.82,13.02c0.17,0.84,0.27,1.29,0.44,2.1c0.65,0.04,1.43,0.08,2.39,0.13c0.67-0.81,1.4-1.71,2.38-2.9
            c0-0.84,0-2.16,0-3.69c0.81-0.58,1.68-1.19,2.62-1.86c0.68-1.66,1.44-3.51,2.22-5.4c1.77,0,3.23,0,4.92,0
            c0.6,0.62,1.4,1.46,2.44,2.53c-0.37,1.88-0.78,3.98-1.32,6.73c3.41-2.62,4.31-6.93,8.78-7.48c0.44,0.43,1,0.99,1.72,1.71
            c-1.75,2.84-4.49,4.54-6.36,7.07c0.41,0.96,0.83,1.94,1.29,3.01c0.2-0.05,0.51-0.03,0.65-0.18c1.77-1.82,3.84-2.85,6.47-2.57
            c0.55,0.88,1.12,1.79,1.76,2.81c3.13,0,3.86,0,6.81,0c0.64,0.65,1.62,1.12,2.05,1.55c0,1.49-0.37,2.94-0.37,4.86
            c-3.96-0.44-5.48-0.86-9.08-1.26c-0.79,0.79-1.38,1.38-2.06,2.06c-1.61-0.35-3.57,0.79-4.98-1.02c-0.47,0.47-0.94,0.94-1.41,1.42
            c1.7,2.25,3.39,4.51,5.41,7.2c-1.31,0.2-2.18,0.33-2.97,0.45c-2.1-2.2-4.03-4.39-7.34-5.28c-0.09,0.98-0.16,1.75-0.26,2.78
            c0.75,0.46,1.6,0.99,2.48,1.54c-0.53,1.96-0.93,3.44-1.31,4.85c-2.15,0-3.8,0-5.6,0c-0.37-0.35-0.85-0.8-1.52-1.43
            c0.3-1.53-0.65-3.37,1.2-5.26c-1.29-0.56-2.45-1.07-4-1.75c0,1.4,0,2.17,0,2.83c-1,0.97-1.84,1.78-3,2.89
            c-0.92-0.36-2.06-0.8-3.58-1.39c1.89-2.35,3.47-4.32,5.38-6.72c-0.03-0.36-0.11-1.25-0.24-2.69c-1.35,0.96-2.24,1.59-3.46,2.46
            c-0.88,0-2.19,0-3.72,0c-2.58-1.17-2.21-3.55-5.72-2.82c0-1.52-0.37-2.63-0.37-3.94C59.94,16.17,60.94,16.02,63.82,13.02z
            M80.64,22.19c0.47-1.42,0.96-2.87,1.48-4.44c-1.53-1.42-3.1-2.87-4.88-4.52c-0.27,0-0.93,0-0.82,0c-1.62,1.64-2.87,2.9-4.25,4.29
            C73.53,22.8,75.57,24.02,80.64,22.19z"/>
    </g>
</svg>
