<div id="shopify-section-gdpr-cookie-disclaimer" class="shopify-section">
<div id="gdpr"><a href="/pages/the-fine-print/#legal-privacy">We use cookies to enhance your experience on our website. By using our website you agree to our privacy policy. 
  <i>learn more</i></a>
  <button class="close-gdpr" data-class="eu">X</button> 
</div>
<script>
(function(){
  if(localStorage.getItem('DOENGDPR') != 'closed' ){ 
      $('div#shopify-section-gdpr-cookie-disclaimer').addClass('eu');
      $('.newsletter-container').remove();

      const widgetCheck = setInterval(function(){
        if($('#launcher.zEWidget-launcher').length > 0){
          console.warn('Widget Open', $('div#shopify-section-gdpr-cookie-disclaimer').is('.eu'),$('#launcher.zEWidget-launcher') );
          if( $('div#shopify-section-gdpr-cookie-disclaimer').is('.eu') ){
            setTimeout(function(){
              $('#launcher.zEWidget-launcher').addClass('disclaimer-open');
            }, 300);
          }
          clearInterval(widgetCheck);
        }
      }, 250);
  }  
  
  {% comment %} console.warn('GDPR COOKIE', localStorage.getItem('DOENGDPR')); {% endcomment %}

  $('#shopify-section-gdpr-cookie-disclaimer').on('click touch', function(e){
    var $target = $(e.target);
    if($target.is('.close-gdpr') ){
      localStorage.setItem('DOENGDPR', 'closed');
      var toRemove = $target.attr('data-class');
      $('#shopify-section-gdpr-cookie-disclaimer').removeClass(toRemove);
    }
  });
})();
</script>

</div>