<script type="text" id="filter-dropdown-template">
    {% raw %}
        <div class="filter-wrapper">
            <select class="filter-control" data-filter="{{id}}" id="{{id}}-filter">
                    <option value="_none"></option>
                {{#each values}}
                    <option value="{{value}}">{{value}}</option>
                {{/each}}
            </select>
            <label for="{{id}}-filter">{{label}}</label>
        </div>
    {% endraw %}
</script>

<script type="text" id="mobile-sort-template">
    {% raw %}
        <div class="filter-wrapper"> 
            <div class="filter-options"> 
                {{#each values}}
                    <div class="filter-radio-wrapper">
                        <input class="mobile-filters-controls"  filter-control="sort" type="radio" name="{{label}}-options" value="{{value}}" id="{{value}}-input" {{#if checked}}checked{{/if}}/>
                        <label for="{{value}}-input">{{name}}</label>
                    </div>
                {{/each}}
                    <div class="filter-radio-wrapper hide" style="display: none;">
                        <input class="mobile-filters-controls"  filter-control="sort" type="radio" name="{{label}}-options" value="_none" id="_none-input"/>
                        <label for="_none-input">No Sort</label>
                    </div>
            </div>
        </div>
    {% endraw %}
</script>

<script type="text" id="mobile-filter-template">
    {% raw %}
        <div class="filter-wrapper" id="{{label}}-f-wrapper">
            <input class="filter-control top-level-control" type="checkbox" id="{{name}}-control" name="{{name}}-controls" value="enabled-{{label}}"/>
            <label for="{{name}}-control" class="main-label">{{label}}</label>
            <div class="filter-options">
                {{#each values}}
                    <div class="filter-radio-wrapper" style="{{sizeRow value label scenario}}">
                        <input type="checkbox" data-category="{% endraw %}{{ collection.handle }}{% raw %}" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls {{maskedInput value label}}" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-input" />
                        <label for="{{value}}-{{name}}-input">{{value}}</label>
                    </div>
                {{/each}}
                    <div class="filter-radio-wrapper hide" style="display: none;">
                        <input type="radio" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="_none" id="_none-{{name}}-input" />
                        <label for="_none-{{name}}-input">Remove Filter</label>
                    </div>
            </div>
        </div>
    {% endraw %}
</script>

<script type="text" id="new-all-size-templates">
    {% raw %}
        <div class="filter-wrapper" id="{{label}}-f-wrapper">
            <input class="filter-control" type="checkbox" id="{{name}}-control" name="{{name}}-controls" value="enabled-{{label}}"/>
            <label for="{{name}}-control" class="main-label">{{label}}</label>
            <div class="filter-options">
                <div class="filter-column" id="apparel-column">
                    <div class="filter-radio-wrapper apparel-size-wrapper" id="apparel-size" style="{{columnApparel 'one' 'apparel' 'value' false}}">
                        <h3>APPAREL</h3>
                    </div>
                    {{#each values.apparel}}
                        <div class="filter-radio-wrapper apparel-size-wrapper" style="{{columnApparel 'one' 'apparel' value false}}">
                            <input data-category="dresses,tops,t-shirts,knitwear,accessories,sleepwear,slips,celebration" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls {{maskedInput value label}} {{#loadBackCheck value 'size' 'active'}}active{{/loadBackCheck}}" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-apparel-input" {{#loadBackCheck value 'size' 'checked'}}checked{{/loadBackCheck}}/>
                            <label for="{{value}}-{{name}}-apparel-input">{{value}}</label>
                        </div>
                    {{/each}}
                </div>
                <div class="filter-column" id="bottoms-column">
                    <div class="filter-radio-wrapper bottoms-size-wrapper" id="bottoms-size" style="{{columnBreakdown 'two' 'bottoms' 'value' false}}">
                        <h3>DENIM</h3>
                    </div>
                    {{#each values.bottoms}}
                        <div class="filter-radio-wrapper bottoms-size-wrapper" style="{{columnBreakdown 'two' 'bottoms' value false}}">
                            <input data-category="bottoms" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls  {{#loadBackCheck value 'size' 'active'}}active{{/loadBackCheck}}" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-bottoms-input"  {{#loadBackCheck value 'size' 'checked'}}checked{{/loadBackCheck}}/>
                            <label for="{{value}}-{{name}}-bottoms-input">{{value}}</label>
                        </div>
                    {{/each}}
                </div>
                <div class="filter-column" id="footwear-column">
                    <div class="filter-radio-wrapper footwear-size-wrapper" id="footwear-size" style="{{columnFootwear 'five' 'value' 'value' false}}">
                        <h3>FOOTWEAR</h3>
                    </div>
                    {{#each values.footwear}}
                        <div class="filter-radio-wrapper  footwear-size-wrapper" style="{{columnFootwear 'five' 'footwear' value false}}">
                            <input data-category="footwear" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls  {{#loadBackCheck value 'size' 'active'}}active{{/loadBackCheck}}" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-footwear-input"  {{#loadBackCheck value 'size' 'checked'}}checked{{/loadBackCheck}}/>
                            <label for="{{value}}-{{name}}-footwear-input">{{value}}</label>
                        </div>
                    {{/each}}
                </div>
                <div class="filter-column" id="yearlings-column">
                    <div class="filter-radio-wrapper kid-size-wrapper" id="kids-size" style="{{columnYearlings 'one' 'kids' 'value' true}}">
                        <h3>KIDS</h3>
                    </div>
                    {{#each values.kids}}
                        <div class="filter-radio-wrapper kid-size-wrapper" style="{{columnYearlings 'one' 'kids' value false}}">
                            <input data-category="kids" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls  {{#loadBackCheck value 'size' 'active'}}active{{/loadBackCheck}}" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-kids-input"  {{#loadBackCheck value 'size' 'checked'}}checked{{/loadBackCheck}}/>
                            <label for="{{value}}-{{name}}-kids-input">{{value}}</label>
                        </div>
                    {{/each}}                    
                </div>
                <div class="filter-radio-wrapper hide" style="display: none;">
                    <input type="radio" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="_none" id="_none-{{name}}-input" />
                    <label for="_none-{{name}}-input">Remove Filter</label>
                </div>
            </div>
        </div>
    {% endraw %}
</script>

<script type="text" id="new-all-mobile-size-templates">
    {% raw %}
        <div class="filter-wrapper" id="{{label}}-f-wrapper">
            <input class="filter-control top-level-control" type="checkbox" id="{{name}}-control" name="{{name}}-controls" value="enabled-{{label}}"/>
            <label for="{{name}}-control" class="main-label">{{label}}</label>
            <div class="filter-options">
                <div class="filter-radio-wrapper apparel-size-wrapper" id="apparel-size" style="{{mobileCustomColumns 'one' 'apparel' 'value' false}}">
                    <h3>APPAREL</h3>
                </div>
                {{#each values.apparel}}
                    <div class="filter-radio-wrapper apparel-size-wrapper" style="{{mobileCustomColumns 'one' 'apparel' value false}}">
                        <input data-category="dresses,tops,t-shirts,knitwear,accessories,sleepwear,slips,celebration" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-apparel-input" />
                        <label>{{value}}</label>
                    </div>
                {{/each}}
                <div class="filter-radio-wrapper bottoms-size-wrapper" id="bottoms-size" style="{{mobileCustomColumns 'one' 'bottoms' 'value' false}}">
                    <h3>DENIM</h3>
                </div>
                {{#each values.bottoms}}
                    <div class="filter-radio-wrapper bottoms-size-wrapper" style="{{mobileCustomColumns 'one' 'bottoms' value false}}">
                        <input data-category="bottoms" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-bottoms-input" />
                        <label>{{value}}</label>
                    </div>
                {{/each}} 
                <div class="filter-radio-wrapper footwear-size-wrapper" id="footwear-size" style="{{mobileCustomColumns 'two' 'footwear' 'value' false}}">
                    <h3>FOOTWEAR</h3>
                </div>
                {{#each values.footwear}}
                    <div class="filter-radio-wrapper  footwear-size-wrapper" style="{{mobileCustomColumns 'two' 'footwear' value false}}">
                        <input data-category="footwear" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-footwear-input" />
                        <label>{{value}}</label>
                    </div>
                {{/each}}
                <div class="filter-radio-wrapper kid-size-wrapper" id="yearlings-size" style="{{mobileCustomColumns 'two' 'yearling' 'value' false}}">
                    <h3>KIDS</h3>
                </div>
                {{#each values.kids}}
                    <div class="filter-radio-wrapper kid-size-wrapper" style="{{mobileCustomColumns 'two' 'yearling' value false}}">
                        <input data-category="kids" type="checkbox" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="{{value}}" id="{{value}}-{{name}}-kids-input" />
                        <label>{{value}}</label>
                    </div>
                {{/each}}


                    <div class="filter-radio-wrapper hide" style="display: none;">
                        <input type="radio" filter-control="{{label}}" data-filter="{{label}}" class="mobile-filters-controls" name="{{label}}-options" value="_none" id="_none-{{name}}-input" />
                        <label for="_none-{{name}}-input">Remove Filter</label>
                    </div>
            </div>
        </div>
    {% endraw %}
</script>
 
<script type="text" id="grid-item-template">
{% raw %}
    {{#each this}}
    <li class="product-infinite" data-liberty="{{liberty}}"> 
        <div id="product-{{id}}" class="position-relative grid__item {{#if available}}{{else}}sold-out{{/if}}">
          
          {{#if roomToRead}}
          <div class="room-to-read-badge"> 
            <div class="vertical-center">
              <img src="{% endraw %}{{ 'noun_485185.png' | asset_url }}{% raw %}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
              proceeds benefit girls education
            </div>
          </div>
          {{/if}}



          {{#if blmBadge}}
        <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px; font-size: 6px; line-height: 1.7;">
            <div class="vertical-center">
            PROCEEDS BENEFIT BLMLA
            </div>
            </div>
          {{/if}}

          {{#if limitedEdition}}
 
          <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;">
            <div class="vertical-center">

              limited edition
            </div>
          </div>
          {{/if}}
          

          {{#if handKnit}}

          <div class="room-to-read-badge limited-edition" style="">
            <div class="vertical-center">
                <img src="{% endraw %}{{ 'handknit-badge.png' | asset_url }}{% raw %}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
                Handknit Collection
            </div>
          </div>
          {{/if}}
          
          <a href="{{url}}" class="grid-link text-center" data-page="{{page}}"  data-product-id="{{id}}">
            {{#if available}}{{else}}
                <div class="soldoutindicator">
                    <div class="soldoutinner">SOLD OUT
                    </div>
                </div>
            {{/if}}
            <span class="grid-link__image grid-link__image--product" {{#if available}}{{else}}style="opacity: 0.4;"{{/if}}>
                <span class="grid-link__image-centered">
                        {{#if featured_image}}
                        <img data-src="{{featured_image}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="desktop-image lazy-img"/>
                        {{else}}
                        <img data-src="{{image}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="desktop-image lazy-img"/>
                        {{/if}}
                        {{#if mobileImage}}
                        <img data-src="{{mobileImage}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="mobile-image lazy-img" />
                        {{else}}
                          {{#if featured_image}}
                             <img data-src="{{featured_image}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="mobile-image lazy-img" />
                          {{else}}
                        	<img data-src="{{images.0.src}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="mobile-image lazy-img" />  
                          {{/if}}
                        {{/if}}
                </span>
            </span>
            <span class="product-info inside">
                <p class="grid-link__title p-title {{liberty}}">{{title}}</p>
                
                {{#if liberty}}
                    <p class="liberty-tag">Made with liberty fabric</p>
                {{/if}}
                
                <p class="grid-link__meta">
                    <span class="money" style="display: inline" data-currency-usd="{{money price}}">{{money price}}</span>
                    
                	{{#if on_sale}}
                  	    <s class="money grid-link__sale_price" style="display: inline" data-currency-usd="{{money price_max}}">{{money price_max}}</s>
                    {{/if}}
                </p> 


                {{#if preOrder}}
                    <p class="pre-order-note">PRE-ORDER</p>
                {{/if}}

				{{#if available}}

                  <div class="product-sizes medium-down--hide">
                      <p class="available-in">AVAILABLE IN</p>
                      {{#each variants}}
                      <div class="product-grid-rollover-container {{variantCheck ../tags  ../options this}} {{#if available}} {{else}}product-grid-rollover-soldout{{/if}}">
                      <span class="product-grid-rollover-size ">{{sizeOption this ../options}}</span>
                      </div>
                      {{/each}}
                  </div>
                {{/if}}
            </span>
          </a>
        </div>
    </li>
    {{/each}}
{% endraw %}
</script>