<div class="header-bar {% if settings.mobile_top_bar_hide %} medium-down--hide{% endif %}">
  <div class="wrapper">
    <div class="post-large--display-table">
      
      <div class="header-bar__left post-large--display-table-cell">
                
        {% if settings.header_social_enable %}
        <div class="header-bar__module header-bar__module--list">
          {% include 'social-links' %}
        </div>
        {% endif %}
        
        {% if settings.header_message == blank %}

        {% else %}
          <div class="header-bar__module header-bar__message">
            {{ settings.header_message }}
          </div>
        {% endif %}
        
      </div>

      <div class="header-bar__right post-large--display-table-cell">
        
          {% if settings.top_customer_accounts_enabled %}
            <ul class="header-bar__module header-bar__module--list">
              {% if customer %}
                <li>
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                </li>
              {% else %}
                <li>
                  {% comment %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                  {% endcomment %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}  
      {% if settings.top_cart_enable == 'icon' %}  
        <div class="header-bar__module medium-down--hide">        
          <a href="{% if settings.mini_cart_enable %}#{% else %}/cart{% endif %}" class="cart-page-link{% if settings.mini_cart_enable %} go_cart{% endif %}">
            <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
          </a>
        </div>
	  {% elsif settings.top_cart_enable == 'text' %}  
        <div class="header-bar__module medium-down--hide">
          <a href="{% if settings.mini_cart_enable %}#{% else %}/cart{% endif %}" class="cart-page-link{% if settings.mini_cart_enable %} go_cart{% endif %}">
            {{ 'layout.cart.title' | t }}{% unless cart.item_count == 0 %}:{% endunless %}
            <span class="cart-count header-bar__cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
          </a>
        </div>
       {% else %}
	   {% endif %}
        {% if settings.top_customer_accounts_enabled and settings.header_message != blank %}
          <span class="header-bar__sep" aria-hidden="true"></span>
          <ul class="header-bar__module header-bar__module--list">
            {% if customer %}
              <li>
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              </li>
              <li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
            {% endif %}
          </ul>
        {% endif %}
        
        {% if settings.header_search_enable == 'above' %}
          <div class="header-bar__module header-bar__search">
            {% include 'search-bar' with 'header' %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>