{% if settings.home_page_content != empty %}
  {% if settings.home_show_headings %}
	{% if settings.home_page_content_title %}
  <div class="section-header section-header--small">
    <h2 class="section-header__title">{{ settings.home_page_content_title }}</h2>
  </div>
    {% endif %}
  {% endif %}
  <div class="rte">
    {{ pages[settings.home_page_content].content }}
  </div>
{% endif %}
