<svg width="203" height="51" viewBox="0 0 203 51" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_5775_2043)">
<path d="M179.223 6.94817C178.932 7.36528 179.397 7.89199 179.856 7.66365C181.17 7.0182 183.057 6.03784 184.718 4.97223C187.618 3.10589 188.142 -0.243162 185.678 0.222661C183.906 0.560611 180.813 4.67081 179.223 6.94817Z" fill="#333230"/>
<path d="M179.085 6.26332C179.311 4.70144 179.794 3.01169 180.826 2.29926C180.826 2.29926 183.346 -0.879297 180.089 0.238069C178.22 0.880478 178.105 3.82765 178.347 6.2207C178.394 6.70174 179.017 6.73523 179.085 6.26332Z" fill="#333230"/>
<path d="M180.76 7.98343C182.201 7.8038 184.699 7.27404 186.338 5.73043C186.338 5.73043 188.628 4.92362 187.153 7.09746C185.812 9.0734 183.893 10.3887 180.643 8.68064C180.311 8.5071 180.392 8.0291 180.76 7.98343Z" fill="#333230"/>
<path d="M177.23 5.51801C177.36 5.63066 177.562 5.54236 177.562 5.37187C177.568 4.52851 177.67 2.49168 177.611 2.30596C177.537 2.06239 176.143 0.561405 175.548 2.35467C175.157 3.53293 176.567 4.93649 177.23 5.51801Z" fill="#333230"/>
<path d="M180.727 10.0116C180.641 9.86542 180.768 9.68883 180.935 9.71928C181.778 9.87455 183.832 10.1638 184.009 10.2551C184.238 10.3739 185.472 12.0027 183.569 12.2341C182.314 12.3894 181.18 10.7636 180.727 10.0116Z" fill="#333230"/>
<path d="M179.163 41.2082C178.739 40.922 178.203 41.3787 178.435 41.8293C179.092 43.1202 180.09 44.9743 181.175 46.6062C183.074 49.456 186.483 49.9705 186.009 47.55C185.665 45.8055 181.481 42.77 179.163 41.2082Z" fill="#333230"/>
<path d="M179.858 41.0711C181.448 41.2934 183.168 41.7683 183.893 42.7822C183.893 42.7822 187.128 45.2574 185.991 42.0575C185.337 40.2217 182.337 40.109 179.902 40.3465C179.412 40.3922 179.378 41.0041 179.858 41.0711Z" fill="#333230"/>
<path d="M178.11 42.7175C178.293 44.1332 178.832 46.5872 180.403 48.1978C180.403 48.1978 181.224 50.4477 179.012 48.9985C177 47.6802 175.662 45.7956 177.4 42.6018C177.577 42.276 178.063 42.3552 178.11 42.7175Z" fill="#333230"/>
<path d="M180.622 39.2506C180.507 39.3785 180.597 39.5764 180.77 39.5764C181.629 39.5825 183.702 39.6829 183.891 39.6251C184.139 39.552 185.667 38.1819 183.841 37.5974C182.642 37.2138 181.213 38.596 180.622 39.2506Z" fill="#333230"/>
<path d="M176.046 42.6848C176.195 42.5996 176.375 42.7244 176.344 42.8888C176.186 43.7169 175.891 45.7355 175.798 45.909C175.677 46.1343 174.02 47.3461 173.784 45.4767C173.626 44.2436 175.281 43.1293 176.046 42.6848Z" fill="#333230"/>
<path d="M23.7745 44.053C24.0658 43.6359 23.601 43.1091 23.1423 43.3375C21.8284 43.9829 19.9412 44.9633 18.2802 46.0289C15.3796 47.8952 14.8559 51.2443 17.3195 50.7785C19.0921 50.4405 22.1848 46.3303 23.7745 44.053Z" fill="#333230"/>
<path d="M23.9171 44.7382C23.6909 46.3001 23.2075 47.9898 22.1756 48.7023C22.1756 48.7023 19.6562 51.8808 22.9131 50.7634C24.7817 50.121 24.8964 47.1739 24.6547 44.7808C24.6082 44.2998 23.9853 44.2632 23.9171 44.7382Z" fill="#333230"/>
<path d="M22.2398 43.0179C20.7988 43.1975 18.3011 43.7273 16.6618 45.2709C16.6618 45.2709 14.3717 46.0777 15.8468 43.9039C17.1886 41.9279 19.1068 40.6126 22.3575 42.3207C22.6891 42.4942 22.6085 42.9692 22.2398 43.0179Z" fill="#333230"/>
<path d="M25.7705 45.4849C25.6403 45.3723 25.4389 45.4606 25.4389 45.6311C25.4327 46.4744 25.3304 48.5113 25.3893 48.697C25.4637 48.9406 26.8582 50.4415 27.4531 48.6483C27.8436 47.467 26.4336 46.0634 25.7705 45.4849Z" fill="#333230"/>
<path d="M22.2729 40.9907C22.3597 41.1369 22.2326 41.3135 22.0653 41.283C21.2224 41.1278 19.1679 40.8385 18.9912 40.7472C18.7619 40.6284 17.5286 38.9996 19.4313 38.7682C20.6863 38.6129 21.8205 40.2387 22.2729 40.9907Z" fill="#333230"/>
<path d="M22.4292 8.27944C22.8537 8.56564 23.3899 8.10895 23.1574 7.65835C22.5005 6.36744 21.5026 4.51328 20.418 2.88138C18.5184 0.0316392 15.1097 -0.482897 15.5838 1.93755C15.9278 3.67906 20.1143 6.71757 22.4292 8.27944Z" fill="#333230"/>
<path d="M21.7305 8.41527C20.1407 8.19302 18.4209 7.71806 17.6957 6.70421C17.6957 6.70421 14.4605 4.22896 15.5978 7.42883C16.2516 9.26472 19.2514 9.37737 21.6871 9.13989C22.1767 9.09422 22.2139 8.48225 21.7305 8.41527Z" fill="#333230"/>
<path d="M23.4813 6.76853C23.2985 5.35279 22.7593 2.89885 21.1881 1.28826C21.1881 1.28826 20.3669 -0.961697 22.5795 0.48753C24.5907 1.80584 25.9294 3.69044 24.1909 6.88422C24.0143 7.20999 23.5309 7.13084 23.4813 6.76853Z" fill="#333230"/>
<path d="M20.9707 10.2361C21.0854 10.1082 20.9955 9.91035 20.822 9.91035C19.9636 9.90426 17.8905 9.80379 17.7014 9.86163C17.4535 9.9347 15.9258 11.3048 17.751 11.8893C18.9534 12.273 20.382 10.8877 20.9707 10.2361Z" fill="#333230"/>
<path d="M25.5432 6.80252C25.3945 6.88776 25.2147 6.76294 25.2457 6.59853C25.4038 5.7704 25.6981 3.75183 25.7911 3.57829C25.912 3.35299 27.5699 2.14124 27.8054 4.01062C27.9634 5.24368 26.3086 6.358 25.5432 6.80252Z" fill="#333230"/>
<path d="M87.4571 47.5796C85.3963 47.5796 83.6858 47.5431 82.0682 47.4639C81.4236 47.4335 80.7418 47.4183 79.9268 47.4183C79.2854 47.4183 78.6439 47.4274 78.0024 47.4365C77.3672 47.4457 76.7319 47.4548 76.0935 47.4548C74.6897 47.4548 73.6144 47.4091 72.6011 47.3056C72.034 47.2478 71.439 47.2204 70.7852 47.2204C69.5642 47.2204 68.3278 47.3209 67.1285 47.4183C66.673 47.4548 66.2174 47.4913 65.7619 47.5248C65.4923 47.5431 65.2258 47.5492 64.9593 47.5492C64.4108 47.5492 63.8468 47.5187 63.3014 47.4883C62.7405 47.4579 62.1579 47.4244 61.5784 47.4244C61.188 47.4244 60.8347 47.4396 60.4969 47.467C59.8585 47.5218 59.1613 47.5492 58.3029 47.5492C57.7916 47.5492 57.2803 47.5401 56.7721 47.5309C56.2546 47.5218 55.737 47.5127 55.2226 47.5127H49.7655C49.2046 47.5127 48.653 47.5187 48.1014 47.5248C47.5529 47.5309 47.0044 47.537 46.459 47.537C45.6626 47.537 45.0087 47.5248 44.3952 47.5005C43.952 47.4822 43.512 47.4761 43.0688 47.4761C42.3747 47.4761 41.6775 47.4944 40.9833 47.5096C40.2985 47.5279 39.6105 47.5431 38.9257 47.5431C38.6065 47.5431 38.2873 47.5401 37.965 47.5309C37.1841 47.5096 36.4032 47.5005 35.6254 47.5005C34.9374 47.5005 34.2495 47.5066 33.5584 47.5127C32.9107 47.5187 32.2631 47.5218 31.6154 47.5248H29.9172C29.347 46.4805 28.969 45.488 28.6033 44.5229C27.8565 42.5652 27.153 40.7171 25.0396 38.9056C24.612 38.5402 23.8279 38.1871 22.9169 37.7791C21.8664 37.3072 19.911 36.4303 19.9141 35.8793C19.9482 31.7447 19.942 27.5401 19.9389 23.4756L19.9358 19.0487C19.9358 18.586 19.9389 18.1232 19.942 17.6604C19.9482 16.5248 19.9544 15.3526 19.9234 14.1957C19.9017 13.4345 20.0008 13.3554 20.6361 12.8347C20.7725 12.7251 20.9212 12.6003 21.0916 12.4542C22.0492 11.623 22.889 11.2607 23.7815 10.8771C24.7886 10.4447 25.8298 9.99717 26.9609 8.87371C27.4629 8.3744 27.9494 7.2479 28.5134 5.94481C28.9969 4.82745 29.5361 3.57307 30.0071 2.98851C31.3861 2.95502 32.9076 2.9398 34.6461 2.9398C36.2854 2.9398 37.9371 2.95502 39.6012 2.9672C41.2839 2.98242 42.979 2.9946 44.6741 2.9946C45.582 2.9946 46.4931 2.99156 47.4042 2.97938C50.9524 2.9398 54.4882 2.93371 57.4786 2.93371L65.4582 2.93675H69.558C73.382 2.93675 77.206 2.9398 81.03 2.94284L90.8225 2.95198C94.4079 2.95807 97.9933 2.96111 101.579 2.96111C105.012 2.96111 108.446 2.95807 111.882 2.95198L119.406 2.94284L137.467 2.9398L155.527 2.93066H172.586C173.367 3.72226 174.058 4.96445 174.619 5.97221C174.827 6.3467 175.022 6.69683 175.202 6.98911C176.55 9.19948 177.718 11.1084 179.776 12.7525C180.405 13.2549 181.102 13.5167 181.716 13.7481C182.847 14.1744 183.528 14.4331 183.5 15.8123C183.485 16.607 183.451 17.4047 183.417 18.2023C183.333 20.1509 183.246 22.1695 183.435 24.1424C183.516 24.9796 183.442 25.8077 183.364 26.6876C183.256 27.8994 183.144 29.1538 183.473 30.4233C182.862 31.8269 182.834 32.0857 182.778 33.5319L182.772 33.6811C182.738 34.5884 182.419 34.7649 181.654 35.1912C181.306 35.386 180.913 35.6052 180.479 35.9341C180.2 36.1472 179.416 36.5795 178.657 36.9966C177.207 37.7943 176.227 38.3454 175.828 38.7412C175.065 39.4962 174.486 40.4188 173.925 41.3108C173.404 42.142 172.912 42.9245 172.292 43.5699C171.836 44.0449 171.43 44.7482 171 45.488C170.64 46.1091 170.268 46.7515 169.884 47.2143C168.291 47.2204 167.234 47.2934 166.212 47.3635C165.226 47.4305 164.297 47.4944 162.952 47.4944C162.586 47.4944 162.19 47.4883 161.756 47.4792C161.551 47.4731 161.344 47.4731 161.139 47.4731C160.652 47.4731 160.166 47.4853 159.679 47.4974C159.202 47.5096 158.722 47.5218 158.245 47.5218C157.324 47.5218 156.113 47.4822 154.91 47.1838C154.582 47.1016 154.222 47.0621 153.81 47.0621C153.286 47.0621 152.757 47.126 152.242 47.1869C151.982 47.2173 151.722 47.2508 151.474 47.2721L151.3 47.2874C149.779 47.4183 148.207 47.5492 146.68 47.5492C145.18 47.5492 143.863 47.4183 142.648 47.1534L142.474 47.1138L142.31 47.1808C141.78 47.4031 141.192 47.5066 140.457 47.5066C139.992 47.5066 139.531 47.467 139.038 47.4274C138.545 47.3848 138.037 47.3422 137.526 47.3422C137.337 47.3422 137.148 47.3483 136.958 47.3604C136.711 47.3787 136.463 47.3848 136.212 47.3848C135.629 47.3848 135.022 47.3452 134.436 47.3056C133.925 47.2721 133.398 47.2356 132.874 47.2265L131.91 47.2082C131.278 47.196 130.64 47.1838 129.995 47.1717L129.05 45.9812L127.77 47.1534C127.761 47.1534 127.749 47.1534 127.739 47.1534C127.213 47.1534 126.686 47.1564 126.156 47.1656C124.774 47.1899 123.373 47.2721 122.019 47.3513C120.404 47.4457 118.737 47.5431 117.104 47.5431C115.424 47.5431 113.946 47.4365 112.592 47.2204L112.45 47.196L112.313 47.2447C111.737 47.4548 111.101 47.5553 110.311 47.5553C109.763 47.5553 109.196 47.5066 108.65 47.4609C108.254 47.4274 107.86 47.3939 107.473 47.3787C107.203 47.3665 106.934 47.3635 106.661 47.3635C105.83 47.3635 104.997 47.4122 104.188 47.4579C103.398 47.5035 102.576 47.5492 101.78 47.5492C100.829 47.5492 100.035 47.4853 99.2886 47.3452C99.0531 47.3026 98.8052 47.2813 98.5294 47.2813C98.0986 47.2813 97.6679 47.333 97.2495 47.3848C96.8529 47.4335 96.4779 47.4792 96.1153 47.4822C94.8665 47.4883 93.6177 47.5066 92.3688 47.5248C90.7295 47.5553 89.0933 47.5796 87.4571 47.5796ZM125.124 46.4684L127.11 46.6693L126.748 45.8229C128.108 45.8351 129.558 45.8381 131.157 45.8381C132.852 45.8381 134.544 45.832 136.24 45.826C136.773 45.8229 137.299 45.7651 137.808 45.7072C138.272 45.6555 138.716 45.6067 139.156 45.5976C139.465 45.5915 139.775 45.5885 140.085 45.5885C140.6 45.5885 141.117 45.5946 141.632 45.6007C142.152 45.6067 142.673 45.6128 143.19 45.6128C143.559 45.6128 143.931 45.6098 144.3 45.6007C145.648 45.5702 146.968 45.5398 148.297 45.5398C149.466 45.5398 150.501 45.5611 151.461 45.6098C154.17 45.7407 156.869 45.7559 159.862 45.762C161.498 45.762 162.701 45.4758 163.863 45.2018C165 44.9339 166.076 44.6781 167.526 44.6781H167.675C167.997 44.6781 168.266 44.6386 168.527 44.599C168.753 44.5655 168.967 44.535 169.162 44.535C169.379 44.535 169.54 44.5746 169.686 44.6629L170.03 44.873L170.336 44.6112C170.476 44.4924 170.609 44.3919 170.73 44.3006C170.984 44.1058 171.226 43.9231 171.421 43.6673C172.087 42.7966 172.54 41.9502 172.977 41.1281C173.603 39.956 174.195 38.8477 175.381 37.6421C175.818 37.1976 176.887 36.7865 177.922 36.3908C179.844 35.654 182.022 34.8167 181.957 33.1087C181.83 29.7779 181.846 26.3832 181.861 23.0981C181.867 21.7554 181.874 20.4127 181.87 19.0701C181.867 18.1323 181.706 17.493 181.561 16.9297C181.43 16.4243 181.319 15.9889 181.319 15.377V15.0969L181.086 14.9355C177.253 12.2776 174.876 9.46741 172.599 4.91574L172.447 4.61128L172.103 4.61432C170.274 4.62346 168.455 4.6265 166.639 4.6265C163.773 4.6265 160.925 4.61737 158.084 4.60824C155.26 4.5991 152.444 4.58997 149.63 4.58997C148.028 4.58997 146.422 4.59301 144.82 4.5991C144.82 4.5991 144.82 4.5991 144.817 4.5991C144.331 4.5991 143.881 4.56257 143.404 4.52299C142.927 4.48341 142.431 4.44078 141.932 4.44078H141.858C141.049 4.44687 140.231 4.48036 139.438 4.51081C138.564 4.54734 137.659 4.58083 136.776 4.58083C136.534 4.58083 136.292 4.57779 136.051 4.5717C134.17 4.52299 132.23 4.47427 130.33 4.28855C129.654 4.22157 128.911 4.18808 128.121 4.18808C127.786 4.18808 127.451 4.19417 127.12 4.2033C126.729 4.21548 126.379 4.30378 126.038 4.39207C125.713 4.47427 125.406 4.55343 125.099 4.55343C124.926 4.55343 124.761 4.52908 124.597 4.47732C124.362 4.40425 124.104 4.36771 123.813 4.36771C123.435 4.36771 123.051 4.4286 122.682 4.48645C122.341 4.54125 122.016 4.59301 121.715 4.59301C120.355 4.60215 118.994 4.60824 117.634 4.60824C116.047 4.60824 114.461 4.60215 112.871 4.5991C111.281 4.59301 109.695 4.58997 108.105 4.58997C107.364 4.58997 106.627 4.58997 105.886 4.59301C102.654 4.60519 99.4218 4.60519 96.1897 4.60519H94.1848C91.3586 4.60519 88.5324 4.60519 85.7093 4.61432C85.3158 4.61432 84.9129 4.63259 84.5101 4.64782C84.1041 4.66304 83.6951 4.68131 83.2953 4.68131C82.5671 4.68131 82.0093 4.62346 81.5476 4.49863C81.0021 4.35249 80.4227 4.28246 79.775 4.28246C79.1459 4.28246 78.5292 4.34944 77.9312 4.41034C77.3393 4.47427 76.7784 4.53212 76.2144 4.53212C75.7712 4.53212 75.3746 4.49254 75.0027 4.41643C74.6402 4.34031 74.2497 4.30073 73.8128 4.30073C73.1961 4.30073 72.5732 4.37685 71.9689 4.44687C71.4111 4.51385 70.8843 4.57779 70.3668 4.58692C69.558 4.60215 68.7523 4.60824 67.9435 4.60824C66.4127 4.60824 64.8849 4.58692 63.3541 4.56561C61.8201 4.5443 60.2831 4.52299 58.746 4.52299C57.8908 4.52299 57.0355 4.52908 56.1833 4.54734L55.61 4.55952C54.7206 4.57779 53.8281 4.59606 52.9357 4.59606C52.4708 4.59606 52.0029 4.58997 51.5381 4.57779C50.2179 4.54125 48.8699 4.46209 47.5684 4.38598C46.5892 4.32813 45.6099 4.27029 44.6307 4.23071C44.3797 4.22157 44.1225 4.20026 43.8653 4.17895C43.4686 4.1485 43.0564 4.11501 42.6505 4.11501C42.0617 4.11501 41.5907 4.18199 41.1661 4.32509C41.0143 4.37685 40.8563 4.4012 40.6641 4.4012C40.4348 4.4012 40.1962 4.36467 39.939 4.32813C39.657 4.28551 39.3688 4.24593 39.062 4.24593C38.5631 4.24593 38.1292 4.36467 37.7357 4.60519C37.6954 4.62955 37.5714 4.6874 37.2925 4.6874C36.9734 4.6874 36.5581 4.61128 36.1522 4.48036C35.6377 4.31291 35.2039 4.23375 34.7887 4.23375C34.3641 4.23375 33.9551 4.31595 33.5305 4.48036C33.3539 4.55039 33.1215 4.58997 32.9076 4.58997C32.7403 4.58997 32.5916 4.56561 32.4986 4.51994C32.1019 4.32813 31.6712 4.22462 31.2559 4.22462C30.3139 4.22462 29.5887 4.74524 29.4493 5.52161C29.1828 6.99215 28.8202 9.00158 28.2376 9.58919C27.0973 10.74 26.1335 11.1511 24.7979 11.7204C23.986 12.0675 23.0656 12.4602 21.9469 13.0935L21.6835 13.2427L21.6711 13.538C21.6308 14.4788 21.5844 15.3983 21.541 16.3025C21.4356 18.4337 21.3395 20.4462 21.3086 22.483C21.2931 23.4786 21.3643 24.4833 21.4325 25.4546C21.4852 26.2066 21.5379 26.983 21.5534 27.7411C21.572 28.9102 21.541 30.1067 21.5131 31.2606C21.4976 31.8848 21.4821 32.5119 21.4728 33.1361C21.4356 35.9249 23.9147 37.2098 26.1025 38.3423C26.4496 38.522 26.7595 38.8538 27.088 39.2009C27.2305 39.3531 27.3731 39.5054 27.5218 39.6485C28.2097 40.3122 28.5444 41.253 28.8977 42.2455C29.2758 43.3111 29.6662 44.4102 30.5339 45.2505L30.695 45.4058H30.9213C31.8013 45.4058 32.6752 45.4149 33.5429 45.4241C34.4075 45.4332 35.269 45.4423 36.1274 45.4423C37.4103 45.4423 38.467 45.421 39.4525 45.3784C39.5981 45.3723 39.7469 45.3693 39.8925 45.3693C40.7509 45.3693 41.6403 45.4728 42.5018 45.5732C43.3911 45.6768 44.3146 45.7833 45.235 45.7833C46.2018 45.7833 47.0571 45.6646 47.8504 45.418C47.8659 45.4271 47.8907 45.4362 47.9155 45.4484C48.0487 45.5002 48.2161 45.5672 48.4144 45.5732C48.5167 45.5763 48.6158 45.5763 48.7181 45.5763C49.2945 45.5763 49.8678 45.5337 50.4256 45.4941C50.9865 45.4545 51.5164 45.4149 52.0525 45.4149C52.8489 45.4149 53.4966 45.5063 54.0884 45.6981L54.3456 45.7833L54.5719 45.6341C54.8043 45.4789 55.046 45.4119 55.359 45.4119C55.6627 45.4119 55.988 45.4758 56.3351 45.5458C56.7194 45.622 57.116 45.7011 57.5313 45.7011C57.9062 45.7011 58.244 45.6341 58.557 45.5002C59.372 45.7255 60.249 45.829 61.2933 45.829C62.0432 45.829 62.7994 45.7742 63.5276 45.7224C64.2403 45.6707 64.9748 45.6189 65.6875 45.6189C65.985 45.6189 66.2794 45.6281 66.5769 45.6494C66.7814 45.6646 66.9859 45.6707 67.1936 45.6707C67.4384 45.6707 67.6863 45.6615 67.9373 45.6555C68.179 45.6463 68.4238 45.6402 68.6686 45.6402C69.0653 45.6402 69.3907 45.6615 69.6882 45.7072C69.9949 45.7559 70.3172 45.7772 70.6736 45.7772C71.2624 45.7772 71.8543 45.7133 72.4307 45.6524C72.787 45.6128 73.1434 45.5763 73.4967 45.5519C73.6361 45.5428 73.7818 45.5124 73.9243 45.4819C74.0235 45.4606 74.1288 45.4362 74.1877 45.4362C74.8323 45.6555 75.5202 45.762 76.2826 45.762C76.924 45.762 77.5531 45.692 78.3061 45.5824C78.4611 45.5611 78.6284 45.5489 78.8112 45.5489C79.2296 45.5489 79.6603 45.6037 80.1159 45.6615C80.5838 45.7224 81.0672 45.7833 81.5476 45.7833C81.8853 45.7833 82.1859 45.7529 82.4648 45.692C82.877 45.6007 83.3201 45.558 83.8221 45.558C84.3551 45.558 84.885 45.6067 85.4428 45.6555C86.0006 45.7042 86.577 45.7559 87.1596 45.7559C87.6244 45.7559 88.0459 45.7224 88.4456 45.6555C89.2451 45.5184 90.1004 45.4545 91.0611 45.4545C91.8234 45.4545 92.6508 45.4971 93.5898 45.5824C93.8532 45.6067 94.1383 45.6189 94.4575 45.6189C94.7766 45.6189 95.0927 45.6067 95.4088 45.5946C95.7063 45.5824 96.0007 45.5732 96.2951 45.5732C96.6112 45.5732 96.8839 45.5885 97.1287 45.6159C98.2412 45.7438 99.2266 45.8077 100.147 45.8077C101.179 45.8077 102.133 45.7316 103.063 45.5702C103.113 45.5611 103.162 45.558 103.212 45.558C103.308 45.558 103.404 45.5672 103.5 45.5732C103.612 45.5824 103.72 45.5915 103.828 45.5915L105.065 45.6128C105.877 45.625 106.689 45.6372 107.501 45.6585C107.938 45.6707 108.374 45.692 108.811 45.7103C109.487 45.7407 110.184 45.7742 110.875 45.7742L111.145 45.7712C111.591 45.7651 112.022 45.7042 112.44 45.6433C112.828 45.5885 113.193 45.5337 113.553 45.5276H113.633C113.928 45.5276 114.231 45.5611 114.554 45.5976C114.888 45.6341 115.235 45.6737 115.582 45.6737C115.833 45.6737 116.057 45.6555 116.27 45.6128C116.506 45.5672 116.754 45.5458 117.023 45.5458C117.467 45.5458 117.907 45.6037 118.371 45.6615C118.849 45.7224 119.341 45.7864 119.85 45.7864H119.939C120.835 45.7742 121.728 45.759 122.623 45.759C123.007 45.759 123.395 45.762 123.782 45.7681C124.358 45.7772 124.944 45.7833 125.545 45.7925L125.124 46.4684Z" fill="#333230"/>
<path d="M142.209 43.406C139.885 43.406 137.976 43.3025 136.201 43.0802C136.185 43.0772 136.16 43.065 136.136 43.0559C136.033 43.0193 135.909 42.9767 135.761 42.9767C135.634 42.9767 135.513 43.0102 135.41 43.0711C135.097 43.2629 134.747 43.3512 134.313 43.3512C133.957 43.3512 133.588 43.2934 133.195 43.2355C132.779 43.1716 132.352 43.1046 131.912 43.1046C131.84 43.1046 131.769 43.1076 131.701 43.1107C131.899 43.0681 132.085 43.0163 132.265 42.9554C132.817 42.7697 133.405 42.6844 134.112 42.6844C134.62 42.6844 135.119 42.7271 135.649 42.7727C136.157 42.8153 136.684 42.861 137.217 42.8641C137.217 42.8641 137.936 42.8702 138.137 42.8702C138.441 42.8702 138.745 42.8671 139.048 42.8488C139.256 42.8397 139.433 42.7575 139.575 42.6875C139.96 42.8793 140.375 42.9706 140.83 42.9706C141.298 42.9706 141.738 42.8762 142.163 42.7819C142.547 42.6997 142.91 42.6205 143.251 42.6205C143.309 42.6205 143.365 42.6235 143.424 42.6266C143.796 42.6601 144.171 42.6966 144.543 42.7362C145.091 42.794 145.643 42.8488 146.194 42.8854C146.913 42.9341 147.639 42.9584 148.354 42.9584H148.658C148.996 42.9554 149.331 42.925 149.653 42.8945C149.981 42.8641 150.291 42.8336 150.592 42.8336C150.818 42.8336 151.01 42.8519 151.187 42.8854C151.617 42.9706 152.079 43.0498 152.541 43.0498C153.096 43.0498 153.591 42.9371 154.047 42.7027C154.481 42.794 154.946 42.8367 155.46 42.8367C156.061 42.8367 156.666 42.7758 157.245 42.7179C157.828 42.6601 158.379 42.6053 158.934 42.6053C159.606 42.6053 160.158 42.6875 160.679 42.8641C160.883 42.9341 161.1 42.9676 161.345 42.9676C161.732 42.9676 162.126 42.8823 162.504 42.8001C162.804 42.7362 163.086 42.6723 163.347 42.657C164.444 42.59 165.073 42.3404 165.677 42.0999C166.21 41.8898 166.712 41.6889 167.586 41.5945L167.685 41.5853C168.795 41.4666 170.316 41.3052 170.716 40.0174C171.574 37.2407 173.917 35.1156 178.085 33.3345L178.33 33.231L178.398 32.9783C178.968 30.8379 178.987 29.1786 179.005 27.2605C179.012 26.6364 179.021 25.9757 179.046 25.2511C179.12 23.1716 179.104 21.1226 179.086 18.9579C179.077 18.011 179.07 17.0489 179.07 16.0747V15.7885L178.829 15.6271C177.942 15.0365 177.261 14.6711 176.715 14.3788C175.575 13.7669 175.054 13.4898 174.183 11.9675C174.075 11.7757 173.843 11.4134 173.588 11.0146C173.235 10.4635 172.795 9.77845 172.681 9.53184C171.67 7.40367 169.668 7.40367 168.342 7.40367H168.277C164.676 7.40976 161.081 7.4128 157.481 7.4128C150.266 7.4128 143.049 7.40063 135.835 7.39149H132.37C131.462 7.39149 130.579 7.36713 129.795 7.13879C129.972 7.14183 130.149 7.14183 130.325 7.14183C132.383 7.14183 133.982 7.02918 135.485 6.77344C136.002 6.88609 136.56 6.94089 137.186 6.94089C137.793 6.94089 138.395 6.89218 138.977 6.84346C139.56 6.79475 140.108 6.74908 140.66 6.74908C140.895 6.74908 141.131 6.75822 141.366 6.77953C141.459 6.78866 141.552 6.79171 141.645 6.79171C141.98 6.79171 142.284 6.74299 142.581 6.69732C142.835 6.65774 143.074 6.61816 143.3 6.61816C143.452 6.61816 143.588 6.63643 143.712 6.67297C144.295 6.84346 144.778 6.92262 145.237 6.92262C145.686 6.92262 146.108 6.84651 146.523 6.69123C146.635 6.69123 146.774 6.72473 146.913 6.75822C147.078 6.7978 147.245 6.83738 147.403 6.8526C147.617 6.87391 147.837 6.91045 148.057 6.95002C148.419 7.01396 148.794 7.0779 149.169 7.0779C149.442 7.0779 149.681 7.04441 149.904 6.97438C150.393 6.81911 150.914 6.74604 151.534 6.74604C152.033 6.74604 152.529 6.79171 153.055 6.84042C153.43 6.87391 153.808 6.91045 154.186 6.92871C154.428 6.94089 154.67 6.94394 154.915 6.94394C155.342 6.94394 155.773 6.92871 156.204 6.91653C156.622 6.90131 157.041 6.88913 157.456 6.88913C157.567 6.88913 158.088 6.89827 158.237 6.89827C158.844 6.89827 159.451 6.87391 160.056 6.8526C160.648 6.83129 161.243 6.80693 161.834 6.80693C162.792 6.80693 163.573 6.86782 164.292 7.00178C164.4 7.0231 164.512 7.03223 164.623 7.03223C164.977 7.03223 165.308 6.94089 165.631 6.85564C165.903 6.78257 166.161 6.71255 166.377 6.71255C167.667 6.74604 168.928 6.83737 170.149 6.92567C170.521 6.95307 170.889 6.98047 171.249 7.00483L171.593 7.58635C174.112 11.8701 175.188 13.6999 179.774 15.9925C179.703 22.2643 179.501 27.4554 178.757 33.5963C173.35 35.5966 172.129 37.9075 170.719 40.5745L170.654 40.6994C169.675 42.5505 169.07 43.3238 167.865 43.3238C167.614 43.3238 167.329 43.2873 167.016 43.2203L166.898 43.1929C166.653 43.1381 166.424 43.0833 166.167 43.0833C165.869 43.0833 165.597 43.1563 165.33 43.3086C165.318 43.3147 165.24 43.3542 165.008 43.3542H164.946C164.301 43.339 163.66 43.3147 163.015 43.2903C161.915 43.2477 160.775 43.2081 159.65 43.202C159.65 43.202 159.65 43.202 159.647 43.202C158.98 43.202 158.354 43.2385 157.747 43.272C157.158 43.3055 156.551 43.3421 155.965 43.3421C155.457 43.3421 155.011 43.3147 154.602 43.2629C154.453 43.2416 154.307 43.2355 154.162 43.2355C153.818 43.2355 153.502 43.2842 153.201 43.3299C152.938 43.3695 152.687 43.409 152.445 43.409C152.352 43.409 152.259 43.403 152.163 43.3877C151.556 43.2964 150.902 43.2538 150.105 43.2538C149.947 43.2538 149.792 43.2568 149.634 43.2568C148.698 43.2751 147.763 43.3025 146.827 43.3268C145.321 43.3603 143.749 43.406 142.209 43.406ZM35.0535 43.3969C34.8923 43.3969 34.2415 43.2659 33.7674 43.1685C33.095 43.0315 32.5744 42.928 32.1994 42.8823C30.3649 39.0279 27.7649 36.9332 23.6961 34.5462V31.9187C23.6961 29.6475 23.693 27.3488 23.6992 25.0501C23.7023 22.7941 23.7085 20.535 23.7178 18.1937L23.7271 15.2465C24.5328 14.5067 25.3323 14.0774 26.1752 13.6238C28.0748 12.6069 30.0364 11.5535 32.2428 7.08399L36.0048 7.08094C37.0274 7.08094 38.0532 7.08399 39.0789 7.09008C39.0789 7.09008 39.0789 7.09008 39.082 7.09008C39.4786 7.09008 39.8288 7.05354 40.1697 7.02005C40.4951 6.98656 40.805 6.95611 41.1055 6.95611C41.2419 6.95611 41.3659 6.9622 41.4836 6.97438C41.4185 7.05354 41.3597 7.15097 41.3101 7.27275C41.1768 7.30624 40.9599 7.34278 40.743 7.34278C40.6934 7.34278 40.6438 7.33973 40.6035 7.33669C39.8815 7.24231 39.113 7.19664 38.2484 7.19664C37.266 7.19664 36.2806 7.25448 35.3262 7.31233C34.4864 7.36105 33.6156 7.4128 32.7665 7.42498C31.9608 7.43412 31.7841 8.21962 31.6571 8.79505C31.5951 9.06602 31.5269 9.37657 31.4123 9.67189C31.2294 10.1408 30.3866 11.2825 29.9744 11.7239C29.2462 12.5064 28.3816 12.8961 27.4643 13.3102C26.4882 13.7516 25.4779 14.2083 24.5917 15.1552L24.4491 15.3074L24.446 15.5145C24.3871 19.372 24.3964 23.2904 24.4088 27.0809C24.415 29.4648 24.4243 31.8609 24.415 34.2844V34.4701L24.5297 34.6163C25.4036 35.7214 26.0574 35.9315 26.6896 36.1355C27.1761 36.2908 27.6812 36.4521 28.4436 37.1128C29.0076 37.5969 30.9041 39.378 31.1086 39.7251L31.2945 40.0783C31.9267 41.2778 32.6425 42.6357 34.1672 42.6357L35.4904 42.6327C37.5356 42.6296 39.584 42.6266 41.6293 42.6266C43.9906 42.6266 46.3519 42.6327 48.7133 42.6479C49.2928 42.6509 49.8723 42.7088 50.4827 42.7697C51.1087 42.8336 51.7595 42.8976 52.4102 42.8976C52.9618 42.8976 53.4979 42.8306 54.0185 42.7636C54.5237 42.6997 55.0009 42.6388 55.4688 42.6388C55.5866 42.6388 55.7012 42.6418 55.819 42.6509C56.7208 42.7179 57.7031 42.7514 58.8187 42.7514C59.8506 42.7514 60.8949 42.724 61.9052 42.6966C62.9092 42.6692 63.9442 42.6418 64.9607 42.6418C65.1807 42.6418 65.4038 42.6418 65.6238 42.6449C66.0794 42.6509 66.5349 42.6753 66.9873 42.7027C67.511 42.7331 68.0564 42.7636 68.5956 42.7636C69.2092 42.7636 69.7515 42.724 70.2535 42.6388C70.4674 42.6022 70.6936 42.587 70.9446 42.587C71.3505 42.587 71.7565 42.6296 72.1903 42.6753C72.6335 42.721 73.0921 42.7697 73.5569 42.7697C73.966 42.7697 74.3347 42.7331 74.6787 42.654C75.3698 42.9158 76.129 43.0406 77.0556 43.0406C77.5483 43.0406 78.041 43.0072 78.5182 42.9737C78.9985 42.9402 79.451 42.9097 79.9065 42.9097C80.3559 42.9097 80.7494 42.9402 81.1027 43.0072L81.2948 43.0437L81.4683 42.9493C81.8681 42.7331 82.3081 42.6327 82.8504 42.6327C83.2626 42.6327 83.6871 42.6875 84.1334 42.7484C84.5982 42.8093 85.0816 42.8732 85.5713 42.8732C85.7479 42.8732 85.9245 42.8641 86.0981 42.8458C87.5421 42.6905 89.0389 42.6662 90.4861 42.6449L91.4033 42.6296C92.0417 42.6175 92.6801 42.6144 93.3153 42.6144L95.9711 42.6205L97.1269 42.6175C98.1186 42.6175 99.1102 42.6266 100.102 42.6357C101.097 42.6449 102.094 42.654 103.089 42.654C103.755 42.654 104.425 42.6509 105.091 42.6388C106.309 42.6175 107.53 42.6114 108.748 42.6114C109.575 42.6114 110.399 42.6144 111.227 42.6175C111.995 42.6205 112.761 42.6235 113.529 42.6235C114.381 42.6235 115.234 42.6327 116.086 42.6418C116.96 42.6509 117.837 42.6601 118.711 42.6601C120.074 42.6601 121.193 42.6388 122.234 42.59L122.333 42.587C122.646 42.587 122.965 42.654 123.303 42.724C123.687 42.8062 124.087 42.8884 124.53 42.8884C124.884 42.8884 125.215 42.8336 125.544 42.724C125.606 42.7027 125.68 42.6936 125.767 42.6936C126.058 42.6936 126.43 42.8093 126.823 42.9341C127.062 43.0072 127.301 43.0833 127.549 43.1411C127.245 43.1685 126.947 43.202 126.65 43.2355C125.934 43.3147 125.258 43.3908 124.577 43.3908C115.206 43.339 105.726 43.339 96.5598 43.336C91.3382 43.336 86.1136 43.336 80.892 43.3268H80.0615C77.979 43.3268 75.8966 43.339 73.811 43.3542C71.7317 43.3664 69.6493 43.3816 67.5699 43.3816C66.7394 43.3816 65.9089 43.3786 65.0784 43.3756C63.092 43.3634 61.1057 43.3603 59.1193 43.3603C57.2476 43.3603 55.3758 43.3634 53.501 43.3664L49.3547 43.3725C46.1195 43.3756 43.4979 43.3816 40.743 43.3847L35.0535 43.3969ZM130.595 43.2629C130.722 43.2538 130.843 43.2446 130.964 43.2294C130.889 43.2507 130.818 43.2751 130.747 43.2994C130.697 43.2873 130.644 43.2751 130.595 43.2629ZM109.839 7.39149C94.8679 7.39149 79.8941 7.38845 64.9235 7.37018C64.282 7.37018 63.6467 7.30015 62.9743 7.23013C62.652 7.19664 62.3235 7.1601 61.995 7.1327C62.8999 7.12966 63.8079 7.10834 64.7127 7.09008L65.8686 7.06572C66.3335 7.05659 66.7859 6.99265 67.2228 6.92871C67.6288 6.87087 68.0131 6.81302 68.3942 6.80388C68.512 6.80084 68.6328 6.80084 68.7506 6.80084C69.2309 6.80084 69.7081 6.82215 70.1885 6.84651C70.613 6.86782 71.0406 6.88609 71.4652 6.89218L71.8092 6.89522C72.3174 6.89522 72.8287 6.88304 73.34 6.87087C73.842 6.85869 74.3409 6.84651 74.8399 6.84651C75.6735 6.84651 76.3459 6.88304 76.9595 6.9622C77.4925 7.03223 78.0503 7.06572 78.6608 7.06572C79.6648 7.06572 80.6688 6.97438 81.6419 6.88609C82.587 6.80084 83.5663 6.7095 84.5114 6.7095C85.5 6.7095 86.3615 6.80693 87.1517 7.01092L87.3004 7.04745L87.4461 7.00483C87.7931 6.90436 88.165 6.85869 88.6143 6.85869C89.0358 6.85869 89.4572 6.89827 89.9066 6.94089C90.3652 6.98352 90.8393 7.02918 91.3197 7.02918C91.9797 7.02918 92.5344 6.94394 93.0612 6.76126C93.1232 6.73995 93.1976 6.73081 93.2874 6.73081C93.4982 6.73081 93.7585 6.78562 94.0312 6.84651C94.3628 6.91958 94.7067 6.99265 95.0631 6.99265H95.1313C96.0485 6.96829 96.972 6.88304 97.8676 6.80388C98.3138 6.7643 98.757 6.72472 99.2032 6.69123C99.699 6.6547 100.213 6.63643 100.731 6.63643C101.552 6.63643 102.38 6.6821 103.195 6.77344C104.831 6.95307 106.473 6.97438 108.066 6.99569C108.993 7.00787 109.95 7.02005 110.889 7.06572L110.985 7.07181C111.059 7.0779 111.134 7.08399 111.208 7.08399C111.329 7.08399 111.438 7.06876 111.537 7.04136C111.936 6.92871 112.364 6.87391 112.882 6.87391C113.356 6.87391 113.83 6.91653 114.332 6.96525C114.837 7.01092 115.361 7.05963 115.884 7.05963C116.585 7.05963 117.177 6.97438 117.728 6.79171C118.205 6.97743 118.726 7.06876 119.318 7.06876C119.835 7.06876 120.35 7.00178 120.843 6.9348C121.323 6.87087 121.775 6.80997 122.222 6.80997C122.68 6.80997 123.058 6.87391 123.412 7.01396L123.514 7.05659L123.625 7.05354C123.929 7.04745 124.233 7.04441 124.54 7.04441C125.5 7.04441 126.479 7.06876 127.425 7.09312C127.555 7.09617 127.685 7.09921 127.815 7.10225C127.536 7.23013 127.294 7.33364 127.096 7.33669C123.74 7.39149 120.325 7.39149 117.025 7.39454H109.839V7.39149ZM50.994 7.31233C50.6625 7.31233 50.3588 7.28493 50.0427 7.25448C50.4022 7.22404 50.7554 7.19055 51.1056 7.15706C51.4496 7.12357 51.7936 7.09312 52.1344 7.06268C53.0734 6.98352 54.0526 6.94698 55.1279 6.94698C56.1878 6.94698 57.3498 6.98352 58.7846 7.06572C59.4942 7.1053 60.2535 7.12661 61.0964 7.13575C60.9724 7.1601 60.8578 7.19664 60.7493 7.23013C60.616 7.27275 60.489 7.30929 60.4022 7.30929C59.9343 7.30624 59.4695 7.28189 59.0046 7.25753C58.5119 7.23317 58.0006 7.20577 57.4924 7.20577H57.3932C56.3086 7.21186 55.2271 7.23622 54.1425 7.26057C53.0982 7.28189 52.0477 7.3032 50.994 7.31233C50.9971 7.31233 50.9971 7.31233 50.994 7.31233ZM44.4244 7.16315C44.4585 7.1601 44.4926 7.15706 44.5267 7.15706C44.5639 7.15706 44.6042 7.1601 44.6414 7.16315H44.4244ZM47.0647 7.1601C47.1576 7.09617 47.2413 7.0231 47.3219 6.9348C47.4427 7.01092 47.5667 7.08703 47.6937 7.15401C47.5605 7.15401 47.139 7.15706 47.0647 7.1601Z" fill="#333230"/>
</g>
<path d="M42.9954 27.2189L42.8394 27.2429C42.9594 28.2029 43.0674 29.2229 43.1994 29.6909C43.8474 29.9429 44.9034 30.0629 45.9234 30.0629C46.9794 30.0629 47.8434 29.7989 48.4074 29.3789C48.9954 28.9349 49.2954 28.3349 49.2954 27.6029C49.2954 26.2349 48.1794 25.6109 46.9674 24.9989C46.4634 24.7349 45.9354 24.4709 45.5994 24.1349C45.2994 23.8229 45.1794 23.5229 45.1794 23.0789C45.1794 22.3829 45.6234 21.8309 46.0314 21.6869C46.5354 21.8069 47.0514 22.1189 47.6034 22.6109C48.0954 23.0429 48.5274 23.5349 48.8994 24.1109L49.0554 24.0749C48.9474 23.2589 48.9234 22.2629 48.8274 21.7469C48.1914 21.5309 47.2914 21.3749 46.2234 21.3749C45.3594 21.3749 44.5434 21.5909 43.9914 21.9869C43.3914 22.4189 43.0194 23.0549 43.0194 23.9189C43.0194 24.6869 43.3434 25.1909 43.7394 25.6109C44.1714 26.0789 44.8674 26.4749 45.5514 26.8709C46.1514 27.2069 46.6554 27.4949 46.9074 27.8549C47.0514 28.0469 47.1234 28.2389 47.1234 28.4909C47.1234 29.1029 46.6674 29.5469 46.1394 29.7269C45.5994 29.5829 45.0114 29.2709 44.4234 28.7909C43.8714 28.3589 43.3554 27.8069 42.9954 27.2189ZM51.421 29.7869L51.433 29.9309C51.913 29.9189 52.945 29.9069 53.701 29.9069C54.721 29.9069 56.233 29.9309 57.565 29.9309C57.817 29.9309 58.273 29.9309 58.453 29.9069C58.597 29.2469 58.693 28.2869 58.861 27.3629L58.705 27.3389C58.381 27.9029 57.913 28.4189 57.409 28.8149C56.917 29.2109 56.401 29.4509 55.897 29.6069C55.657 29.6069 55.417 29.5229 55.237 29.3429C55.033 29.1269 54.913 28.8149 54.877 28.1429C54.841 27.4469 54.841 26.6549 54.841 25.9469V25.8029C54.973 25.7789 55.117 25.7669 55.261 25.7669C55.477 25.7669 55.669 25.7789 55.873 25.8149C56.269 25.8869 56.557 26.0429 56.785 26.2469C57.001 26.4509 57.205 26.7389 57.313 26.9669L57.469 26.9549C57.457 26.5829 57.457 26.1509 57.457 25.6709C57.457 25.2149 57.481 24.6629 57.517 24.2669L57.361 24.2429C57.229 24.5549 56.989 24.8789 56.749 25.0709C56.497 25.2629 56.233 25.3829 55.921 25.4189C55.705 25.4429 55.465 25.4429 55.177 25.4429H54.841V25.2629C54.841 24.4109 54.853 22.8749 54.985 21.8789C55.093 21.8429 55.297 21.8189 55.453 21.8189C56.053 21.9389 56.569 22.2029 57.073 22.6229C57.529 22.9949 57.925 23.4509 58.261 23.9669L58.417 23.9309C58.273 22.7549 58.309 22.3109 58.189 21.5429C57.913 21.5189 57.541 21.5069 57.061 21.5069C56.365 21.5069 55.261 21.5309 53.557 21.5309C53.197 21.5309 51.709 21.5309 51.265 21.5069L51.253 21.6509C51.445 21.6749 51.697 21.7469 51.865 21.8309C52.057 21.9389 52.261 22.1069 52.393 22.3469C52.561 22.6229 52.633 22.9709 52.669 23.5469C52.693 24.1229 52.705 24.8909 52.705 25.7669V26.3789C52.705 26.8229 52.681 27.4709 52.657 27.8069C52.621 28.4069 52.525 28.8869 52.297 29.1989C52.069 29.4989 51.685 29.7269 51.421 29.7869ZM60.4514 29.7869L60.4634 29.9309C60.7994 29.9309 61.6154 29.9069 62.2274 29.9069C62.9474 29.9069 64.0514 29.9309 64.3154 29.9309L64.3274 29.7869C63.9074 29.6909 63.5234 29.4509 63.2594 29.1869C62.8994 28.8029 62.5754 28.3469 62.4914 26.7389C62.4554 26.1029 62.4554 25.4789 62.4554 24.9749C62.4554 24.6149 62.4674 24.1109 62.5034 23.7029H62.5394C64.2554 25.4429 66.5954 27.9509 68.6234 30.1469L68.8874 30.1109C68.8514 29.5349 68.8274 28.8389 68.8274 28.1789V26.5109C68.8274 25.5629 68.8394 24.8789 68.8874 24.4589C68.9114 24.0509 68.9714 23.6189 69.1154 23.1869C69.1994 22.9229 69.3434 22.5989 69.5594 22.3109C69.7634 22.0589 70.0874 21.7829 70.4354 21.6509L70.4234 21.5069C70.0274 21.5189 69.1874 21.5309 68.5514 21.5309C67.9394 21.5309 67.0394 21.5069 66.5474 21.5069L66.5354 21.6509C67.1474 21.8189 67.5554 22.1549 67.8434 22.6109C68.1074 23.0069 68.2994 23.6429 68.3714 24.3749C68.4074 24.7829 68.4314 25.1909 68.4314 25.7549C68.4314 26.1149 68.4194 26.4629 68.3834 26.7629C66.6794 25.0349 65.1314 23.3909 63.5234 21.5429C63.3914 21.5069 63.2714 21.5069 63.1154 21.5069C62.8154 21.5069 62.2514 21.5309 61.6394 21.5309C61.1234 21.5309 60.5474 21.5189 60.1034 21.5069L60.0914 21.6509C60.4154 21.7229 60.8474 21.8549 61.2674 22.2269C61.6754 22.5869 62.0474 23.2109 62.0474 24.3029C62.0474 25.4909 62.0474 26.3669 61.9514 27.3509C61.8554 28.3469 61.4834 28.9349 61.1954 29.2469C60.9194 29.5469 60.7034 29.6789 60.4514 29.7869ZM71.9289 29.7869L71.9409 29.9309C72.5169 29.9189 73.3209 29.8949 74.0049 29.8949C75.0249 29.8949 75.8289 29.9429 76.6569 29.9429C77.6169 29.9429 78.6129 29.6669 79.4409 29.0909C80.4129 28.4069 81.1809 27.2549 81.1809 25.5269C81.1809 24.4109 80.8089 23.2229 79.7529 22.4189C78.9369 21.8069 77.9769 21.5069 76.5369 21.5069C75.8289 21.5069 74.7129 21.5429 73.9809 21.5429C73.1409 21.5429 72.4209 21.5309 71.7729 21.5069L71.7609 21.6509C72.2409 21.7469 72.5409 21.9389 72.7209 22.1189C72.9609 22.3589 73.0929 22.7309 73.1409 23.1629C73.2129 23.7749 73.2129 24.7469 73.2129 25.5989V25.9709C73.2129 26.8589 73.2009 28.0229 73.0689 28.5509C72.9609 29.0309 72.7929 29.2709 72.5649 29.4629C72.3489 29.6429 72.0729 29.7389 71.9289 29.7869ZM75.3729 25.9829V25.5869C75.3729 24.7829 75.3729 24.0629 75.4089 23.3069C75.4449 22.5509 75.4929 22.1069 75.5409 21.8909C75.7089 21.8429 75.9009 21.8189 76.0929 21.8189C76.8129 21.9749 77.5449 22.4189 78.0489 23.1509C78.4929 23.7869 78.7689 24.6749 78.7689 25.7429C78.7689 27.9629 77.7969 29.2109 76.5369 29.6069C76.3209 29.6069 76.1169 29.5709 75.9369 29.4749C75.7329 29.3549 75.5769 29.1509 75.5049 28.8509C75.3849 28.3469 75.3729 26.9669 75.3729 25.9829ZM90.883 29.7869L90.895 29.9309C91.231 29.9309 91.975 29.8949 92.455 29.8949C92.983 29.8949 93.955 29.9309 94.435 29.9309L94.447 29.7869C94.003 29.5949 93.619 29.3069 93.379 28.9109C93.151 28.5389 93.031 28.0229 92.983 27.4709C92.971 27.3149 92.947 27.0029 92.947 26.7869C92.947 25.8629 92.959 24.9629 93.031 23.6189H93.079C93.463 24.3509 93.787 25.0229 94.159 25.8509C94.855 27.3869 95.431 28.7069 95.815 29.6909H96.067C96.331 29.1749 96.751 27.9989 97.051 27.1589L97.759 25.2509C98.023 24.5549 98.311 23.8709 98.527 23.4629H98.575C98.635 23.8109 98.671 24.3029 98.695 24.8309C98.731 25.5149 98.755 26.4509 98.755 27.1469C98.755 27.8909 98.707 28.5869 98.479 29.0309C98.275 29.4509 97.987 29.6549 97.603 29.7749L97.615 29.9309C98.155 29.9309 99.091 29.8949 99.787 29.8949C100.435 29.8949 101.671 29.9309 102.055 29.9309L102.067 29.7749C101.647 29.6189 101.407 29.4149 101.179 28.8749C100.987 28.4189 100.915 27.4589 100.855 26.3909C100.795 25.5149 100.783 24.6749 100.783 23.9549V23.6549C100.783 23.1149 100.867 22.6949 100.999 22.4309C101.155 22.1309 101.479 21.7949 101.935 21.6509L101.923 21.5069C101.491 21.5309 100.915 21.5309 100.435 21.5309C99.907 21.5309 99.223 21.5069 98.947 21.5069C98.815 21.5069 98.767 21.5309 98.731 21.6269C98.419 22.3589 98.071 23.3429 97.555 24.6749L96.799 26.6669L95.839 24.5789C95.263 23.3309 94.783 22.2149 94.411 21.5549C94.363 21.5189 94.279 21.4949 94.159 21.4949C93.811 21.4949 93.223 21.5309 92.455 21.5309C91.927 21.5309 91.243 21.5309 90.883 21.5069L90.871 21.6629C91.303 21.7469 91.639 21.9029 91.891 22.1189C92.203 22.3709 92.407 22.7789 92.503 23.1509C92.575 23.4989 92.599 23.8709 92.599 24.2549C92.599 25.0829 92.563 25.8629 92.491 26.5589C92.419 27.4829 92.239 28.3589 91.867 28.9109C91.591 29.3069 91.267 29.5829 90.883 29.7869ZM103.851 29.7869L103.863 29.9309C104.343 29.9189 105.375 29.9069 106.131 29.9069C107.151 29.9069 108.663 29.9309 109.995 29.9309C110.247 29.9309 110.703 29.9309 110.883 29.9069C111.027 29.2469 111.123 28.2869 111.291 27.3629L111.135 27.3389C110.811 27.9029 110.343 28.4189 109.839 28.8149C109.347 29.2109 108.831 29.4509 108.327 29.6069C108.087 29.6069 107.847 29.5229 107.667 29.3429C107.463 29.1269 107.343 28.8149 107.307 28.1429C107.271 27.4469 107.271 26.6549 107.271 25.9469V25.8029C107.403 25.7789 107.547 25.7669 107.691 25.7669C107.907 25.7669 108.099 25.7789 108.303 25.8149C108.699 25.8869 108.987 26.0429 109.215 26.2469C109.431 26.4509 109.635 26.7389 109.743 26.9669L109.899 26.9549C109.887 26.5829 109.887 26.1509 109.887 25.6709C109.887 25.2149 109.911 24.6629 109.947 24.2669L109.791 24.2429C109.659 24.5549 109.419 24.8789 109.179 25.0709C108.927 25.2629 108.663 25.3829 108.351 25.4189C108.135 25.4429 107.895 25.4429 107.607 25.4429H107.271V25.2629C107.271 24.4109 107.283 22.8749 107.415 21.8789C107.523 21.8429 107.727 21.8189 107.883 21.8189C108.483 21.9389 108.999 22.2029 109.503 22.6229C109.959 22.9949 110.355 23.4509 110.691 23.9669L110.847 23.9309C110.703 22.7549 110.739 22.3109 110.619 21.5429C110.343 21.5189 109.971 21.5069 109.491 21.5069C108.795 21.5069 107.691 21.5309 105.987 21.5309C105.627 21.5309 104.139 21.5309 103.695 21.5069L103.683 21.6509C103.875 21.6749 104.127 21.7469 104.295 21.8309C104.487 21.9389 104.691 22.1069 104.823 22.3469C104.991 22.6229 105.063 22.9709 105.099 23.5469C105.123 24.1229 105.135 24.8909 105.135 25.7669V26.3789C105.135 26.8229 105.111 27.4709 105.087 27.8069C105.051 28.4069 104.955 28.8869 104.727 29.1989C104.499 29.4989 104.115 29.7269 103.851 29.7869ZM113.589 27.2189L113.433 27.2429C113.553 28.2029 113.661 29.2229 113.793 29.6909C114.441 29.9429 115.497 30.0629 116.517 30.0629C117.573 30.0629 118.437 29.7989 119.001 29.3789C119.589 28.9349 119.889 28.3349 119.889 27.6029C119.889 26.2349 118.773 25.6109 117.561 24.9989C117.057 24.7349 116.529 24.4709 116.193 24.1349C115.893 23.8229 115.773 23.5229 115.773 23.0789C115.773 22.3829 116.217 21.8309 116.625 21.6869C117.129 21.8069 117.645 22.1189 118.197 22.6109C118.689 23.0429 119.121 23.5349 119.493 24.1109L119.649 24.0749C119.541 23.2589 119.517 22.2629 119.421 21.7469C118.785 21.5309 117.885 21.3749 116.817 21.3749C115.953 21.3749 115.137 21.5909 114.585 21.9869C113.985 22.4189 113.613 23.0549 113.613 23.9189C113.613 24.6869 113.937 25.1909 114.333 25.6109C114.765 26.0789 115.461 26.4749 116.145 26.8709C116.745 27.2069 117.249 27.4949 117.501 27.8549C117.645 28.0469 117.717 28.2389 117.717 28.4909C117.717 29.1029 117.261 29.5469 116.733 29.7269C116.193 29.5829 115.605 29.2709 115.017 28.7909C114.465 28.3589 113.949 27.8069 113.589 27.2189ZM122.519 27.2189L122.363 27.2429C122.483 28.2029 122.591 29.2229 122.723 29.6909C123.371 29.9429 124.427 30.0629 125.447 30.0629C126.503 30.0629 127.367 29.7989 127.931 29.3789C128.519 28.9349 128.819 28.3349 128.819 27.6029C128.819 26.2349 127.703 25.6109 126.491 24.9989C125.987 24.7349 125.459 24.4709 125.123 24.1349C124.823 23.8229 124.703 23.5229 124.703 23.0789C124.703 22.3829 125.147 21.8309 125.555 21.6869C126.059 21.8069 126.575 22.1189 127.127 22.6109C127.619 23.0429 128.051 23.5349 128.423 24.1109L128.579 24.0749C128.471 23.2589 128.447 22.2629 128.351 21.7469C127.715 21.5309 126.815 21.3749 125.747 21.3749C124.883 21.3749 124.067 21.5909 123.515 21.9869C122.915 22.4189 122.543 23.0549 122.543 23.9189C122.543 24.6869 122.867 25.1909 123.263 25.6109C123.695 26.0789 124.391 26.4749 125.075 26.8709C125.675 27.2069 126.179 27.4949 126.431 27.8549C126.575 28.0469 126.647 28.2389 126.647 28.4909C126.647 29.1029 126.191 29.5469 125.663 29.7269C125.123 29.5829 124.535 29.2709 123.947 28.7909C123.395 28.3589 122.879 27.8069 122.519 27.2189ZM130.464 29.7869L130.476 29.9309C130.74 29.9189 131.436 29.9069 132.048 29.9069C132.696 29.9069 133.464 29.9309 134.028 29.9309L134.04 29.7869C133.872 29.7269 133.62 29.5709 133.452 29.3909C133.212 29.1269 133.032 28.7789 133.032 28.2509C133.032 27.9029 133.116 27.4829 133.248 27.0629C133.644 27.0509 134.124 27.0389 134.64 27.0389C135.096 27.0389 135.612 27.0509 135.972 27.0629C136.116 27.3749 136.248 27.6869 136.368 27.9989C136.524 28.3949 136.584 28.6229 136.596 28.9109C136.536 29.3069 136.14 29.6189 135.732 29.7869L135.744 29.9309C136.5 29.9189 137.604 29.9069 138.156 29.9069C138.996 29.9069 140.1 29.9309 140.352 29.9309L140.364 29.7749C139.848 29.5949 139.38 29.0429 139.008 28.4549C138.456 27.5789 137.496 25.5509 136.728 23.8829C136.332 23.0189 135.9 22.0709 135.552 21.2549L135.264 21.2669C134.988 22.0109 134.688 22.7429 134.352 23.4989L133.488 25.3229C132.804 26.7989 132.168 27.9989 131.712 28.6349C131.508 28.9349 131.304 29.1749 131.064 29.3909C130.824 29.5949 130.632 29.7029 130.464 29.7869ZM134.64 26.6789C134.22 26.6789 133.716 26.6789 133.356 26.6669C133.428 26.4629 133.572 26.1029 133.704 25.8149L134.58 23.9309H134.616C134.988 24.8069 135.42 25.7909 135.804 26.6549C135.468 26.6789 135.012 26.6789 134.64 26.6789ZM146.432 26.3669L146.408 26.5589C146.948 26.6189 147.5 26.7749 147.824 27.0629C148.124 27.3269 148.304 27.6989 148.304 28.1669C148.304 28.6589 148.196 29.0429 147.884 29.3309C147.644 29.5709 147.32 29.7269 147.044 29.7509C146.42 29.5229 145.748 29.0789 145.256 28.3229C144.8 27.6629 144.488 26.8109 144.488 25.5989C144.488 24.6029 144.704 23.7629 145.076 23.1029C145.496 22.3469 146.12 21.8429 146.66 21.6629C147.404 21.7829 148.184 22.2269 148.844 22.8509C149.408 23.3909 149.864 23.9549 150.2 24.5309L150.356 24.5069C150.224 23.3789 150.224 22.5629 150.116 21.8429C149.252 21.5309 148.244 21.3749 146.924 21.3749C145.544 21.3749 144.464 21.7709 143.6 22.4789C142.652 23.2589 142.076 24.4469 142.076 25.8269C142.076 27.1349 142.628 28.2989 143.588 29.0429C144.44 29.7149 145.532 30.0629 146.816 30.0629C148.376 30.0629 149.648 29.7629 150.668 29.2709C150.548 28.9229 150.428 28.4789 150.428 27.9749C150.428 27.5189 150.524 27.2309 150.668 27.0029C150.824 26.7629 151.064 26.6069 151.292 26.5349L151.268 26.3669C150.812 26.3909 149.96 26.4269 149.324 26.4269C148.436 26.4269 147.332 26.4029 146.432 26.3669ZM153.011 29.7869L153.023 29.9309C153.503 29.9189 154.535 29.9069 155.291 29.9069C156.311 29.9069 157.823 29.9309 159.155 29.9309C159.407 29.9309 159.863 29.9309 160.043 29.9069C160.187 29.2469 160.283 28.2869 160.451 27.3629L160.295 27.3389C159.971 27.9029 159.503 28.4189 158.999 28.8149C158.507 29.2109 157.991 29.4509 157.487 29.6069C157.247 29.6069 157.007 29.5229 156.827 29.3429C156.623 29.1269 156.503 28.8149 156.467 28.1429C156.431 27.4469 156.431 26.6549 156.431 25.9469V25.8029C156.563 25.7789 156.707 25.7669 156.851 25.7669C157.067 25.7669 157.259 25.7789 157.463 25.8149C157.859 25.8869 158.147 26.0429 158.375 26.2469C158.591 26.4509 158.795 26.7389 158.903 26.9669L159.059 26.9549C159.047 26.5829 159.047 26.1509 159.047 25.6709C159.047 25.2149 159.071 24.6629 159.107 24.2669L158.951 24.2429C158.819 24.5549 158.579 24.8789 158.339 25.0709C158.087 25.2629 157.823 25.3829 157.511 25.4189C157.295 25.4429 157.055 25.4429 156.767 25.4429H156.431V25.2629C156.431 24.4109 156.443 22.8749 156.575 21.8789C156.683 21.8429 156.887 21.8189 157.043 21.8189C157.643 21.9389 158.159 22.2029 158.663 22.6229C159.119 22.9949 159.515 23.4509 159.851 23.9669L160.007 23.9309C159.863 22.7549 159.899 22.3109 159.779 21.5429C159.503 21.5189 159.131 21.5069 158.651 21.5069C157.955 21.5069 156.851 21.5309 155.147 21.5309C154.787 21.5309 153.299 21.5309 152.855 21.5069L152.843 21.6509C153.035 21.6749 153.287 21.7469 153.455 21.8309C153.647 21.9389 153.851 22.1069 153.983 22.3469C154.151 22.6229 154.223 22.9709 154.259 23.5469C154.283 24.1229 154.295 24.8909 154.295 25.7669V26.3789C154.295 26.8229 154.271 27.4709 154.247 27.8069C154.211 28.4069 154.115 28.8869 153.887 29.1989C153.659 29.4989 153.275 29.7269 153.011 29.7869Z" fill="#333230"/>
<defs>
<clipPath id="clip0_5775_2043">
<rect width="172.297" height="51" fill="white" transform="translate(15.3516)"/>
</clipPath>
</defs>
</svg>