  {{ 'moment.js' | asset_url | script_tag }}
  <script>
moment().startOf('hour').fromNow();
  </script>
<div class="section clearfix instagram">
    <div class="section-header section-header--small{% if settings.instagram_title_background_enable %} bgc{% endif %}">
      {% if settings.instagram_title.size > 0 %}
      <h2 class="section-header__title">
        <span>
        {% if settings.instagram_link != blank %}
          <a href="{{ settings.instagram_link }}" target="_blank">
        {% endif %}
        {{ settings.instagram_title }}
        {% if settings.instagram_link != blank %}
          </a>
        {% endif %}
          {% if settings.instagram_feed_icon %}<a href="{{ settings.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}
        </span>
        {% if settings.home_headings_dash %}<span class="dash"></span>{% endif %}
      </h2>
      {% endif %}
      
      <div class="ig_subline">
        Thoughtful and timeless collections inspired by nostalgia for California of decades past.
      </div>
      
      
      {% if settings.instagram_follow_text != blank  %}
      <p class="text-center landing__accent-font">
        {% if settings.instagram_link != blank %}
          <a href="{{ settings.instagram_link }}" target="_blank">
        {% endif %} 
            {{ settings.instagram_follow_text }}
        {% if settings.instagram_link != blank %}
          </a>
        {% endif %} 
      </p>
      {% endif %}
      
    </div>

    <div class="wrapper"> 
      <div class="yotpo-instagram-wrapper"> 
        <div
          class="yotpo yotpo-pictures-widget"
          data-gallery-id="61e9bd18b5d3604c2038db2e">
        </div> 
      </div>
    </div>
{% if settings.wrapper_instagram_photos_enable %}
<div class="wrapper">
{% endif %}    

    <div id="home-pixlee"></div>
    {% comment %} <div id="evm-instagram-feed"></div>  {% endcomment %}
    {% comment %} <script src="https://www.expertvillagemedia.com/instagramfeed/embed.js" data-shop-id="doen-2.myshopify.com"></script> {% endcomment %}

  	{% comment %} <div id="instafeed"></div>   {% endcomment %}
  	{% if settings.instagram_disclaimer_text.size > 0%}<div class="disclaimer">{{ settings.instagram_disclaimer_text }}</div>{% endif %}
{% if settings.wrapper_instagram_photos_enable %}
</div>
{% endif %}    
</div>
{% comment %} {{ 'instafeed.min.js' | asset_url | script_tag }} 
{% assign instafeed_template = '<a href="{{link}}"><div class="insta-square"><img class="lazy-img" data-src="{{image}}" /></div></a><p>{{caption}}</p>' %}
<script> 
    var feed = new Instafeed({
        get: 'user',
        userId: '{{ settings.instagram_user_id }}',
        clientId: '{{ settings.instagram_client_id }}',
        accessToken: '{{ settings.instagram_access_token }}',
      	limit: '{{ settings.instagram_count }}',
      	resolution: 'standard_resolution',
 		    template: '<div class="grid__item insta-post post-large--{{ settings.instagram_wide_size }} large--{{ settings.instagram_large_size }} medium--{{ settings.instagram_medium_size }} small--one-half">{{ instafeed_template }}</div>',
        after: function() {
          window.lazyLoadObservers();
        }
    });

    $(document).on('ready', function() {
      feed.run();
    });
</script>
 {% endcomment %}



<script type="text/javascript">
      window.PixleeAsyncInit = function() {
          Pixlee.init({apiKey:'sFQhdv9r5i3YtEhYw5tx'});
          console.warn('Pixlee Init');
          Pixlee.addProductWidget(
            {accountId:1396,
              widgetId: 1161160,
              ecomm_platform: "shopify",
              containerId:"home-pixlee"
            });
      }; 
</script>
<script type="text/javascript">
  function pixleeLoaded(event){
    if(event.data){
      try{
        var message = JSON.parse(event.data);
      } catch( error ){
        return;
      }
    } else {
      return;
    }

    console.log('Pixlee Message', message);

    if(message.name == "pixlee:widget:num:photos"){
      let photoCount = message.data.photoCount;
      console.warn('Pixlee Count', photoCount);
      if(photoCount > 0){
        $('.pixlee-header').removeClass('hide');
        $('#pix1, #pix2').parent().removeClass('invis');
      } else {
        $('#pix1, #pix2').parent().addCass('invis');
      }
    }
  }window.addEventListener("message", pixleeLoaded, false);
  
</script>
<script src="//assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script> 

