<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
(function() { 
  const submitKlaviyoBis = function(data) {
      console.log('Before Submit');
    const klaviyoData = {
            a: 'yKaaV9',
            email: data.email,
            platform: 'shopify',
            variant: data.variant
    }

    const params = {
        dataType: 'json',
        data: klaviyoData,
        error: (err) => {
            console.log('Klaviyo BIS Err', err);
        },
        success: (r) => {
            const msg = 'THANKS FOR SIGNING UP. WE WILL EMAIL YOU WHEN THIS BECOMES AVAILABLE.';
            console.log('Klaviyo BIS success', r);
            $(".modal-box, .modal-overlay").fadeOut(400, function() {
                $(".modal-overlay").remove();
            });
            
            $('.modal-box').fadeIn().delay(3000).fadeOut().text(msg);
        },
        type: 'POST',
        url: "https://a.klaviyo.com/onsite/components/back-in-stock/subscribe"
    }

    console.log('Entering Params');
    $.ajax(params).done(resp => {
        console.warn('BIS DONE', resp);
    });
  };

    $(document).on('click', '#notify_button', function(e) {
        console.log('Click Notify Me');
        e.preventDefault();
        const email = $('#notify_email').val();
        const variantId = $('#notify_select option:selected').val(); // rendered by Liquid
        const acceptsMarketing = $('#accepts_marketing').is(':checked');

        const send  =  {
            email: email,
            variant: variantId,
            marketing: acceptsMarketing
        }

        console.log('Submit Notification');
        submitKlaviyoBis(send);
    });

})();
</script>