<style>
	.loader,
	.loader:before,
	.loader:after {
	  background: #000000;
	  -webkit-animation: load1 1s infinite ease-in-out;
	  animation: load1 1s infinite ease-in-out;
	  width: 1em;
	  height: 4em;
	}
	.loader {
	  color: #000000;
	  text-indent: -9999em;
	  margin: 88px auto;
	  position: relative;
	  font-size: 7px;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
	.loader:before,
	.loader:after {
	  position: absolute;
	  top: 0;
	  content: '';
	}
	.loader:before {
	  left: -1.5em;
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	.loader:after {
	  left: 1.5em;
	}
	@-webkit-keyframes load1 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0;
	    height: 4em;
	  }
	  40% {
	    box-shadow: 0 -2em;
	    height: 5em;
	  }
	}
	@keyframes load1 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0;
	    height: 4em;
	  }
	  40% {
	    box-shadow: 0 -2em;
	    height: 5em;
	  }
	}
  
  .loader2{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
  
  .col{
   display: block; 
  }
#loader-4 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #000;
  margin: 35px 5px;
  opacity: 0;
}

#loader-4 span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

</style>{% comment %} 
<div class="loader">Loading...</div>

{% endcomment %}
      <div class="three col">
        <div class="loader2" id="loader-4">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>