<link href='https://pressify.s3.amazonaws.com/assets/bxslider/jquery.bxslider.css' rel='stylesheet' type='text/css'>
<script src="https://pressify.s3.amazonaws.com/assets/bxslider/jquery.bxslider.min.js"></script>
<style>
/* LOOKBOOK BX SLIDER */
  .lookbookslider{

  }
  .lookbookslider li{


  }

  .lookbook_inner{
    position: relative;
  }
  .lookbookslider li img{

      max-width: 100%;
      width: 100%;
      top: 0; left: 0;x
  }

  .collection_look_book_wrapper{ background: #eee; clear: both; padding: 10px 0px 10px 0px; }
  .lookbook_title{ font-style: italic; }
  #bx-pager a img{ max-width: 100px !important; }

  .lookbook_info {
      text-align: center;
      
      float: right;
      height: 200px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 300px;
      z-index: 99;
      padding: 20px;
      color: #fff;
      
  }
  .lookbook_info a h3, .lookbook_info a em{
    color: #fff;
      text-decoration: none !Important;
      font-size: 12px;
  }
  .lookbook_info a h4{
    color: #fff;
      font-family: Georgia, serif;
      font-size: 10px;
      font-style: italic;
      font-weight: normal;
  }
</style>
<script>
function go_shopify_product(handle){
  var product = '';

  $.ajax({
    url: '/products/'+handle+'.js',
    dataType: 'json',
    async: true,
    success: function(data) {
      product = data;
      if(product.images[0]){
        $('.product-'+handle).html('<img src="'+product.images[0]+'" />');
      }
    }
  });

  return product;
}
</script>
  <ul class="lookbookslider  lb_1">
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/5ARjvyo7SS8UWiLN75Ww" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/roman-silk-noil-dress"><div class="lb_product_img_small product-roman-silk-noil-dress"></div></a>
                    <script>
                      go_shopify_product('roman-silk-noil-dress');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/ENDJwnLxSaKuC4oYsjbT" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/cropped-sailor-jean"><div class="lb_product_img_small product-cropped-sailor-jean"></div></a>
                    <script>
                      go_shopify_product('cropped-sailor-jean');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/oqBUPGR1Tragac1woJNI" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/source-embroidered-gauze-top"><div class="lb_product_img_small product-source-embroidered-gauze-top"></div></a>
                    <script>
                      go_shopify_product('source-embroidered-gauze-top');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/737x55GiQ6SKfgSDD04F" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/colony-embroidered-gauze-dress-1"><div class="lb_product_img_small product-colony-embroidered-gauze-dress-1"></div></a>
                    <script>
                      go_shopify_product('colony-embroidered-gauze-dress-1');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/34hw1PGRdCZ6mYWWKMKt" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/quintana-silk-noil-column-dress"><div class="lb_product_img_small product-quintana-silk-noil-column-dress"></div></a>
                    <script>
                      go_shopify_product('quintana-silk-noil-column-dress');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/P6vYnH6jQfS4jWSYLgBw" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/colony-embroidered-gauze-dress"><div class="lb_product_img_small product-colony-embroidered-gauze-dress"></div></a>
                    <script>
                      go_shopify_product('colony-embroidered-gauze-dress');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/rvzEad9SuWRtarDKloff" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/source-embroidered-gauze-top-1"><div class="lb_product_img_small product-source-embroidered-gauze-top-1"></div></a>
                    <script>
                      go_shopify_product('source-embroidered-gauze-top-1');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/C1cZoeHiTD6TuelNvOol" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/source-embroidered-gauze-top-2"><div class="lb_product_img_small product-source-embroidered-gauze-top-2"></div></a>
                    <script>
                      go_shopify_product('source-embroidered-gauze-top-2');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/2jEBMAsKS6GV3JFw1s7h" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/yucca-embroidered-gauze-tie-top"><div class="lb_product_img_small product-yucca-embroidered-gauze-tie-top"></div></a>
                    <script>
                      go_shopify_product('yucca-embroidered-gauze-tie-top');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/bE3knqCVQkq1vupS7tHK" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/whipstitch-sweater"><div class="lb_product_img_small product-whipstitch-sweater"></div></a>
                    <script>
                      go_shopify_product('whipstitch-sweater');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/7Nt6mj6MRseI937wfghm" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/ynez-wide-leg-trouser"><div class="lb_product_img_small product-ynez-wide-leg-trouser"></div></a>
                    <script>
                      go_shopify_product('ynez-wide-leg-trouser');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/VzDiSSdlRGWnKBTOCuOl" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/idyllwild-poncho"><div class="lb_product_img_small product-idyllwild-poncho"></div></a>
                    <script>
                      go_shopify_product('idyllwild-poncho');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/jXVhKgrvSUqcIAlAsiYb" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/tate-silk-noil-tunic"><div class="lb_product_img_small product-tate-silk-noil-tunic"></div></a>
                    <script>
                      go_shopify_product('tate-silk-noil-tunic');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/SDas8ycVTXm43FmNO2oD" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/whipstitch-sweater-1"><div class="lb_product_img_small product-whipstitch-sweater-1"></div></a>
                    <script>
                      go_shopify_product('whipstitch-sweater-1');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/omhwnBaMQQObFTYA9byY" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/roman-silk-noil-dress-1"><div class="lb_product_img_small product-roman-silk-noil-dress-1"></div></a>
                    <script>
                      go_shopify_product('roman-silk-noil-dress-1');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/0Srvb3TIQeOhTKbu8ZAv" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/antibes-embriodered-voile-top"><div class="lb_product_img_small product-antibes-embriodered-voile-top"></div></a>
                    <script>
                      go_shopify_product('antibes-embriodered-voile-top');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/EJilZOOQMyRv8xo0zVgq" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/darjeeling-top"><div class="lb_product_img_small product-darjeeling-top"></div></a>
                    <script>
                      go_shopify_product('darjeeling-top');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/SXjqGKXOSJONcqckm3Ec" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/tate-silk-noil-tunic-1"><div class="lb_product_img_small product-tate-silk-noil-tunic-1"></div></a>
                    <script>
                      go_shopify_product('tate-silk-noil-tunic-1');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/AHd41DaMS6Kx3JZMZfIe" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/marche-dress-1"><div class="lb_product_img_small product-marche-dress-1"></div></a>
                    <script>
                      go_shopify_product('marche-dress-1');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/w3xglFc1Rir9N9lUKVbO" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/goa-jumpsuit"><div class="lb_product_img_small product-goa-jumpsuit"></div></a>
                    <script>
                      go_shopify_product('goa-jumpsuit');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/mMhvFjCtTge7AtL3g2zQ" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/tulsi-dress"><div class="lb_product_img_small product-tulsi-dress"></div></a>
                    <script>
                      go_shopify_product('tulsi-dress');
                    </script>
              </div>
             </div>
          </li>
          <li>
           	<div class="lookbook_inner">
              <img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:1500/https://www.filepicker.io/api/file/18U46cEcRVmVClVdNWcY" />
              <div class="lookbook_info">
                  <h4></h4>
                  <p></p>
                    <a href="/products/provence-embroidered-voile-dress"><div class="lb_product_img_small product-provence-embroidered-voile-dress"></div></a>
                    <script>
                      go_shopify_product('provence-embroidered-voile-dress');
                    </script>
              </div>
             </div>
          </li>
</ul>
<div id="bx-pager">
    <a data-slide-index="0" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/5ARjvyo7SS8UWiLN75Ww" /></a>
    <a data-slide-index="1" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/ENDJwnLxSaKuC4oYsjbT" /></a>
    <a data-slide-index="2" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/oqBUPGR1Tragac1woJNI" /></a>
    <a data-slide-index="3" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/737x55GiQ6SKfgSDD04F" /></a>
    <a data-slide-index="4" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/34hw1PGRdCZ6mYWWKMKt" /></a>
    <a data-slide-index="5" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/P6vYnH6jQfS4jWSYLgBw" /></a>
    <a data-slide-index="6" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/rvzEad9SuWRtarDKloff" /></a>
    <a data-slide-index="7" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/C1cZoeHiTD6TuelNvOol" /></a>
    <a data-slide-index="8" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/2jEBMAsKS6GV3JFw1s7h" /></a>
    <a data-slide-index="9" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/bE3knqCVQkq1vupS7tHK" /></a>
    <a data-slide-index="10" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/7Nt6mj6MRseI937wfghm" /></a>
    <a data-slide-index="11" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/VzDiSSdlRGWnKBTOCuOl" /></a>
    <a data-slide-index="12" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/jXVhKgrvSUqcIAlAsiYb" /></a>
    <a data-slide-index="13" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/SDas8ycVTXm43FmNO2oD" /></a>
    <a data-slide-index="14" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/omhwnBaMQQObFTYA9byY" /></a>
    <a data-slide-index="15" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/0Srvb3TIQeOhTKbu8ZAv" /></a>
    <a data-slide-index="16" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/EJilZOOQMyRv8xo0zVgq" /></a>
    <a data-slide-index="17" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/SXjqGKXOSJONcqckm3Ec" /></a>
    <a data-slide-index="18" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/AHd41DaMS6Kx3JZMZfIe" /></a>
    <a data-slide-index="19" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/w3xglFc1Rir9N9lUKVbO" /></a>
    <a data-slide-index="20" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/mMhvFjCtTge7AtL3g2zQ" /></a>
    <a data-slide-index="21" href=""><img src="https://process.filepicker.io/AevbsiaW2SbOjYpq8ea4Az/resize=width:100/https://www.filepicker.io/api/file/18U46cEcRVmVClVdNWcY" /></a>
</div>
<script>
  jQuery(window).load(function(){
	jQuery('.lookbookslider').bxSlider({
    pagerCustom: '#bx-pager',
    adaptiveHeight: true
  });
});
</script>


