<div class="flexslider lookbook">
  
<div class="flex-viewport" style="overflow: hidden; position: relative; height: 605px;"><ul class="slides" style="width: 1600%; transition-duration: 0.5s; transform: translate3d(-2790px, 0px, 0px);">
	
	<li class="clone" aria-hidden="true" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_6.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
    
      
      
      
      
      
      
      
      
        <li class="" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_1.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#ffffff;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
      
    
      
      
      
      
      
      
      
      
        <li style="width: 930px; float: left; display: block;" class="">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_2.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
      
    
      
      
      
      
      
      
      
      
        <li style="width: 930px; float: left; display: block;" class="flex-active-slide">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_3.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
      
    
      
      
      
      
      
      
      
      
        <li style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_4.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
      
    
      
      
      
      
      
      
      
      
        <li style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_5.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
      
    
      
      
      
      
      
      
      
      
        <li style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_6.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#000000;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
      
    
  <li class="clone" aria-hidden="true" style="width: 930px; float: left; display: block;">
          <a href="http://shopdoen.com/collections/spring-16-lookbook" class="slide-link">
            <img src="//cdn.shopify.com/s/files/1/0950/9820/t/2/assets/slide2_1.jpg?17932615900374092907" alt="" draggable="false">
            <div class="slide-text" style="color:#ffffff;">
              <div class="heading"><h1></h1></div>
          		<div class="text"></div>      
            </div>
          </a>
        </li>
        
        </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>