        <link href='//pressify.s3.amazonaws.com/assets/fancybox/source/jquery.fancybox.css' rel='stylesheet' type='text/css'>
        <script src="//pressify.s3.amazonaws.com/assets/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>
        <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
        <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <div class="lookbook_details" style=""></div>
        <script>

          jQuery(document).ready(function(){

            // app domain
            //var appDomain = 'http://lookbooks.herokuapp.com';
            var appDomain = 'http://lookbooks-herokuapp-com.global.ssl.fastly.net';

            // default vars to load the correct gallery
            {% if product.id %}
            	var product_id = {{ product.id }};
            {% else %}
            	var product_id = 0;
            {% endif %}

            {% if page.id %}
            	var page_id = {{ page.id }};
            {% else %}
            	var page_id = 0;
            {% endif %}

            {% if collection.id %}
            	var collection_id = {{ collection.id }};
            {% else %}
            	var collection_id = 0;
            {% endif %}


            var randomNumber  = (Math.random()*1000000);
			var url = appDomain + '/lookbooks/get/?collection_id='+collection_id+'&product_id='+product_id+'&page_id='+page_id+'&shop_url={{shop.permanent_domain}}&v=3.0&gallery_type=6&x='+randomNumber;
            console.log(appDomain + '/lookbooks/get/?collection_id='+collection_id+'&product_id='+product_id+'&page_id='+page_id+'&shop_url={{shop.permanent_domain}}&v=3.0&x='+randomNumber);
            $.ajax({
                url: url,
                cache: false,
                dataType: "html",
                success: function(data) {
                    $(".lookbook_details").html(data);
                }
            });  


         
          }); // end on document ready


        </script>
      
      