<div class="container mini-cart">
<div class="mini_cart quickview-mini">
  {% if settings.mini_cart_top %}
  <div class="top">
    {{ 'cart.general.title' | t }} <span class="count">{{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}</span>
  </div>
  {% endif %}
  {% if settings.enable_calculator %}
  <style>
  .shipping_calculator{
    text-align: center;
    padding: 5px 0px;
  }

  .shipping_msg{
    margin-bottom: 15px;
  }

  .shipping_msg span{
    font-size: 10px;
    color: black;
  }

  .shipping_bar{
    position: relative;
    width: 75%;
    margin: 10px auto 10px auto;
    border: 1px solid #b2b2b2;
    overflow: hidden;
    height: 15px;
    background: #f9f9f9;
  }

  .shipping_progress{
    position: absolute;
    top: -1px;
    bottom: -1px;
    width: 50%;
    left: -1px !important;
    background: #b2b2b2;
    border: 0px solid black;
  }

  .shipping_code{
    display: none;
  }

  .shipping_msg.full + .shipping_code{
    display: block;
  }

  .shipping_msg.full + .shipping_bar{
    display: none;
  }




  </style>
  <script>
    window.theme = window.theme || {};
    window.theme['shippingStandards'] = window.theme['shippingStandards'] || {};
    window.theme.shippingStandards.domestic_threshold = {{ settings.domestic_threshold }};
    window.theme.shippingStandards.cart_total = {{ cart.total_price }};
    window.theme.shippingStandards.message = "{{ settings.msg }}";
    window.theme.shippingStandards.free_message = "{{ settings.free_msg }}";
  </script>{% assign domesticThreshold = settings.domestic_threshold %}
  <div class="shipping_calculator" data-difference="{{ domesticThreshold | minus: cart.total_price }}">
    <div class="shipping_msg"></div>
    <div class="shipping_bar"><div class="shipping_progress"></div></div>
  </div>
  {% endif %}
  <div class="items"> 
    {% for item in cart.items %}
   <div class="item"> 
      <div class="image">
        <a href="{{ item.product.url }}">
          <img class="cartimage wip" src="{{ item.product.featured_image | product_img_url: 'medium' }}"  alt="{{ item.product.title }}" />
        </a>
      </div>
                      
      <div class="details">
          {% assign word = item.product.title | split: '/' %}
          {% assign variantT = item.variant.option1 | downcase %}
          <span class="title bold">{{ word.first }}</span>
          {{ word[1] }}<br/><br>
        {%- liquid 
            assign optionIndex = 'null'
            for option in item.options_with_values
              if option.name == 'size' or option.name == 'Size' or option.name == 'SIZE'
                assign optionIndex = 'option' | append: forloop.index
              endif
            endfor
        -%}
          <span data-index="{{ optionIndex }}" class="size options {% if item.product.has_only_default_variant %}hide{% endif %}">
            {% if settings.mini_cart_labels %}Size:{% endif %} {{ item.variant[optionIndex] }}
          </span>        
          <span class="quantity options">{% if settings.mini_cart_labels %}Qty:{% endif %} {{ item.quantity }}</span>
          <span class="price options">{% if item.price == 0 %}FREE GIFT{% else %} {% if settings.mini_cart_labels %}Price:{% endif %} {{ item.price | money }}{% endif %}</span>
      </div>
    <div class="clearfix"></div>
   </div> 
    {% endfor %}  
  </div>
    <div class="bottom">
    	<div class="view">Subtotal</div>
      	<div class="subtotal">{{ cart.total_price | money}}</div>
      <div class="mini_cart_btns">
        <a href="/cart" class="mini_cart_btn">Checkout</a><br />
        <a href="/collections/all" class="mini_cart_close">Continue Shopping</a>
      </div>
    </div>
  
</div>
</div>
