

<div class="mobile-promo wip-topbar beforeTablet--show"  style="font-size: 5px;">
  <span><a href="{{ settings.top_bar_promo_url }}">{% if settings.wip_bar_text_mobile == blank %}{{ settings.wip_bar_text  }}{% else %}{{ settings.wip_bar_text_mobile }}{% endif %}</a></span>
</div>