{% comment %}
<form id="email_signup_footer" class=" klaviyo_bare_embed_wivr3u" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="wivr3u">
  <div class="klaviyo_field_group">
    <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button"><i class="fa fa-envelope"></i></button>
  </div>
</form>
{% endcomment %}

<div class="footer-form__wrapper">
  <div class="klaviyo-form-WgPbJ8"></div>
</div>


<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script>
(function(){
  // Adapt form

  function start() {
    const $wrapper = document.querySelector('.footer-form__wrapper');

    const $form = $wrapper.querySelector('form');

    if(!$form) {
      return setTimeout(start, 500);
    } 

    const $btn = $form.querySelector('button');
    const $contentWrapper = $form.querySelector('div[data-testid="form-row"]');
    const $email = $form.querySelector('input[type="email"][name="email"]');
    const $alert = $form.querySelector('[class*="ValidationMessage"]');

    // Button adjustments
    $btn.textContent = '';
    $btn.innerHTML = `
      <i class="fa fa-envelope"></i>
    `;
    $btn.id = 'footer-form__submit';

    // Input Adjustments
    $email.id = 'footer-form__email';

    $contentWrapper.id = 'footer-form__content-wrapper';
    $alert.style.display = 'none';
 
    console.log('got Form', $form, $btn, $email);
  }

  start();
})();
</script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup_footer', {
    hide_form_on_success: true,
    success: function ($email_signup_footer) {
	ga('send', 'event', 'Acquisition', 'Newsletter Sign Up', 'Footer');
    }
  });
</script>

