{% assign noIndex = false %}
{% assign tagExlusions = 'hide,hidden,Flash Sale,coming-soon' | split: ',' %}
{% comment %} Auto Hide Block {% endcomment %}
{% assign skipper = false %}
{% assign productTags = product | map: 'tags' | join: ',' %}
{% for exclusion in tagExlusions %}
  {% if productTags contains exclusion %}{% assign skipper = true %}{% endif %}      
{% endfor %}
{% if olderThanYear and product.available == false %}
	{% assign noIndex = true %}
{% endif %}
{% if skipper %}
	{% assign noIndex = true %}
{% endif %}

{% if noIndex %}
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
{% endif %}