 {{ 'jquery.newcookie.js' | asset_url | script_tag }}
<script>
  (function($){
    // Private Variables
    let $containerA, success, $containerB, $main, $bothContainers, $activeContainer, $exit, $form;
    
    $containerA = $('.newsletter-container.v-a');
    $containerB = $('.newsletter-container.v-b');
    $bothContainers = $('.newsletter-container');
    $exit = $('.float-x');
    $form = $('.popup-collector form');
    success = false;
    
    
    
    // Private Functions
    let isMobile, displayWindow, getActive, additionalTitles, init, gaSend, closer, clickHandler, shuffleSelect, detectCookie, setCookie, formHandler, successDisplay, parseCookie;
    
    isMobile = function(){
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    }
    
    getActive = function(){
      let active = null;
      
      if( $activeContainer.is($containerA) ){
        	active = 'A';
      }else if( $activeContainer.is($containerB) ){
        	active = 'B';
      }
      
      return active;
    }
    
    additionalTitles = function (){
      	$main = $activeContainer.find('.main_popup');
     	var title = $main.attr('title');
      	var titler = ( (title) ? title : '' );
      	let $additionals = $activeContainer.find('.ga-attr');
      
      $additionals.each(function(){
      		let text = $(this).text().trim();
        
        	titler = titler + ' ' + text;
      });
      	
      
      	return titler;
    }
    
    shuffleSelect = function(array){
      let chosen = Math.random() < 0.5 ? $containerA : $containerB;
      return chosen;
    }
    
    const selection = shuffleSelect($bothContainers);
    
    gaSend = function(eventAction, eventLabel){
      	let variant = eventAction;
      	let combine = additionalTitles();
      	
      console.log(combine);
     setTimeout(function(){
      	ga('send', {
            hitType: 'event',
            eventCategory: 'Pop Up Window (A/B Test)',
            eventAction: combine,
            eventLabel: eventLabel
          });
      }, 100);     
    }
    
    displayWindow = function(){
      adjustForm();
      
      $(window).on('scroll',function(e){
        if($(window).scrollTop() > 10 && $('.main_popup').length > 0 ) {
          const lazyImages = selection.find('.lazy-img');
            
           selection.addClass('activeWindow');
           lazyImages.each(function(index, img) {
            window.lazyLoadImage(img);
           });

          $activeContainer = selection;

            if( selection.is($containerA) ){
                  gaSend(getActive(), 'View');
            }else if( selection.is($containerB) ){
                  gaSend(getActive(), 'View');
            }
        additionalTitles();
        }
      });
      	 
        
      
    }
    
    
    parseCookie = function(cookie){
      	let cookieJson = JSON.parse(cookie);
      
      	return cookieJson.action;
    }
    

    
    detectCookie = function(){
     	let standardCookie = Cookies.get('doen');
      	let action = ( (standardCookie) ? parseCookie(standardCookie) : 'empty' );

      	return action;
    }
    
    setCookie = function(action){
      Cookies.set('doen', { action: action },  { expires: 275 });
    }

    const adjustForm = function() {
      const $form = selection[0].querySelector('.klaviyo-form');

      if(!$form) {
        return setTimeout(adjustForm, 500);
      }

    const $btn = $form.querySelector('button');
    const $contentWrapper = $form.querySelector('div[data-testid="form-row"]');
    const $email = $form.querySelector('input[type="email"]');

      console.log('Adjust Popup Form', $form, $btn);
    if(!$btn || !$email) { 
        return setTimeout(adjustForm, 500);
    }

    $form.style.width = '100%';
    $btn.id = 'popup-submit-btn';

    $email.id = 'popup-email';

      console.log('Adjust Popup Form', $form, $btn);
    };
    
    init = function() {
      if (!_learnq.identify) { 
        // If klaviyo identify function is not ready yet, restart the function.
        setTimeout(function() {
          init();
        }, 750);
        return;
      }
      // let googleCookie = Cookies.get();
      let force = $('.main_popup[data-force="true"]');
      let klaviyoEmail = _learnq.identify().$email;

      if (klaviyoEmail) {
        // Already Registered. Do not show popup.
        console.warn('Klaviyo Email', klaviyoEmail);
        {% comment %} return; {% endcomment %}
      }

      
      
      if(force.length > 0){
        Cookies.remove('doen');
      }
      
      // Cookies.remove('doen');
      console.log('Cookie Check Init');
      
      let cookie = detectCookie();
      console.log(cookie);
      
      if(cookie == 'empty' ){
        displayWindow(); 
      }else if( cookie == 'closed' ){
        	// show secondary window
      }else{
      		// do nothing because previously submitted.          
      }
     	
    }
    
    closer = function(string){
      
      if($activeContainer.is($containerA) && !success ){
        	gaSend(getActive(), 'Close');
      }else if($activeContainer.is($containerB) && !success ){
        	gaSend(getActive(), 'Close');
      }
      $bothContainers.removeClass('activeWindow');
      setCookie(string);

    }
    
    clickHandler = function(evt){
      	let target = $(evt.target);
      	
      if(target.is($exit) ){
        let checkAction = $main.hasClass('submitted');	
        let action = ( (checkAction) ? 'submitted' : 'closed' );
        	closer(action);
        	$('.main_popup').remove();
      }
    }
    
    successDisplay = function(){
      let h1 = $('<h1>', { class: 'popup-success' });
      h1.text('Thank you for Subscribing');
      let children = $main.children().not('.email_exit');
      
      children.hide();
      $main.addClass('submitted');
      $main.append(h1);
      if($activeContainer.is($containerA)){
        console.log('a submit');	
        gaSend(getActive(), 'Submit');
      }else if( $activeContainer.is($containerB) ){
        	gaSend(getActive(), 'Submit');
        	console.log('b submit');
      }
      success = true;
      
      setTimeout(function(){
      	$exit.click();
      }, 5000);
    }
    
    formHandler = function(evt){
      	// successDisplay();
    }
    
    $bothContainers.on('click', clickHandler);
    $form.on('submit', formHandler);
    
        KlaviyoSubscribe.attachToForms('#email_signup_window', {
          hide_form_on_success: true,
          success: function ($form){
           		successDisplay(); 
          }
        });
    
       KlaviyoSubscribe.attachToForms('#email_signup_window_b', {
          hide_form_on_success: true,
          success: function ($form){
           		successDisplay(); 
          }
        });
    
      if( !isMobile() || isMobile() ) {
        $(document).ready(function(){
          init(); 
        });
      }
  })(jQuery);
</script>