{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% comment %} 
{% assign isPreorder = false %}
{% assign preorderSoldOutCount = product.variants | size %}
{% assign allPTags = product.tags | join: ',' | downcase | split: ',' %}
{% assign preorderTags = '' %}

{% for tag in allPTags %}
  {% if tag contains 'preorder' %}
    {% assign relevent = tag | split: 'preorder size:' | last %}
    {% assign preorderTags = preorderTags | append: relevent | append: ',' %}	
    {% assign isPreorder = true %}
  {% endif %}
{% endfor %}{% assign preorderTags = preorderTags | split: ',' %} {% endcomment %}

{% assign preorderActive = false %}
{% for variant in product.variants %}
  {% assign preorderLimit = variant.metafields.preorder.limit %}
  {% if preorderLimit and preorderLimit > 0 and variant.inventory_quantity < 1 %}
    {% assign preorderActive = true %}
  {% endif %}
  {% assign currentSize = variant.option1 | downcase %}
  {% for stat in preorderTags %}
    {% assign statSize = stat | split: 'limit' | first | strip %}
    {% if statSize == currentSize %}
      {% assign limitHere = stat | split: ' ' | last | split: ':' | last %}
      {% assign negativeLimit = limitHere | times: -1 %}
      {%- if variant.available == false or negativeLimit >= variant.inventory_quantity -%}
        {% assign preorderSoldOutCount = preorderSoldOutCount | minus: 1 %}
      {%- endif -%}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign sizer = product.id | size %} 
{% unless sizer == 0 %} 
<div data-test="{{ preorderActive }}" {% if preorderActive %}data-pa="preorder"{% endif %} id="product-{{ product.id }}" class="position-relative grid__item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
 
   {% assign productTagsxxx = product.tags | join:',' %}

  {% if productTagsxxx contains 'room to read' %}
  
  <div class="room-to-read-badge">
    <div class="vertical-center">
      <img src="{{ 'noun_485185.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
      proceeds benefit girls education
       </div>
     </div>
  {% endif %}
  


  {% if productTagsxxx contains 'blmla' %}
  
  <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px; font-size: 6px; line-height: 1.7;">
    <div class="vertical-center">
     PROCEEDS BENEFIT BLMLA
       </div>
     </div>
  {% endif %}


  {% if productTagsxxx contains 'limited edition' %}
  
  <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;">
    <div class="vertical-center">
     
      limited edition
       </div>
     </div>
  {% endif %}

  {% if product.tags contains 'handknit' %}
  
  <div class="room-to-read-badge limited-edition" style="">
    <div class="vertical-center">
        <img src="{{ 'handknit-badge.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
        Handknit Collection
       </div>
     </div>
  {% endif %}
  
  
  
  {% if product.available == false or preorderSoldOutCount == 0 %}
  
  
  
 <a href="{{ product.url | within: collection }}" class="grid-link{% if settings.collections_center_grid_link %} text-center{% endif %}" data-product-id="{{ product.id }}" data-page="{{ current_page }}">
   
   <div class="soldoutindicator">
     <div class="soldoutinner">SOLD OUT
     </div>
   </div>
   
   <span class="grid-link__image grid-link__image--product" style="opacity:0.4;">
      {% if on_sale and settings.collections_show_sale_circle %}
        <span class="badge badge--sale">
          <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
      {% endif %}
      {% if sold_out and settings.collections_show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
        {% assign allAlts = product.images | map: 'alt' | join: ',' | downcase %}

      <span class="grid-link__image-centered" data-all="{{ allAlts }}">
        {% assign mobileImage = product.featured_image.src | img_url: '1024x1024' %}
        {% assign mainImage = product.featured_image.src | img_url: '1024x1024' %}
        {% if allAlts contains 'featured' %}
          {%- for image in product.images -%}
        	{%- unless image.alt contains 'featured' -%}{%- continue -%}{%- endunless -%}
            {%- if image.alt contains 'featured' -%}
              {% assign mainImage = image | img_url: '1024x1024' %}
       		  {% assign mobileImage = image | img_url: '1024x1024' %}
              {% break %}
            {%- endif -%}
          {%- endfor -%}        
        {% endif %}
        {% if allAlts contains 'mobile-hero' %}
          {%- for image in product.images -%}
            {%- unless image.alt contains 'mobile-hero' -%}{%- continue -%}{%- endunless -%}
            {% assign mobileImage = image | img_url: '1024x1024' %}
            {% break %}
          {%- endfor -%}
        
        {% endif %}
                
        <img data-src="{{ mainImage }}" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"  alt="{{ product.featured_image.alt | escape }}" class="desktop-image lazy-img">
        <img data-src="{{ mobileImage }}" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"   alt="{{ product.featured_image.alt | escape }}" class="mobile-image lazy-img">

      </span>
    </span>
    <span class="product-info{% if settings.collections_info_inside %} inside{% endif %}">
    {% if settings.collections_vendor_enable %}
      <p class="grid-link__title grid-link__vendor">{{ product.vendor }}</p>
    {% endif %}
    <p class="grid-link__title">{{ product.title | split: '--' | first }}</p>
    {% if productTagsxxx contains 'Liberty' or productTagsxxx contains 'liberty' %}
    <p class="liberty-tag">Made with liberty fabric</p>
    {% endif %}
    {% if settings.collections_variant1_enable %}
      <p class="grid-link__variant">{{ product.variants.first.option1 }}</p>
    {% endif %}   
    {% if settings.collections_variant2_enable %}
      <p class="grid-link__variant">{{ product.variants.first.option2 }}</p>
    {% endif %}    
    <p class="grid-link__meta {% if product.type == 'Gift Card' %}hide{% endif %}">
      {% capture price %}{{ product.price | money }}{% endcapture %}
      {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
      
      {% if on_sale %}
      <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
      {% endif %}
    </p> 
    {% if preorderActive %}
     <p class="pre-order-note">PRE-ORDER</p>
     {% endif %}
    </span>
  </a>
  
  
  
  
  {% else %}
 
  {% assign currentStock = 0 %}
  {% if preorderActive %}
  	{% for variant in product.variants %}
		{% assign currentStock = currentStock | plus: variant.inventory_quantity %}  
  	{% endfor %}
  {% endif %}
  
  
  <a href="{{ product.url | within: collection }}" data-thisblock="showing" class="grid-link{% if settings.collections_center_grid_link %} text-center{% endif %}" data-product-id="{{ product.id }}" data-page="{{ current_page }}">
    <span class="grid-link__image grid-link__image--product">
      {% if on_sale and settings.collections_show_sale_circle %}
        <span class="badge badge--sale">
          <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
      {% endif %}
      {% if sold_out and settings.collections_show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
        {% assign allAlts = product.images | map: 'alt' | join: ',' | downcase %}

      <span class="grid-link__image-centered">
        {% assign mobileImage = product.featured_image.src | img_url: '1024x1024' %}

        {% assign desktopSize = 'x700' %}
        {% assign gridPosition = forloop.index | modulo: 5 %}
        {% if gridPosition == 1 or gridPosition == 2%}
          {% assign desktopSize = 'x700' %}
        {% endif %}

        {% assign mainImage = product.featured_image.src | img_url: desktopSize %}
        {% if allAlts contains 'featured' %}
          {%- for image in product.images -%}
            {% if image.alt contains 'featured' %}
              {% assign mainImage = image | img_url: desktopSize %}
              {% assign mobileImage = image | img_url: '1024x1024' %}
              {% break %}
            {% endif %}
          {%- endfor -%}
        {% endif %}
        {% if allAlts contains 'mobile-hero' %}
          {%- for image in product.images -%}
            {%- unless image.alt contains 'mobile-hero' -%}{%- continue -%}{%- endunless -%}
            {% assign mobileImage = image | img_url: '1024x1024' %}
            {% break %}
          {%- endfor -%}
        {% endif %}

        <img data-index="{{ forloop.index | modulo: 5 }}" data-src="{{ mainImage }}" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" alt="{{ product.featured_image.alt | escape }}" class="desktop-image lazy-img">
        <img data-src="{{ mobileImage }}" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"  alt="{{ product.featured_image.alt | escape }}" class="mobile-image lazy-img">

      </span>
    </span>
    <span class="product-info{% if settings.collections_info_inside %} inside{% endif %}">
    {% if settings.collections_vendor_enable %}
      <p class="grid-link__title grid-link__vendor">{{ product.vendor }}</p>
    {% endif %}
    <p class="grid-link__title">{{ product.title | split: '--' | first }}</p>
    {% if productTagsxxx contains 'Liberty' or productTagsxxx contains 'liberty' %}
    <p class="liberty-tag">Made with liberty fabric</p>
    {% endif %}
    
    {% if settings.collections_variant1_enable %} 
      <p class="grid-link__variant">{{ product.variants.first.option1 }}</p>
    {% endif %}   
    {% if settings.collections_variant2_enable %}
      <p class="grid-link__variant">{{ product.variants.first.option2 }}</p>
    {% endif %}   
    <p class="grid-link__meta {% if product.type == 'Gift Card' %}hide{% endif %}">
      {% capture price %}{{ product.price | money }}{% endcapture %}
      {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
       
      {% if on_sale %}
      <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
      {% endif %}
    </p>
      {% if preorderActive and currentStock <= 0 %}
        <p class="pre-order-note">PRE-ORDER</p>
      {% endif %}
      <p class="pre-order-note available-in no-mobile {% if product.type == 'Gift Card' %}hide{% endif %}">AVAILABLE IN</p>
      {%comment%}
      product size availability
      {%endcomment%}
      {% assign sizePosition = product.options_by_name['Size'].position %}
      {% assign sizeKey = 'option' | append: sizePosition %}
      {% assign sizes = '' %}
	  {% assign allPTags = product.tags | join: ',' | downcase | split: ',' %}
      {% assign preorderTags = '' %}
      {% for tag in allPTags %}
      	{% if tag contains 'preorder' %}
      		{% assign relevent = tag | split: 'preorder size:' | last %}
      		{% assign preorderTags = preorderTags | append: relevent | append: ',' %}	
      	{% endif %}
      {% endfor %}{% assign preorderTags = preorderTags | split: ',' %}
      {% for variant in product.variants %}
      {% if variant.available %}
      {% assign sizes = sizes | append: variant[sizeKey] | append: ' ' %}
      {% endif %}
      {% endfor %}
      {% assign sizesArr = sizes | split: ' ' | uniq %}
		
      {% assign shownOptions = '' %}
        <div data-position="{{ sizeKey }}" class="no-mobile product-sizes {% if product.type == 'Gift Card' %}hide{% endif %}" data-showing="yes">
          {% for variant in product.variants %}
            {% assign preorderLimit = variant.metafields.preorder.limit %}
            {% assign negativeLimit = preorderLimit | times: -1 %}
          	{% assign tempOptions = shownOptions | split: ',' %}
          	{% assign sizeSkip = false %}
          	{% for opt in tempOptions %}
          		{% if variant.option1 == opt %}{% assign sizeSkip = true %}{% endif %}
          	{% endfor %}
          	{% if sizeSkip %}{% continue %}{% endif %}
            {% assign shownOptions = shownOptions | append: variant[sizeKey] | append: ',' %}


          <div class="product-grid-rollover-container rollover-wrapper-size {% if variant.available == false or negativeLimit >= variant.inventory_quantity %}product-grid-rollover-soldout{% endif %}" data-available="{{ variant.available }}" data-limits="{{ variant.inventory_quantity }}" data-then="{{ negativeLimit }}">
            <span class="product-grid-rollover-size {% if variant.available == false or negativeLimit >= variant.inventory_quantity %}product-grid-rollover-soldout{% endif %}" >{{ variant[sizeKey] }}</span>
          </div>
          {% endfor%}     
        </div>

      {%comment%}
      end product size availability
      {%endcomment%}
    </span>
  </a>
  
  {% endif %}
</div>
{% endunless %}
