{% if product123.tags contains 'hidden' or product123.tags contains 'Flash Sale' %}
 {% assign product_hide_exclusions = true %}
{% else %}
 {% assign product_hide_exclusions = false %}
{% endif %}
 