{% assign standardShippingDate = blank %}
{%- for tag in product.tags -%}
    {% assign lowercaseTag = tag | downcase %}
    {%- if lowercaseTag contains 'expected-ship-date:' -%}
        {% assign standardShippingDate = tag | split: ':' | last %}
        {% break %}
    {%- endif -%}
{%- endfor -%}

{% unless noScript %}
<script type="text" data-product-full>
{% endunless %}
{
	"id": {{ product.id | json }},
	"title": {{ product.title | json }},
	"handle": {{ product.handle | json }},
	"description": {{ product.description | json }},
	"published_at": {{ product.published_at | json }},
	"created_at": {{ product.created_at | json }},
	"vendor": {{ product.vendor | json }},
	"type": {{ product.type | json }},
	"tags": {{ product.tags | json }},
	"price": {{ product.price | json }},
	"price_min": {{ product.price_min | json }},
	"price_max": {{ product.price_max | json }},
	"available": {{ product.available | json }},
	"price_varies": {{ product.price_varies | json }},
	"compare_at_price": {{ product.compare_at_price | json }},
	"compare_at_price_min": {{ product.compare_at_price_min | json }},
	"compare_at_price_max": {{ product.compare_at_price_max | json }},
	"compare_at_price_varies": {{ product.compare_at_price_varies | json }},
    "expected_ship_date": {%- if product.metafields.preorder.expected_date -%}{{ product.metafields.preorder.expected_date | json }}{%- elsif standardShippingDate != blank -%}{{ standardShippingDate | json }}{%- else -%}null{%- endif -%},
    "special_ship_date": {% if standardShippingDate != blank %}true{% else %}false{% endif %},
    "metafields": {{ product.metafields | json }},
	"variants": [ {%- for variant in product.variants -%}
        { 
            "id": {{ variant.id | json }},
            "title": {{ variant.title | json }},
            "option1": {{ variant.option1 | json }},
            "option2": {{ variant.option2 | json }},
            "option3": {{ variant.option3 | json }},
            "sku": {{ variant.sku | json }},
            "requires_shipping": {{ variant.requires_shipping | json }},
            "taxable": {{ variant.taxable | json }},
            "featured_image": {{ variant.featured_image | json }},
            "available": {{ variant.available | json }},
            "name": {{ variant.name | json }},
            "public_title": {{ variant.title | json }},
            "options": {{ variant.options | json }},
            "price": {{ variant.price | json }},
            "weight": {{ variant.weight  | json }},
            "compare_at_price": {{ variant.compare_at_price | json }},
            "inventory_quantity": {{ variant.inventory_quantity | json }},
            "inventory_management": {{ variant.inventory_management | json }},
            "inventory_policy": {{ variant.inventory_policy | json }},
            "barcode": {{ variant.barcode | json }},
            "preorder": {
                "limit": {{ variant.metafields.preorder.limit | default: 0 | json }},
                "expected_date": {{ variant.metafields.preorder.expected_date | json }}
            }
        } {% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    ],
	"images": {{ product.images | json }},
	"featured_image": {{ product.featured_image | json }},
	"options": {{ product.options | json }},
	"content": {{ product.content | json }}
}
{% unless noScript %}
</script>
{% endunless %}