{% assign standardShippingDate = blank %}
{%- for tag in product.tags -%}
    {% assign lowercaseTag = tag | downcase %}
    {%- if lowercaseTag contains 'expected-ship-date:' -%}
        {% assign standardShippingDate = tag | split: ':' | last %}
        {% break %}
    {%- endif -%}
{%- endfor -%}

{
	"id": {{ product.id | json }},
    "autoHideTags": {{ settings.store_autohide_tags | split: ',' | json }},
    "doenAvailable": {% include 'autohide-inline' with product%}{% if skipper or skipThisProduct %}false{% else %}true{% endif %},
    "age": {{ diffDays | json }},
    "totalInv": {{ productInventory | json }},
	{% if collection %}
    "current_collection": {
        "url": {{ collection.url | json }},
        "title": {{ collection.title | json }}
    },
    {% endif %} 
	"title": {{ product.title | split: '--' | first | json }},
    "color": {{ product.title | split: '--' | last | json }},
	"handle": {{ product.handle | json }},
    "url": {{ product.url | json }},
	"description": {{ product.description | json }}, 
    "description_meta": {{ page_description | escape | json }},
	"published_at": {{ product.published_at | json }},
	"created_at": {{ product.created_at | json }},
	"vendor": {{ product.vendor | json }},
	"type": {{ product.type | json }},
	"tags": {{ product.tags | json }},
    "roomToRead": {% if productTagsxxx contains 'room to read' %}true{% else %}false{% endif %},
	"handKnit": {% if productTagsxxx contains 'handknit' %}true{% else %}false{% endif %},
	"limitedEdition": {% if productTagsxxx contains 'limited edition' %}true{% else %}false{% endif %},
	"blmBadge": {% if productTagsxxx contains 'blmla' %}true{% else %}false{% endif %},
    "video_enabled": {% if product.tags contains 'video' %}true{% else %}false{% endif %},
    "video":  {% if product.tags contains 'video' %}{% for image in product.images %}{% if image.alt contains 'https' %}{{ image.alt | json }}{% endif %}{% endfor %}{% else %}null{% endif %},
  	"price": {{ product.price | json }},
	"price_min": {{ product.price_min | json }},
	"price_max": {{ product.price_max | json }},
	"available": {{ product.available | json }},
  	"on_sale": {% if product.compare_at_price > product.price %}true{% else %}false{% endif %},
    "percentDiff": {{ percentDiff | json }},
    "percentDiffFinalSale": {% if percentDiff == 40 %}true{% else %}false{% endif %},
	"price_varies": {{ product.price_varies | json }},
	"compare_at_price": {{ product.compare_at_price | json }},
	"compare_at_price_min": {{ product.compare_at_price_min | json }},
	"compare_at_price_max": {{ product.compare_at_price_max | json }},
	"compare_at_price_varies": {{ product.compare_at_price_varies | json }},
    "expected_ship_date": {%- if product.metafields.preorder.expected_date -%}{{ product.metafields.preorder.expected_date | json }}{%- elsif standardShippingDate != blank -%}{{ standardShippingDate | json }}{%- else -%}null{%- endif -%},
    "metafields": {{ product.metafields | json }},
	"variants": [ {%- for variant in product.variants -%}
        { 
            "id": {{ variant.id | json }},
            "title": {{ variant.title | json }},
            "option1": {{ variant.option1 | json }},
            "option2": {{ variant.option2 | json }},
            "option3": {{ variant.option3 | json }},
            "sku": {{ variant.sku | json }},
            "requires_shipping": {{ variant.requires_shipping | json }},
            "taxable": {{ variant.taxable | json }},
            "featured_image": {{ variant.featured_image | json }},
            "available": {{ variant.available | json }},
            "name": {{ variant.name | json }},
            "public_title": {{ variant.title | json }},
            "options": {{ variant.options | json }},
            "price": {{ variant.price | json }},
            "weight": {{ variant.weight  | json }},
            "compare_at_price": {{ variant.compare_at_price | json }},
            "inventory_quantity": {{ variant.inventory_quantity | json }},
            "inventory_management": {{ variant.inventory_management | json }},
            "inventory_policy": {{ variant.inventory_policy | json }},
            "barcode": {{ variant.barcode | json }},
            "preorder": {
                "limit": {{ variant.metafields.preorder.limit | default: 0 | json }},
                "expected_date": {{ product.metafields.preorder.expected_date | json }}
            }
        } {% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    ],
	"images": {{ product.images | json }},
    "media": [
        {% for media in product.media %}
            {{ media | json }}
            {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ],
    "image": {{ product.featured_image.src | img_url: '1024x1024' | json }},
	"mobileImage": {%- if allAlts contains 'mobile-hero' -%}{%- for image in product.images -%}{%- unless image.alt contains 'mobile-hero' -%}{%- continue -%}{%- endunless -%}{{ image | img_url: '1024x1024' | json }}{%- endfor -%}{%- else -%}false{%- endif -%},
    "full_images": [
        {%- for image in product.images -%}
            {
                "src": {{ image.src | json }},
                "alt": {{ image.alt | json }},
                "video": {% if image.alt contains 'http' %}true{% else %}false{% endif %}
            } {%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
    ],
	"featured_image": {{ product.featured_image | json }},
	"options": [ 
        {%- for product_option in product.options_with_values -%}
         {
             "name": {{ product_option.name | json }},
             "values": {{ product_option.values | json }}
         } {%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}

    ],
    "options_with_values": { 
        {%- for product_option in product.options_with_values -%}
           {{ product_option.name | downcase | json }} : {{ product_option.values | json }}{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
    },
	"content": {{ product.content | json }},
    "special": { 
        "limited": {% if product.tags contains 'limited edition' %}true{% else %}false{% endif %},
        "on_sale": {% if product.compare_at_price > product.price or product.tags contains 'final-sale' or product.tags contains 'free-gift-eligible' or product.tags contains 'free-gift-eligible-2' %}true{% else %}false{% endif %},
        "liberty": {% if product.tags contains 'liberty' or product.tags contains 'Liberty' %}true{% else %}false{% endif %},
        "ship_date": {% if standardShippingDate != blank %}true{% else %}false{% endif %}
    },
    "related_collection": {
        {%- if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' -%}
        {% assign found_a_collection = false %}
        {% for c in product.collections %}
            {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
            {% break %}
            {% endif %}
        {% endfor %}
        {%- endif -%}
        {%- if product.handle contains 'gift-card' -%}
         {% assign collection = collections['new-arrivals'] %}
        {%- endif -%}
        "handle": {{ collection.handle | json }}
    }
}