{% assign collectionSwatches = false %}
{% assign productCollectionHandles = product.collections | map: 'handle' | join: ',' %}

{%- if productCollectionHandles contains 'swatches-' -%}
    {%- assign collectionSwatches = true -%}
    {% assign productCollectionHandles = productCollectionHandles | split: ',' %}
    {%- for handle in productCollectionHandles -%}
        {%- if handle contains 'swatches-' -%}
            {%- assign swatchHandle = handle -%}            
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{% assign firstLoop = true %}
<script type="text" data-collection="{{ swatchHandle }}" data-swatches-json>
{
    "source": {% if collectionSwatches %}{{ swatchHandle | json }}{% else %}"linklist"{% endif %},
    "main": {{ product.handle | json }},
    "data": {%- if collectionSwatches -%}
        [{%- for item in collections[swatchHandle].products -%}{% include 'autohide-item-filter' with product: item %}
            {% unless firstLoop %},{% endunless %}{
                "url": {{ item.url | json }},
                "title": {{ item.title | json }},
                "handle": {{ item.handle | json }},
                "titleSplit": {{ item.title | split: '--' | json }},
                "color": {{ item.title | split: '--' | last | handleize | json }},
                "yHandle": {{ item.title | split: '--' | last | handle | json }},
                "image": {{ item.title | split: '--' | last | handleize | append: '.png' | asset_url | json }},
                "name": {%- if item.title contains '--' -%}{{ item.title | split: '--' | last | json }}{%- else -%}{{ item.variants[0].option2 | json }}{%- endif -%}
            }
        {% assign firstLoop = false %}{%- endfor -%}]
    {%- else -%}[]{%- endif -%}
}
</script>