<div class="color-input"  data-id="{{ forloop.index }}">
  <label class="header"><span>Color</span></label>
    {% assign tagExlusions = 'hide,hidden,Flash Sale,coming-soon' | split: ',' %}
    {% assign titlex = product.title | split: '--' | first %}
    {% assign plink = product.url %}  
    <ul class="pdp-swatch-grid">
    {% comment %} {% for link in linklists.swatch-products.links reversed %}
        {% assign skipper = false %}

        {% unless link.type == 'product_link' %}{% continue %}{% endunless %}

        {% assign product123 = link.object %}  
        {% assign productTags = product123 | map: 'tags' | join: ',' %}
        {% assign productx = product123.title | split: '--' %}
        {% assign productz = productx.first %}
        {% assign producty = productx.last %}

        {% unless titlex == productz %}{% continue %}{% endunless %}

        {% include 'autohide-item-filter' with product: product123 %}

        <li>
            
                <span class="color-label" data-availble="{{ product123.published_at }}" data-product="{{ product123.title }}">
                    <a href="{{ product123.url | within: collection }}">
                        <span class="color-swatch {{ variant.option2 | handleize }} {{ producty | handleize }} {{ forloop.index }}" style="background-color:{{ producty | handleize }}; background-image:url('{% if product123.title contains '--' %} {{ producty | handleize | append: '.png' | asset_url }}{% else %}{{ variant.option2 | handleize | append: '.png' | asset_url }}{% endif %};')">
                        </span>
                    </a>
                <div class="clearfix"></div>
                <span class="label">{% if product.title contains '--' %}{{ producty }}{% else %}{{ variant.option2 }}{% endif %}</span>                      
                </span>
       </li>
    {% endfor %}    {% endcomment %}
    </ul>
	<div class="clearfix"></div>
</div>  