<hr class="hr--clear hr--small">
<div class="section-header section-header--medium">
    <h4 class="section-header__title">{{ 'products.general.related_products_title' | t }}</h4>
</div>
<div class="grid-uniform grid-link__container related-feed" data-source="{{ product.id }}" data-limit="12"></div> 