{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item post-large--{{ settings.collections_product_large_size }} medium--{{ settings.collections_product_medium_size }} small--{{ settings.collections_product_small_size }}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <a href="{{ product.url | within: collection }}" class="grid-link{% if settings.collections_center_grid_link %} text-center{% endif %}">
    <span class="grid-link__image grid-link__image--product">
      {% if on_sale and settings.collections_show_sale_circle %}
        <span class="badge badge--sale">
          <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
      {% endif %}
      {% if sold_out and settings.collections_show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
      <span class="grid-link__image-centered">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </span>
    </span>
    <span class="product-info{% if settings.collections_info_inside %} inside{% endif %}">
    {% if settings.collections_vendor_enable %}
      <p class="grid-link__title grid-link__vendor">{{ product.vendor }}</p>
    {% endif %}
    <p class="grid-link__title">{{ product.title | split: '--' | first }}</p>
    {% if settings.collections_variant1_enable %}
      <p class="grid-link__variant">{{ product.variants.first.option1 }}</p>
    {% endif %}   
    {% if settings.collections_variant2_enable %}
      <p class="grid-link__variant">{{ product.variants.first.option2 }}</p>
    {% endif %}    
    <p class="grid-link__meta">
      {% capture price %}{{ product.price | money }}{% endcapture %}
      {% if on_sale %}
      <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
      {% endif %}
      {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
    </p>
    </span>
  </a>
</div>