<div class="grid__item large--one-whole wip-topbar medium-down--hide  beforeTablet--hide"> 
  {% assign builtLink = '<a href="LINKHERE">Click Here</a>' | replace:'LINKHERE', settings.top_bar_promo_url | replace:'Click Here', settings.topbarpromo_linktext %}
  <span> {{ settings.wip_bar_text | replace: '--link--', builtLink  }} </span>
</div><div class="clearfix"></div>
