





{% assign number_of_products = settings.max__related_products %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if product.handle contains 'gift-card' %}
  {% assign collection = collections['new-arrivals'] %}
{% endif %}








{% if collection and collection.products_count > 1 %}
  <hr class="hr--clear hr--small">
  <div class="section-header section-header--medium">
    <h4 class="section-header__title">{{ 'products.general.related_products_title' | t }}</h4>
  </div>
  <div class="grid-uniform grid-link__container">

    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products %}
        {% include 'autohide-item-filter' with product: product %}
  
      {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
      {% else %}
        {% unless current_product_found == false and forloop.last %}
          {% assign grid_item_width = 'one-quarter small--one-half' %}
          {% include 'product-grid-item-related' %}
        {% endunless %}
      {% endif %}

    {% endfor %}
  </div>
{% endif %}

<style>
  .related-products .grid__item {
    display:none;
  }
  
  .related-products .grid__item:first-child {
    display:inline-block !important;
  }
  
  .related-products .grid__item:nth-child(2) {
    display:inline-block !important;
  }
  
  .related-products .grid__item:nth-child(3) {
    display:inline-block !important;
  }
</style>
