<div class="w-full resolutions-panel" id="resolutions-5">
  <h3 class="w-full text-center flex flex-col justify-center items-center mb-0">
    <span class="text-xs">05.</span>
    <p class="uppercase text-xs mt-1.5">Ongoing Partnerships and Local Efforts</p>
  
    <div class="hash-divider col-span-full flex justify-center my-8">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
  </h3>
    
  <p class="text-xs w-full text-center small-disclaimers mb-10 heading-description">As a company owned and operated by women, gender equality and closing the gender gap has always been of utmost importance to us. A cornerstone of our core values, we have intentionally sought out partners that align with our mission and work tirelessly towards the same goals.</p>

  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-10 gap-x-14">
    
    <div class="text-left">
     <h6 class="font-semibold text-xs mb-3">PARTNERSHIPS</h6>
     <p class="w-full serif-copy mb-0">
     From the very beginning, we partnered with two invaluable non-profit institutions in the two critical areas of healthcare and education: Planned Parenthood LA and Room to Read. 
     <br /><br />
     We believe that people of all genders deserve comprehensive healthcare inclusive of reproductive care, science-based sex education, and access to care. We also believe that we must do our part in closing the gender gap in the areas where we manufacture our collections. By working with PPLA and RTR, we are able to support these organizations in their vital work, and give back to both our local LA community as well as the communities worldwide where we have an impact. 
     <br /><br />
     In November 2020, we officially added a third long-term partner, Kindred Space LA and their non-profit branch Birthing People Foundation, with the aim of addressing the deep racial inequities in our health and maternal care systems.
     </p>
     
    </div>

    <div class="text-right flex justify-start items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-05-01.png' | asset_img_url: 'x750' }}" />
    </div>

    
        
     <h5 class="grid-header col-span-full w-full py-4 font-semibold italic text-xs text-center">
        We plan to make equal donations to all 3 of our ongoing partners -- <br /> 
        Planned Parenthood LA, Room to Read, and  <br />
        Kindred Space LA/Birthing People Foundation. <br />
     </h5>

     <p class="text-xs col-span-full w-full text-center small-disclaimers">In 2020, we coordinated fundraising and donation efforts for the following organizations, in addition to our three partners:</p>

        
     <h5 class="grid-header col-span-full w-full py-4 mb-0 font-semibold italic text-xs text-center">
        Black Lives Matter LA  <br />
        New Georgia Project  <br />
        Border Angels  <br />
        New York Appeal for Australian Bushfires <br />
        Good Buys Foundation for COVID-19 Relief <br />
        The Stephen Lawrence Charitable Trust  <br />

     </h5>
  
    <div class="hash-divider col-span-full flex justify-center">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

    <div class="text-right flex flex-wrap justify-end items-start">
       <img class="lazy-item w-full mb-4" data-src="{{ 'resolutions-05-02.png' | asset_img_url: 'x750' }}" />
       <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions-05-03.png' | asset_img_url: 'x750' }}" />
        <p class="w-full text-left mt-8 serif-copy mb-0">
        It was our pleasure to share our 2021 DÔEN Resolutions Report with you, and we look forward to providing continual updates on our progress. If you have further questions, or would like to learn more about our sources for cellulose hangers and glassine alternatives, please contact us at <a href="mailto:connect@shopdoen.com">connect@shopdoen.com</a>.
        </p>
    </div>
    
    <div class="text-left">
     <h6 class="font-semibold text-xs mb-3">LOCAL VOLUNTEERING</h6>
     <p class="w-full serif-copy mb-0">
    In January 2020, our team volunteered at the LA Food Bank, excitedly kicking off a year that would rapidly change in an instant. Our goal of volunteering biannually as a team soon became unachievable as we were on lockdown, and we looked for other ways to engage, safely and socially distanced, in our local community.
    <br /><br />
       In 2021, we have begun to organize local volunteer efforts that are COVID-safe -- such as making meals with <a href="https://www.homeymademeals.com/" target="_blank">Home-y Made Meals</a>. This incredible organization began serving meals to those in need at the beginning of the pandemic, and have since served approximately 30,000 meals to unhoused people. In February, 15 volunteers from our team made and delivered 170 meals to contribute to their efforts! This year, we are returning to our 2020 goal and organizing bi-annual volunteer opportunities for our team; this year’s efforts will be sure to be safe and socially distanced.
     </p>
     <img class="lazy-item w-full mt-6" data-src="{{ 'resolutions-05-04.png' | asset_img_url: 'x750' }}" />
     
    </div>

    <div class="col-span-full mt-10 text-center flex justify-center items-center">
      <img class="lazy-item w-auto" data-src="{{ 'resolutions-footnote.png' | asset_img_url: 'x75' }}" />
    </div>


  </div> <!-- End Split Grid -->


</div>