<div class="w-full resolutions-panel active" id="resolutions-1">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">01.</span>
    <p class="uppercase text-xs mt-1.5">Environmental Impact</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center items-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <p class="text-xs w-full text-center small-disclaimers heading-description" style="margin-bottom: 15px;">Understanding and managing our environmental impacts, from sourcing to sewing to shipping, is a critical part of our mission of creating lasting, heirloom quality collections.</p>

  <h4 class="py-4 sans-serif-header w-full text-center mt-10">MATERIALS</h4>


  <div class="goals-wrapper w-full text-center">
    <p class="w-full small-serif-header mb-2">2021 Goals:</p>
    <ul class="w-full flex flex-col justify-center items-center serif-list">
      <li>
       - 60% of our cotton & cotton blend unit volume will be GOTS Certified organic, as measured as a percentage of units, as well as printing, dyeing and embroidery. We are currently tracking at 76%.
      </li>

      <li>
       - Reexamine our sourcing methods for recycled yarns and recyclable fabrics in order to benchmark upcoming goals for future years.
      </li>

      <li>
       - Introduce regeneratively farmed cotton to our supply chain by 2022.
      </li>
    </ul>

    <p class="text-xs w-full text-center small-serif-header my-5">In 2020, we pledged to begin our transition to organic cotton and recycled fabrics and yarns. Here is what we accomplished:</p>

    <ul class="w-full flex flex-col justify-center items-center serif-list">
      <li>
       - 31% of 2020 cotton & cotton blend product, by unit volume as measured as a percentage of units, was organic.
      </li>
      <li>
       - 34% of 2020 machine knit sweaters, as measured as a percentage of units, used reycled yarn.
      </li>
    </ul>
    
    <div class="w-full py-10">
     <img class="lazy-item" data-src="{{ 'impact_percentage_callout.png' | asset_img_url: 'x250' }}">
    </div>
  </div> <!-- end goals wrapper -->


  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-10 gap-x-14">
    <div class="text-left">
     <p class="w-full serif-copy mb-0">
       When founding DÔEN in 2016, one of our first commitments was to the use of natural fibers, from cotton and ramie to silk and alpaca. Their softness, strength, and natural qualities help us create lasting, heirloom quality garments that can be worn for many years, and help avoid the need to purchase many items that get tossed out and replaced every season. We reject the notion of fashion as fast and disposable; in stark contrast, our process takes a year from design to your door, and our intention is always to design long-lasting products that transcend the trend cycle, and are as considered as can be. 
       <br /><br />
       To this end, we are advocates of and believers in secondhand sales of clothing and the creation of a circular economy. In 2020, we launched an ongoing program with TheRealReal to encourage secondhand sales by establishing our Brentwood Country Mart store as a drop-off location for your pre-loved pieces.
     </p>
    </div>
    <div class="text-right flex justify-end items-start">
        <img class="lazy-item w-full" data-src="{{ 'resolutions-01-01.png' | asset_img_url: 'x500' }}" />
    </div>

    
    <h5 class="grid-header col-span-full py-4 font-semibold italic text-xs text-center">
        Our goal is to launch our own branded resale site in 2022 whereby our 
        <br />customers can sell and shop beloved secondhand styles from past collections.
    </h5>

    <div class="text-left flex justify-start items-start">
        <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions-01-02.png' | asset_img_url: 'x500' }}" />
    </div>

    <div class="text-left">
     <p class="w-full serif-copy mb-0">
       The best possible outcome of our designs is their continuous use, and this is crucial while textile recycling options are still limited. However, we also support ongoing learning around recyclability and the real impact of our fabric’s lifecycle. We are actively reviewing all of our fabrics, particularly blends, for recyclability, and look forward to providing future updates on our goals in that area. We also are working towards sourcing more responsible fabrications, including non-mulesed sheep wool, responsible viscose, and silk substitutes that are more environmentally responsible. This will be one of the primary goals for a new Director of Impact hire who will focus on responsible sourcing as well as quantifying our current impact. With dedicated expertise in this area, we will be able to not only source the highest quality recycled and recyclable yarns and fibers for future collections, but adhere to specific goal-setting as we incorporate them. 
     </p>    
    </div>
    <p class="col-span-full w-full serif-copy mb-0">For example, we know viscose has been a challenge when it comes to environmental responsibility: While it’s a natural fiber made from biodegradable wood pulp, it is considered a semi-synthetic due to the amount of processing required to turn wood cellulose into a textile. 
    </p>
    <h5 class="grid-header col-span-full py-4 font-semibold italic text-sm text-center">
    Our goal is to transition 50% of our viscose assortment, both solid <br /> and printed, to responsible viscose by the end of 2022. 
    </h5>


    <div class="text-left">
     <p class="w-full serif-copy mb-0">
       If we are not satisfied with responsible viscose alternatives, we will revise our goal to transition out of viscose entirely. 
       <br /><br />
       We also know certain fabrics such as ramie -- quite prevalent in our collections -- are advantageous over cotton when it comes to water usage. With our new Impact role, we plan to source and benchmark our growing assortment of low water use fibers. 
       <br /><br />
       We are working closely with Bureau Veritas, an auditing and certification company, on a restricted substances list that we expect to be put into effect by the end of 2021.
     </p>
     <div class="w-full text-center mt-10">
       <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
     </div>
    </div>

    <div class="text-right flex justify-end items-start">
        <img class="lazy-item w-full" data-src="{{ 'resolutions-01-03.png' | asset_img_url: 'x500' }}" />
    </div>

    <div class="text-left flex justify-start items-start mobile-frame">
        <img class="lazy-item w-full " data-src="{{ 'resolutions-01-04.png' | asset_img_url: 'x500' }}" />
    </div>

    <div class="text-left">
     <h6 class="font-semibold text-xs">SOURCING WHERE WE PRODUCE</h6>
     <p class="w-full serif-copy mb-0">
     By sourcing and producing in the same place, we are able to reduce our impact from transportation and have visibility into all tiers of our supply chain -- as well as support the local economies. We largely base our sourcing on raw materials and regional techniques for precisely these reasons. 
     </p>    

     <ul class="mb-0 mt-6 ml-6 w-auto list-disc small-serif-list">
       <li class="mb-2">
         Cotton in India: Our use of intricate handwork and traditional print techniques are sourced primarily in India, and our cotton comes from Southern India
       </li>
       <li class="mb-2">
         Silks in Asia: All of our silk apparel is sewn in China or India. 
       </li>
       <li class="mb-2">
        Alpaca and Pima Cotton in Peru: Our alpaca knits and pima cotton tees are from Peru, where we have visibility and traceability into the origin of the fibers and the practices of our Fair Trade Certified knitters.
       </li>
       <li class="mb-2">
        Italian fabrics and yarns in the EU: These fabrics and yarns, chosen for their lasting quality, are sewn and assembled within the EU in Romania, Portugal, and Turkey.
       </li>
     </ul>
    </div>

    <p class="italic serif-font col-span-full text-center text-xs text-side-padding">
      Traceability is the ability of a brand to trace, or map, the production of its products throughout the supply chain. For example, a fully traced cotton product would include the farm where the cotton is grown (Tier 4), then to the processor that spins cotton into yarn (Tier 3), onto to the mills where the yarn is woven or knit into fabric (Tier 2) -- and lastly, to the manufacturer that cuts and sews the fabric into a finished product (Tier 1). When a brand knows their full supply chain in this way, it can work with each vendor to ensure that those working within the supply chain are respected and all vendors are following environmental compliance practices. This is crucial to managing environmental and social impacts, and why we’re committed to documenting our entire supply chain.
    </p>

    
    <h5 class="grid-header col-span-full py-2 font-semibold italic text-sm text-center" style="margin: 0;">
       This year, we are embarking on traceability <br />
       throughout all four tiers of our supply chain. 
    </h5>

    <div class="col-span-full">
      <p class="small-grid-header serif-font w-full text-center text-sm">2021 Traceability Goals</p>
      <div class="small-grid grid grid-cols-4 gap-0 serif-font italic">
        <div>Tier 1: 100% of unit volume</div>
        <div>Tier 2: 100% of unit volume</div>
        <div>Tier 3: 90% of unit volume</div>
        <div>Tier 4: 80% of unit volume</div>
        <div>Finished goods, assemblers, and subcontractors</div>
        <div>Dyers and printers, finishers, weavers, knitters</div>
        <div>Fibers, spinners, recycled materials collectors / processers</div>
        <div>Raw material (farm, forest, ranch)</div>
      </div>
    </div>

    <div class="col-span-full">
      <p class="small-grid-header serif-font w-full text-center text-sm">2020 Traceability Actuals</p>
      <div class="small-grid grid grid-cols-4 gap-0 serif-font italic">
        <div>Tier 1: 100% of unit volume</div>
        <div>Tier 2: 94% of unit volume</div>
        <div>Tier 3: 18% of unit volume</div>
        <div>Tier 4: 2% of unit volume</div>
        <div>Finished goods, assemblers, and subcontractors</div>
        <div>Dyers and printers, finishers, weavers, knitters</div>
        <div>Fibers, spinners, recycled materials collectors / processers</div>
        <div>Raw material (farm, forest, ranch)</div>
      </div>
    </div>

    <div class="text-left">
     <p class="w-full serif-copy mb-0">
       A standardized meaning of “sustainability” within the apparel industry has never been clearly defined, which has left room for multiple interpretations and greenwashing. As the industry has embarked on a rapid evolution in terms of understanding and applying this terminology, our understanding is continually evolving as well. 
       <br /><br />
       We are resolved to continue our work toward environmental and social responsibility, focusing on areas of impact where we can be responsible and innovative.
     </p>
    </div>

    <div class="text-center">
      <h5 class="grid-header  pb-2 font-semibold italic text-sm text-center" style="padding: 0 10%;">
      Making lasting, timeless styles that will live in your wardrobe for years to come -- even becoming treasured heirlooms -- is a critical aspect of mitigating our impact and fulfilling our mission of environmental responsibility.
      </h5>
     <div class="w-full text-center mt-10">
       <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
     </div>
    </div>

    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">INDUSTRY PACKAGING</h6>
     <p class="w-full serif-copy mb-0">
      The industry standard for fashion and apparel is such that all garments shipping from vendors to brands are packed in polybags for protection against the elements during transit. Transitioning away from these polybags has long been an industry-wide challenge: Shipping garments unprotected can result in damages and even further waste, and is not a solution. We have been using biodegradable bags to ship from our vendors, but still consider these bags problematic as their breakdown process emits greenhouse gasses even while they degrade into organic compounds. We have been working on solutions to this problem. 
      <br/> <br />
Our larger goal is to eliminate plastic on all levels of the supply chain -- and to introduce glassine bags, as a clear, paper-based alternative to polybags, as part of this initiative. In addition, we are tracking our goal for an in-home compostable bag by 2023. The cost of transitioning to glassine bags is, on average, $0.75 per garment, versus $0.02 for a polybag.      </p>

    </div>

    <div class="text-left flex justify-end items-start">
        <img class="lazy-item w-full" data-src="{{ 'resolutions-01-05.png' | asset_img_url: 'x500' }}" />
    </div>

    
    <h5 class="grid-header col-span-full py-2 font-semibold italic text-sm text-center">
       By October 2021, we expect our finalized glassine bag to be complete and 
       <br />our transition to replace all polybags will be underway.
    </h5>

    <div class="text-left flex justify-start items-start">
        <img class="lazy-item w-full" data-src="{{ 'resolutions-01-06.png' | asset_img_url: 'x500' }}" />
    </div>

    <div class="text-left">
     <p class="w-full serif-copy mb-0" style="font-style:italic;">
    
       Glassine is made from paper pulp, which is composed of cellulose fibers derived from wood, cotton remnants, grasses, and other vegetable sources. The smooth, translucent quality of glassine is created by a manufacturing process called supercalendering. The paper pulp is beaten to break down the fibers, and after pressing and drying, the paper web is passed through a stack of hard pressure rollers. This pressing of the paper fibers in the machine direction “buffs” the paper, producing a very smooth, enamel-like, acid-free surface. The smooth, glossy appearance is the result of this 
    process, rather than created from waxes or coatings -- and, as the bags are not waxed or chemically finished, they are fully recyclable and biodegradable.
 </p>
    </div>

    <div class="col-span-full text-left">
     <p class="w-full serif-copy mb-0">
       Our cartons used for shipping products from our vendors to our warehouse in Burbank, CA will still require 1 polybag each to protect the contents from the elements, and we are working to use the same single biodegradable polybag that we have developed. This type of bio polybag degrades into only organic compounds, in contrast to other plastic and bioplastic polybags that degrade into microplastics. 
       <br /><br />
       <span class="italic">
       Plastics have become a crisis, particularly in our oceans. Studies estimate that there are currently about 14 million tons of microplastics littering the ocean floor. While some plastic is tiny by design, such as microbeads previously used and now banned in beauty products, other plastic is tossed out and then degrades, breaking down into microplastics, which are particles that are five or less millimeters in length. These microplastics are consumed by the smallest animals, which are then consumed by larger animals -- and this continues until there is an accumulation of plastics in larger animals. The toxicity of microplastics is caused by the leaching of the chemicals they contain, such as BPA and phthalates, into animals -- and it compounds itself every time a new animal in the ecosystem ingests the previous animal. In addition to the dangers of bioaccumulation, the prevalence of plastic has led animals to mistake it for food and subsequently die from starvation.
       </span>
       <br /><br />
       Another area in our supply chain where we are working towards eliminating plastic is within the wash and dye processes. Frequently in manufacturing, care labels are wrapped in single use plastic to protect legibility. In 2021, we are working with our vendors towards entirely removing these plastic wraps from our supply chain processes.
     </p>

     <div class="w-full text-center mt-10">
       <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
     </div>
    </div>

    
    <div class="text-left">
     <h6 class="font-semibold text-left col-span-full text-xs mb-0 sm:mb-4">ORDER PACKAGING</h6> 
     <p class="w-full serif-copy mb-0">
      We have always favored low impact packaging, and have opted not to use excessive branded materials in packages. Our eco-shippers are 100% recyclable, biodegradable, and compostable and made from 100% recycled content and a minimum of 90% post-consumer content. We also allow for a lower impact packaging option at checkout.
     </p>

    </div>

    <div class="text-center" style="display: flex; flex-direction: column; justify-content: center;">
      <h5 class="grid-header font-semibold italic text-sm text-center">
      This year, we are transitioning from shipping our outerwear on plastic hangers to a cellulose hanger.
      </h5>
    </div>

    <div class="text-left flex justify-start items-start">
        <img class="lazy-item w-full" data-src="{{ 'resolutions-01-07.png' | asset_img_url: 'x500' }}" />
    </div>

    <div class="text-left">
     <p class="w-full serif-copy mb-0">
       These are made of cellulose pulp and industrial scraps from newspapers, cardboard boxes, shopping bags, and other paper-based discarded items. The environmental impact of this cellulose hanger is 1/3 that of a traditional plastic hanger. The cost of transitioning to these hangers is $3.97 per garment, versus $0.45 for a plastic hanger. 
       <br /><br />
       By 2022, our goal is to implement a new Forest Stewardship Council Certified hang tag that removes all unnatural fibers from the hang tag; it will still contain minimal paper and the plastic stoffel. We also will replace our current muslin bags with a new GOTS and Fair Trade Certified bag. 
       <br /><br />
       In the future, our goal is a plastic-free hang tag. Our current hang tag features a plastic closure, or stoffel, that is added for security purposes so that the tag cannot be reattached to a worn garment and returned.
     </p>
    </div>
    
    <div class="w-full text-center col-span-full my-4">
       <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">DIRECTOR OF IMPACT</h6>
     <p class="w-full serif-copy mb-0">
      We are thrilled to begin our search for a director-level role, slated for the Fall of 2021, to map our impact and track our areas of improvement. We are extremely excited about the acceleration of our work in this area with this new hire.
      <br/> <br />
      Critical to our progress, improvement, and holistic understanding of our efforts, innovations, and opportunities, this role will be a crucial component of reporting on our current state from which to create our benchmarks and future-looking goals. Working closely with teams on all aspects of our commitments to responsible manufacturing, this position will consider ethical workplaces integral to our environmental impact efforts, and look into the reporting tools available through ESG and Higg Indices
      <br/> <br />
     <i> The Higg Index -- developed by the Sustainable Apparel Coalition -- calculates impact on a Product, Facility, and Brand level, with tools that dive into specifics within the apparel lifecycle.
      <br/> <br />
      ESG stands for Environment, Social, and Governance, and reporting using these pillars aims to measure emissions, carbon footprint by product, and labor ethics, as well as corporate behavior when it comes to pay structures, tax transparency, and more. 
  
       </i> </p>
     <img class="lazy-item mx-auto pt-10 flower-image mobile-hide" style="padding: 18%; height: auto;" data-src="{{ 'resolutions-flower.png' | asset_img_url: 'master' }}" />
    </div>


    <div class="text-left">
      <img class="lazy-item w-full" data-src="{{ 'resolutions-01-08.png' | asset_img_url: 'x500' }}" />
      <p class="w-full serif-copy mb-0 mt-10">
       
        
        
        
        
        This role -- originally intended for 2020 and delayed due to COVID-19’s unforeseeable impact -- will be charged with taking steps to map our carbon footprint and water usage, sourcing new fabrics and yarns that meet the highest standards of environmental responsibility, and interpreting the distinct interrelatedness of our entire supply chain ecosystem, amongst several other functions. Key to this position will also be tracing the origins of our product to its agricultural seed: Visibility into every single step of our supply chain will allow us to analyze, optimize, and create a holistic understanding of every single item we offer. We are incredibly excited for the addition of this position and the thorough, mindful, and inventive change we anticipate it will bring to our multilayered practices and processes. 

        <br><br>
This position will also collaborate closely with our Corporate Sustainability Committee and our Director of Communications on organizing panels for our internal team on environmental education 2 times per year at minimum. 

        
        
   </p>
    </div>
    
    <div class="col-span-full text-center flex justify-center items-center">
      <img class="lazy-item w-3/5" data-src="{{ 'resolutions-flower-row.png' | asset_img_url: 'x30' }}" />
    </div>



  </div> <!-- End split content container -->

</div>