<div class="w-full resolutions-panel" id="resolutions-2">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">02.</span>
    <p class="uppercase text-xs mt-1.5">Ethical Practices</p>
  </h3>
  
  <div class="hash-divider my-8 w-full flex justify-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <p class="text-xs w-full text-center small-disclaimers heading-description">According to Fair Trade USA, approximately 80% of the garment workforce worldwide is women. Our ethical practices within our supply chain are a core part of our mission of supporting women-identifying individuals through safe working conditions, living wages, equal opportunities for advancement in the workplace, representation in ownership and leadership, and more.</p>

  <h4 class="py-4 sans-serif-header w-full text-center mt-8">Women-Owned Vendors</h4>
        
    <h5 class="grid-header w-ful mb-8 py-4 font-semibold italic text-xs text-center">
        82% of our 2020 product volume was produced in <br />
        a woman-owned or co-owned factory.
    </h5>


  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-10 gap-x-14">
    <div class="text-left">
     <p class="w-full serif-copy mb-0">
       We pledge to continue our commitment to audited, certified vendors who are socially compliant and leaders in their field in terms of their female-identifying workforce, employee benefit programs, environmental impact, and ethical practices. 
       <br /><br />
       This year, we are sharing additional information on our factory partners via the table below. We are using this knowledge to identify categories and regions with opportunities as we grow and develop our collections. As we continue to expand categories, we are looking to add additional woman-owned factory partners in 2021.
     </p>
    </div>
    <div class="text-right flex justify-end items-start">
       <img class="lazy-item "w-full" data-src="{{ 'resolutions-02-01.png' | asset_img_url: 'x500' }}" />
    </div>

    {% assign gridHeaders = 'Category,Location,Audits,Certifications,Notable Innovations,Women Owned' | split: ',' %}
    {% assign gridValues = 'Soft Wovens|India|Bureau Veritas and WRAP|GOTS, REACH, Oeko Tex, and WRAP|Reports a Triple Bottom Line; began a foundation to fund 100% of the education of the daughters of all employees; carbon audited and offset facility as of March 31, 2021|Co-Owned|Tees|Peru|WRAP|WRAP Gold| | |Handknit Sweaters|Peru|Promperu Fair Trade|Promperu Fair Trade| |Owned|Machine Knit Sweaters|Peru|DÔEN Internal Audit|GOTS| |Owned|Machine Knit Sweaters|Portugal|DÔEN Internal Audit|Oeko Tex| | |Tees|Portugal|SMETA|Oeko Tex| |Owned|Outerwear and Soft Wovens|Romania|Fair Wear Foundation| |70% Solar Powered|Co-Owned|Soft Wovens|China|WRAP|WRAP Gold| | |Soft Wovens|India|WRAP|WRAP Platinum| |Owned|Machine Knit Sweaters|Turkey|Vendor-Supplied Social Complicance and DÔEN Internal Audit| | |Owned|Denim and Woven Bottoms|Los Angeles,CA|Arche Business Integrity Statement| |Non-piece rate payment structure| |Samples|Los Angeles,CA| | | |Owned|Soft Wovens|India|Sedex Pillar 4|Sedex Pillar 4| |Owned|Shoes|Italy|In process| | | |Shoes|Brazil|In process| | |Owned|Shoes|Brazil|In process| | |Co-Owned' | split: '|' %}
    <div class="w-full col-span-full overflow-auto big-grid-wrapper">
      <div class="col-span-full grid grid-cols-6 big-grid serif-font italic">
          {%- for header in gridHeaders -%}
          <div class="font-bold font-normal">{{ header }}</div>     
          {%- endfor -%}
          {%- for value in gridValues -%}
          <div class="">{{ value }}</div>
                       
          {%- endfor -%}
      </div>
    </div>

    <div class="text-right flex col-span-full justify-end items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-02-02.png' | asset_img_url: 'x750' }}" />
    </div>
  
  <div class="hash-divider col-span-full w-full flex justify-center">
    <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
  </div>

  <div class="col-span-full">
    <h6 class="font-semibold w-full text-center text-xs">CERTIFICATIONS</h6>
        
    <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-center">
        100% of our apparel volume is made in an audited facility. <br /> 
        See below for a breakdown of our audits in 2020.
    </h5>

    <div class="w-full flex justify-center">
        <img class="lazy-item triple-flower my-4" data-src="{{ 'resolutions-flower-3.png' | asset_img_url: '50x' }}">
    </div>
        
    <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-center">
        100% of our apparel factories are internally audited by a member of our team.
    </h5>

    <div class="w-full flex justify-center">
        <img class="lazy-item triple-flower my-4" data-src="{{ 'resolutions-flower-3.png' | asset_img_url: '50x' }}">
    </div>
        
    <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-center">
       76% of our 2020 product was made in carbon audited and offset facilities, <br />
        by the first India based certified carbon audited and offset garment exporter.
    </h5>


  </div>

  <div class="col-span-full">
      <p class="small-grid-header serif-font w-full text-center text-sm">2021 Goals</p>
      <div class="xsmall-grid grid grid-cols-2 text-center serif-font">
        <div class="font-bold">Soft Wovens and Tees</div>      
        <div class="font-bold">% by Volume</div>      
        <div>WRAP Certified Audit</div>
        <div>85%</div>
        <div>Bureau Veritas Social Compliance  Audit</div>
        <div>15%</div>
        <div class="font-bold">Knitwear</div>
        <div class="font-bold">% by Volume</div>
        <div>Promperu Fair Trade Ceritified</div>
        <div>46%</div>
        <div>Bureau Veritas Social Compliance Audit in process in 2020</div>
        <div>28%</div>
        <div>Oeko Tex Certified</div>
        <div>26%</div>
        <div class="font-bold">Outerwear</div>
        <div class="font-bold">% by Volume</div>
        <div>Bureau Veritas Social Compliance Audit</div>
        <div>100%</div>
        <div class="font-bold">Footwear</div>
        <div class="font-bold">% by Volume</div>
        <div>Bureau Veritas Social Compliance Audit</div>
        <div>100%</div>
        <div class="font-bold">Denim and Woven Bottoms</div>
        <div class="font-bold">% by Volume</div>
        <div>Continue to expand on domestic compliance options</div>
        <div>100%</div>        
      </div>
  </div>

  <div class="col-span-full">
      <p class="small-grid-header serif-font w-full text-center text-sm">2020 Actuals</p>
      <div class="xsmall-grid grid grid-cols-2 text-center serif-font">
        <div class="font-bold">Soft Wovens and Tees</div>      
        <div class="font-bold">% by Volume</div>      
        <div>Bureau Veritas Social Compliance Audit</div>
        <div>84%</div>
        <div>WRAP Certified Audit</div>
        <div>13%</div>
        <div>SMETA Audit</div>
        <div>3%</div>
        <div class="font-bold">Knitwear</div>      
        <div class="font-bold">% by Volume</div>    
        <div>Promperu Fair Trade Ceritified</div>
        <div>46%</div>
        <div>Bureau Veritas Social Compliance Audit</div>
        <div>28%</div>
        <div>Oeko Tex Certified</div>
        <div>26%</div>  
        <div class="font-bold">Outerwear</div>
        <div class="font-bold">% by Volume</div>
        <div>Fair Wear Foundation Audit</div>
        <div>100%</div>
        <div class="font-bold">Footwear</div>
        <div class="font-bold">% by Volume</div>
        <div>In process; goal to have audit in 2021</div>
        <div>n/a</div>
        <div class="font-bold">Denim and Woven Bottoms</div>
        <div class="font-bold">% by Volume</div>
        <div>Arche Business Statement Audit</div>
        <div>100%</div>        

      </div>


      <p class="serif-font mt-10">More information on three of our certification audits:</p>
  </div>

  <div class="col-span-full princples-wrapper serif-font pb-6">
    <p class="w-full font-bold text-sm mb-2">12 Principles of Worldwide Responsible Accredited Production (WRAP)</p>
    {% assign wrapPrinicples = '1. Compliance with local and international laws and workplace regulations||2. Prohibition of forced, involuntary, or trafficked labor||3. Prohibition of child labor||4. Prohibition of harassment and physical and verbal abuse||5. Compensation and benefits must be in compliance with local law, including all mandated wages, allowances and benefits.||6. Hours of work will not exceed the limits based on the country’s local laws, as well as adhere to limits set on overtime.||7. Prohibition of discrimination on the basis of race, color, national origin, gender, age, sexual orientation, religion, disability, or other similar factors (pregnancy, political opinion or affiliation, social status, etc.).||8. Health & safety must be prioritized with a safe, clean, healthy and productive workplace provided for employees above all else. This includes a variety of requirements, such as ensuring proper personal protective equipment (PPE), clean drinking water, adequate medical resources, fire exits and safety equipment, training to perform job safely and with the well being of the employee in mind, well light and comfortable work stations, and clean restrooms.||9. Freedom of association & collective bargaining, whereby employees’ lawful rights and freedoms to exercise their choice to associate, join, or participate in any workers association and/or collective bargaining are recognized and respected.||10. Compliance with the rules, regulations, and standards legally mandated by monitoring and demonstrating a commitment to protecting the environment; in particular, ensuring proper waste management.||11. Customs compliance with all applicable customs laws and regulations regarding the import and export of finished products.||12. WRAP recognizes the United States Customs and Border Protection (CBP)’s Guidelines for Foreign Manufacturers as minimum security requirements, and has adopted those guidelines under this principle.' | split: '||' %}
    <ul class="italic principles-list">
      {%- for princple in wrapPrinicples -%}
      <li>{{ princple }}</li>
      {%- endfor -%}
    </ul>
  </div>

  <div class="col-span-full princples-wrapper serif-font pb-6">
    <p class="w-full font-bold text-sm mb-2">Bureau Veritas Social Compliance Audit</p>
    {% assign wrapPrinicples = '1. Compliance with local and international laws and workplace regulations||2. Prohibition of child labor||3. Prohibition of forced, involuntary, or trafficked labor||4. Prohibition of harassment and physical and verbal abuse||5. Compensation and benefits must be in compliance with local law, including all mandated wages, allowances and benefits.||6. Hours of work will not exceed the limits based on the country’s local laws, as well as adhere to limits set on overtime.||7. Health & safety must be prioritized with a safe, clean, healthy and productive workplace provided for employees above all else.||8. Prohibition of discrimination on the basis of race, color, national origin, gender, age, sexual orientation, religion, disability, or other similar factors (pregnancy, political opinion or affiliation, social status, etc.).||9. Women’s rights are prioritized, including equal pay for equal work, equal representation, an inclusive company culture, and policies for recruitment, promotion, training and mentoring.||10. Freedom of association & collective bargaining, whereby employees’ lawful rights and freedoms to exercise their choice to associate, join, or participate in any workers association and/or collective bargaining are recognized and respected.||11. Compliance with the rules, regulations, and standards legally mandated by monitoring and demonstrating a commitment to protecting the environment; in particular, ensuring proper waste management.||12. Verification of any subcontractor used by means of PO records, address and contact information, and detailed costs paid to subcontractors.||13. Transparent communication and assistance from management in organizing interviews with workers and employees to provide information on working hours, wages, safety, treatment, and equal opportunity based on skill.||14. Monitoring and compliance of any items noted as in need of a Corrective Action Plan (CAP) with a follow-up within 30, 60, or 90 day time periods for corrections to be completed.' | split: '||' %}
    <ul class="italic principles-list">
      {%- for princple in wrapPrinicples -%}
      <li>{{ princple }}</li>
      {%- endfor -%}
    </ul>
  </div>

  <div class="col-span-full princples-wrapper no-b serif-font">
    <p class="w-full font-bold text-sm mb-2">Promperu Fair Trade Certified follows the 10 principles of the World Fair Trade Organization. </p>
    {% assign wrapPrinicples = '1. Reducing poverty through trade opportunities for economically disadvantaged and marginalized small producers in order to move from precarity and insecurity to self-sufficiency and ownership.||2. Transparency and open communication across the supply chain, with employees and producers involved in decision-making processes.||3. Fair Trade practices, including the acknowledgement, promotion, and protection of the cultural identity and skills of producers.||4. Fair payment, including equal pay for equal work by women and men. This principle is made up of Fair Prices (set by the seller and based on transparency), Fair Wages (equitable, at minimum a local living wage, freely negotiated and mutually agreed upon), and Local Living Wage (wages received for a standard work week in order to provide for workers and their families).||5. Prohibition of child and forced labor, and adherence to the UN Convention on the Rights of the Child.||6. Non-discrimination, promotion of gender equality, the economic empowerment of women and enabling of women to take leadership positions, and freedom of association and collective bargaining.||7. Safe and healthy working conditions.||8. Development of skills and abilities of producers, employees, and members, including production capabilities, access to markets, and management skills.||9. Promotion of Fair Trade and honest advertising to communicate the need for justice through Fair Trade.||10. Environmental responsibility and respect, including emphasis on local raw materials and responsibly managed sources as well as production methods that reduce energy consumption and impact and use of recycled packing materials.' | split: '||' %}
    <ul class="italic principles-list">
      {%- for princple in wrapPrinicples -%}
      <li>{{ princple }}</li>
      {%- endfor -%}
    </ul>
    <div class="hash-divider col-span-full w-full flex justify-center mt-8">
      <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
  </div>
    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">GLOBAL SOURCING AND SOCIAL COMPLIANCE</h6>
     <p class="w-full serif-copy mb-0">
        As part of our sourcing strategy, we choose our manufacturing partners based on regional techniques and raw materials of the area: For example, the artisanal handwork and embroidery in our pieces is specific to India, and the handknitting techniques of alpaca wool is specific to Peru. Additionally, we choose our manufacturing partners based on their alignment with our core mission and values, including social compliance, ethical labor practices and wages, efforts towards closing the gender gap, and quality.
        <br /><br />
        While the United States still has great manufacturing in basic cut and sew knits and denim, globalization has severely imperiled many of our US garment manufacturing hubs over the past few decades. The US government has also been restrained when it comes to regulating factories, causing unsafe work conditions and starvation wages for workers domestically. 
        <br /><br />
        Here in Los Angeles where our headquarters is based, factories employ more than 40,000 people -- mostly immigrant women -- and are some of the worst perpetrators of employment violations, wage theft, and unsafe working environments. During the COVID-19 lockdowns of last year, there were several outbreaks within LA-based factories, leading to deaths of garment workers; this is the direct result of unethical policies such as piece rate pay, which make it difficult for workers to take breaks to wash their hands and sanitize their work area.

     </p>
    </div>


    <div class="text-right flex justify-end items-start flex-wrap">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-02-03.png' | asset_img_url: 'x750' }}" />
       <h5 class="grid-header w-full pt-8 font-semibold italic text-xs text-center mt-10">
        This year, we are proud to have become an industry endorser of the Garment Worker Protection Act, which passed the California Senate Judiciary Committee in April.
       </h5>
    </div>

    <div class="text-right flex col-span-full justify-end items-start">
       <img class="lazy-item" data-src="{{ 'resolutions-02-piechart.png' | asset_img_url: 'x1000' }}" />
    </div>
  
    <div class="hash-divider col-span-full w-full flex justify-center">
      <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

    <div class="text-right flex justify-start items-start">
       <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions-02-04.png' | asset_img_url: 'x500' }}" />
    </div>

    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">WAGES AND BENEFITS</h6>
     <p class="w-full serif-copy mb-0">
     A critical component to our understanding of ethical practices is the wages, worldwide, for the skilled garment workers who make our products. In 2021, we will continue to work closely with our vendors, determining who we work with by analyzing their organization’s social compliance and commitment to values that align with our own. 
     </p>

     <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-left my-10">
      In addition to our third party audits, internal team leaders visit our factories on a regular basis to conduct internal audits and build deep, long-standing relationships with our vendors. 
     </h5>
     <p class="w-full serif-copy mb-0">
     We not only visit for the purposes of meeting with the owners and upper management; we have direct relationships with the workers, and we work together to ensure our mutual vision, both in design and in an ethical workplace, is aligned and executed upon. This ensures the integrity of our commitment to our values. 
     </p>
    </div>

    <div class="col-span-full text-left">
        <p class="w-full serif-copy mb-0">
        It is important to note that living wage is not always included in audits, but minimum wage is. The graph below provides information on our factory wages. The living wage benchmark, calculated for each specific region, for our sewers and knitters is outlined below for our top two manufacturing partners.
        <br /><br />
        The majority of workers in our supply chain are sewers, pattern cutters, knitters, and other management or quality control positions; all of these roles significantly outperform the benchmark for a living wage in their respective regions. However, some roles in our current supply chain make a minimum wage for their region, which is less than a living wage. These are entry level positions in trimming, packing, and finishing.  
        </p>
    </div>

    <div class="text-right py-2 flex col-span-full justify-end items-start">
       <img class="lazy-item" data-src="{{ 'resolutions-02-charts.png' | asset_img_url: 'x1000' }}" />
    </div>

    {% assign wageItems = 'Our highest paid sewers are paid 63% above a living wage.|Our highest paid sewers are paid 70% above a living wage when benefits are added to total compensation.|The average wage of sewers is 21% above a living wage.|The average wage of sewers is 34% above a living wage when benefits are added to total compensation.|Our highest paid knitters are paid 66% above a living wage.|Our highest paid knitters are paid 69% above a living wave when benefits are added to total compensation.|The average wage of knitters are paid 46% above a living wage.|The average wage of knitters is 50% above a living wage when benefits are added to total compensation. ' | split: '|' %}
    <div class="col-span-full flex justify-center">
        <ul class="w-auto ml-3 sm:w-10/12 list-disc serif-copy">
         {%- for item in wageItems -%}
             <li>{{ item }}</li>
         {%- endfor -%}
        </ul>
    </div>

    <div class="col-span-full">
      <p class="serif-copy italic w-full text-center mb-2">Examples of benefits in our top two countires where we manufacture.</p>
      {% assign benefitsItems = "15 days paid vacation per year|30 days paid vacation per year|Medical insurance, as well as medical and vision care on-site|Health care, as well as coverage by new Peruvian program SISA|Provident Fund (India's version of Social Security)|Pension Fund|Education fund, which pays for the education of the daughters of employees|Our knitters work within a Fair Trade Certified program that ensures both fair, living wages (set by the knitters based on the designs) as well as flexible work hours so that many mothers knitting within the program can work from home|6 months paid maternity leave with full salary|14 weeks paid maternity leave with full salary|Bonus structure|Double wages in July for Independence Day of Peru, and in December for Christmas" | split: '|' %}
      <div class="w-full grid grid-cols-2 xsmall-grid serif-copy">
        <div class="font-bold">India Benefits</div>
        <div class="font-bold">Peru Benefits</div>
        {%- for item in benefitsItems -%}
        <div>{{ item }}</div>
        {%- endfor -%}
      </div>
    </div>
  
    <div class="hash-divider col-span-full w-full flex justify-center">
      <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

    <div class="w-full col-span-full">
      <h6 class="font-semibold w-full text-center text-xs">PRICING</h6>
      <p class="w-full serif-copy mb-0 text-center">
        We are looking forward to sharing a journal exploring our pricing. Separate from our 2021 goal-setting, this will give context to our pricing by category, and as well as to how proceeds are applied to our operating expenses. Stay tuned for a report on this topic. 
      </p>
    </div>
    
    <div class="col-span-full text-center flex justify-center items-center">
      <img class="lazy-item w-3/5" data-src="{{ 'resolutions-flower-row.png' | asset_img_url: 'x30' }}" />
    </div>



  </div> <!-- End Split Grid -->


</div>