<div class="w-full resolutions-panel" id="resolutions-2">
    <h3 class="w-full text-center flex flex-col justify-center items-center">
      <span class="text-xs">02.</span>
      <p class="uppercase text-xs mt-1.5">Ethical Practices</p>
    </h3>
    
    <div class="hash-divider my-8 w-full flex justify-center">
      <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
  
    <p class="text-xs w-full text-center small-disclaimers heading-description">We are proud to share our 2021 updates on our practices, and are looking forward to sharing new benchmarks driven by our organizational and brand values as well as our unwavering commitment to protecting our workers across our supply chain. These will be published in the coming months as part of our 2030 Roadmap.
    </p>
  
    <h4 class="py-4 sans-serif-header w-full text-center mt-8">Women-Owned Vendors</h4>
          
      
   <ul class="serif-copy ml-4 mb-0 list-disc w-full text-center font-italic" style="list-style-type:none;">
              <li class="mb-4" style="width:auto;font-style:italic;">
                      • 88% of all 2021 product volume, including apparel, footwear, and accessories, was produced in a woman-owned or co-owned factory. This is an increase from 82% in 2020.

              </li>
     
      <li class="mb-4" style="font-style:italic;">
       • We will continue working with audited and certified vendors, and are committed to adding woman-owned factory partners as we expand our assortment.        

              </li>
     
     
  </ul>
  

      
  
  
    <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-10 gap-x-14">
   
      <!-- <div class="text-right flex justify-end items-start">
         <img class="lazy-item w-full" data-src="{{ 'resolutions-02-01.png' | asset_img_url: 'x500' }}" />
      </div> -->
  
 


  
    <div class="col-span-full">
       <h4 class="py-4 sans-serif-header w-full text-center mt-8">AUDITS & CERTIFICATIONS</h4>
      
      <ul class="text-center serif-copy ml-4 mb-0 list-disc w-full" style="list-style-type:none;">
              <li class="mb-4" style="width:auto;font-style:italic;">
      	• 100% of our 2021 apparel volume was made in an audited facility.

              </li>
        
        <li class="mb-4" style="width:auto;font-style:italic;">
      • 100% of our 2021 apparel factories are internally audited by a member of our team.

              </li>
         <li class="mb-4" style="width:auto;font-style:italic;">
        • 73% of our 2021 accessories volume, including footwear, was made in a facility audited by a third party.

              </li>
         <li class="mb-4" style="width:auto;font-style:italic;">
        • 100% of our 2021 accessories and footwear volume was audited by a member of our internal team. This was a gigantic leap forward from 2020!

              </li>
         <li class="mb-4" style="width:auto;font-style:italic;">
      •  79% of all 2021 product -- including footwear, apparel, and accessories -- were made in carbon audited and offset facilities.

              </li>
        
        
        
      </ul>
      
  
      {% comment %}
      <div class="w-full flex justify-center">
          <img class="lazy-item triple-flower my-4" data-src="{{ 'resolutions-flower-3.png' | asset_img_url: '50x' }}">
      </div>
          
      <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-center">
          100% of our apparel factories are internally audited by a member of our team.
      </h5>
  
      <div class="w-full flex justify-center">
          <img class="lazy-item triple-flower my-4" data-src="{{ 'resolutions-flower-3.png' | asset_img_url: '50x' }}">
      </div>
          
      <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-center">
         76% of our 2020 product was made in carbon neutral facilities, <br />
          by the first India based certified carbon neutral garment exporter.
      </h5>
      {% endcomment %}
  
       <p class="w-full serif-copy mb-0 text-center mt-5">
        A key component of our close relationships with our vendors is our commitment to in-person visits and
audits by an internal member of our team. We will continue to conduct internal auditing and implement
new social compliance programming in line with our values and our strategic roadmap.

       </p>
  
    </div>
  
    <div class="col-span-full">
      <div class="text-right flex justify-end items-start">
         <img class="lazy-item w-full max" data-src="https://cdn.shopify.com/s/files/1/0950/9820/files/2022-Resolutions-page_charts_01.png?v=1647299750" />
      </div>

        <!-- <h6 class="font-semibold w-full text-center text-xs">2021 Certification Percentages</h6> -->
        <!-- <div class="xsmall-grid grid grid-cols-2 text-center serif-font">
          <div class="font-bold">AUDIT TYPE</div>      
          <div class="font-bold">% TO TTL</div>
          {%- capture listItems -%}
          BUREAU VERITAS,57%|WRAP,34%|BUREAU VERITAS AUDIT SCHEDULED FOR JANUARY 2022,5%|SEDEX PILLAR 4,2%|PROMPERU FAIR TRADE,1%|DOEN INTERNAL AUDIT ONLY,1%
          {%- endcapture -%}
          {% assign listItems = listItems | split: '|' %}
          
          {% for item in listItems %}
          <div>{{ item | split: ',' | first }}</div>
          <div>{{ item | split: ',' | last }}</div>
          {% endfor %}
        </div> -->
    </div>
      
      <div class="col-span-full">
        <h6 class=" w-full text-center text-xs">Global Sourcing and Social Compliance</h6>
        
        <p class="w-full serif-copy mb-0">
        We choose our manufacturing partners based on a host of factors, including but not limited to their
governing values, ethical labor practices, worker wages and benefits, social compliance and certifications,
efforts towards the empowerment of women in their workforce, quality and craftsmanship, and proximity
to regional techniques and raw materials. For more information on our materials and Tier 1-4 traceability,
please visit our 2021 Resolutions Report and our Environmental Impact update above.
          <br /><br />
        In the spring of 2021, we became proud industry endorsers of the Garment Worker Protection Act, or SB62, which was signed into law in a historic moment on September 27, 2021. For the 45,000+ garment workers of Los Angeles, this bill is a momentous step forward: SB62 eliminates the damaging piece rate pay system in California, and removes loopholes that formerly allowed corporations and brands to commit wage theft with impunity. With the success of SB62, we are hoping to be part of a larger movement nationwide that sees transformative legislation of this nature in more states to come. 
  
        
        </p>
      </div>
  
    <div class="col-span-full">
        <h6 class="w-full text-center text-xs">2021 Country of Origin</h6>
        <div class="text-right flex justify-end items-start">
          <a href="/pages/resolutions">
           <img class="lazy-item w-full max" data-src="{{ '2022-Resolutions-page_charts_02.png' | asset_img_url: 'x500' }}" />
          </a>
        </div>
  
        
        <!-- <p class="w-full serif-copy mb-0 text-center">
          Where our apparel was made worldwide in 2021.  
        </p>
        <div class="xsmall-grid grid grid-cols-2 text-center serif-font">
          <div class="font-bold">COO</div>      
          <div class="font-bold">%</div>
          {%- capture listItems -%}
          INDIA,84%|PERU,7%|USA,5%|TURKEY,1%|PORTUGAL,1%|ROMANIA,1%|CHINA,1%
          {%- endcapture -%}
          {% assign listItems = listItems | split: '|' %}
          
          {% for item in listItems %}
          <div>{{ item | split: ',' | first }}</div>
          <div>{{ item | split: ',' | last }}</div>
          {% endfor %}   
  
        </div> -->
  
  
        <p class="serif-font mt-10 text-center">For more information on certifications, worker benefits, and wages, visit our 2021 Resolutions Report.</p>
    </div>
  

    
      
      <div class="col-span-full text-center flex justify-center items-center">
        {% render 'flower-hash-icon' %}    
      </div>
  
  
  
    </div> <!-- End Split Grid -->
  
  
  </div>