<div class="w-full resolutions-panel" id="resolutions-4">
    <h3 class="w-full text-center flex flex-col justify-center items-center my-0">
      <span class="text-xs">04.</span>
      <p class="uppercase text-xs mt-1.5">Internal Progress</p>
    
      <div class="hash-divider col-span-full flex justify-center my-8">
          <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
      </div>
    </h3>
      
    <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-14">
  
      <p class="w-full col-span-full mb-0 text-center serif-copy heading-description">
          In 2021, in an emergence from the year where everything came to a screeching halt, we saw a year of growth and new life breathed into our brand and in our internal walls. We grew from 67 to 85 employees in the past year, hiring some key roles which will guide us on our path forward.


      </p>
      
  
      <div class="text-left">
  
  
       <p class="w-full serif-copy mb-3">
          With this growth, the understanding that our internal work is the cornerstone of realizing our vision as an
          evolved and innovative company is more clear than ever. We must do the work to continue addressing
          systemic inequities, implicit biases, and racial disparities within our own company culture, and creating a
          space where our employees feel empowered and respected.
       </p>
  
       <p class="w-full serif-copy mb-0">
          In order to invest in the internal team, we’ve created and rolled out new programs this year to encourage
          and support long term wellness and physical and financial well-being. Adding to our previous benefits:
       </p>
        
      </div>
  
      <div class="text-right flex justify-start items-start">
         <img class="lazy-item" style="width: 66%" data-src="{{ 'resolutions_2022_04_01.png' | asset_img_url: 'x750' }}" />
      </div>
      
      <div class="w-full col-span-full">
        
  
       <ul class="ml-4 mb-0 list-disc serif-copy w-full">
          <li class="mb-1">
              We officially implemented our corporate 401K program with a generous employer match.</li>
          <li class="mb-1">
            We will be implementing our Parental Re-Entry Benefit Policy which provides eligible
              employees with an opportunity to return from their Parental Leave with a 4 -day workweek while
              being paid for 5 days. The length of this benefit is 8 weeks.
          </li>
         <li class="mb-1">
           We will also be recognizing Wellness Hours where all regular full-time employees will receive 16
           Wellness Hours at time of hire and completion of their 90-day probationary period, and thereafter
           will be granted 16 Wellness Hours each calendar year.
           
           <ul class="ml-5 list-disc serif-copy w-full">
             <li style="font-style:normal !important;">
               Employees may use their Wellness Benefit for a variety of activities and wellness needs, including, but not limited to:
                 <ul class="ml-5 list-disc serif-copy w-full">
                {% capture listItems %}Counseling/Therapy Sessions||Nutrition Consultations||Wellness Programs||Weight Management Programs||Smoking Cessation Programs{% endcapture %}
                {% assign listItems = listItems | split: '||' %}
                {% for item in listItems %}
                <li style="font-style:normal !important;">{{item}}</li>
                {% endfor %}
              </ul>
             </li>
           </ul>
         </li>
       </ul>
        
      </div>
      {% comment %}
      <div class="text-right flex justify-end items-start mobile-frame">
         <img class="lazy-item w-full" data-src="{{ 'resolutions-04-02.png' | asset_img_url: 'x750' }}" />
      </div> 
	  {% endcomment %}  
      
      <div class="text-left col-span-full">
        <p class="w-full serif-copy mb-0">
        In 2022, we will embark on our fourth round of Employee Resource Group sessions. Employees will have
        the opportunity to join any and all of the four groups: Diversity, Equity, Inclusion, and Belonging; Health
        and Wellness; Environmental Impact; and our newly established Prospective/Parents, Guardians, and
        Caregivers. These sessions are led by employees, with the purpose of creating an inclusive, educational,
        receptive, and supportive workplace. Department managers and directors are required to participate in
        one (1) ERG per session.
          <br /><br />
        Dôen Employee Resource Groups enrich the company culture by providing education, discussion, and
        support, with the goals of increasing professional and personal development, and creating a safe place
        for employees to bring their whole, unique, selves to the table. Each of the four groups strive to:
        </p>
        <ul class="ml-5 list-disc serif-copy w-full" style="margin-bottom:0;">
        
          {% capture listItems %}Uphold and Evolve the Company Mission and Values||Encourage Progressive Thinking and Action||Create Connections and Community||Build Unity and Trust Amongst Employees of Varying Titles and Expertise||Provide Leadership and Engagement Opportunities for All Employees
{% endcapture %}
          {% assign listItems = listItems | split: '||' %}
          {% for item in listItems %}
          <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>

    
          <div class="hash-divider col-span-full flex justify-center mt-4" style="margin-bottom:25px;">
              <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
          </div>
  
      <div class="text-left">
       <h6 class="text-xs mb-3">ANTI-RACISM EFFORTS</h6>
       <p class="w-full serif-copy mb-0">
        In 2021, we continued working with the incomparable Dr. Akilah Cadet, who regularly provides guidance for our leadership team. In 2021, the Change Cadet team advised leadership and held an
        educational workshop with our managers. In the coming year we will host an all-team workshop and continue
        to create learning oportunities as we continue on our path to create an actively anti-racist and inclusive
        culture in our offices, stores, and virtual communities. We were proud to feature Dr. Cadet and the work
        she’s doing with Change Cadet in our journal in December 2021.
       </p>
       
      </div>
  
      <div class="text-right flex justify-end items-start">
         <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions_2022_04_02.png' | asset_img_url: 'x750' }}" />
      </div>
  
      <div class="text-right flex flex-wrap justify-end items-start">
        <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions_2022_04_03.png' | asset_img_url: 'x750' }}" />
      </div>
  
      <div class="text-left">
       <p class="w-full serif-copy mb-3">
       In order to create a more inclusive environment, we’ve fully rolled out our People and Culture Panel stage
        during the interview process. These panels create opportunities for all employees to be included in the
        recruitment process while also reducing unconscious bias by incorporating diversity of experience and
        through in the hiring process. When hiring, we make it clear that we are an equal opportunity employer
        and share these core values and our mission in all job descriptions and interviews.
       </p>
       
       <p class="w-full serif-copy mb-0">
         We’ve also evolved our review process, implementing quarterly reviews in order to continue cultivating
        and nurturing a communicative, transparent, and developmental workplace. These quarterly meetings
        allow all of our employees to give and receive frequent feedback from their managers, receive information
        to help create pathways for professional development and personal growth, and create structured
        accountability as we continue to enrich our company culture.
        </p>
        
      </div>
    
  
      <div class="col-span-full mt-10 text-center flex justify-center items-center">
        {% render 'flower-hash-icon' %}    
      </div>
  
  
    </div> <!-- End Split Grid -->
  
  
  </div>