<div class="w-full resolutions-panel" id="resolutions-4">
  <h3 class="w-full text-center flex flex-col justify-center items-center my-0">
    <span class="text-xs">04.</span>
    <p class="uppercase text-xs mt-1.5">Internal Progress</p>
  
    <div class="hash-divider col-span-full flex justify-center my-8">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
  </h3>
    
  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-10 gap-x-14">

    <p class="w-full col-span-full mb-0 text-center serif-copy heading-description">Since our first days as a team of 6 to our current team of 67, we have evolved as an organization and workplace. Our ongoing internal work is an inextricable component of our mission, and is informed by our fundamental desire to do things differently in the apparel industry and become an industry innovator in company practices.</p>

    

    <div class="text-left">

     <p class="w-full serif-copy mb-0">
     We are committed to addressing systemic inequities, implicit biases, and racial disparities within our own company culture. Our three employee-led resource groups aim to provide open forums for our team to convene, hold safe and honest dialogue, and deepen our connection to one another: Diversity, Equity, Inclusion, and Belonging Committee, Wellness and Safety Committee, and Corporate Sustainability Committee. We are committed to the ongoing work of creating an equitable, welcoming, compassionate, and just work environment for all team members.
     </p>
     <h6 class="font-semibold text-xs mt-8 mb-3">Pre-Order System</h6>
     <p class="w-full serif-copy mb-0">
      Our pre-order system has allowed customers to view entire collections while shopping before making their selection. Our current payment processing limitations have not enabled us to authorize payment at time of checkout without charging the customer. This experience, combined with delays past the original estimated arrival date, has unfortunately created a frustrating customer experience at times. 
     </p>
     
    </div>

    <div class="text-right flex justify-end items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-04-01.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-right flex justify-end items-start mobile-frame">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-04-02.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-left">
      <p class="w-full serif-copy mb-0">
      In 2021, as an interim solution, we will ensure that you are able to view collections in their entirety, with styles not yet ready to ship marked as ‘COMING SOON.’ We will offer the option to sign up to be notified when the piece is ready to ship so our customers can purchase at that time. Additionally, we will work internally on a payment processing solution to allow for future pre-order items to be purchased and authorized at checkout, and not charged until shipping. 
      <br /><br />
      Our customer experience is of utmost importance to us, and as we grow, we are continually looking for ways we can add more resources for our customer. The members of our Customer Care Team are now available to speak with our customers in English, Spanish, French, and Cantonese.
      </p>
  
        <div class="hash-divider col-span-full flex justify-center mt-10">
            <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
        </div>
    </div>

    <div class="text-left">
     <h6 class="font-semibold text-xs mb-3">ANTI-RACISM EFFORTS</h6>
     <p class="w-full serif-copy mb-0">
      In 2021, we are asking our employees to voluntarily self-identify as part of an internal survey to track representation, diversity, and inclusion, and create benchmarks for improvement. We have published voluntary self-reporting for our managerial and director level employees, as reported in our <a href="https://shopdoen.com/blogs/journal/anti-racism-accountability-6-month">Anti-Racism Accountability.</a>
      <br /><br />
      We have also created guidelines for job postings to always be posted on specific job boards, including Black in Fashion Council, 15% Pledge, and others. 
      <br /><br />
      In Spring 2021, we conducted implicit bias training for the entire company, and will be implementing for new hires moving forward. We also will be mandating bias training for management level roles and above, and scheduling a training from the LGBTQ+ Center of Los Angeles for our entire staff.  
     </p>
     
    </div>

    <div class="text-right flex justify-end items-start">
       <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions-04-03.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-right flex flex-wrap justify-end items-start">
       <img class="lazy-item w-full mb-4" data-src="{{ 'resolutions-04-04.png' | asset_img_url: 'x750' }}" />
       <img class="lazy-item w-full mobile-frame" data-src="{{ 'resolutions-04-05.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-left">
     <p class="w-full serif-copy mb-0">
     In an effort to create opportunities for all employees to be included in the recruitment and growth of DÔEN, we are implementing a hiring panel stage of our interview process. The coinciding purpose of the panel is to reduce unconscious bias by incorporating diversity of experience and thought in the hiring process, and to therefore mitigate the potential impact of primary effect bias, unconscious bias, and affinity bias. 
     <br/><br/>
     The treatment of all team members, former and current, is our top priority, and it is our deepest honor to cultivate and nurture an equitable workplace. We are implementing a quarterly review process in order to give employees additional moments throughout the year to give feedback and receive guidance from their manager. This information will also help us in continual improvement of company culture and our efforts towards inclusion. 
     <br/><br/>
     We are happy to announce that we have renewed our paid internship program with a stronger curriculum, and will also be formalizing a mentorship program with the aim of increasing opportunities for communities traditionally shut out of the fashion industry, expected to be formally implemented by Q4 of this year.
     </p>
     
    </div>
  
    <div class="hash-divider col-span-full flex justify-center">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

    <div class="col-span-full w-full" style="font-style:italic;">
     <h6 class="font-semibold text-xs mb-3" style="font-style:normal;">EMPLOYEE RESOURCES</h6>
     <p class="serif-copy w-full mb-0">
       <strong>Our current benefits include:</strong>
       <br/>
       Medical, Dental, and Vision insurance options for full-time employees and their dependents. 
    </p>
    <ul class="ml-4 mb-0 serif-copy">
        <li>- We have multiple HMO plans and 1 PPO plan option that are all 100% covered for the employee by DÔEN.</li>
        <li>- Life insurance is 100% covered for the employee by DÔEN.</li>
        <li>- Dental is covered 50% for the employee by DÔEN.</li>
        <li>- We offer FSAs that are inclusive of dependent care.</li>
    </ul>
    <p class="serif-copy w-full mb-0">
      <i>
       We have 100% paid parental leave, up to 12 weeks. <br/>
       We cover 6 sick days per calendar year, which can be used for preventative care appointments. <br/>
       We offer 6 accrued vacation days for the first year, and 10 accrued vacation days after the first year. <br/>
       We include 2 days of Community Activism in our paid time off per year.  <br/>
       We also have a resident Company Health Coach, who is available to provide complimentary wellness coaching sessions with all employees.   <br/>
       We offer an Employee Assistance Program, or EAP, to provide counseling, consultations, and other services for employees who are seeking personal and professional guidance. <br/>
       Our Company Calendar includes 11 paid holidays, including an additional Floating Holiday for employees to use upon request.  <br/>
       Our employee-led resource groups, or committees, in the areas of Wellness & Safety, Corporate Sustainability, and Diversity, Equity, Inclusion and Belonging  facilitate events with guest speakers and panelists for educational discussions for all employees. The volunteer co-chair positions for committees, which rotate every 6 months, are paid. <br/>
       Our entry level full-time positions start at 17% higher than the living wage, and are inclusive of the rest of our benefits. Minimum wage in Los Angeles is $15/hour. <br/>
       Pre-COVID, we also offered bonuses as part of compensation that are based on department; we are looking forward to reinstating this as part of our compensation package.  <br/>
       We are implementing a 401K plan with company matching in 2021 for our team members.
      
      </i>
     </p>
    </div>

    <div class="col-span-full mt-10 text-center flex justify-center items-center">
      <img class="lazy-item w-3/5" data-src="{{ 'resolutions-flower-row.png' | asset_img_url: 'x30' }}" />
    </div>


  </div> <!-- End Split Grid -->


</div>