<div class="w-full resolutions-panel" id="resolutions-3">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">03.</span>
    <p class="uppercase text-xs mt-1.5">Community Representation</p>
  </h3>
    
  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-8 gap-x-14">

    <div class="hash-divider col-span-full w-full flex justify-center mt-8">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
    
    <p class="w-full col-span-full mb-0 text-center serif-copy heading-description">
    We believe in the value of diverse representation within our organization. We recognize the depth of bias
    and long standing institutionalized racism, its prevalence and nefariousness within our industry, and we
    are committed to continued organizational action to create a culture of equality, transparency and
    accountability.
    <br /><br />
      We are dedicated to fostering an environment for all individuals to thrive as their authentic selves,
      regardless of race, gender, sexual orientation or disability, and we aim to cultivate a welcoming
      community where all employees feel safe to voice feedback and ideas.

    </p>

    
        <div class="text-left col-span-full">
     <h6 class="font-semibold text-xs mb-4">REPRESENTATION, DIVERSITY, AND INCLUSION IN CONTENT</h6>
     <p class="w-full serif-copy mb-0">
      In 2021, we rolled out accessibility captions on our social channels. These captions allow for those who may be blind or visually impaired to be able to read a description of the images by using an e-reader or assistive device. 

     </p>

    </div>
    
    <div class="text-left">
      <p class="w-full serif-copy mb-0">
       We are actively working to cultivate a diverse community through representation on our platforms. For each model and content creator seen on our platforms, we request a voluntary self identification and include within the caption when provided to us. Allowing our partners to self identify, and sharing it broadly, allows us to give a more complete picture of our community. The self identifications are meant to empower our subjects to share how they personally identify and see themselves, making each more visible and creating a more inclusive atmosphere on our platforms.  

      </p>
    </div>

    <div class="text-right flex justify-start items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions_2022_03_02.png' | asset_img_url: 'x750' }}" />
    </div>
    
    
    

    <div class="text-left col-span-full">
     <p class="w-full serif-copy mb-0">
       We have internally created benchmarks for representation for our 2022 campaigns, journals, and
marketing materials to ensure our marketing is reflective and celebratory of a diverse community, and
continually works to support women-identifying people in all aspects of our organization, supply chain,
and community at large. These benchmarks include representation guidelines for trans, gender
non-conforming/non-binary, and differently abled content creators, amongst other identifcations.
     </p>

    </div>
   

    
    {% comment %}
    <div class="text-right flex justify-start items-start mobile-frame">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-03-01.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-left flex flex-col justify-between">
        <p class="w-full serif-copy">In 2020, we pledged to increase our representation and inclusion on our website and social channels. We also announced our new 7-size run, with a promise that we would continue to improve upon our sizing offering throughout the year.</p>
        
        <h5 class="grid-header w-full my-10 py-4 font-semibold italic text-xs text-left">
        Starting Summer 2020, 34% of our 2020 women’s apparel styles, excluding pants and denim, came in 7 sizes, adding XXS and XXL to the XS-XL size run.
        </h5>
    </div>
    {% endcomment %}
  
    <div class="hash-divider col-span-full flex justify-center">
      <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

    
     
    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">SIZING</h6>
     <p class="w-full serif-copy mb-0">
     We celebrate all bodies and are continuously working towards offering more size-inclusive styles. 
<br/> <br /> In 2021, we pledged to offer our 7 size run in 45% of our styles, and finished the year offering 48% of our
styles in a 7 size run.
       <br/> <br />
       We also added additional sizes in our denim, which now includes sizes 23, 32, 33 and 34. We look
forward to building upon our size runs in the coming years.
       <br /><br />
       Over the next year, we expect that 80% of each wovens collection will be offered in our 7 size run, and we
plan to add size 14 to all non-denim bottom styles. By 2023, we plan to expand our denim collection to be
offered in additional rises and sizes.
       <br /><br />
       In other exciting news, in 2021, we also shared that we would add a kids size 12 to certain styles this
year, and have completed this extension to our childrenswear clothing.
     </p>
    </div>

    <div class="text-right flex justify-start items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions_2022_03_01.png' | asset_img_url: 'x750' }}" />
    </div>
    
    



    <!-- <div class="text-right flex pb-14 col-span-full justify-end items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-03-chart.png' | asset_img_url: 'x750' }}" />
    </div> -->

    
    <div class="col-span-full text-center flex justify-center items-center">
      {% render 'flower-hash-icon' %}    
    </div>


  </div> <!-- End Split Grid -->


</div>