<div class="w-full resolutions-panel active" id="resolutions-1">
    <h3 class="w-full text-center flex flex-col justify-center items-center">
      <span class="text-xs">01.</span>
      <p class="uppercase text-xs mt-1.5">Environmental Impact</p>
    </h3>
    
    <div class="hash-divider my-8 w-full flex justify-center items-center">
      <img class="lazy-item" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>

  
    <p class="text-xs w-full text-center small-disclaimers heading-description" style="margin-bottom: 15px;">As a brand, we know that the regions and communities who live and work where our product is made and our raw materials are sourced are impacted most by our supply chain decisions. We are also aware that with each day, our global climate crisis worsens. That's why we are passionate about understanding and minimizing our environmental footprint on our mission to create lasting, heirloom quality pieces.</p>
  
    <div class="flex col-span-full justify-end items-start">
      <img class="lazy-item w-full" data-src="{{ '11mr5-mg.png' | asset_img_url: 'x750' }}" />
   </div>
  
  
  
  
  <p class="text-xs w-full text-center small-disclaimers heading-description" style="margin-bottom: 0px;">
      <br><br>
  We set ambitious goals in our 2021 Resolutions and are proud to report on our progress for the year.
  </p>

    <h4 class="py-4 sans-serif-header w-full text-center mt-10" style="margin-top:0px;">Raw Materials and Chemicals:</h4>
  
  
    <div class="goals-wrapper w-full text-center">
  
  
      <div class="text-left">
          <p class="w-full serif-copy mb-0">
            <ul class="serif-copy ml-4 mb-0 list-disc w-full font-bold">
              <li class="mb-4"  style="font-weight:normal !important;">
                Our goal was for 60% of our cotton & cotton blend unit volume to be GOTS Certified organic, as measured as a percentage of units, as well as printing, dyeing and embroidery. The GOTS certification process examines the harvesting of raw materials and ensures the textiles are organically grown without pesticides and insecticides, and are environmentally and socially responsible.

                <ul class="ml-4 mb-0 list-disc w-full">
                  <li style="font-weight:bold !important;">Our 2021 GOTS certified organic cotton actual was 74%, an increase from 31% in 2020.
</li>
                </ul>
              </li>

            
                          <li class="mb-4" style="font-weight:normal !important;">
                Our goal was to begin implementation of a Restricted Substance List (RSL) protocol.
                <ul class="ml-4 mb-0 list-disc w-full">
                  <li style="font-weight:bold !important;">This Restricted Substance List was completed, and we were able to write, approve, and implement an RSL with our manufacturing partners.
</li>
                </ul>
              </li>
              
              

              <li class="mb-4" style="font-weight:normal !important;">
                We actively made an effort to transition to non-mulesed wool in 2021. Mulesing is the painful and cruel process of cutting flaps of skin from around a lamb’s breech and tail. When this wound heals, it creates an area of bare, stretched scar tissue which has no folds or wrinkles and is thought to reduce flystrike. 


                <ul class="ml-4 mb-0 list-disc w-full">
                  <li style="font-weight:bold !important;">Over the past year, we have integrated 48% of non-mulesed wool and wool blends into our total wool and wool blend product assortment, as measured by unit volume. 

                       </li>
                   </ul>
                  </li>
       
                
                
                    <li class="mb-4"  style="font-weight:normal !important;">
                Our goal was to transition to 50% responsible viscose by 2022. Viscose is derived from wood pulp, and therefore is often thought of as a more responsible, biodegradable fabric; however, the production of viscose can lead to biodiversity loss and deforestation depending on the supplier, and is reliant on many toxic chemicals, which are highly polluting and can contaminate water supplies. We have been searching for a responsible viscose from certified suppliers – including farms that use a nearly closed loop system for their viscose production – that meet our quality standards.
                <ul class="ml-4 mb-0 list-disc w-full">
                  <li style="font-weight:bold !important;">Our transition to responsible viscose is still in progress. While we have been met with challenges, we are still in development on responsible viscose, and hope to further our progress by partnering with our suppliers to find the right quality for us.</li>
                </ul>
              </li>

              <li class="mb-4" style="font-weight:normal !important;">
                In 2021, we committed to reexamining our sourcing methods for recycled yarns and fabrics, and to introduce regeneratively farmed cotton to our supply chain in 2022.
                <ul class="ml-4 mb-0 list-disc w-full">
                  <li style="font-weight:bold !important;">
                    We have started the process of scoping regenerative cotton sources in both California and India for our 2023 product. Also, with our new Director of Impact, we are working to create a 2030 Roadmap that will include our approach to recycled yarns and fabric.
                  </li>
                </ul>
              </li>





            </ul>
  </p>
  </div>
  
  
  
  
  
  <h4 class="py-4 sans-serif-header w-full text-center mt-10">Traceability</h4>
  
  
  <div class="goals-wrapper w-full text-center">
  
  
    <div class="text-left">
        <p class="w-full serif-copy mb-0">
          Last year, we embarked on traceability throughout all four tiers of our supply chain.
          Traceability is the ability of a brand to trace, or map, the production of its products throughout the supply chain. For example, a fully traced cotton product would include the farm where the cotton is grown (Tier 4), then to the processor that spins cotton into yarn (Tier 3), onto to the mills where the yarn is woven or knit into fabric (Tier 2) -- and lastly, to the manufacturer that cuts and sews the fabric into a finished product (Tier 1). When a brand knows their full supply chain in this way, it can work with each vendor to ensure that those working within the supply chain are respected and all vendors are following environmental compliance practices. This is crucial to managing environmental and social impacts, and why we’re committed to documenting our entire supply chain.
          
  </p>
  </div>
  
  
  
  
  
  
  <!-- <ul class="w-full flex flex-col justify-center items-center serif-list">
      <li>
          Tier 1 - Finished Goods Assemblers & Subcontractors<br>
          Goal: 100%<br>
          Actual: 100% 
      </li>
      <li>
          Tier 2- Dyers & Printers, Finishers, Weavers, Knitters<br>
  Goal: 100%<br>
  Actual: 98% 
      </li>
  
      <li>
          Tier 3- Fibers, Spinners, Recycled Material Collector/Processor <br>
          Goal: 90%<br>
          Actual: 88% 
      </li>
  
      <li> Tier 4- Raw Material (Farm, Forest, Ranch) <br>
          Goal: 80%<br>
          Actual: 59% 
           
          
   
  
  
      </li>
    </ul>
  -->
  
  
  
  
  
 
    
    
    <br /><br />
  
      <div class="col-span-full">
        <p class="small-grid-header serif-font w-full text-center text-sm">2021 Goals</p>
        <div class="small-grid grid grid-cols-4 gap-0 serif-font italic">
          <div>Tier 1: 100% of unit volume</div>
          <div>Tier 2: 100% of unit volume</div>
          <div>Tier 3: 90% of unit volume</div>
          <div>Tier 4: 80% of unit volume</div>
          
          <div>Finished goods, assemblers, and subcontractors</div>
          <div>Dyers and printers, finishers, weavers, knitters</div>
          <div>Fibers, spinners, recycled materials collectors / processers</div>
          <div>Raw material (farm, forest, ranch)</div>
        </div>
      </div>
  
      <div class="col-span-full mt-3">
        <p class="small-grid-header serif-font w-full text-center text-sm">2021 Actuals</p>
        <div class="small-grid grid grid-cols-4 gap-0 serif-font italic">
          <div>Tier 1: 100% of unit volume</div>
          <div>Tier 2: 98% of unit volume</div>
          <div>Tier 3: 88% of unit volume</div>
          <div>Tier 4: 59% of unit volume</div>
          <div>Finished goods, assemblers, and subcontractors</div>
          <div>Dyers and printers, finishers, weavers, knitters</div>
          <div>Fibers, spinners, recycled materials collectors / processers</div>
          <div>Raw material (farm, forest, ranch)</div>
        </div>
      </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <h4 class="py-4 sans-serif-header w-full text-center mt-10">Packaging</h4>
  
  
  <div class="text-left grid grid-cols-1 sm:grid-cols-5 gap-5">
        <ul class="ml-4 mb-0 list-disc w-full serif-copy mb-0 sm:col-span-3">
          <li class="mb-4">
            In 2021, our goal was to begin replacing our poly bags with glassine bags.
            <ul class="ml-4 mb-0 list-disc w-full">
              <li style="font-weight:bold !important;">In October 2021, we approved and purchased glassine bags and started shipping to our manufacturing partners in November 2021 to be used for our Prelude 2022 products. This transition to glassine bags is our next step in eliminating the use of plastic in our supply chain by introducing alternative packaging. Traditionally, wasteful plastic polybags are used when garments are transported from manufacturers. Even though these bio polybags are removed and repackaged in muslin before sending to our customers, their use ultimately adds to greenhouse gas emissions; even bio polybags, which are seen as an alternative because of their biodegradable qualities, do not break down quickly or completely, still emit greenhouse gasses as they decompose, and are further complicated by a lack of industrial composting facilities that manage bio poly decomposition. The new glassine bag we’re using is made with paper, cellulose, and vegetable ink, making it naturally compostable and easily curbside recyclable. The new bag meets the ASTM D6400 standard for certifying compostable products and, through testing, we’ve found that the new glassine packaging converted into compost in just 30 days, as compared to the 12 week requirement to meet this standard. These bags are shipped to our manufacturers and each garment you receive has made its journey from our manufacturing partners to your home in this one protective pouch, eliminating unnecessary packaging waste along the way.
</li>
            </ul>
          </li>

          <li class="mb-4">
            We also set the goal of replacing our plastic hangers with cellulosic hangers, and we have successfully transitioned 100% away from plastic hangers to cellulosic hangers.
            <ul class="ml-4 mb-0 list-disc w-full">
                <li style="font-weight:bold !important;">Our new hangers are made of cellulose pulp and industrial scraps from newspapers, cardboard boxes, shopping bags, and other paper-based discarded items. The environmental impact of this cellulose hanger is 1/3 that of a traditional plastic hanger. The cost of transitioning to these hangers is $3.97 per garment, versus $0.45 for a plastic hanger.</li>
            </ul>

          </li>

        </ul>
  
        <div class="text-center flex justify-center items-start sm:col-span-2 pl-5">
          <img class="lazy-item w-full" data-src="{{ 'p9WsV--O.png' | asset_img_url: 'x750' }}" />
        </div>
  </div>
  
  
   
  <h4 class="py-4 sans-serif-header w-full text-center mt-10">Recommerce</h4>
  
  <div class="text-left">
      <p class="w-full serif-copy mb-0">
        We are deep in the development of our recommerce program. This program will be designed to operate with several key intentions, including our commitment to building a more circular business and being a part of a transformative move beyond linear business models. We are also hoping to actively assist our customers in finding joy and value — both financial and emotional — in wearing and sharing preloved garments that were made to last. We look forward to investing in this initiative and are currently recruiting for the role of Recommerce Manager to lead the efforts we’ll be kicking off this year. To learn more and apply, please find more about the role <a href="https://shopdoen.com/pages/recommerce-senior-project-manager" target="_blank">here</a>. <br /><br />
  </p>
  </div>
   
  
  
  <h4 class="py-4 sans-serif-header w-full text-center mt-10">2030 Roadmap</h4>
  
  <div class="text-left">
      <p class="w-full serif-copy mb-0">
        As a continuation of our impact work, we are in the process of developing a holistic 2030 Roadmap that will outline a blueprint for Dôen to align to the <a href="https://sdgs.un.org/goals"  target="_blank">UN Sustainable Development Goals</a>
        (The SDGs are 17 interlinked goals, established by the United Nations and UN Member States, that serve as a universal call to action to end poverty, protect the planet, 
        and improve the lives and prospects of everyone, everywhere). Since our founding in 2016, we have worked towards balancing our role as a corporate entity providing fulfilling, 
        fair wage jobs with our responsibilities as advocates for change within the global community and fashion industry ecosystem and while we wait for the public sector to develop more robust 
        environmental and social regulations, we as a private organization strive to go above and beyond “business as usual” practices. With our Roadmap, we hope to 
        push our business to be more than just compliant with baseline industry standards and create a framework for our path of continual growth and industry innovation across all aspects of our business in order to 
        uphold <a href="https://shopdoen.com/pages/our-values" target="_blank">Our Values</a>. <br /><br />
  </p>
  </div>
  
  <div class="text-center flex justify-center items-center">
    <img class="lazy-item w-full max" data-src="{{ 'resolutions_2022_01_03.png' | asset_img_url: 'x750' }}" />
  </div>
   
  
  
  
  
  <h4 class="py-4 sans-serif-header w-full text-center mt-10">Director of Impact</h4>
  
  <div class="text-left">
      <p class="w-full serif-copy mb-0">
  We proudly hired our first Director of Impact, Kristine Kim, in October 2021. Kristine has extensive experience working with a range of stakeholders to create improved social and environmental outcomes for the fashion industry. Her experience includes working with fashion brands, factory owners, labor unions, multilateral organizations, national and municipal governments, and academic institutions. We, as an organization, are inspired by Kristine’s strong belief in upholding the human worth of workers across all tiers of the supply chain, and her holistic approach to creating systemic advancements. Her depth of knowledge, passion, and steadfast commitment to the evolution of the fashion industry will play an integral role in the future of our business. <br /><br />
  </p>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="col-span-full text-center flex justify-center items-center">
    {% render 'flower-hash-icon' %}    
  </div>
  
  
      <br><br><br>
  
  
  
  
  
  
  
  
  
    </div> <!-- End split content container -->
  
  </div>