<div class="w-full resolutions-panel" id="resolutions-3">
  <h3 class="w-full text-center flex flex-col justify-center items-center">
    <span class="text-xs">03.</span>
    <p class="uppercase text-xs mt-1.5">Community Representation</p>
  </h3>
    
  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-10 gap-x-14">

    <div class="hash-divider col-span-full w-full flex justify-center mt-8">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
    
    <p class="w-full col-span-full mb-0 text-center serif-copy heading-description">Since our founding, we have strived to connect and foster relationships with the inspiring people who wear our clothes -- and we consider inclusive representation integral to our mission of supporting women in our community in all stages of their lives. </p>

    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">SIZING</h6>
     <p class="w-full small-serif-header mb-2">2021 Goals: </p>
        
     <h5 class="grid-header w-full py-4 font-semibold italic text-xs text-left">
        Our goal for 2021 is to offer our 7 size run in 45% of our apparel styles.
        <br /><br />
        We will also be adding a kid’s size 12 to certain styles this year.
        <br /><br />
        By 2022, we expect to add sizes 23, 32, 33, and 34 to our denim styles, as well as an additional size to our 7-size run.
     </h5>
     <p class="w-full serif-copy">By 2023, we will start to offer an impactful percentage of our collection in a size run beyond 7 options.</p>
    </div>

    <div class="text-right flex justify-start items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-03-02.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-right flex justify-start items-start mobile-frame">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-03-01.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-left flex flex-col justify-between">
        <p class="w-full serif-copy">In 2020, we pledged to increase our representation and inclusion on our website and social channels. We also announced our new 7-size run, with a promise that we would continue to improve upon our sizing offering throughout the year.</p>
        
        <h5 class="grid-header w-full my-10 py-4 font-semibold italic text-xs text-left">
        Starting Summer 2020, 34% of our 2020 women’s apparel styles, excluding pants and denim, came in 7 sizes, adding XXS and XXL to the XS-XL size run.
        </h5>
  
        <div class="hash-divider col-span-full flex justify-center">
            <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
        </div>
    </div>


    <div class="text-left">
     <h6 class="font-semibold text-xs mb-4">REPRESENTATION, DIVERSITY, AND INCLUSION IN CONTENT</h6>
     <p class="w-full serif-copy mb-0">
       We have newly established guidelines for accessibility captions on our social channels, and are implementing self-identification for our campaign models as well as our user generated content. In order to expand our accessibility via these captions and simultaneously ensure that our captions reflect the multiple facets of identity as accurately as possible, including ethnicity, race, and gender. Our goal is to roll out our accessibility captions with the launch of our Summer 1 campaign.
       <br /><br />
       Our goal is to create yearly benchmarks for representation in our campaign photography by 2022. See below for our percentage breakdown of our Spring and Summer 2021 campaigns.
     </p>

    </div>

    <div class="text-right flex justify-start items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-03-03.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-right flex pb-14 col-span-full justify-end items-start">
       <img class="lazy-item w-full" data-src="{{ 'resolutions-03-chart.png' | asset_img_url: 'x750' }}" />
    </div>

    
    <div class="col-span-full text-center flex justify-center items-center">
      <img class="lazy-item w-3/5" data-src="{{ 'resolutions-flower-row.png' | asset_img_url: 'x30' }}" />
    </div>


  </div> <!-- End Split Grid -->


</div>