<div class="w-full resolutions-panel" id="resolutions-5">
  <h3 class="w-full text-center flex flex-col justify-center items-center mb-0">
    <span class="text-xs">05.</span>
    <p class="uppercase text-xs mt-1.5">Ongoing Partnerships and Local Efforts</p>
  
    <div class="hash-divider col-span-full flex justify-center my-8">
        <img class="lazy-item hash-divider-img" data-src="{{ 'resolutions_hash.png' | asset_img_url: 'master' }}">
    </div>
  </h3>

  <div class="split-content-container grid grid-cols-1 sm:grid-cols-2 gap-y-5 gap-x-14">
    
    <div class="text-left col-span-full">
     <p class="w-full serif-copy mb-0">
        We remain committed, year after year, to our values of building, nurturing, and giving back to our
        communities. We strive to acknowledge and honor the delicate web that binds us, not only in our supply
        chain and production productions, but in our local community as well. We have sought out philanthropic
        partners that share our vision for progress and equality, and have a track record of true impact.
        <br /><br />
        We continue to uphold our long-term partnerships with Room to Read, Planned Parenthood LA, and most recently, Kindred Space LA / Birthing People Foundation, and with these partnerships, are able to support women’s healthcare and education. We have made equal donations to our three long-term partners throughout the year.
     </p>
     
    </div>

    <div class="text-right col-span-full flex justify-start items-start">
       <img class="lazy-item w-full max" data-src="{{ 'resolutions_2022_05_01.png' | asset_img_url: 'x750' }}" />
    </div>

    <div class="text-right flex flex-wrap justify-end items-start">
      
      
            <img class="lazy-item w-full mt-6" data-src="{{ '2022-Resolutions-page_11.png' | asset_img_url: 'x750' }}" />

    </div>
    
    <div class="text-left">
     <p class="w-full serif-copy mb-0">
   Last Spring, as the United States was slowly beginning to heal and reopen with vaccination
roll-outs, we watched COVID cases in India rise astronomically, affecting our partners in the country. We
remained ready to help and raise funds to go towards Give India’s COVID drives and Room to Read, who
work on the education and literacy of young children in India. Throughout COVID, we have seen just how
committed our partners are to ensuring the wellness and safety of their employees, and we remain
committed as ever to supporting them in times of need.

       <br /><br />
       On Juneteenth 2021, a percentage of our sales went to support the Kindred Space LA / Birthing
        People Foundation. Founded by two Black midwives -- Kimberly Durdin, CPM, LM, IBCLC, and Allegra
        Hill, CPM, LC, IBCLC, Kindred Space LA is a community-supported birth center offering home birth
        midwifery, doula support, lactation education, and more, with the mission of creating a safe birthing home
        for parents and babies of color in South LA.
       
    <!--   <br><br>
       After a year of virtual and distanced efforts, we were very excited to be able to contribute in-person again. In November 2021, we hosted our annual all-team volunteer day at the Los Angeles Food Bank. Thirty of our team members joined together to pack boxes for those in need.  We look forward to more days spent together as a team giving back to our local community as the world continues to safely reopen.
-->
       
     </p>
     
    </div>
    
    <div class="text-left">
     <p class="w-full serif-copy mb-0">
      In the Fall, we launched our Mica and Little Mica dresses, embroidered with “Persist,” with a percentage of the profits going back to Planned Parenthood LA in support of their mission to provide safe and accessible reproductive care to all -- a mission that feels more vital than ever as decisions are being made posing blatant infringements on women's rights. We also shared a percentage of profits from Giving Tuesday and hosted our  annual Planned Parenthood LA fundraiser here in Los Angeles
       <br /><br />
       Dôen made additional product or financial donations to the LA LGBT Center, Give India, Baby2Baby, Suay and LA Mission throughout the past year. 
       <br><br>
       After a year of virtual and distanced efforts, we were very excited to be able to contribute in-person again. In November 2021, we hosted our annual all-team volunteer day at the Los Angeles Food Bank. Thirty of our team members joined together to pack boxes for those in need.  We look forward to more days spent together as a team giving back to our local community as the world continues to safely reopen.
     </p>
    </div>
    
    <div class="flex justify-end flex-start">
       <img class="lazy-item w-full mb-4" data-src="{{ 'resolutions_2022_05_02.png' | asset_img_url: 'x750' }}" />
    </div>
    
    <div class="flex justify-end flex-start col-span-full">
      <img class="lazy-item w-full mt-6" data-src="{{ 'resolutions_2022_05_04.png' | asset_img_url: 'x750' }}" />
    </div>
    
    <div class="text-center col-span-full">
     
     
      
        <p class="w-full text-center serif-copy mb-0" style="padding-top:20px;">
          We are happy to share our latest update with you, and are looking forward to sharing our 2030 Roadmap later this year. Should you have any additional questions about our goals and impact, please contact us at <a href="mailto:connect@shopdoen.com">connect@shopdoen.com</a>.         </p>
    </div>
    

    <div class="col-span-full mt-10 text-center flex justify-center items-center">
      <img class="lazy-item w-auto" data-src="{{ 'resolutions-footnote.png' | asset_img_url: 'x75' }}" />
    </div>


  </div> <!-- End Split Grid -->


</div>

<style>
  
  ul li ul li {
    font-style:italic !important;
  }
  
</style>