
{%- if layout == 'theme' -%}
<script type="text/javascript" src="{{ 'vendors@layout.theme.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'vendors@layout.theme.js' | asset_url }}" as="script">
{%- endif -%} {%- if layout == 'theme' -%}
<script type="text/javascript" src="{{ 'layout.theme.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'layout.theme.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'gift_card' -%}
<script type="text/javascript" src="{{ 'vendors@template.gift_card.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'vendors@template.gift_card.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'gift_card' -%}
<script type="text/javascript" src="{{ 'template.gift_card.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.gift_card.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'index' or template == 'page' or template == 'product' -%}
<script type="text/javascript" src="{{ 'vendors@template.index@template.page@template.product.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'vendors@template.index@template.page@template.product.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'index' -%}
<script type="text/javascript" src="{{ 'template.index.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.index.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'page' -%}
<script type="text/javascript" src="{{ 'template.page.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.page.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'product' -%}
<script type="text/javascript" src="{{ 'template.product.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.product.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'customers/addresses' -%}
<script type="text/javascript" src="{{ 'template.addresses.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.addresses.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'customers/login' -%}
<script type="text/javascript" src="{{ 'template.login.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.login.js' | asset_url }}" as="script">
{%- endif -%}
