{% comment %}

  This snippet gives you a grid layout for each search result.

  It is encouraged to only use this approach for product results,
  as page results don't look great in a grid without a featured image.

  To use this grid layout, change the grid_results variable
  in search.liquid to true.

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'wide--one-quarter large--one-third medium--one-half' %}
{% endunless %}
           
{% if item.object_type == 'product' %}
  {% assign POEligible = false %}
  {% assign product = item.object %}
  {% for tag in item.tags %}
  	{% assign downTag = tag | downcase %}
  	{% if downTag contains 'preorder' %}
  		{% assign POEligible = true %}
  		{% break %}	
  	{% endif %}
  {% endfor %}
  {% assign currentStock = 0 %}
  {% if POEligible %}
  	{% for variant in item.variants %}
		{% assign currentStock = currentStock | plus: variant.inventory_quantity %}  
  	{% endfor %}
  {% endif %}
{% endif %}

<div data-days="{{ diffDays }}" class="grid__item search-result {{ grid_item_width }}{% if settings.collections_center_grid_link %} text-center{% endif %} {% if item.object_type == 'product' and item.featured_image.src == blank %}hide{% endif %} {% if item.object_type != 'product' and item.image == blank and item.handle != 'size-guide' %}hide{% endif %}" data-handle="{{ item.handle }}" data-src="{{ item.featured_image.src }}">
<div class="grid-link">
  {% if item.image %}
  <span class="grid-link__image">
    <a href="{{ item.url }}" title="{{ item.title | escape }}" class="search-blog-img">
      {{ item | img_url: 'grande' | img_tag: item.title }}
    </a>
  </span>
  {% endif %}
  {% if item.object_type == 'product'%}
  		                  {% if item.featured_image %}
                    {% comment %}
                      We have a featured_image, so it's likely a product
                    {% endcomment %}
                    <span class="grid-link__image">
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        {{ item.featured_image.src | img_url: 'grande' | img_tag: item.featured_image.alt }}
                      </a>
                    </span>
                  {% endif %}
  {% endif %}
  {% if item.handle == 'size-guide' %}
                    <span class="grid-link__image">
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        <img src="https://cdn.shopify.com/s/files/1/0950/9820/files/new-measure_medium.jpg?12602254531848003063" />
                      </a>
                    </span>
  
  {% endif %}
 <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}"> 
 <span class="product-info{% if settings.collections_info_inside %} inside{% endif %}">
    <span class="holder">
    <p class="grid-link__title">{{ item.title | split: '--' | first }}</p>

    <p class="grid-link__meta {% if item.type == 'Gift Card' %}hide{% endif %}" data-eligible="{{ POEligible }}" data-stock="{{ currentStock }}">
      {% if item.compare_at_price > item.price %}
        <span class="on-sale" itemprop="price">
          {{ item.price | money }}
        </span>
        <s class="grid-link__sale_price">
          {{ item.compare_at_price_max | money }}
        </s>
      {% else %}
        <span itemprop="price">
          {{ item.price | money }}
        </span>
      {% endif %}
    </p>
      
    {% if item.object_type == 'product' %}
      {% if POEligible and currentStock <= 0 %}
     	<p class="pre-order-note no-mobile">PRE-ORDER</p>
      {% endif %}
      <p class="pre-order-note available-in no-mobile  {% if item.type == 'Gift Card' %}hide{% endif %}">AVAILABLE IN</p>
      {%comment%}
      product size availability
      {%endcomment%}
      
      {% assign sizePosition = item.options_by_name['Size'].position %}
      {% assign sizeKey = 'option' | append: sizePosition %}
      {% assign sizes = '' %}
	  {% assign allPTags = item.tags | join: ',' | downcase | split: ',' %}
      {% assign preorderTags = '' %}
      {% for tag in allPTags %}
      	{% if tag contains 'preorder' %}
      		{% assign relevent = tag | split: 'preorder size:' | last %}
      		{% assign preorderTags = preorderTags | append: relevent | append: ',' %}	
      	{% endif %}
      {% endfor %}{% assign preorderTags = preorderTags | split: ',' %}
      {% for variant in item.variants %}
      {% if variant.available %}
      {% assign sizes = sizes | append: variant[sizeKey] | append: ' ' %}
      {% endif %}
      {% endfor %}
      {% assign sizesArr = sizes | split: ' ' | uniq %}

      {% assign shownOptions = '' %}
        <div class="no-mobile  {% if item.type == 'Gift Card' %}hide{% endif %}">
          {% for variant in item.variants %}
            {% assign preorderLimit = variant.metafields.preorder.limit %}
            {% assign negativeLimit = preorderLimit | times: -1 %}
          	{% assign tempOptions = shownOptions | split: ',' %}
          	{% assign sizeSkip = false %}
          	{% for opt in tempOptions %}
          		{% if variant[sizeKey]  == opt %}{% assign sizeSkip = true %}{% endif %}
          	{% endfor %}
          	{% if sizeSkip %}{% continue %}{% endif %}
            {% assign shownOptions = shownOptions | append: variant.option1 | append: ',' %}
          
          <div class="product-grid-rollover-container rollover-wrapper-size" data-available="{{ variant.available }}" data-limits="{{ variant.inventory_quantity }}" data-then="{{ negativeLimit }}">
            <span class="product-grid-rollover-size {% if variant.available == false or negativeLimit >= variant.inventory_quantity %}product-grid-rollover-soldout{% endif %}" >{{ variant[sizeKey]  }}</span>
          </div>
          {% endfor%}     
        </div>
     {% endif %}
    </span>
 </span>
 </a>
</div>
</div>