{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  To return only products in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product to the search URL as a query parameter
    - Uncomment hidden input with value="product" below

{% endcomment %}

{% if search-bar == 'header' %}
{% if settings.search_type == 'slide' %}
  <li class="search-toggle"><span class="icon icon-search" aria-hidden="true"></span></li>
  <li><form action="/search" method="get" class="header-bar__search-form clearfix search-form-slide" role="search">
    {% comment %}<input type="hidden" name="type" value="Search">{% endcomment %}
    <input style="width:100%;" type="search" name="q"  aria-label="{{ 'general.search.placeholder' | t }}" class="header-bar__search-input" placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn icon-fallback-text header-bar__search-submit" value="Search">    
      <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
    </form></li>
{% else %}
  <form action="/search" method="get" class="header-bar__search-form clearfix" role="search">
    {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    <input type="search" name="q" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.placeholder' | t }}" class="header-bar__search-input" placeholder="{{ 'general.search.placeholder' | t }}">
    {% if settings.search_button == 'icon' %}
    <button type="submit" class="btn icon-fallback-text header-bar__search-submit">
      <span class="icon icon-search" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
    {% else %}
    <button type="submit" class="btn icon-fallback-text header-bar__search-submit">
      <span class="">{{ 'general.search.submit' | t }}</span>
    </button>
    {% endif %}
  </form>
{% endif %}
{% else %}
  <form action="/search" method="get" class="input-group search-bar" role="search">
    {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    <input type="search" name="q"  placeholder="{{ search.terms | escape }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}" placeholder="{{ 'general.search.placeholder' | t }}">
    <span class="input-group-btn">
      <button type="submit" class="btn icon-fallback-text">
        <span class="icon icon-search" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </span>
  </form>
{% endif %}