<ul class="site-nav" id="AccessibleNav">
  
  
  {% for link in linklists[settings.main_menu_nav].links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}" class="site-nav__link main">
          {{ link.title }}
          <span class="icon-fallback-text arrow-down">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav__dropdown">
           {% if child_list_handle contains "collections" %}
                    
          <li class="{% if childlink.active %} site-nav--active{% endif %}">
              <a href="/pages/summer-2020" class="">Summer 2020</a>
          </li>

          
          <li class="{% if childlink.active %} site-nav--active{% endif %}">
              <a href="/pages/spring-1-20" class="">Spring 2020</a>
          </li>

          <li class="{% if childlink.active %} site-nav--active{% endif %}">
              <a href="/pages/fall-19" class="">FALL 2019</a>
          </li>

          <li class="{% if childlink.active %} site-nav--active{% endif %}">
              <a href="/pages/spring-19" class="">SPRING 2019</a>
          </li>


          
          <li class="{% if childlink.active %} site-nav--active{% endif %}">
              <a href="/pages/fall-18" class="">FALL 2018</a>
          </li>

          <li class="{% if childlink.active %} site-nav--active{% endif %}">
              <a href="/pages/summer-18" class="">SUMMER 2018</a>
          </li>
         
          {% endif %}
          {% for childlink in linklists[child_list_handle].links %}
          {% assign grand_child_list_handle = childlink.title | handle %}
          {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
            <li class="site-nav--has-dropdown{% if childlink.active %} site-nav--active{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
          		<ul class="site-nav__dropdown">
            		{% for grandchildlink in linklists[grand_child_list_handle].links %}
            		<li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__link">{{ grandchildlink.title | escape }}</a>
            		</li>
            		{% endfor %}
          		</ul>               
            </li>
        {% else %}
        <li>
          {{ childlink.title | link_to: childlink.url }}
        </li>
        {% endif %}          
        {% endfor %}
        </ul>
      </li>
    {% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="{% if link.title == settings.account_drop_link %}go_account {% endif %}site-nav__link main">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>