 
<div id="size-chart-div" aria-hidden="true">
  <div tabindex="-1" class="size-chart-wrapper" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="size-guide-title" class="size-chart-inner">
      <div class="grid__item post-large--two-thirds medium--two-thirds guide-details">
          <header>
          <h2 id="size-chart-title" class="visually-hidden">
            Size Guide
          </h2>
            <p style="font-weight: bold; margin: 60px 10px 30px;">We provide size medium measurements on every product page for reference.  For fit consultations on specific
            items please reach out to us at <a href="mailto:customercare@shopdoen.com">customercare@shopdoen.com</a></p>
          <!-- [4] -->
			<button aria-label="Close modal" data-micromodal-close>
				<img src="{{ 'lightbox-close.png' | asset_img_url: 'master' }}" @click="closeSideGuide"/>
			</button>
        </header>

      
      </div>
      <div class="grid__item post-large--one-third medium--one-third">
      <img src="{{ 'new-measure.jpg' | asset_url }}" />
      </div>
      <div class="clearfix"></div>
      <div id="size-chart-content" class="size-table grid--full"> 
    <h5>Body Measurements</h5>
    <div class="grid__item post-large--one-eighth medium-down--one-third countries">
        <span class="pink">&nbsp;</span>
      	<span>Bust</span>
   		<span>Waist</span>
      	<span>Hips</span>
    </div>
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">XXS</span>
      	<span>30-31"</span>
   		<span>23-24"</span>
      	<span>33-34"</span>
    </div>
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">XS</span>
      	<span>31-33"</span>
   		<span>24-26"</span>
      	<span>34-36"</span>
    </div>
    <div class="grid__item post-large--hide medium-down--one-third countries">
        <span class="pink">&nbsp;</span>
      	<span>Bust</span>
   		<span>Waist</span>
      	<span>Hips</span>
    </div>      
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">S</span>
      	<span>33-35"</span>
   		<span>26.5-28"</span>
      	<span>36-38"</span>
    </div>  
      
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">M</span>
      	<span>35-37"</span>
   		<span>28-30"</span>
      	<span>38-40"</span>
    </div>
    <div class="grid__item post-large--hide medium-down--one-quarter countries">
        <span class="pink">&nbsp;</span>
      	<span>Bust</span>
   		<span>Waist</span>
      	<span>Hips</span>
    </div>  
    <div class="grid__item post-large--one-eighth medium-down--one-quarter">
        <span class="pink">L</span>
      	<span>38-40"</span>
   		<span>30-32"</span>
      	<span>40-42"</span>
    </div>  
    <div class="grid__item post-large--one-eighth medium-down--one-quarter">
        <span class="pink">XL</span>
      	<span>40-42"</span>
   		<span>33-35"</span>
      	<span>42-44"</span>
    </div>
    <div class="grid__item post-large--one-eighth medium-down--one-quarter">
        <span class="pink">XXL</span>
      	<span>42-44"</span>
   		<span>35-37"</span>
      	<span>44-46"</span>
    </div> 
    <h5>Tops, Dresses, Jackets, Pants</h5>
    <div class="grid__item post-large--one-eighth medium-down--one-third countries">
        <span class="pink">&nbsp;</span>
      	<span>U.S</span>
   		<span>U.K</span>
      	<span>Australia</span>
      	<span>France</span>
      	<span>Italy</span>
      	<span>Japan</span>
    </div>
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">XXS</span>
      	<span>00</span>
   		<span>4</span>
      	<span>4</span>
      	<span>32</span>
      	<span>36</span>
      	<span>3</span>
    </div> 
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">XS</span>
      	<span>0</span>
   		<span>6</span>
      	<span>6</span>
      	<span>34</span>
      	<span>38</span>
      	<span>5</span>
    </div> 
    <div class="grid__item post-large--hide medium-down--one-third countries">
        <span class="pink">&nbsp;</span>
      	<span>U.S</span>
   		<span>U.K</span>
      	<span>Australia</span>
      	<span>France</span>
      	<span>Italy</span>
      	<span>Japan</span>
    </div>  
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">S</span>
      	<span>2/4</span>
   		<span>8/10</span>
      	<span>8/10</span>
      	<span>36/38</span>
      	<span>40/42</span>
      	<span>7/9</span>
    </div>
      
    <div class="grid__item post-large--one-eighth medium-down--one-third">
        <span class="pink">M</span>
      	<span>6/8</span>
   		<span>12</span>
      	<span>12</span>
      	<span>40</span>
      	<span>44</span>
      	<span>11</span>
    </div>
    <div class="grid__item post-large--hide medium-down--one-quarter countries">
        <span class="pink">&nbsp;</span>
      	<span>U.S</span>
   		<span>U.K</span>
      	<span>Australia</span>
      	<span>France</span>
      	<span>Italy</span>
      	<span>Japan</span>
    </div>  
    <div class="grid__item post-large--one-eighth medium-down--one-quarter">
      	<span class="pink">L</span>
      	<span>10</span>
   		<span>14</span>
      	<span>14</span>
      	<span>42</span>
      	<span>46</span>
      	<span>13</span>
    </div>
    <div class="grid__item post-large--one-eighth medium-down--one-quarter">
      	<span class="pink">XL</span>
      	<span>12</span>
   		<span>16</span>
      	<span>16</span>
      	<span>44</span>
      	<span>48</span>
      	<span>15</span>
    </div>  
    <div class="grid__item post-large--one-eighth medium-down--one-quarter">
      	<span class="pink">XXL</span>
      	<span>14</span>
   		<span>18</span>
      	<span>18</span>
      	<span>46</span>
      	<span>50</span>
      	<span>17</span>
    </div>
    <div class="clearfix"></div>
    <h5>Denim</h5>
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth countries">
        <span class="pink">&nbsp;</span>
      	<span>WAIST</span>
   		<span>LOW HIP</span>
    </div>
    <!-- <div class="grid__item post-large--one-tenth medium-down--hide countries">
 		<span class="pink">&nbsp;</span>
    </div> -->
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">24</span>
      	<span>25.5"</span>
   		<span>35"</span>
    </div>
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">25</span>
      	<span>26.5"</span>
   		<span>36"</span>
    </div>    
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">26</span>
      	<span>27.5"</span>
   		<span>37"</span>
    </div> 
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">27</span>
      	<span>28.5"</span>
   		<span>38"</span>
    </div>  
    <div class="grid__item post-large--hide medium-down--one-fifth countries">
        <span class="pink">&nbsp;</span>
      	<span>WAIST</span>
   		<span>LOW HIP</span>
    </div>   
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">28</span>
      	<span>29.5"</span>
   		<span>39"</span>
    </div> 
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">29</span>
      	<span>30.5"</span>
   		<span>40"</span>
    </div> 
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">30</span>
      	<span>31.5"</span>
   		<span>41"</span>
    </div>      
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">31</span>
      	<span>32.5"</span>
   		<span>42"</span>
    </div>  
    <div class="grid__item post-large--hide medium-down--one-fifth countries">
        <span class="pink">&nbsp;</span>
      	<span>WAIST</span>
   		<span>LOW HIP</span>
    </div>       
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">32</span>
      	<span>33.5"</span>
   		<span>43"</span>
    </div>      
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">33</span>
      	<span>34.5"</span>
   		<span>44"</span>
    </div>        
    <div class="grid__item post-large--one-twelfth medium-down--one-fifth">
        <span class="pink">34</span>
      	<span>35.5"</span>
   		<span>45"</span>
    </div>    
	<div class="grid__item post-large--hide medium-down--one-fifth countries">
		<span class="pink">&nbsp;</span>
   </div>
    <div class="clearfix"></div>    
    
      </div>  
    </div>
  </div>
</div>