 
 
<div id="size-chart-div" aria-hidden="true">
  <div tabindex="-1" class="size-chart-wrapper" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="size-guide-title" class="size-chart-inner">
		<div class="yearling-size-wrapper" style="display: flex; align-items: center; flex-wrap: wrap;">
		<div class="grid__item post-large--two-thirds medium--two-thirds guide-details"> 
			<header>
			<h2 id="size-chart-title" class="visually-hidden">
				Footwear Size Guide
			</h2>
			<!-- [4] -->
			<button aria-label="Close modal" data-micromodal-close>
				<img src="{{ 'lightbox-close.png' | asset_img_url: 'master' }}" @click="closeSideGuide"/>
			</button>
			</header>
		</div>


		<div id="size-chart-content" class="size-table grid--full">
			<h5>SHOE SIZE CONVERSION</h5>
			<div class="grid__item post-large--one-sixth medium-down--one-quarter  countries hide">
				<span class="pink">&nbsp;</span>
			</div> 
			<div class="grid__item post-large--hide  medium-down--hide countries hide">
				<span class="pink">&nbsp;</span>
			</div>      
			<div class="grid__item post-large--hide  medium-down--hide countries hide">
				<span class="pink">&nbsp;</span>
			</div>
			<div class="grid__item post-large--one-half medium-down--one-half">
				<span class="pink medium-down--hide">US SIZES</span>
				<span class="pink medium-down--show hide size-before">US</span>
				<span>5</span>
				<span>5.5</span>
				<span>6</span>
				<span>6.5</span> 
				<span>7</span>
				<span>7.5</span>
				<span>8</span>
				<span>8.5</span>
				<span>9</span>
				<span>9.5</span>
				<span>10</span> 
				<span>10.5</span>
				<span>11</span> 
			</div> 
			<div class="grid__item post-large--one-sixth  medium-down--hide countries hide">
				<span class="pink">&nbsp;</span>
			</div> 
			<div class="grid__item post-large--one-half medium-down--one-half">
				<span class="pink medium-down--hide" style="white-space: nowrap;">EURO SIZES</span>
				<span class="pink medium-down--show hide">EURO</span>
				<span>35 - 36</span>
				<span>36</span>
				<span>36.5 - 37</span>
				<span>37</span>
				<span>37.5 - 38</span>
				<span>38</span>
				<span>38.5 - 39</span>
				<span>39</span>
				<span>39.5 - 40</span>
				<span>40</span>
				<span>40.5 - 41</span>
				<span>41</span>
				<span>41 - 42</span>
			</div>
			
			<div class="grid__item post-large--hide  medium-down--hide countries hide">
				<span class="pink">&nbsp;</span>
			</div>
			<div class="grid__item post-large--one-sixth medium-down--one-quarter  countries hide">
				<span class="pink">&nbsp;</span>
			</div> 
			<div class="grid__item post-large--hide  medium-down--hide countries hide">
				<span class="pink">&nbsp;</span>
			</div>
			{% comment %} <div class="grid__item post-large--one-sixth medium-down--one-quarter">
				<span class="pink">&nbsp;</span>
			</div> {% endcomment %}
			<div class="clearfix"></div>    
		</div>  
    </div>
  </div>
</div>