 
<div id="size-chart-div" aria-hidden="true">
  <div tabindex="-1" class="size-chart-wrapper" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="size-guide-title" class="size-chart-inner">
      <div class="yearling-size-wrapper" style="display: flex; align-items: center; flex-wrap: wrap;">
        <div class="grid__item post-large--two-thirds medium--two-thirds guide-details"> 
          <header>
            <h2 id="size-chart-title" class="visually-hidden">
              Kids Size Guide
            </h2>
            <p style="font-weight: bold;">We Provide size 6 measurements on every clothing product page for reference.  For fit consultations on specific
                items please reach out to us at <a href="mailto:customercare@shopdoen.com">customercare@shopdoen.com</a></p> 
            <!-- [4] -->
			<button aria-label="Close modal" data-micromodal-close>
				<img src="{{ 'lightbox-close.png' | asset_img_url: 'master' }}" @click="closeSideGuide"/>
			</button>
          </header>
        </div>
        
        <div class="grid__item post-large--one-third medium--one-third">
          <img src="{{ 'kids-size-guide.jpg' | asset_url }}" />
        </div>
    </div>
        <div id="size-chart-content" class="size-table grid--full">
            <h5>Body Measurements</h5>
            <div class="grid__item post-large--one-sixth medium-down--one-third countries">
                <span class="pink">&nbsp;</span>
                <span>HEIGHT</span>
              <span>CHEST</span>
            </div>
            <div class="grid__item post-large--one-sixth medium-down--one-third">
                <span class="pink">2</span>
                <span>33-37"</span> 
              <span>20"</span>
            </div>
            <div class="grid__item post-large--one-sixth medium-down--one-third">
                <span class="pink">4</span>
                <span>38-42"</span>
              <span>22"</span>
            </div>  
            <div class="grid__item post-large--hide medium-down--one-quarter countries">
                <span class="pink">&nbsp;</span>
                <span>HEIGHT</span>
              <span>CHEST</span>
            </div>    
            <div class="grid__item post-large--one-sixth medium-down--one-quarter">
                <span class="pink">6</span>
                <span>43-47"</span>
              <span>24"</span>
            </div>
            <div class="grid__item post-large--one-sixth medium-down--one-quarter">
                <span class="pink">8</span>
                <span>48-53"</span>
              <span>26"</span>
            </div>  
            <div class="grid__item post-large--one-sixth medium-down--one-quarter">
                <span class="pink">10</span>
                <span>54-56"</span>
              <span>28"</span>
            </div>   
            <div class="clearfix"></div>    
          </div>  
    </div>
  </div>
</div>