{% assign noCaseType = product.type | downcase %}
{% assign collectionHandles = product.collections | map: 'handle' %}


{% if collectionHandles contains 'kids' %}
  {% render 'size-guide-yearling' %}
{% elsif collectionHandles contains 'footwear' %}
  {% render 'size-guide-footwear' %}
{% else %}
  {% render 'size-guide-apparel' %}
{% endif %}