<div class="hero-container"> {% capture hero %}hero.jpg{% endcapture %}{% capture hero2 %}hero2.jpg{% endcapture %}
   
   
   <a href="{{ settings.banner_image }}" onclick="ga('send', 'event', { eventCategory: 'Home Clicks', eventAction: 'Hero', eventLabel: 'new-arrivals'});">    
     <picture>
        <source media="(max-width: 768px)" srcset="{{ hero2 | asset_img_url: 'x900' }}" >
        <source media="(min-width: 768px)" srcset="{{ hero | asset_img_url: 'x2048' }}" class="">
        <img src="{{ hero | asset_img_url: 'x2048'}}" alt="{{ settings.hero_alt }}" class="hero-slider">     
     </picture>
		 
     
   </a>
  <div class="fixed-scroll-indicator">
    <a href="#blog-section"><i class="fa fa-caret-down"></i></a>
    
  </div>
  
</div>
  
           