<div class="lookbook-wrapper">
{% if settings.home_show_headings %}
<div class="section-header section-header--small{% if settings.slider2_title_background_enable %} bgc{% endif %}">
  <h2 class="section-header__title">
    <a href="{{ settings.slider2_url }}">{{ settings.slider2_title }}</a>
  </h2>
  <p class="text-center"><a href="{{ settings.slider2_url }}">{{ settings.slider2_subtext }}</a></p>
</div>
{% endif %}
{% if settings.wrapper_slider2_enable %}
<div class="wrapper">
{% endif %}
<div class="post-large--three-quarters" style="margin:0 auto;">  
<div class="flexslider lookbook">
  <ul class="slides">
    {% for i in (1..6) %}
      {% capture slide2 %}slide2_{{ i }}{% endcapture %}
      {% capture slide2_link %}slide2_{{ i }}_link{% endcapture %}
      {% capture slide2_img %}slide2_{{ i }}.jpg{% endcapture %}
      {% capture slide2_alt %}slide2_{{ i }}_alt{% endcapture %}
      {% capture slide2_heading %}slide2_{{ i }}_heading{% endcapture %}
      {% capture slide2_text %}slide2_{{ i }}_text{% endcapture %}
      {% capture slide2_text_color %}slide2_{{ i }}_text_color{% endcapture %}
      {% if settings[slide2] %}
        <li>
          <a href="{{ settings[slide2_link] }}" class="slide-link">
            {{ slide2_img | asset_url | img_tag: settings[slide2_alt] }}
            <div class="slide-text" style="color:{{ settings[slide2_text_color] }};">
              <div class="heading"><h1>{{ settings[slide2_heading] }}</h1></div>
          		<div class="text">{{ settings[slide2_text] }}</div>      
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>
{% if settings.wrapper_slider2_enable %}
</div>
{% endif %}  
</div>