{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title }}{% endcapture %}
{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}
{% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

{% assign shareButtonStyle = settings.social_sharing_style %}

<div class="social-sharing {{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">
  
  <a class="hide small--show" href="sms:&body={{shop.url }}{{ product.url }}">
    <img src="{{ 'sms_cell.png' | asset_img_url: 'x200' }}" />
  </a>

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
      <span class="icon icon-facebook"></span>
      {% if settings.social_sharing_title %}<span class="share-title">{{ 'general.social.share_on_facebook' | t }}</span>{% endif %}
      {% if settings.social_sharing_count %}
      	{%comment%}
        	<span class="share-count">0</span>
      	{%endcomment%}
      {% endif %}
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle | url_param_escape }}" class="share-twitter">
      <span class="icon icon-twitter"></span>
      {% if settings.social_sharing_title %}<span class="share-title">{{ 'general.social.share_on_twitter' | t }}</span>{% endif %}
      {%comment%}
        	<span class="share-count">0</span>
      	{%endcomment%}
    </a>
  {% endif %}

  {% if template contains 'product' %}

    {% if settings.share_pinterest %}
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product | img_url: '1024x1024' }}&amp;description={{ shareTitle | url_param_escape }}" class="share-pinterest">
        <span class="icon icon-pinterest"></span>
        {% if settings.social_sharing_title %}<span class="share-title">{{ 'general.social.share_on_pinterest' | t }}</span>{% endif %}
        {%comment%}
        	<span class="share-count">0</span>
      	{%endcomment%}
      </a>
    {% endif %}

    {% if settings.share_fancy %}
      <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle | url_param_escape }}&amp;Category=Other&amp;ImageURL={{ product | img_url: '1024x1024' }}" class="share-fancy">
        <span class="icon icon-fancy"></span>
        {% if settings.social_sharing_title %}<span class="share-title">{{ 'general.social.share_on_fancy' | t }}</span>{% endif %}
      </a>
    {% endif %}

  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google"></span>
      {% if settings.social_sharing_count %}
        <span class="share-count">+1</span>
      {% else %}
        {% if settings.social_sharing_title %}<span class="share-title">+1</span>{% endif %}
      {% endif %}
    </a>
  {% endif %}
  
  {% if settings.share_email %}
    <a href="mailto:?subject=Thought you might like this &amp;body=Hey, I was browsing {{ shop.name | escape }} and found <a href='{{ permalinkURL }}'>{{ shareTitle | url_param_escape }}</a> and I wanted to share it with you."><i class="fa fa-envelope"></i>
</a>  
  {% endif %}

</div>