<div class="grid-uniform">
	<div class="grid__item post-large--{{ settings.split_section_1_a_large_size }} medium--{{ settings.split_section_1_a_large_size }}" >
          	{% include settings.split_section_1_a %}
	</div>
	<div class="grid__item post-large--{{ settings.split_section_1_b_large_size }} medium--{{ settings.split_section_1_b_large_size }}" >
			{% include settings.split_section_1_b %}
	</div>
</div>