<script>
    var ISRParams = {
        "id" : "379e3e7bbda2da258a3e60c0493810a0",
        "apiScript" : "{{ 'api.jquery.js' | shopify_asset_url }}",
        "moneyFormat": "{{shop.money_format | strip_html}}",
        "fullMoneyFormat": "{{shop.money_with_currency_format | strip_html}}",
        "customer" : {}
    };
    {% if  customer %}
        ISRParams.customer.email = "{{ customer.email }}";
        {% if customer.default_address != nil %}
            ISRParams.customer.country_code = "{{ customer.default_address.country_code }}";
        {% else %}
            ISRParams.customer.country_code = null;
        {% endif %}
    {% endif %}
</script>