<script type="text" vue-template-tag-option>
{% raw %}
<div class="filter-wrapper" @keyDown="handleKeyDown" @mouseleave="handleMouseLeave" v-if="options.length > 0">
    <div class="label hidden" id="sort-label">Sort By:</div>
    <button 
        role="combobox"
        aria-haspopup="listbox"
        aria-labelledby="sort-label selected-sort"
        :aria-expanded="open ? 'true' : 'false'"
        :aria-activedescendant="activeDescendant"
        id="sort-trigger"
        class="filter-trigger"
        @click="handleTriggerClick"
        >
        <span id="selected-sort">{{label}}</span>
        <span class="icon fas fa-sort-down" aria-hidden="true"></span>
    </button>
    <input type="hidden" id="hidden-sort" name="selected-option" :value="selected" />

    <ul :class="open ? 'options value-list' : 'hidden-box options value-list'" role="listbox" aria-labelledby="sort-label">
      <li v-for="(item, index) in options" 
          role="option"
          :id="'option-' + index"
          :aria-selected="isActiveOption(item.value)"
          @click="selectOption"
          :data-value="item.value">{{item.label}}</li>
    </ul> 
</div>
{% endraw %}
</script>