{% assign productTagsxxx = product.tags | join:',' %}{% assign allAlts = product.images | map: 'alt' | join: ',' | downcase %}
{
  	"available": {{ product.available }},
	"byPagination": {{ settings.collections_max_products | json }},
    "position": {{ forloop.index | plus: pageBasis | json }},
  	"body_html": "{{ product.description | url_escape }}", 
  	"collections": [{% for collection in product.collections %}"{{ collection.handle }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
  	"handle": "{{ product.handle }}",
  	"id": {{ product.id }},  
    "published_at": {{ product.published_at | date: '%m/%d/%Y' | json }},
    "now": {{ 'now' | date: '%m/%d/%Y' | json }},
    "created_at": {{ product.created_at | date: '%m/%d/%Y' | json }},
    "image": {{ product.featured_image.src | img_url: '1024x1024' | json }},
  	"images": [{% for image in product.images %}
        {
          "id": {{ image.id }},
          "position": {{ image.position }},
          "product_id": {{ image.product_id }},
          "src": "{{ image.src | img_url: 'x1024' }}"
    	}{% unless forloop.last %},{% endunless %}{% endfor %}
  	],
 "featured_image": {%- if allAlts contains 'featured' -%}{%- for image in product.images -%}{%- unless image.alt contains 'featured' -%}{%- continue -%}{%- endunless -%}{{ image | img_url: '1024x1024' | json }}{% break %}{%- endfor -%}{%- else -%}false{%- endif -%},
	"mobileImage": {%- if allAlts contains 'mobile-hero' -%}{%- for image in product.images -%}{%- unless image.alt contains 'mobile-hero' -%}{%- continue -%}{%- endunless -%}{{ image | img_url: '1024x1024' | json }}{% break %}{%- endfor -%}{%- else -%}false{%- endif -%},
  	"options": [{% for option in product.options %}
        {
          "name": "{{ option }}",
          "position": {{ forloop.index }},
          "product_id": {{ product.id }}
    	}{% unless forloop.last %},{% endunless %}{% endfor %}
  	],
  	"product_type": "{{ product.type }}",
	"page": "{{ paginate.current_page }}",
  	"price": {{ product.price }},
  	"price_max": {% if product.compare_at_price > product.price %}{{ product.compare_at_price}}{% else %}{{ product.price }}{% endif %},
  	"on_sale": {% if product.compare_at_price > product.price %}true{% else %}false{% endif %},
  	"price_min": {{ product.price_min }},
  	"tags": [{% for tag in product.tags %}"{{ tag }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
	"roomToRead": {% if productTagsxxx contains 'room to read' %}true{% else %}false{% endif %},
	"handKnit": {% if productTagsxxx contains 'handknit' %}true{% else %}false{% endif %},
	"limitedEdition": {% if productTagsxxx contains 'limited edition' %}true{% else %}false{% endif %},
	"blmBadge": {% if productTagsxxx contains 'blmla' %}true{% else %}false{% endif %},
    "liberty": {% if productTagsxxx contains 'liberty' or productTagsxxx contains 'Liberty' %}true{% else %}false{% endif %},
  	"title": "{{ product.title | split: '--' | first }}",
  	"url": "{{ product.url }}",
  	"vendor": "{{ product.vendor }}",
  	"variants": [{% for variant in product.variants %}
        {
          {% if variant.image %}"image_id": {{ variant.image.id }},{% endif %}
          "available": {{ variant.available }},         
          "id": {{ variant.id }},
          "inventory_management": "{{ variant.inventory_management }}",
          "inventory_policy": "{{ variant.inventory_policy }}",
          "inventory_quantity": {{ variant.inventory_quantity }},
          "option1": "{{ variant.option1 }}",
          "option2": "{{ variant.option2 }}",
          "option3": "{{ variant.option3 }}",
          "position": {{ forloop.index }},
          "price": "{{ variant.price }}",
          "requires_shipping": {{ variant.requires_shipping }},
          "sku": "{{ variant.sku }}",
          "taxable": {{ variant.taxable }},
          "title": "{{ variant.title }}",
          "weight": {{ variant.weight_in_unit }}, 
          "weight_unit": "{{ variant.weight_unit }}", 
          "preorder": {
              "limit": {{ variant.metafields.preorder.limit | default: 0 | json }},
              "expected_date": {{ variant.metafields.preorder.expected_date | json }}
          }
    	}{% unless forloop.last %},{% endunless %}{% endfor %}
  	]
}