<script type="text" vue-linked-products-template>
{% raw %}   
<div class="color-input">
  <label class="header"><span>Color</span></label>
    <ul class="pdp-swatch-grid">
        <li 
          :class="itemClass(product)"
          v-for="product in linked">

            <button 
                type="button" 
                :href="product.url" 
                class="swatch-link"
                @click="swapProduct(product)">
                    <div :class=" 'swatch-box ' + product.yHandle" :style="{ backgroundColor: product.color }"></div>
                    <span class="label">{{product.name}}</span>                      
            </button>
        </li>
    </ul>
	<div class="clearfix"></div>
</div>  
{% endraw %}
</script>