<script type="text" vue-template-grid-item>
{% raw %}
<li v-autoscroll class="product-infinite" :key="product.id + 'index-' + index" v-if="product.images.length > 0">
   <div :id="'product-' + product.id" :class="product.available ? 'position-relative grid__item ' : 'position-relative grid__item sold-out'">
       <div class="room-to-read-badge" v-if="product.roomToRead"> 
         <div class="vertical-center">
            {% endraw %}
            <img src="{{ 'noun_485185.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
            {% raw %}
              proceeds benefit girls education
         </div>
       </div>

       <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;" v-if="product.limitedEdition">
         <div class="vertical-center">limited edition</div>
       </div>

       <div class="room-to-read-badge limited-edition" v-if="product.handKnit">
            <div class="vertical-center">
                {% endraw %}
                <img src="{{ 'handknit-badge.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
                {% raw %}
                Handknit Collection
            </div>
       </div> 

      
 {% endraw %}
        {% if collection.handle == 'prototype' %}
         <div class="grid-link text-center">
        {% else %}
          <a @click="productLinkHandler" :href="'/collections/{{ collection.handle }}/products/' + product.handle" class="grid-link text-center"  :data-product-id="product.id">
        {% endif %}
       {% raw %}
       
       
         <div class="soldoutindicator" v-if="!product.available && !isWaitlist">
           <div class="soldoutinner">SOLD OUT</div>
         </div>

         <span class="grid-link__image grid-link__image--product" :style="product.available || isWaitlist ? '' : 'opacity: 0.4;'" v-if="product.images">
            <span class="grid-link__image-centered" v-lazyload>
            {% endraw %}
                <img :data-url="product.featured_image || product.images[0].src" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="desktop-image"/>
                <img :data-url="product.featured_image || product.mobileImage" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="mobile-image" v-if="product.mobileImage" />
                <img :data-url="product.featured_image || product.images[0].src" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="mobile-image" v-else />
            {% raw %}
            </span> 
         </span>

         <span class="product-info inside">
           <p class="grid-link__title">{{product.title}}</p>
         
           <p class="liberty-tag" v-if="product.liberty">Made with liberty fabric</p>

           <p class="grid-link__meta">
             <span class="money-item" style="display: inline" v-bind:data-currency-usd="formatMoneyUSD(product.price)"  v-html="formatMoney(product.price)">{{ formatMoney(product.price) }}</span>
             <s class="grid-link__sale_price" style="display: inline" v-bind:data-currency-usd="formatMoney(product.price_max)" v-if="product.on_sale" v-html="formatMoney(product.price_max)">{{ formatMoney(product.price_max) }}</s>
           </p> 

           <p class="pre-order-note" v-if="isPreorder">PRE-ORDER</p>
           <p class="pre-order-note" v-if="isWaitlist">COMING SOON</p>

           <div class="product-sizes medium-down--hide" v-if="product.available">
              <p class="available-in pre-order-note">AVAILABLE IN</p>
             
              <div v-for="variant in product.variants" :class="variantClasses(variant)">
                
                <span class="product-grid-rollover-size ">{{ returnSize(variant) }}</span>
              </div>
           </div>

         </span>

       {% endraw %}{% if collection.handle == 'prototype' %}</div>{% else %}</a>{% endif %}{% raw %}
   </div>
</li>
{% endraw %}
</script>

{% if settings.enable_store_preview %}
<script type="text" vue-preview-template-grid-item>
{% raw %}
<li v-autoscroll class="product-infinite" :key="product.id + 'index-' + index" v-if="product.images.length > 0">
   <div :id="'product-' + product.id" :class="product.availableForSale ? 'position-relative grid__item ' : 'position-relative grid__item sold-out'">
       <div class="room-to-read-badge" v-if="hasTag('room to read')"> 
         <div class="vertical-center">
            {% endraw %}
            <img src="{{ 'noun_485185.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
            {% raw %}
              proceeds benefit girls education
         </div>
       </div>
      
       <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;" v-if="hasTag('limited edition')">
         <div class="vertical-center">limited edition</div>
       </div>

       <div class="room-to-read-badge limited-edition" v-if="hasTag('handknit')">
            <div class="vertical-center">
                {% endraw %}
                <img src="{{ 'handknit-badge.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
                {% raw %}
                Handknit Collection
            </div>
       </div> 

       {% endraw %}
        {% if collection.handle == 'prototype' %}
         <div class="grid-link text-center">
        {% else %}
          <a @click="productLinkHandler" :href="'/pages/pdp-preview?product=' + product.handle + '&collection={{ collection.handle }}' " class="grid-link text-center"  :data-product-id="product.id">
        {% endif %}
       {% raw %}
       
       
       <div class="soldoutindicator" v-if="!product.availableForSale && !isWaitlist">
         <div class="soldoutinner">SOLD OUT</div>
       </div>

       <span class="grid-link__image grid-link__image--product" :style="product.availableForSale || isWaitlist ? '' : 'opacity: 0.4;'" v-if="product.images">
          <span class="grid-link__image-centered" v-lazyload>
          {% endraw %}
              <img :data-url="product.images[0].originalSrc" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="desktop-image"/>
              <img :data-url="product.mobileImage" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="mobile-image" v-if="product.mobileImage" />
              <img :data-url="product.images[0].originalSrc" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="mobile-image" v-else />
          {% raw %}
          </span> 
       </span>

       <span class="product-info inside">
         <p class="grid-link__title">{{product.title}}</p>
       
         <p class="liberty-tag" v-if="product.liberty">Made with liberty fabric</p>

         <p class="grid-link__meta">
           <span class="money-item" style="display: inline" v-bind:data-currency-usd="formatMoneyUSD(product.priceRange.minVariantPrice.amount)"  v-html="formatMoney(product.priceRange.minVariantPrice.amount)">{{ formatMoney(product.priceRange.minVariantPrice.amount) }}</span>
           <s class="grid-link__sale_price" style="display: inline" v-bind:data-currency-usd="formatMoney(product.priceRange.maxVariantPrice.amount)" v-if="product.on_sale" v-html="formatMoney(product.priceRange.maxVariantPrice.amount)">{{ formatMoney(product.priceRange.maxVariantPrice.amount) }}</s>
         </p> 

         <p class="pre-order-note" v-if="isPreorder">PRE-ORDER</p>
         <p class="pre-order-note" v-if="isWaitlist">COMING SOON</p>

         <div class="product-sizes medium-down--hide" v-if="product.availableForSale">
            <p class="available-in pre-order-note">AVAILABLE IN</p>
           
            <div v-for="variant in product.variants" :class="variantClasses(variant)">
              
              <span class="product-grid-rollover-size ">{{ returnSize(variant) }}</span>
            </div>
         </div>

       </span>

       {% endraw %}{% if collection.handle == 'prototype' %}</div>{% else %}</a>{% endif %}{% raw %}
   </div>
</li>
{% endraw %}
</script>
{% endif %}