<li v-autoscroll class="product-infinite" :key="product.id + 'index-' + index" v-for="(product, index) in currentPageItems(items)"> 
    <div :id="'product-' + graphToAdminID(product.id)" :class="product.available ? 'position-relative grid__item ' : 'position-relative grid__item sold-out'">
          
          <div class="room-to-read-badge" v-if="product.roomToRead"> 
            <div class="vertical-center">
              <img src="{{ 'noun_485185.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
              proceeds benefit girls education
            </div>
          </div>

          <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;" v-if="product.limitedEdition">
            <div class="vertical-center">
              limited edition
            </div>
          </div>

          <div class="room-to-read-badge limited-edition" v-if="product.handKnit">
            <div class="vertical-center">
                <img src="{{ 'handknit-badge.png' | asset_url }}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
                Handknit Collection
            </div>
          </div> 

          <a @click="productLinkHandler" :href="'/collections/{{ collection.handle }}/products/' + product.handle" class="grid-link text-center"  :data-product-id="graphToAdminID(product.id)">
                <div class="soldoutindicator" v-if="!product.available">
                    <div class="soldoutinner">SOLD OUT</div>
                </div>

                <span class="grid-link__image grid-link__image--product" :style="product.available ? '' : 'opacity: 0.4;'" v-if="product.images">
                    <span class="grid-link__image-centered" v-lazyload>
                            <img :data-url="product.images[0]" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="desktop-image"/>
                            <img :data-url="product.mobileImage" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="mobile-image" v-if="product.mobileImage" />
                            <img :data-url="product.images[0]" src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}" class="mobile-image" v-else />
                    </span> 
                </span>

                <span class="product-info inside">
                    {% raw %}<p class="grid-link__title">{{titleSplit(product.title)}}</p>

                    <p class="liberty-tag" v-if="hasTag(product, 'liberty')">Made with liberty fabric</p>

                
                    <p class="grid-link__meta">
                        <span class="money-item" style="display: inline" v-bind:data-currency-usd="formatMoneyUSD(product.price)">{{ formatMoney(product.price) }}</span>
                        <s class="grid-link__sale_price" style="display: inline" v-bind:data-currency-usd="formatMoney(product.price_max)" v-if="product.on_sale">{{ formatMoney(product.price_max) }}</s>
                    </p> 

                    <p class="pre-order-note" v-if="product.preOrder">PRE-ORDER</p>

                    <div class="product-sizes medium-down--hide" v-if="product.available">
                        <p class="available-in pre-order-note">AVAILABLE IN</p>
                        
                        <div v-for="variant in product.variants" 
                             :class="variant.available ? 'product-grid-rollover-container variantCheck(variant)' : 'product-grid-rollover-container variantCheck(variant)' ">
                            
                            <span class="product-grid-rollover-size ">{{ returnSize(product, variant) }}</span>
                        </div>
                    </div>

                    {% endraw %}
                </span>
            </span>
          </a>


    </div>
</li> 