<script type="text" vue-swatches-template>
{% raw %}

<div :class="classes + ' swatch clearfix' ">
  <ul class="swatch-list" :data-length="values && values.length">
    <li v-for="value in values" 
        :class="swatchClasses(value)"
    >
      <input type="radio" :id="valueID(value)" :name="'options[' + option + ']'" :value="value" v-model="selected" @change="radioChange" />
      <label :for="valueID(value)">
        {{ value }}
        <img class="crossed-out" src="{% endraw %}{{ 'soldout.png' | asset_url }}{% raw %}"/>
      </label>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

{% endraw %}
</script>