<script type="text" vue-related-item-template>
{% raw %}

<div :class="itemClasses">
  <a :href="product.url" class="grid-link text-center">
    <span class="grid-link__image grid-link__image--product">
      <span v-lazyload class="grid-link__image-centered">
        <img :data-url="product.featured_image" :alt="product.title">
      </span>
    </span>

    <span class="product-info inside ">

    <p class="grid-link__title">{{ product.title }}</p>
  
    <p class="grid-link__meta">
      <s class="grid-link__sale_price" v-if="product.on_sale">{{ product.compare_at_price }}</s>
       {{ formatPrice(product.price) }}
    </p>
    </span>
  </a>
</div>

{% endraw %}
</script>
