<script type="text" vue-template-filter-option>
{% raw %}
<div class="filter-wrapper" :id="'filter-wrapper-' + label" @keyDown="handleKeyDown" @mouseleave="handleMouseLeave" v-if="filtersOpen">
    <div class="label hidden" :id="id + '-label' ">Filter By {{label}}:</div>
    <button
        role="combobox"
        aria-haspopup="listbox"
        :aria-labelledby="id + '-label' + ' selected-' + id"
        :aria-expanded="open ? 'true' : 'false'"
        :aria-activedescendant="activeDescendant"
        id="sort-trigger"
        class="filter-trigger"
        @click="handleTriggerClick"
        >
        <span :id="'selected-' + id">{{label}}</span>
        <span class="icon fas fa-sort-down" aria-hidden="true"></span>
    </button>
    <input type="hidden" :id="'hidden-' + id" name="selected-option" :value="selected" />

    <ul :id="'listbox-' + label" :class="open ? 'options value-list' : 'hidden-box options value-list'" role="listbox" aria-labelledby="sort-label" v-bind:style="{ gridTemplateRows: templateRows }" v-if="standard">
      <li v-for="(option, index) in options" 
          role="option"
          :id="'option-' + index"
          :aria-selected="optionActive(option.value)"
          :class="hide(option.value)"
          @click="selectOption"
          :style="templateRows('', option.value)"
          :data-value="option.value">{{option.label}}</li>
    </ul> 
    <ul :class="open ? 'options non-standard' : 'hidden-box options  non-standard'" role="listbox" aria-labelledby="sort-label" v-else>
      <li v-for="(category, index) in categories" :id="'category-' + category.label" v-if="isActiveCategory(category.label) && category.values.length > 0">
            <h3>{{noDigits(category.label)}}</h3>
            <ul class="value-list">
                <li v-for="(value, index) in category.values"
                    role="option"
                    :id="category.label + 'option-' + index"
                    :aria-selected="optionActive(value, category.label)"
                    :data-value="value"
                    :data-category="category.label"
                    :class="hide(value, category.label.toLowerCase())"
                    :style="templateRows(category.label, value)"
                    @click="specialSelectOption"
                    >{{value}}</li>
            </ul>
          </li>
    </ul> 
</div>
{% endraw %}
</script>