<div class="a-wishlist">
  {% if customer %}
    <a type="anchor" href="javascript:void(0);"  {% raw %} :id="product.id" {% endraw %}cust_id='{{customer.id}}'{% raw %} :class="'addToFavorite add_' + product.id">Add to Wishlist</a>
    {% endraw %}<img src="{{'icn_loading.gif' | asset_url }}" />
  {% else %}
    {% raw %}<a type="anchor" href="javascript:void(0);" :id="product.id" cust_id='' class="notLoggedIn">Add to Wishlist</a>{% endraw %}
  {% endif %}
</div>

<div class="overlay" style="display:none; background-color: transparent; height: 45px; margin: 6px 0 0 -3px; position: absolute; width: 55px; z-index: 1000;">&nbsp;</div>

