<script type="text" vue-template-sort-option>
{% raw %}
<div :class="open ? 'filter-wrapper sort-wrapper sort-open' : 'filter-wrapper sort-wrapper'" @keyDown="handleKeyDown" @mouseleave="handleMouseLeave">
    <div class="label hidden" id="sort-label">Sort By:</div>
    <button
        role="combobox"
        aria-haspopup="listbox"
        aria-labelledby="sort-label selected-sort"
        :aria-expanded="open ? 'true' : 'false'"
        :aria-activedescendant="activeDescendant"
        id="sort-trigger"
        class="filter-trigger"
        @click="handleTriggerClick"
        >
        <span id="selected-sort">SORT</span>
        <span class="icon fas fa-sort-down" aria-hidden="true"></span>
    </button>
    <input type="hidden" id="hidden-sort" name="selected-option" :value="selected" />

    <ul :class="open ? 'options value-list' : 'hidden-box options value-list'" role="listbox" aria-labelledby="sort-label">
      <li v-for="(option, index) in options" 
          role="option"
          :id="'option-' + index"
          :aria-selected="selected === option.value"
          @click="selectOption"
          :data-value="option.value">{{option.label}}</li>
    </ul> 
</div>
{% endraw %}
</script>