<script type="text" vue-feed-grid-item-template>
{% raw %} 
    <li class="product-infinite">
      <div :class="soldout ? 'position-relative grid__item sold-out' : 'position-relative grid__item' ">
          
          <div class="room-to-read-badge" v-if="product.roomToRead"> 
            <div class="vertical-center">
              <img src="{% endraw %}{{ 'noun_485185.png' | asset_url }}{% raw %}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
              proceeds benefit girls education
            </div>
          </div>
          
          <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;" v-if="product.limitedEdition">
            <div class="vertical-center">
              limited edition
            </div>
          </div>
          
          <div class="room-to-read-badge limited-edition" style="" v-if="product.handKnit">
            <div class="vertical-center">
                <img src="{% endraw %}{{ 'handknit-badge.png' | asset_url }}{% raw %}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
                Handknit Collection
            </div>
          </div>

          <a :href="product.url" class="grid-link text-center">
              <div class="soldoutindicator" v-if="soldout">
                    <div class="soldoutinner">SOLD OUT</div>
              </div>

              <span class="grid-link__image grid-link__image--product" :style="soldout ? 'opacity: 0.4' : ''" >
                  <span class="grid-link__image-centered">
                          <img :src="product.image" class="desktop-image lazy-img"/>

                          <img :src="product.mobileImage" class="mobile-image lazy-img" v-if="product.mobileImage"/>
                          <img :src="product.images[0].src" class="mobile-image lazy-img" v-else/>
                  </span>
              </span>

              <span class="product-info inside">
                <p class="grid-link__title">{{product.title}}</p>
                <p class="grid-link__meta">
                    <span class="money" style="display: inline" :data-currency-usd="formatPrice(product.price)">{{formatPrice(product.price)}}</span>
                    
                    <s class="money grid-link__sale_price" style="display: inline-block;" :data-currency-usd="formatPrice(product.price_max)" v-if="product.on_sale">{{formatPrice(product.price_max)}}</s>
                    <br v-if="product.on_sale"/>                 
                </p> 

                <p class="pre-order-note" v-if="product.preOrder">PRE-ORDER</p>

                <div class="product-sizes medium-down--hide" v-if="product.available && product.variants.length > 0">
                    <p class="available-in">AVAILABLE IN</p> 
                    <div v-for="(variant, index) in product.variants" :key="variant.id" :class="variant.available ? 'product-grid-rollover-container' : 'product-grid-rollover-container product-grid-rollover-soldout' ">
                      <span class="product-grid-rollover-size" :data-id="variant.id" :data-title="variant.title" :data-option="variant.option1">{{variant ? returnSize(variant) : ''}}</span>
                    </div>
                </div>
                
            </span>
          </a>
      </div>
    </li>

{% endraw %}
</script>

{% comment %} 
{% raw %}

<div :class="itemClasses">
  <a :href="product.url" class="grid-link text-center">
    <span class="grid-link__image grid-link__image--product">
      <span v-lazyload class="grid-link__image-centered">
        <img :data-url="product.featured_image" :alt="product.title">
      </span>
    </span>

    <span class="product-info inside ">

    <p class="grid-link__title">{{ product.title }}</p>
  
    <p class="grid-link__meta">
      <s class="grid-link__sale_price" v-if="product.on_sale">{{ product.compare_at_price }}</s>
       {{ formatPrice(product.price) }}
    </p>
    </span>
  </a>
</div>
{% endraw %}
{% endcomment %}

{% comment %} 
{% raw %}
        <div id="product-{{id}}" class="position-relative grid__item {{#if available}}{{else}}sold-out{{/if}}">
          
          {{#if roomToRead}}
          <div class="room-to-read-badge"> 
            <div class="vertical-center">
              <img src="{% endraw %}{{ 'noun_485185.png' | asset_url }}{% raw %}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
              proceeds benefit girls education
            </div>
          </div>
          {{/if}}



          {{#if limitedEdition}}
 
          <div class="room-to-read-badge limited-edition" style="padding: 71px 2px 0 59px;">
            <div class="vertical-center">

              limited edition
            </div>
          </div>
          {{/if}}
          

          {{#if handKnit}}

          <div class="room-to-read-badge limited-edition" style="">
            <div class="vertical-center">
                <img src="{% endraw %}{{ 'handknit-badge.png' | asset_url }}{% raw %}" style="width: 30%;margin: auto;display: block;margin-top: -10%;">
                Handknit Collection
            </div>
          </div>
          {{/if}}
          
          <a href="{{url}}" class="grid-link text-center" data-page="{{page}}"  data-product-id="{{id}}">
            {{#if available}}{{else}}
                <div class="soldoutindicator">
                    <div class="soldoutinner">SOLD OUT
                    </div>
                </div>
            {{/if}}
            <span class="grid-link__image grid-link__image--product" {{#if available}}{{else}}style="opacity: 0.4;"{{/if}}>
                <span class="grid-link__image-centered">
                        <img data-src="{{image}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="desktop-image lazy-img"/>
                        {{#if mobileImage}}
                        <img data-src="{{mobileImage}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="mobile-image lazy-img" />
                        {{else}}
                        <img data-src="{{images.0.src}}" {% endraw %}src="{{ 'grid-placeholder.png' | asset_img_url: 'x750' }}"{% raw %} class="mobile-image lazy-img" />
                        {{/if}}
                </span>
            </span>
            <span class="product-info inside">
                <p class="grid-link__title">{{title}}</p>
                <p class="grid-link__meta">
                    <span class="money" style="display: inline" data-currency-usd="{{money price}}">{{money price}}</span>
                    
                	{{#if on_sale}}
                  	    <s class="money grid-link__sale_price" style="display: inline" data-currency-usd="{{money price_max}}">{{money price_max}}</s>
                        <br />
                        <span class="sale-difference">{{percentDiff}}% OFF {{#if percentDiffFinal}} - FINAL SALE{{/if}}</span>
                    {{/if}}
                </p> 

                {{#if preOrder}}
                    <p class="pre-order-note">PRE-ORDER</p>
                {{/if}}

				{{#if available}}

                  <div class="product-sizes medium-down--hide">
                      <p class="available-in">AVAILABLE IN</p>
                      {{#each variants}}
                      <div class="product-grid-rollover-container {{variantCheck ../tags  ../options this}} {{#if available}} {{else}}product-grid-rollover-soldout{{/if}}">
                      <span class="product-grid-rollover-size ">{{ option1 }}</span>
                      </div>
                      {{/each}}
                  </div>
                {{/if}}
            </span>
          </a>
        </div>
{% endraw %}
 {% endcomment %}