{% assign number_of_products = settings.max__related_products %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if product.handle contains 'gift-card' %}
  {% assign collection = collections['new-arrivals'] %}
{% endif %}








{% if collection and collection.products_count > 1 %}
  <hr class="hr--clear hr--small">
  <div class="section-header section-header--medium">
    <h4 class="section-header__title">{{ 'products.general.related_products_title' | t }}</h4>
  </div>

  <carousel :per-page="relatedSlideAmount" :navigation-enabled="true" :loop="true" :mouse-drag="true" v-if="relatedProducts.length > 0" @pageChange="initialLoad = false">
    <slide :key="product.id"  
            v-for="(product, index) in relatedProducts">
      <relateditem :product="product">
    </slide>
  </carousel>
{% endif %}
