<div class="hidden small--hide" id="collection-filters">
    <h2 class="">FILTER BY</h2>
    <div class="" id="filters-container">
        <div class="filter-wrapper" id="SORT-f-wrapper"> 
                <input class="filter-control" type="checkbox" id="SORT-control" value="enabled-SORT" />
                <label for="SORT-control" class="main-label">SORT</label>
                <div class="filter-options">
                    <div class="filter-radio-wrapper">
                        <input class="filter-control" data-filter="sort" type="radio" name="sort-options" value="best-selling" id="best-selling-sort-input" />
                        <label for="best-selling-sort-input">Best Selling</label>
                    </div>
                    <div class="filter-radio-wrapper">
                        <input class="filter-control" data-filter="sort" type="radio" name="sort-options" value="low-high" id="low-high-sort-input" />
                        <label for="low-high-sort-input">Price: Low To High</label>
                    </div>
                    <div class="filter-radio-wrapper">
                        <input class="filter-control" data-filter="sort" type="radio" name="sort-options" value="high-low" id="high-low-sort-input" />
                        <label for="high-low-sort-input">Price: High To Low</label>
                    </div>
                    <div class="filter-radio-wrapper">
                        <input class="filter-control" data-filter="sort" type="radio" name="sort-options" value="in-stock" id="in-stock-sort-input" />
                        <label for="in-stock-sort-input">In Stock</label>
                    </div>
                    <div class="filter-radio-wrapper hide" style="display: none;">
                        <input class="filter-control"  data-filter="sort" type="radio" name="sort-options" value="_none" id="_none-sort-input" />
                        <label for="_none-sort-input">No Sort</label>
                    </div>
            </div>
        </div>
    </div>
    <button id="clear-filters" class="">CLEAR ALL</button>
</div>