<div class="hide" id="wishlist-login-modal">
    <div class="inner-wishlist-login">
      <button id="close-wishlist-modal">X</button>
      <span>Sign in to favorite this item or create an account</span>
      <a href="/account/login" class="wishlist-login">LOGIN</a>
      <span class="wishlist-or">or</span>
      <a href="/account/register" class="create-account">CREATE AN ACCOUNT</a>
    </div>
</div>